<!DOCTYPE html>
{% load static %}
{% load cmsdata %}
<html>
	<head>
		<title>
			{% block title %}{% endblock %} | spoken-tutorial.org
		</title>
		<link rel="shortcut icon" href="{% static 'spoken/images/favicon.ico' %}" />
		<!-- Bootstrap core CSS -->
		<link rel="stylesheet" href="{% static 'spoken/css/bootstrap.min.css' %}" type="text/css" media="screen" charset="utf-8" />
		<link rel="stylesheet" href="{% static 'spoken/css/font-awesome.min.css' %}" type="text/css" media="screen" charset="utf-8" />
		<link rel="stylesheet" href="{% static 'spoken/css/yamm.css' %}" type="text/css" media="screen" charset="utf-8" />
		<!-- <link rel="stylesheet" href="{% static 'spoken/css/bootstrap-theme.css' %}" type="text/css" media="screen" charset="utf-8"> -->
		<link rel="stylesheet" href="{% static 'spoken/css/main.css' %}" type="text/css" media="screen" charset="utf-8" />
		{% block cssblock %}{% endblock %}
	</head>
	<body>
		<div id="page-wrapper">
		    <a href="#page-wrapper"></a>
			<!-- header begin -->
            <div id="header-wrapper">
                <nav class="navbar yamm navbar-default navbar-fixed-top" role="navigation">
                    <div id="header-inner">
                        <div class="container-fluid">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav">
                                    <span class="sr-only">Toggle Navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <a href="/">
                                        <img width = "45px" src="{% static 'spoken/images/logo.png' %}">
                                        Spoken <span class='title'>Tutorial</span>
                                    </a>
                            </div>
                            
                            <div class="collapse navbar-collapse" id="main-nav">
                                <div class="row">
                                    <ul class="nav navbar-nav">
                                        <li class="dropdown">
                                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Software Training<b class="caret"></b></a>
                                            <ul class="dropdown-menu events">
                                                <div class="yamm-content">
                                                    <li>
                                                        <div class="row">
                                                            <div class="col-sm-12 col-md-12 col-lg-12">
                                                                <div class="col-sm-3 col-md-3 col-lg-3 column first">
                                                                    <h5 class="media-heading"><b>Software Training</b></h5>
                                                                    <div class="media-body">
                                                                        <ul class="media-list">
                                                                            <li class=""><a href="http://process.spoken-tutorial.org/index.php/Software-Training#About_SELF_Workshops" target="_blank">About the Training / Workshop</a></li>
                                                                            <li class=""><a href="http://process.spoken-tutorial.org/index.php/Software-Training#Progress_To_Date" target="_blank">Progress  to Date</a></li>
                                                                            <li class=""><a href="http://process.spoken-tutorial.org/index.php/Software-Training#Software_Offered" target="_blank">Software Offered</a></li>
                                                                            <li class=""><a href="http://process.spoken-tutorial.org/index.php/Software-Training#Organising_Workshops" target="_blank">Organising Training / Workshop</a></li>
                                                                            <li class=""><a href="http://process.spoken-tutorial.org/index.php/Software-Training#Contacts_For_Workshops" target="_blank">Contacts for Training / Workshop</a></li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-3 col-md-3 col-lg-3 column">
                                                                    <h5 class="media-heading"><b>Downloads</b></h5>
                                                                    <div class="media-body">
                                                                        <ul class="media-list">
                                                                            <li class=""><a href="http://process.spoken-tutorial.org/index.php/Software-Training#Downloading_Spoken_Tutorials" target="_blank">Instruction for Downloading Tutorials</a></li>
                                                                            <li class=""><a href="http://www.spoken-tutorial.org/create_cd_content" target="_blank">Create Your Own Disc Image</a></li>
                                                                            <li class=""><a href="/software-training/">Download Offline  Attendance App</a></li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-3 col-md-3 col-lg-3 column last">
                                                                    <h5 class="media-heading"><b>Training / Workshop</b></h5>
                                                                    <div class="media-body">
                                                                        <ul class="media-list">
                                                                            <li class=""><a href="/software-training/">Training / Workshop Dashboard</a></li>
                                                                            <li class=""><a href="/moodle/index">Participant Dashboard</a></li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-3 col-md-3 col-lg-3 column">
                                                                    <h5 class="media-heading"><b>Online Test</b></h5>
                                                                    <div class="media-body">
                                                                        <ul class="media-list">
                                                                        <li class=""><a href="http://onlinetest.spoken-tutorial.org/" target="_blank">Instruction for Invigilator</a></li>
                                                                        <li class=""><a href="http://onlinetest.spoken-tutorial.org/" target="_blank">Instruction for Participants</a></li>
                                                                            <li class=""><a href="http://onlinetest.spoken-tutorial.org/" target="_blank">Assessment Test</a></li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                        </div>
                                                    </li>
                                                </div>
                                            </ul>
                                        </li>
                                        <!-- -->
                                        <li class="dropdown">
                                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Creation<b class="caret"></b></a>
                                            <ul class="dropdown-menu creation">
                                                <div class="yamm-content">
                                                    <li>
                                                        <div class="row">
                                                            <div class="col-lg-12">
                                                                <div class="col-lg-4 column first">
                                                                    <h5 class="media-heading"><b>English Contributor</b></h5>
                                                                    <div class="media-body">
                                                                        <ul class="media-list">
                                                                            <li class=""><a href="#">----</a></li>
                                                                            <li class=""><a href="#">----</a></li>
                                                                            <li class=""><a href="#">----</a></li>
                                                                            <li class=""><a href="#">----</a></li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-4 column first">
                                                                    <h5 class="media-heading"><b>Indian Language</b></h5>
                                                                    <div class="media-body">
                                                                        <ul class="media-list">
                                                                            <li class=""><a href="#">----</a></li>
                                                                            <li class=""><a href="#">----</a></li>
                                                                            <li class=""><a href="#">----</a></li>
                                                                            <li class=""><a href="#">----</a></li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                        </div>
                                                    </li>
                                                </div>
                                            </ul>
                                        </li>
                                        <li><a href="#">About us</a></li>
                                    </ul>
                                    
                                    <ul class="nav navbar-nav navbar-right">
                                        {% if user.is_authenticated %}
                                            <li class="dropdown">
                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                                    <span title="" data-original-title="" class="glyphicon glyphicon-user"></span> {{ user }}<b class="caret"></b>
                                                </a>
                                                <ul class="dropdown-menu user-details">
                                                    <li><a href="/accounts/profile/{{ user }}/">Profile</a></li>
                                                    <li class="divider"></li>
                                                    <li><a href="/accounts/logout/">Logout</a></li>
                                                </ul>
                                            </li>
                                        {% else %}
                                            <li class="dropdown">
                                                <a href="/accounts/login">Login</a>
                                                <!--<a class="dropdown-toggle" data-toggle="dropdown" href="#">Login</a>
                                                <ul class="dropdown-menu">
                                                    <li>
                                                        <div class="yamm-content">
                                                            <div class="row">
                                                                <form action="/accounts/login/" method="post">
                                                                    <input type="hidden" name="csrfmiddlewaretoken" value="{{ request|get_or_create_csrf_token }}">
                                                                    <div class="form-group">
                                                                        <input class="form-control" type="text" name="username" placeholder="username">
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <input class="form-control" type="password" name="password" placeholder="password">
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <input class="btn btn-primary" type="submit" value="Login">
                                                                    </div>
                                                                </form>
                                                                <a href="/accounts/register">
                                                                    New user? Create account.
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul> -->
                                            </li>
                                            <li class="dropdown">
                                                <a href="/accounts/register">Register</a>
                                                <!--<a class="dropdown-" data-toggle="dropdown" href="/accounts/register">Register</a>
                                                <ul class="dropdown-menu">
                                                    <li>
                                                    <div class="yamm-content">
                                                        <div class="row">
                                                            <form>
                                                                <div class="form-group">
                                                                    <input class="form-control" type="text" name="username" placeholder="pick a username">
                                                                </div>
                                                                <div class="form-group">
                                                                    <input class="form-control" type="text" name="email" placeholder="enter your email">
                                                                </div>
                                                                <div class="form-group">
                                                                    <input class="form-control" type="password" name="password" placeholder="password">
                                                                </div>
                                                                <div class="form-group">
                                                                    <input class="form-control" type="password" name="re-password" placeholder="retype password">
                                                                </div>
                                                                <div class="form-group">
                                                                    <input class="btn btn-primary" type="submit" value="Register">
                                                                </div>
                                                            </form>
                                                            <a href="#">
                                                                Already have an account? Login.
                                                            </a>
                                                        </div>
                                                    </div>
                                                    </li>
                                                </ul> -->
                                            </li>
                                        {% endif %}
                                    </ul>
                                    
                                    <!-- search -->
                                    <!-- 
                                    <form id="custom-search-form" class="form-search form-horizontal pull-right">
                                        <div class="form-group primary-search">
                                            <input type="text" class="form-control search-query" placeholder="Search">
                                            <button type="submit" class="btn search"><span class="glyphicon glyphicon-search"></span></button>
                                        </div>
                                     </form> -->
                                    <!-- search end -->
                                </div>
                            </div>
                        </div> <!-- /.container-fluid -->
                    </div> <!-- /#header-inner -->
                </nav>
            </div> <!-- /#header-wrapper -->
            {% block search %}
                <div id="search-wrapper">
                    <div class="common-search">
                        <form class="navbar-form" role="search" action="/keyword-search" method="GET" id="search-form">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="ex: Linux Oscad" name="q" style="padding:6px 6px;">
                                <div class="input-group-btn">
                                    <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            {% endblock %}
            {% block homealert %}
            {% endblock %}
            {% block banner %}
            {% endblock %}
            <!-- header end -->
			<div id="content-wrapper">
				<div id="content-inner" class="container">
					{% get_cms_sidebar %}
					    {% block page_title %}
						    <h4 class="page-title">{% block heading %}{% endblock %}</h4>
						{% endblock %}
						{% block alert %}
							{% if messages %}
								{% for message in messages %}
								    {% if message.tags == 'success' %}
									    <div class="alert alert-success alert-dismissable">
										    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
										    {{ message|safe }}
									    </div>
									{% elif message.tags == 'warning' %}
									   <div class="alert alert-warning alert-dismissable">
										    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
										    {{ message|safe }}
									    </div>
									{% elif message.tags == 'error' %}
									    <div class="alert alert-danger alert-dismissable">
										    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
										    {{ message|safe }}
									    </div>
									{% elif message.tags == 'info' %}
									     <div class="alert alert-info alert-dismissable">
										    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
										    {{ message|safe }}
									    </div>
									{% elif message.tags == 'debug' %}
									    <div class="alert alert-info alert-dismissable">
										    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
										    {{ message|safe }}
									    </div>
									{% endif %}
								{% endfor %}
							{% endif %}
						{% endblock %}
                        {% block content %}{% endblock %}
                        {% block pager %}
                            {% if collection.paginator.num_pages > 1 %}
                                <ul class="pagination pull-right">
                                    {% if collection %}
                                        {% if collection.has_previous %} 
                                            <li><a href="?{{ request.GET|combine_get_values }}page={{ collection.previous_page_number }}">&laquo; <small>Prev</small></a></li>
                                        {% else %} 
                                            <li class="disabled"><a href="#">&laquo;</a></li> 
                                        {% endif %}
                                        {% for num in collection.paginator.page_range %}
                                            {% ifequal num collection.number %} 
                                                <li class="active"><a href="#">{{ num }}<span class="sr-only">(current)</span></a></li>
                                            {% else %} 
                                                <li><a href="?{{ request.GET|combine_get_values }}page={{ num }}">{{ num }}</a></li>
                                            {% endifequal %} 
                                        {% endfor %} 
                                        {% if collection.has_next %} 
                                            <li><a href="?{{ request.GET|combine_get_values }}page={{ collection.next_page_number }}"><small>Next</small>&raquo;</a></li>
                                        {% else %} 
                                            <li class="disabled"><a href="#">&raquo;</a></li> 
                                        {% endif %}
                                    {% endif %}
                                <ul>
                            {% endif %}
                        {% endblock %} 
					</div>
				</div><!-- /#content-inner .container -->
			</div><!-- /#content-wrapper -->
			<div id="footer-wrapper">
                <div class="container-inner">
                    <div class="container">
                        <div class="col-lg-8 col-md-8 col-sm-8  footer-links">
                            <div class="col-lg-3 col-md-3 col-sm-3">
                                <ul class="list-unstyled">
                                    <li><a href="#">FOSSEE Project</a></li>
                                    <li><a href="#">Scilab Project</a></li>
                                    <li><a href="#">Oscad</a></li>
                                    <li><a href="#">Python</a></li>
                                    <li><a href="#">CFD</a></li>
                                    <li><a href="#">OR-Project</a></li>
                                </ul>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3">
                                <ul class="list-unstyled">
                                    <li><a href="#">Link</a></li>
                                    <li><a href="#">Link</a></li>
                                    <li><a href="#">Link</a></li>
                                </ul>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3">
                                <ul class="list-unstyled">
                                    <li><a href="#">Software Training</a></li>
                                    <li><a href="#">Creation</a></li>
                                    <li><a href="#">News</a></li>
                                </ul>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3">
                                <ul class="list-unstyled">
                                    <li><a href="#">About</a></li>
                                    <li><a href="#">Partners</a></li>
                                    <li><a href="#">Training / Workshop</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 license fill">
                            <div class="fill">
                                <footer>
                                    Developed at IIT Bombay <br />
                                    This work is licensed under <a href="http://creativecommons.org/licenses/by-nc-nd/3.0/" rel="license" class="ext" target="_blank">Creative Commons</a>
                                </footer>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
			<!--<div id="footer-wrapper">
				<div id="footer-inner" class="container col-lg-12 col-md-12 col-sm-12">
					{% block customfooter %}{% endblock %}
					{% get_cms_footer %}
				</div> <!-- /footer-inner -->
			<!--</div> <!-- /footer-wrapper -->
		</div><!-- /#page-wrapper -->
		<!-- Bootstrap core JavaScript
		================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script src="{% static 'spoken/js/jquery-1.11.0.min.js' %}"></script>
		<script src="{% static 'spoken/js/bootstrap.min.js' %}"></script>
		{% block jsblock %}{% endblock %}
	</body>
</html>
