<!DOCTYPE html>
{% load compress %}
{% load static %}
{% load cmsdata %}
{% load creationdata %}
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="google-site-verification" content="V1Hqs8AUIIf-INbtXJxVdk81O1I3nXHa4Vccfw8oJaI" />
        <title>
            {% block title %}{% endblock %} | spoken-tutorial.org
        </title>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        {% block main_meta %}
            <meta name="title" content="Spoken Tutorial Project, IIT Bombay">
            <meta name="description" content="A spoken tutorial is a an audio-video tutorial that explains an activity performed on the computer. An expert explains the working of a software, by demonstrating it on the screen, along with a running commentary.">
            <meta name="keywords" content="spoken tutorial, free software training in india, video tutorials, basic IT skills, workshop, software, spoken-tutorial.org">
        {% endblock %}
        {% block meta %}
            <meta property="og:url" content="https://www.spoken-tutorial.org">
            <meta property="og:title" content="Spoken Tutorial Project, IIT Bombay">
            <meta property="og:description" content="A spoken tutorial is a an audio-video tutorial that explains an activity performed on the computer. An expert explains the working of a software, by demonstrating it on the screen, along with a running commentary.">
            <meta property="og:image" content="https://spoken-tutorial.org/static/spoken/images/home-banner.jpg" alt="Banner image" />
        {% endblock %}
        {% block metatag %}
        {% endblock %}
        <link rel="shortcut icon" href="{% static 'spoken/images/favicon.ico' %}" />
        <!-- Bootstrap core CSS -->
        <!-- google fonts -->
        <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Ubuntu+Mono' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Alegreya' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Comfortaa' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'spoken/css/bootstrap.min.css' %}" type="text/css" media="screen" charset="utf-8" />
        <link rel="stylesheet" href="{% static 'spoken/css/font-awesome.min.css' %}" type="text/css" media="screen" charset="utf-8" />
        <link rel="stylesheet" href="{% static 'spoken/css/yamm-min.css' %}" type="text/css" media="screen" charset="utf-8" />
        {% block uncompresscssblock %}{% endblock %}
        {% compress css %}
            <link rel="stylesheet" href="{% static 'spoken/css/main.css' %}" type="text/css" media="screen" charset="utf-8" />
        {% endcompress %}
        {% compress css %}{% block compresscssblock %}{% endblock %}{% endcompress %}
	    {% compress css %}{% block compressinlinecssblock %}{% endblock %}{% endcompress %}
        {% block cssblock %}{% endblock %}
    </head>
    <body>
        {% block announcement %}{% endblock %}
        <div id="page-wrapper">
            <a href="#page-wrapper"></a>
            <!-- header begin -->
            <div id="header-wrapper">
                <nav class="navbar yamm navbar-default " role="navigation">
                    <div id="header-inner">
                        <div class="container-fluid">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav">
                                    <span class="sr-only">Toggle Navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <a href="/">
                                        <img  src="{% static 'spoken/images/logo.png' %}" alt="Spoken-Tutorial logo">
                                        Spoken <span class='title'>Tutorial</span>
                                    </a>
                            </div>
                            
                            <div class="collapse navbar-collapse" id="main-nav">
                                    <ul class="nav navbar-nav">
                                        <li class="dropdown">
                                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Software Training <b class="caret"></b></a>
                                            <ul class="dropdown-menu events">
                                                <div class="yamm-content">
                                                    <li>
                                                        <div class="row">
                                                            <div class="col-sm-12 col-md-12 col-lg-12">
                                                                <div class="col-sm-3 col-md-3 col-lg-3 column first mseprator">
                                                                    <h5 class="media-heading"><b>Software Training</b></h5>
                                                                    <div class="media-body">
                                                                        <ul class="media-list">
                                                                            <li class=""><a href="https://process.spoken-tutorial.org/index.php/Software-Training#About_SELF_Workshops" target="_blank">About the Training</a></li>
                                                                            <li class=""><a href="https://process.spoken-tutorial.org/index.php/Software-Training#Progress_To_Date" target="_blank">Progress  to Date</a></li>
                                                                            <li class=""><a href="https://process.spoken-tutorial.org/index.php/Software-Training#Software_Offered" target="_blank">Software Offered</a></li>
                                                                            <li class=""><a href="https://process.spoken-tutorial.org/index.php/Software-Training#Contacts_For_Training" target="_blank">Contacts for Training</a></li>
                                                                            <li class=""><a href="https://spoken-tutorial.org/change-in-policy/" target="_blank">Change in Training Policy</a></li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-3 col-md-3 col-lg-3 column second mseprator">
                                                                    <h5 class="media-heading"><b>Procedures</b></h5>
                                                                    <div class="media-body">
                                                                        <ul class="media-list">
                                                                            <li class=""><a href="https://process.spoken-tutorial.org/index.php/Software-Training#Organising_Training" target="_blank">Organising Training</a></li>
                                                                            <li class=""><a href="https://process.spoken-tutorial.org/index.php/Software-Training#Downloading_Spoken_Tutorials" target="_blank">Instruction for Downloading Tutorials</a></li>
                                                                            <li class=""><a href="/cdcontent/" target="_blank">Create Your Own Disc Image</a></li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-3 col-md-3 col-lg-3 column third mseprator">
                                                                    <h5 class="media-heading"><b>Training</b></h5>
                                                                    <div class="media-body">
                                                                        <ul class="media-list">
                                                                            <li class=""><a href="/software-training/">Training & Payment Dashboard</a></li>
                                                                            <li class=""><a href="/software-training/training-planner/">Semester Training Planner Summary (STPS)</a></li>
                                                                            <li class=""><a href="/participant/login/">Student Dashboard</a></li>
                                                                            <li class=""><a href="/software-training/resource-center/">Resource Centers</a></li>
                                                                            <li class=""><a href="https://spoken-tutorial.org/accounts/verify/" target="_blank">Email Verification Link</a></li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-3 col-md-3 col-lg-3 column last">
                                                                    <h5 class="media-heading"><b>Online Test</b></h5>
                                                                    <div class="media-body">
                                                                        <ul class="media-list">
                                                                        <li class=""><a href="https://process.spoken-tutorial.org/images/0/09/Instructions_for_Invigilator.pdf" target="_blank">Instruction for Invigilator</a></li>
                                                                        <li class=""><a href="https://process.spoken-tutorial.org/images/9/95/Test_Instruction_for_Participants.pdf" target="_blank">Instruction for Participants</a></li>
                                                                        <li class=""><a href="https://spoken-tutorial.org/software-training/test/verify-test-certificate/" target="_blank">Certificate Verification Link</a></li>               
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                        </div>
                                                    </li>
                                                </div>
                                            </ul>
                                        </li>
                                        <!-- -->
                                        <li class="dropdown">
                                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Creation <b class="caret"></b></a>
                                            <ul class="dropdown-menu creation">
                                                <div class="yamm-content">
                                                    <li>
                                                        <div class="row">
                                                            <div class="col-lg-12">
                                                                <div class="col-sm-6 col-md-6 col-lg-6 column first mseprator">
                                                                    <!-- <h5 class="media-heading"><b>Contributor</b></h5> -->
                                                                    <div class="media-body">
                                                                        <ul class="media-list">
                                                                            {% if user|get_contributor or user|get_domainreviewer or user|get_qualityreviewer or user|get_administrator %}
                                                                                <li class=""><a target="_blank" href="https://files.spoken-tutorial.org/english-videos/">Video for Dubbing</a></li>
                                                                            {% endif %}
                                                                            <li class=""><a target="_blank" href="https://process.spoken-tutorial.org/index.php/Main_Page">Creation Process</a></li>
                                                                            <li class=""><a target="_blank" href="https://script.spoken-tutorial.org/index.php/Main_Page">Outline and Script</a></li>
                                                                            <li class=""><a href="/creation">Creation Dashboard</a></li>

                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-6 col-md-6 col-lg-6 column second">
                                                                    <!-- <h5 class="media-heading"><b>Indian Language</b></h5> -->
                                                                    <div class="media-body">
                                                                        <ul class="media-list">
                                                                            <li class=""><a href="/creation/suggest-a-topic/">Suggest a Topic</a></li>
                                                                            <li class=""><a href="/creation/suggest-an-example/">Suggest an Example</a></li>
                                                                            <li class=""><a href="/creation/collaborate/">Collaborate with Us</a></li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                        </div>
                                                    </li>
                                                </div>
                                            </ul>
                                        </li>
                                        {% get_cms_nav %}
                                    </ul>
                                    
                                    <ul class="nav navbar-nav navbar-right">
                                        {% block userdetails%}
                                            {% if user.is_authenticated %}
                                                <li class="dropdown">
                                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                                        <span title="" data-original-title="" class="glyphicon glyphicon-user"></span> {{ user }} <b class="caret"></b>
                                                    </a>
                                                    <ul class="dropdown-menu user-details">
                                                        <li><a href="/accounts/change-password/">Change Password</a></li>
                                                        <li class="divider"></li>
                                                        <li><a href="/accounts/profile/{{ user }}/">Edit Profile</a></li>
                                                        <li class="divider"></li>
                                                        <li><a href="/accounts/view-profile/{{ user }}/">View Profile</a></li>
                                                        <li class="divider"></li>
                                                        {% if user|get_administrator or user.is_impersonate %}
                                                            {% if user.is_impersonate %}
                                                                <li><a href="/masquerade/stop">Switch Back</a></li>
                                                            {% else %}
                                                                <li><a href="/masquerade/">Masquerade</a></li>
                                                            {% endif %}
                                                            <li class="divider"></li>
                                                        {% endif %}
                                                        <li><a href="/accounts/logout/">Log Out</a></li>
                                                    </ul>
                                                </li>
                                            {% else %}
                                                <li class="dropdown">
                                                    <a href="/accounts/login">Login</a>
                                                </li>
                                                <li class="dropdown">
                                                    <a href="/accounts/register">Register</a>
                                                </li>
                                            {% endif %}
                                        {% endblock %}
                                    </ul>
                            </div>
                        </div> <!-- /.container-fluid -->
                    </div> <!-- /#header-inner -->
                </nav>
            </div> <!-- /#header-wrapper -->
            {% block search %}
                <div id="search-wrapper">
                    <div class="common-search row">
                        {% tutorialsearch %}
                         <div class="pull-left"><font color="#C70039">For the purpose of course selection, go here : </font><a href="https://process.spoken-tutorial.org/index.php/Software-Training#Software_Offered" target="_blank">Software Offered</a>
                        </div>
                        <div class="pull-right alternate-search-link"><a href="/keyword-search/">Keyword Search</a></div>
                    </div>
                </div>
            {% endblock %}
            {% block homealert %}
            {% endblock %}
            {% block banner %}
            {% endblock %}
            <!-- header end -->
            <div id="content-wrapper">
                <div id="content-inner" class="container">
                    {% get_cms_sidebar %}
                    {% block content_head %}
                        <div id="content" class="col-lg-12 col-md-12 col-sm-12">
                    {% endblock %}
                            {% block page_title %}
                                <h1 class="page-title">{% block heading %}{% endblock %}</h1>
                            {% endblock %}
                            {% block alert %}
                                {% if messages %}
                                    {% for message in messages %}
                                        {% if message.tags == 'success' %}
                                            <div class="alert alert-success alert-dismissable">
                                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                                {{ message|safe }}
                                            </div>
                                        {% elif message.tags == 'warning' %}
                                           <div class="alert alert-warning alert-dismissable">
                                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                                {{ message|safe }}
                                            </div>
                                        {% elif message.tags == 'error' %}
                                            <div class="alert alert-danger alert-dismissable">
                                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                                {{ message|safe }}
                                            </div>
                                        {% elif message.tags == 'info' %}
                                             <div class="alert alert-info alert-dismissable">
                                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                                {{ message|safe }}
                                            </div>
                                        {% elif message.tags == 'debug' %}
                                            <div class="alert alert-info alert-dismissable">
                                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                                {{ message|safe }}
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            {% endblock %}
                            {% block actual_data %}<div class="actual-data">{% endblock %}{% block content %}{% endblock %}</div>
                            {% block pager %}
                                {% if collection.paginator.num_pages > 1 %}
                                    <ul class="pagination pull-right">
                                        {% if collection %}
                                            {% if collection.has_previous %}
                                                <li><a href="?{{ request.GET|combine_get_values }}page=1">&laquo; <small>First</small></a></li>
                                                <li><a href="?{{ request.GET|combine_get_values }}page={{ collection.previous_page_number }}">&laquo; <small>Prev</small></a></li>
                                            {% else %} 
                                                <li class="disabled"><a href="#">&laquo;</a></li>
                                            {% endif %}
                                            {% for num in collection.paginator.page_range|paginator_page_cutter:collection.number %}
                                                {% ifequal num collection.number %} 
                                                    <li class="active"><a href="#">{{ num }}<span class="sr-only">(current)</span></a></li>
                                                {% else %} 
                                                    <li><a href="?{{ request.GET|combine_get_values }}page={{ num }}">{{ num }}</a></li>
                                                {% endifequal %} 
                                            {% endfor %} 
                                            {% if collection.has_next %} 
                                                <li><a href="?{{ request.GET|combine_get_values }}page={{ collection.next_page_number }}"><small>Next</small> &raquo;</a></li>
                                                {% if collection.paginator.page_range|length > 10 %}
                                                    <li><a href="?{{ request.GET|combine_get_values }}page={{ collection.paginator.num_pages }}"><small>Last</small> &raquo;</a></li>
                                                {% endif %}
                                            {% else %} 
                                                <li class="disabled"><a href="#">&raquo;</a></li>
                                                <li class="disabled"><a href="?{{ request.GET|combine_get_values }}page={{ collection.paginator.num_pages }}"><small>Last</small> &raquo;</a></li>
                                            {% endif %}
                                        {% endif %}
                                    <ul>
                                {% endif %}
                            {% endblock %} 
                        </div>
                    </div>
                </div><!-- /#content-inner .container -->
            </div><!-- /#content-wrapper -->
            <div id="footer-wrapper">
                <div class="container-inner sans-serif">
                    <div class="container">
                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 footer-links">
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                <ul class="list-unstyled">
                                    <li><a href="https://fossee.in/" target="_blank">FOSSEE Project</a></li>
                                    <li><a href="https://www.scilab.in/" target="_blank">Scilab</a></li>
                                    <li><a href="https://esim.fossee.in/" target="_blank">eSim (Oscad)</a></li>
                                    <li><a href="https://python.fossee.in/" target="_blank">Python</a></li>
                                    <li><a href="https://cfd.fossee.in/" target="_blank">OpenFoam (CFD)</a></li>
                                </ul>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                <ul class="list-unstyled">
                                    <li><a href="https://aakashlabs.org" target="_blank">Aakash Labs</a></li>
                                    <li><a href="https://www.co-learn.in/" target="_blank">Co-learn</a></li>
                                    <li><a href="https://www.sakshat.ac.in/" target="_blank">Education Mission</a></li>
                                </ul>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                <ul class="list-unstyled">
                                    <li><a href="https://process.spoken-tutorial.org/index.php/Software-Training" target="_blank">Software Training</a></li>
                                    <li class=""><a href="https://process.spoken-tutorial.org/index.php/Software-Training#Contacts_For_Training" target="_blank">Contacts for Training</a></li>
                                    <li><a href="/software-training/">Training Dashboard</a></li>
                                    <li><a href="/creation/">Creation Dashboard</a></li>
                                    
                                </ul>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                <ul class="list-unstyled">
                                    <li><a href="/about-us/">About Us</a></li>
                                    <li><a href="/news/article/">News</a></li>
                                    <!-- <li><a href="#" target="_blank">Partners</a></li> -->
                                    
                                    <li class="st-statcounter-seperator"></li>
                                    <li class="st-statcounter">
                                        <!-- Start of StatCounter Code for Default Guide --> 
                                        <script type='text/javascript'> 
                                        var sc_project=5528933; 
                                        var sc_invisible=1; 
                                        var sc_security="e5fd867b"; 
                                        var sc_https=1; 
                                        var scJsHost = (("https:" == document.location.protocol) ? 
                                        "https://secure." : "http://www."); 
                                        document.write("<sc"+"ript type='text/javascript' async src='" + 
                                        scJsHost+ 
                                        "statcounter.com/counter/counter_xhtml.js'></"+"script>"); 
                                        </script> 
                                        <noscript><div class='statcounter'><a class='statcounter' href='http://statcounter.com/free-web-stats/' title='web stats'><img alt='web stats' class='statcounter' src='http://c.statcounter.com/5528933/0/e5fd867b/1/'/></a></div></noscript> 
                                        <!-- End of StatCounter Code for Default Guide --> 

                                        <!-- ol code below-->
                                        <!-- Start of StatCounter Code for Default Guide -->
                                        <b>
                                            <script type="text/javascript">
                                                var sc_project=5528933;
                                                var sc_invisible=0;
                                                var sc_security="e5fd867b";
                                                var sc_text=2;
                                            </script>
                                            <script type="text/javascript" src="https://www.statcounter.com/counter/counter.js"></script>
                                            <noscript>
                                                <div class="statcounter">
                                                    <a title="hits counter" href="https://statcounter.com/" target="_blank">
                                                        <img class="statcounter" src="https://c.statcounter.com/5528933/0/e5fd867b/0/" alt="hits counter">
                                                    </a>
                                                </div>
                                            </noscript>
                                        </b> page loads
                                        <!-- End of StatCounter Code for Default Guide -->
                                        <p><a href="https://statcounter.com/p5528933/?guest=1" target="_blank">Click here to view stats</a></p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 footer-seperator"></div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 license fill iitb-logo">
                            <div class="fill">
                                <a href="http://www.iitb.ac.in" target="_blank">
                                    <img width="110px" src="/static/spoken/images/iitb-logo.png" alt="IITB Logo">
                                    <footer>
                                        Developed at IIT Bombay <br />
                                    </footer>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                             <p class="cc-data">
                                <a rel="license" href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank">
                                    <img src="{% static 'spoken/images/88x31.png' %}" alt="CC logo" />
                                </a> Spoken Tutorial by <a href="http://www.iitb.ac.in" target="_blank">IIT Bombay</a> is licensed under a <a rel="license" href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank">Creative Commons Attribution-ShareAlike 4.0 International License</a>, except where stated otherwise <a data-toggle="tooltip" data-placement="top" title="Series which are not shared under CC BY SA but have a perpetual permission to display are : PHP & MySQL , GIMP , Health Series.
                                "><i class="fa fa-question-circle fa-lg" aria-hidden="true"></i></a><br />Based on a work at <a xmlns:dct="https://purl.org/dc/terms/" href="/" rel="dct:source">https://spoken-tutorial.org</a>. Permissions beyond the scope of this license may be available at <a xmlns:cc="https://creativecommons.org/ns#" href="/" rel="cc:morePermissions">https://spoken-tutorial.org</a>.
                             </p>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /#page-wrapper -->
        {% get_analytics_code %}
        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="{% static 'spoken/js/jquery-1.11.0.min.js' %}"></script>
        <script src="{% static 'spoken/js/bootstrap.min.js' %}"></script>
    {% block uncompressjsblock %}{% endblock %}
    {% compress js %}
        <script src="{% static 'spoken/js/base.js' %}"></script>
    {% endcompress %}
    {% compress js %}{% block compressjsblock %}{% endblock %}{% endcompress %}
    {% compress js %}{% block compressinlinejsblock %}{% endblock %}{% endcompress %}
    {% block jsblock %}{% endblock %}
    </body>
</html>
