{% extends 'spoken/templates/base.html' %}
{% load cmsdata %}
{% load static %}
{% load creationdata %}
{% load announcements %}
{% block uncompresscssblock %}
    <link href="{% static 'spoken/css/video-js.min.css' %}" rel="stylesheet" type="text/css">
{% endblock %}
{% block compresscssblock %}
    <link href="{% static 'spoken/css/home.css' %}" rel="stylesheet" type="text/css">
    <style>
      .alert{
        margin-bottom:0px;
      }
      .close{
        color:black;
        opacity:0.99;
      }
      .text-container{
        text-align:center;
      }
      .abt{
        background-color:#000;
      }
      .banner-img-container {
          position: relative;
      }
      .banner-img-container .awards ul {
          list-style: none;
          padding: 0;
          overflow: hidden;
          margin: 0;
      }
      .banner-img-container .awards{
          position: absolute;
          top: 0;
          width: 100%;
          padding: 10px 0;
          background: rgba(0, 0, 0, 0.4) none repeat scroll 0% 0%;
      }
      .banner-img-container .awards .awards-item {
          font-size: 20px;
          color: white;
          font-weight: bold;
          text-align: center;
      }
      .banner-img-container .awards .awards-item a.blink {
          -webkit-animation: color_change 1s infinite alternate;
          -moz-animation: color_change 1s infinite alternate;
          -ms-animation: color_change 1s infinite alternate;
          -o-animation: color_change 1s infinite alternate;
          animation: color_change 1s infinite alternate;
      }
      .banner-img-container .awards .awards-item a {
          color: white;
      }
      .banner-img-container .awards .awards-item a:hover {
          color: #F89021
      }
      @-webkit-keyframes color_change {
          from {color: white; }
          to {color: #F89021; }
      }
      @-moz-keyframes color_change {
          from {color: white; }
          to {color: #F89021; }
      }
      @-ms-keyframes color_change {
          from {color: white; }
          to {color: #F89021; }
      }
      @-o-keyframes color_change {
          from {color: white; }
          to {color: #F89021; }
      }
      @keyframes color_change {
          from {color: white; }
          to {color: #F89021; }
      }
      </style>
{% endblock %}
{% block title %}Home{% endblock %}
{% block heading %}<i class="home-page-title-i">spoken tutorial</i>{% endblock %}
{% block announcement %}
    <div id="slideshow">
            {% get_notifications as notifications %}
            {% if notifications %}
                {% for notification in notifications %}
                    <div class="announcement alert" style="background:#{% if notification.bg_color %}{{ notification.bg_color }}{% else %}1B83BC{% endif %};">
                        <div class="inner">
                            <div class="text-container">
                                {{ notification.body|safe }}
                                <!--<button type="button" class="close" data-dismiss="alert">&times;</button>-->
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
    </div>
{% endblock %}

{% block homealert %}
    {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'success' %}
                <div class="alert alert-success alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    {{ message|safe }}
                </div>
            {% elif message.tags == 'warning' %}
               <div class="alert alert-warning alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    {{ message|safe }}
                </div>
            {% elif message.tags == 'error' %}
                <div class="alert alert-danger alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    {{ message|safe }}
                </div>
            {% elif message.tags == 'info' %}
                 <div class="alert alert-info alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    {{ message|safe }}
                </div>
            {% elif message.tags == 'debug' %}
                <div class="alert alert-info alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    {{ message|safe }}
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endblock %}

{% block banner %}
    <div class="page1">
        <div id="banner-wrapper">
            <div class="banner-img-container">
                <img class="col-lg-12 col-md-12 col-sm-12 col-xs-12 banner-img" alt="banner image" src="/static/spoken/images/home-banner.jpg">
                <div class='go'>
                    <a href="/tutorial-search/" title="Search videos"><img class='go-image' alt="rounded arrow" src="/static/spoken/images/rounded-arrow.png"></a>
                </div>
                <div class="awards">
                    <ul>
                        <li class="awards-item col-sm-3 col-md-3"><a class="" href="https://googleresearch.blogspot.in/2015/03/announcing-google-mooc-focused-research.html" target="_blank">Google MOOCs <br>Research Award 2015</a></li>
                        <li class="awards-item col-sm-3 col-md-3"><a class="" href="/ht-for-mumbai-nomination">Nomination for <br>HT for Mumbai Awards 2015  </a></li>
                        <li class="awards-item col-sm-3 col-md-3"><a class="" href="http://application.reimagine-education.com/the-winners-individual/2015/132/2193b0ae3841f24da1464d4b6b70ee0f/Indian+Institute+of+Technology+Bombay" target="_blank">Reimagine Education <br>Award 2015</a></li>
                        <li class="awards-item col-sm-3 col-md-3"><a class="blink" href="/media/cms/images/kannan-deen-dayal.jpeg" target="_blank">Re-Engineering India <br>Award 2020</a></li>
                    </ul>
                </div>
            </div>
            <div class="banner-items col-lg-offset-2 col-md-offset-2 col-sm-offset-2 col-xs-offset-2 col-lg-8 col-md-8 col-sm-8 col-xs-8">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <a href="/software-training/" title="Software Training"><img alt="Software training" class="banner-item" src="/static/spoken/images/1.jpg"></a>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <a href="/creation/" title="Spoken Tutorial Creation"><img alt="Spoken-Tutorial creation" class="banner-item" src="/static/spoken/images/2.jpg"></a>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <a href="https://forums.spoken-tutorial.org" title="Spoken Tutorial Forum" target="_blank"><img alt="Spoken-Tutorial forums"class="banner-item" src="/static/spoken/images/3.jpg"></a>
                </div>
            </div>
        </div>
        <div class="scroller">
            <ul class="list-unstyled">
                <li><a class="first" href="#page-wrapper"></a></li>
                <li><a class="second" href="#page2"></a></li>
                <li><a class="thired" href="#page3"></a></li>
                <li><a class="fourth" href="#page4"></a></li>
            </ul>
        </div>
    </div>
{% endblock %}
{% block content %}
    {% block alert %}
    {% endblock %}
    <div id="page2" class="page2">
        <a href="#page2"></a>
        <div class="spacer"></div>
    <!-- testimonial start -->
        <div class="row">
            <div id="testimonials" class="inner">
                <h4 class='col-lg-12 col-md-12 col-sm-12 page-title'>Testimonials</h4>
                {% for record in testimonials %}
                    <div class="col-lg-6 col-md-6 col-sm-6 testimonial-item">
                        <div class="testimonial-content">
                            <i class="fa fa-quote-left pull-left testimonial-quote"></i>
                            {{ record.minified_content|len_cutter:320 }} - <a href="{% url 'testimonials' testimonial_type='text' %}"> read </a>
                            <i class="fa fa-quote-right pull-right testimonial-quote"></i>
                        </div>
                        <div class="pull-left">
                            <div class="user-details">
                                <div class="caretr"></div>
                                <img width="30" height="30" alt="blank profile image" src="/static/spoken/images/no-profile-image.jpg" />
                                {% if record.user_name %}
                                     {{ record.user_name }}
                                {% elif record.user.first_name %}
                                    {{ record.user.first_name }}
                                {% else %}
                                    {{ record.user.username }}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <!-- testimonial end -->
        <!-- videos -->
        <div class="">
            <div id="home-video-container" class="container-inner row">
                {% if tr_rec %}
                <div class="col-lg-6 col-md-6 col-sm-6 big-video">
                    {% if tr_rec.video_id and tr_rec.video_id != None and tr_rec.video_id != '0' %}
                        <iframe width="100%" height="420px" src="//www.youtube.com/embed/{{ tr_rec.video_id }}?rel=0&modestbranding=1&iv_load_policy=1" frameborder="0" allowfullscreen></iframe>
                    {% else %}
                        <video id="st_video" class="video-js vjs-default-skin" controls preload="none" poster="{{ tr_rec.tutorial_detail|get_thumb_path:'Big' }}" width="auto" height="auto" data-setup="{}">
                            <source src="{{ media_url }}videos/{{ tr_rec.tutorial_detail.foss_id }}/{{ tr_rec.tutorial_detail_id }}/{{ tr_rec.video }}" type="video/ogg" />
                            {{ tr_rec|get_srt_path|safe }}
                        </video>
                    {% endif %}
                </div>
                {% endif %}
                <div class="col-lg-6 col-md-6 col-sm-6 video-lists">
                    {% for k, record in random_tutorials %}
                        <div class="video-item">
                            <div class="thump">
                                <a href="/watch/{{ record.tutorial_detail.foss.foss|get_url_name }}/{{ record.tutorial_detail.tutorial|get_url_name }}/{{ record.language }}">
                                    <img alt="{{ record.tutorial_detail.tutorial }}" src="{{ record.tutorial_detail|get_thumb_path:'Small' }}">
                                    <div class="video-item-playlist">
                                    <h5> {{ record.tutorial_detail.foss.foss }} {{ k }} +</h5>
                                    </div>
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <!-- videos end -->
    </div>
    <div id="page3" class='page3 forum-container'>
        <a href="#page3"></a>
        <div class="spacer"></div>
        <div class="row">
            <div class="container-inner">
                <h4 class='col-lg-8 col-md-8 col-sm-8 page-title'>Forum</h4>
                <div class="col-lg-8 col-md-8 col-sm-8">
                    <div class="top-border">
                        <p class="justify">Spoken Tutorial Forums is a friendly online discussion forum.  You can join existing discussions or start new topics, and get lots of replies from the Spoken Tutorial community.   Registration to Forums is completely free and takes only one minute.</p>
            <p class="justify">Forums is very easy to use, even for computer newbies. It's very easy to format forum posts with fonts, colors, and many other options. You can attach files to your posts directly from your computer. You can give links to webpages or videos from other video websites.</p>

            <p class="justify">Be assured of an answer within 3 working days of posting your question. <a class="pull-right" href="https://forums.spoken-tutorial.org" target="_blank">Click here to proceed >></a></p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                     <img  src="/static/spoken/images/forum.jpg" alt="forums image">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="container-inner">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <h4 class='page-title'>News / Events</h4>
                    <div class="top-border"></div>
                    <div>
                        {% if events %}
                            {% for event in events %}
                                <div class="events">
                                    <div class="event-message">{{ event.body|safe }}</div>
                                    <br />
                                    <div class="pull-left">{{ event.event_date }}</div>
                                </div>
                            {% endfor %}
                            <br /> <a class="pull-right" href="#">Click more >></a>
                        {% else %}
                            Check out the amazing <a href="{% url 'testimonials' testimonial_type='text' %}" target="_blank">testimonials</a>, 
                            <a href="/news/articles-on-spoken-tutorial-project/" target="_blank">media articles</a>, <a href="/news/news-and-events/" target="_blank">events</a>, <a href="/news/official-letters-and-links/" target="_blank">collaboration</a>, seminars, talks and campaigns about the Spoken Tutorial Project.   Browse through our gallery and see what the Project has been doing across India.
                        {% endif %}
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <h4 class='page-title'>Software Training</h4>
                    <div class="top-border"></div>
                    <div>
                        The Spoken Tutorial Project is about teaching and learning a particular FOSS (Free and Open Source Software) like Linux, Scilab, LaTeX, PHP & MySQL, Java, C/C++, LibreOffice etc. via an easy Video tool - Spoken Tutorials. <br /><br /> <a class="pull-right" href="https://process.spoken-tutorial.org/index.php/Software-Training" target="_blank" >Click more >></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="page4" class="page4">
        <a href="#page4"></a>
        <div class="spacer"></div>
        <div class="row">
            <div class="contact-container container-inner three-cols">
                <h2 class='page-title stay-middle'>Thanks for visiting us</h2>
                <div class="col-lg-4 col-md-4 col-sm-4 contact comfortaa">
                    <h4 class='page-title'>Contact</h4>
                    <div><span class="fa fa-2 fa-home"></span>
                      <div>Spoken Tutorial Project,<br>TCS Lab,Behind CAD Centre,<br>IIT Bombay, Powai,<br>Mumbai - 400076</div>
                    </div>
                    <div><span class="fa fa-2 fa-phone"></span> + 91 22 25764229 </div>
                    <div><span class="fa fa-2 fa-envelope"></span> contact [at] spoken-tutorial [dot] org</div>


                    <h4 class='page-title'>Social Media</h4>
                    <div><span class="fa fa-2 fa-youtube"></span> <a href="https://www.youtube.com/user/SpokenTutorialIITB/" target="_blank">ST YouTube channel</a></div>
                    <div><span class="fa fa-2 fa-youtube"></span> <a href="https://www.youtube.com/channel/UCmyV3lKT1Gs1AfgtV8pp__Q" target="_blank">Health YouTube channel</a></div>
                    <div><span class="fa fa-2 fa-facebook-square"></span> <a href="https://www.facebook.com/SpokenTutorial.org" target="_blank">Facebook page</a></div>
                    <div><span class="fa fa-2 fa-skype"></span> st-iitb</div>
                    <!--<div><span class="fa fa-2 fa-twitter"></span> <a href="#">Twitter</a></div>-->
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 feedback">
                    <h4 class='page-title'>Feedback</h4>
                    <form name="ajaxform" id="ajaxform" class="form-horizontal" action="/site-feedback/" method="post">
                        <fieldset>
                            <!-- Name input-->
                            <div class="form-group feedback-name">
                                <label class="col-md-4 control-label comfortaa" for="name">Name</label>
                                <div class="col-md-8">
                                    <input id="name" name="name" testimonial_type="text" placeholder="Your name" class="form-control">
                                </div>
                            </div>

                            <!-- Email input-->
                            <div class="form-group feedback-email">
                                <label class="col-md-4 control-label comfortaa" for="email">Your E-mail</label>
                                <div class="col-md-8">
                                    <input id="email" name="email" testimonial_type="email" placeholder="Your email" class="form-control email">
                                </div>
                            </div>

                            <!-- Message body -->
                            <div class="form-group feedback-message">
                                <label class="col-md-4 control-label comfortaa" for="message">Your message</label>
                                <div class="col-md-8">
                                    <textarea class="form-control" id="message" name="message" placeholder="Please enter your message here..." rows="5"></textarea>
                                </div>
                            </div>

                            <!-- Form actions -->
                            <div class="form-group">
                                <div class="col-md-12 text-right">
                                    <button id="site-feedback" class="btn btn-default">Submit</button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 support-us">
                    <h4 class='page-title'>Collaborate with Us</h4>
                    <div class='collaborate'>
                        <p>We invite you to become a part of this amazing journey of making India IT-literate.  Join our growing network of Resources Centres, Organisers, Content creators, Domain Experts, Translators, Dubbers, Reviewers and help us to reach every nook and corner of India.</p><p>First step to do so - fill the form given <a href="/creation/collaborate/">here</a>.</p>
                    </div>

                    <h4 class='page-title'><a href="http://futureskills.nasscom.in/" target="_blank">Partnered with Nasscom </a></h4>

                    <h4 class='page-title'><a href="https://www.che.iitb.ac.in/online/faculty/kannan-m-moudgalya" target="_blank">About PI</a>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="fa fa-2 fa-twitter-square"></span> <a href="https://twitter.com/kannanmoudgalya" target="_blank">twitter</a>
                    </h4>


                     <h4 class='page-title'><a href="https://www.youtube.com/watch?v=JaX_uD8JFpI&feature=youtu.be" target="_blank">TEDx Talk</a></h4>


                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block uncompressjsblock %}
    <script src="{% static 'spoken/js/jquery.easing.1.3.min.js' %}"></script>
    <script src="{% static 'spoken/js/video.min.js' %}"></script>
{% endblock %}
{% block compressjsblock %}
    <script src="{% static 'spoken/js/home.js' %}"></script>
{% endblock %}
{% block jsblock %}
    <script>
        /* Slideshow */
        var stop = 1
        $('#slideshow').hover(function(){
	        stop = 0
        }, function(){
	        stop = 1
        });
        if($(".announcement").length > 1){
		    $("#slideshow > div:gt(0)").hide();
		    setInterval(function() {
		      if(stop){
		          $('#slideshow > div:first')
		            .fadeOut(0)
		            .next()
		            .fadeIn(0)
		            .end()
		            .appendTo('#slideshow');
		         }
		    },  5000);
		}
        $('.close').click(function(){
            $(".navbar-fixed-top").css({'top' : '0px', 'position' : 'fixed'});
            $("#header-wrapper").css({'height' : '0px'});
        });
    </script>
{% endblock %}
