{% extends 'base.html' %}

{% load widget_tweaks %}
{% load static %}
{% block title %}Induction Program 2017{% endblock %}
{% block compressinlinecssblock %}
<style>
.links {
      font-size:15px;
    }
a:hover {
    background-color: #F5DA81;
}
h3{
color : #FE9A2E
}
p{
fontSize : 20px;
}
</style>
{% endblock %}
{% block search %}
{% endblock %}

{% block content %}
<h2> Induction Training of Faculty</h2>

<br><br>
<div class="panel panel-warning" style="text-align:center;">
  <div class="panel-heading">
    <h3 class="panel-title">
    <a href="http://spoken-tutorial.org/media/induction/Tentative-Programme.pdf" target="_blank"><u>Click here to view &nbsp;<b>Tentative Programme Details</b></u></a></p>
    </h3>
  </div>
</div>

<div class="panel panel-warning" style="text-align:center;">
  <div class="panel-heading">
    <h3 class="panel-title">
    <a href="http://spoken-tutorial.org/media/induction/Invitation-Letter.pdf" target="_blank"><u>Click here to view &nbsp;<b>Invitation Letter</b></u></a></p>
    </h3>
  </div>
</div>

<div class="panel panel-warning" style="text-align:center;">
  <div class="panel-heading">
    <h3 class="panel-title">
    <a href="http://spoken-tutorial.org/induction/expression_of_intrest" target="_blank"><u><b>Expression of Intrest</b></u></a></p>
    </h3>
  </div>
</div>

{% endblock %}
