{% extends 'spoken/templates/base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block title %}Search Tutorials{% endblock %}
{% block cssblock %}<link rel="stylesheet" href="{% static 'spoken/css/chosen.min.css' %}" type="text/css" media="screen" charset="utf-8" />{% endblock %}
{% block heading %}
    <i class="fa fa-list-ul"></i> Search Tutorials
{% endblock %}
{% block content %}
    <div class="row well">
        <div class='col-sm-8'>
            <form action="{{ action }}" method="get" class='form-horizontal'>{% csrf_token %}
                {% with WIDGET_ERROR_CLASS='field-error' WIDGET_REQUIRED_CLASS='field-required' %}
                    {% if form.non_field_errors %}
                    <ul>
                      {% for error in form.non_field_errors %}
                        <li>{{ error }}</li>
                      {% endfor %}
                    </ul>
                    {% endif %}
                    <div class="form-group">
                        <div class="col-sm-9">
                            {% render_field form.q class+="form-control search" tabindex="1" value=keywords %}
                            {{ form.q.errors }}
                        </div>
                        <div class="col-sm-3">
                            <input class="btn btn-primary" type="submit" value="Submit" />
                        </div>
                    </div>
                {% endwith %}
            </form>
        </div>
    </div>
    
    <div class='search-result'>
        {% if collection %}
            {% for record in collection %}
                <div class='result-record'>
                    <a href="#" class='thump'><img src="/static/spoken/images/thumb-even.png"></a>
                    <div class="info">
                        <div class='title'><h3><a href="#">{{ record.tutorial_detail.tutorial }}</a></h3></div>
                        <div class='desc'>
                                Foss : {{ record.tutorial_detail.foss }}</br>
                                Language : {{ record.language }}</br>
                                Level : {{ record.tutorial_detail.level }}</br>
                                Published on : {{ record.updated }}</br>
                            </dl>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p class='no-record'> No result found!</p>
        {% endif %}
    </div>


{% endblock %}
{% block jsblock %}
    <script src="{% static 'spoken/js/chosen.jquery.min.js' %}"></script>
    <script src="{% static 'spoken/js/events.js' %}"></script>
    <script>
        $("#id_state").change(function(){
            ajaxStrateFillDatas('district', 'city', 'university');
        });
        $('.district').change(function(){
            ajaxDistrictFillDatas('location', '', $(this).val());
        });
    </script>
{% endblock %}

