{% extends 'spoken/templates/base.html' %}
{% load widget_tweaks %}
{% load static %}
{% load cmsdata %}
{% load creationdata %}
{% load announcements %}
{% block title %}Search Tutorials{% endblock %}
{% block compressinlinecssblock %}
    <style type="text/css">
        .no-record {
            margin-top: 30px;
        }
        .big-searchbar {
            width: 100%;
        }
    </style>
{% endblock %}
{% block heading %}
    <i class="fa fa-list-ul"></i> Search Tutorials
{% endblock %}
{% block announcement %}
    <div id="slideshow">
            {% get_notifications as notifications %}
            {% if notifications %}
                {% for notification in notifications %}
                    <div class="announcement alert" style="background:#{% if notification.bg_color %}{{ notification.bg_color }}{% else %}1B83BC{% endif %};">
                        <div class="inner">
                            <div class="text-container">
                                {{ notification.body|safe }}
                                <!--<button type="button" class="close" data-dismiss="alert">&times;</button>-->
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
    </div>
{% endblock %}
{% block search %}
{% endblock %}
{% block content %}

    <ul class="tabs nav nav-tabs">
	    <li class="{% if request.path == '/keyword-search/' %} active {% endif %}"><a href="/keyword-search/">Keyword Search</a></li>
	    <li class="{% if request.path == '/tutorial-search/' %} active {% endif %}"><a href="/tutorial-search/">Tutorial Search</a></li>
	</ul>
    <div class="tab-content" style="min-height:420px;">
        <div class="row">
            <div class='col-lg-offset-2 col-md-offset-2 col-sm-offset-2 col-xs-offset-2 col-lg-8 col-md-8 col-sm-8 col-xs-8'>
                <form class="navbar-form" role="search" action="/keyword-search" method="GET" id="search-form">
                    <small>Type search words/phrases in English only</small>
                    <div class="input-group big-searchbar">
                        <input type="text" class="form-control" value="{{ keywords }}" placeholder="e.g: while loop, if statement" name="q" style="padding:6px 6px;">
                        <div class="input-group-btn">
                            <button class="btn btn-primary" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class='search-result col-lg-offset-1 col-lg-10 col-md-12 col-sm-12 col-xs-12'>
            {% if correction %}Did you mean: <b><a href="?q={{ correction }}" title="click here to search for '{{ correction }}'">{{ correction }}</a></b>{% endif %}
            {% if collection %}
                <div style="float:right;">About <b>{{ collection.paginator.count }}</b> results found.</div>
                {% for record in collection %}
                    <div class='result-record row'>
                        <div class="col-lg-2 col-md-2 col-sm-2 thumb">
                            <a href="/watch/{{ record.tutorial_detail.foss.foss|get_url_name }}/{{ record.tutorial_detail.tutorial|get_url_name }}/{{ record.language }}" class='thumb'><img width="100%" src="{{ record.tutorial_detail|get_thumb_path:'Small' }}"></a>
                        </div>
                        <div class="info col-lg-8 col-md-8 col-sm-8">
                            <div class='title'><h4><span style="font-size: 14px; padding-right: 6px;">{{ forloop.counter }}.</span><a href="/watch/{{ record.tutorial_detail.foss.foss|get_url_name }}/{{ record.tutorial_detail.tutorial|get_url_name }}/{{ record.language }}">{{ record.tutorial_detail.tutorial }}</a></h4></div>
                            <div class='desc'>
                                    <p>Foss : </b><i>{{ record.tutorial_detail.foss }} - {{ record.language }}</i></p>
                                    <p>{{ record.outline|len_cutter:200 }}</p>
                                </dl>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2">
                            <div class="{{ record.tutorial_detail.level }} pull-right"><h5 style="text-align:right;">{{ record.tutorial_detail.level }}</h5><img style="display:block;" width="30%" src="/static/spoken/images/{{ record.tutorial_detail.level }}.png" class="pull-right"></div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                {% if request.GET %}
                    <p class='no-record'> No result found!</p>
                {% endif %}
            {% endif %}
        </div>
    </div>


{% endblock %}
{% block compressinlinejsblock %}
    <script>
        $("#id_state").change(function(){
            ajaxStrateFillDatas('district', 'city', 'university');
        });
        $('.district').change(function(){
            ajaxDistrictFillDatas('location', '', $(this).val());
        });
    </script>
{% endblock %}
{% block jsblock %}
    <script>
        /* Slideshow */
        var stop = 1
        $('#slideshow').hover(function(){
            stop = 0
        }, function(){
            stop = 1
        });
        if($(".announcement").length > 1){
            $("#slideshow > div:gt(0)").hide();
            setInterval(function() {
              if(stop){
                  $('#slideshow > div:first')
                    .fadeOut(0)
                    .next()
                    .fadeIn(0)
                    .end()
                    .appendTo('#slideshow');
                 }
            },  5000);
        }
        $('.close').click(function(){
            $(".navbar-fixed-top").css({'top' : '0px', 'position' : 'fixed'});
            $("#header-wrapper").css({'height' : '0px'});
        });
    </script>
{% endblock %}


