{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}
{% load eventsdata %}
{% block title %} learn-Drupal{% endblock %}
{% block compressinlinecssblock %}
<style>
.links {
      font-size:15px;
    }
a:hover {
    background-color: #F5DA81;
}
h3{
color : #FE9A2E
}
p{
fontSize : 20px;
}
</style>
{% endblock %}
{% block search %}
{% endblock %}
{% block content %}
<div class="panel panel-warning" style="text-align:center;">
  <div class="panel-heading">
    <h3 class="panel-title">
    <a href="http://spoken-tutorial.org/media/cms/images/drupal-workshop/Drupal-Poster.pdf" target="_blank"><u>Click here to view the Drupal poster</u></a></p>
    </h3>
  </div>
</div>


<div class="panel panel-info" style="float:left; width:50%;">
  <div class="panel-heading">
    <h3 class="panel-title">Drupal Content:</h3>
  </div>
  <div class="panel-body">
    <p class="links">Do you want learn Drupal ? Below link will give you access to all Drupal tutorials, 
    <br>
    <a href="http://spoken-tutorial.org/tutorial-search/?search_foss=Drupal&search_language=English" target="_blank">http://spoken-tutorial.org/tutorial-search/Drupal</a></p>
  </div>
</div>


<div class="panel panel-info" style="float:left; width:49% ; margin-left:1%;">
  <div class="panel-heading">
    <h3 class="panel-title">Forums:</h3>
  </div>
  <div class="panel-body">
    <p class="links">Do you have questions in any Spoken Tutorial? You may post them at this link:
    <br><a href="http://forums.spoken-tutorial.org/" target="_blank">http://forums.spoken-tutorial.org/</a></p>
  </div>
</div>

<div class="panel panel-warning" style="float:left;">
  <div class="panel-heading">
    <h3 class="panel-title">Contacts for Training:</h3>
  </div>
  <div class="panel-body">
    <p class="links">Do you want help in organising workshops in your college?  Do you want to use Drupal as a part of a curriculum in your lab?  We at IIT Bombay provide help for both.  For more details, please visit, 
    <br><a href="http://process.spoken-tutorial.org/index.php/Software-Training#Contacts_For_Training" target="_blank">http://process.spoken-tutorial.org/index.php/Software-Training#Contacts_For_Training</a></p>
  </div>
</div>



<div class="panel panel-info" style="float:left; width:50%;">
  <div class="panel-heading">
    <h3 class="panel-title">Feedback:</h3>
  </div>
  <div class="panel-body">
    <p class="links">Wouldn’t you want to help us spread Drupal Training to many more people?  Kindly submit your feedback on the Drupal series at the following link:  
    <br><a href="http://spoken-tutorial.org/software-training/learn-drupal-feedback/" target="_blank">http://spoken-tutorial.org/software-training/learn-drupal-feedback/</a></p>
  </div>
</div>

<div class="panel panel-info" style="float:left; width:49% ; margin-left:1%;">
  <div class="panel-heading">
    <h3 class="panel-title">General enquiries: </h3>
  </div>
  <div class="panel-body">
    <p class="links">Email: contact@spoken-tutorial.org
    <br>Phone: 022-25764229</p>
  </div>
</div>

{% endblock %}
