<!DOCTYPE html>
{% load static %}
{% load cmsdata %}
<html>
	<head>
		<title>
			{% block title %}{% endblock %} | spoken-tutorial.org
		</title>
		<link rel="shortcut icon" href="{% static 'spoken/images/favicon.ico' %}" />
		<!-- Bootstrap core CSS -->
		<link rel="stylesheet" href="{% static 'spoken/css/bootstrap.min.css' %}" type="text/css" media="screen" charset="utf-8" />
		<link rel="stylesheet" href="{% static 'spoken/css/font-awesome.min.css' %}" type="text/css" media="screen" charset="utf-8" />
		<!-- <link rel="stylesheet" href="{% static 'spoken/css/bootstrap-theme.css' %}" type="text/css" media="screen" charset="utf-8"> -->
		<link rel="stylesheet" href="{% static 'spoken/css/main.css' %}" type="text/css" media="screen" charset="utf-8" />
		{% block cssblock %}{% endblock %}
		<style type="text/css">
			.navbar-toggle {
				display: none;
			}
		</style>
	</head>
	<body>
		<div id="page-wrapper">
			<div id="header-wrapper">
				<div id="header-inner">
					<nav class="navbar navbar-default" role="navigation">
						<div class="container col-lg-12 col-md-12 col-sm-12">
							<!-- Brand and toggle get grouped for better mobile display -->
							<div class="navbar-header">
								<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
									<span title="" data-original-title="" class="sr-only">Toggle navigation</span>
									<span title="" data-original-title="" class="icon-bar"></span>
									<span title="" data-original-title="" class="icon-bar"></span>
									<span title="" data-original-title="" class="icon-bar"></span>
								</button>
								<div class="navbar-brand" href="">
									<img id="logo" src="{% static 'spoken/images/logo.png' %}">
									Spoken Tutorials
								</div>
							</div> <!-- /.navbar-header -->
						</div> <!-- /.container -->
					</nav><!-- / .navbar -->
				</div><!-- /#header-inner -->
			</div><!-- /#header-wrapper -->

			<div id="content-wrapper">
				<div id="content-inner">
					<div id="content" class="container col-lg-12 col-md-12 col-sm-12">
						<h4 class="page-title">{% block heading %}{% endblock %}</h4>
						{% block alert %}{% endblock %}
						<p>{% block content %}{% endblock %}</p>
					</div>
				</div><!-- /#content-inner .container -->
			</div><!-- /#content-wrapper -->
		</div><!-- /#page-wrapper -->
		<!-- Bootstrap core JavaScript
		================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script src="{% static 'spoken/js/jquery-1.11.0.min.js' %}"></script>
		<script src="{% static 'spoken/js/bootstrap.min.js' %}"></script>
		{% block jsblock %}{% endblock %}
	</body>
</html>
