{% extends 'spoken/templates/base.html' %}
{% load widget_tweaks %}
{% load static %}
{% load cmsdata %}
{% load creationdata %}
{% block title %}Search Tutorials{% endblock %}
{% block cssblock %}
    <link rel="stylesheet" href="{% static 'spoken/css/chosen.min.css' %}" type="text/css" media="screen" charset="utf-8" />
    <style>
        .tutorial-search-form{
            margin-top: 20px;
        }
        .result-record .thumb img {
            border: 5px solid #E5E5E5;
        }
    </style>
{% endblock %}
{% block heading %}
    <i class="fa fa-list-ul"></i> Search Tutorials
{% endblock %}
{% block search %}{% endblock %}
{% block content %}
    <ul class="tabs nav nav-tabs">
        <li class="{% if request.path == '/keyword-search/' %} active {% endif %}"><a href="/keyword-search/">Keyword Search</a></li>
        <li class="{% if request.path == '/tutorial-search/' %} active {% endif %}"><a href="/tutorial-search/">Tutorial Search</a></li>
    </ul>
    <div class="well tab-content tutorial-search-form col-lg-offset-1 col-md-offset-1 col-lg-10 col-md-10 col-sm-12 col-xs-12">
        <div class="col-sm-12">
            <form action="{{ action }}" method="GET" class='form-horizontal'>
                {% with WIDGET_ERROR_CLASS='field-error' WIDGET_REQUIRED_CLASS='field-required' %}
                    {% if form.non_field_errors %}
                    <ul>
                      {% for error in form.non_field_errors %}
                        <li>{{ error }}</li>
                      {% endfor %}
                    </ul>
                    {% endif %}
                    <div class="form-group">
                        <div class="col-sm-5">
                            <span class='ajax-refresh ajax-refresh-foss'><i class="fa fa-2 fa-refresh fa-spin"></i></span>
                            {% render_field form.foss class+="form-control foss" tabindex="1" value=keywords %}
                            {{ form.foss.errors }}
                        </div>
                        <div class="col-sm-5">
                            <span class='ajax-refresh ajax-refresh-language'><i class="fa fa-2 fa-refresh fa-spin"></i></span>
                            {% render_field form.language class+="form-control language" tabindex="1" value=keywords %}
                            {{ form.language.errors }}
                        </div>
                        <div class="col-sm-2">
                            <input class="btn btn-primary" type="submit" value="Submit" />
                        </div>
                    </div>
                {% endwith %}
            </form>
        </div>
    </div>
    
    <div class='search-result col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 col-lg-10 col-md-10 col-sm-10 col-xs-10'>
        {% if collection %}
            {% for record in collection %}
                <div class='result-record row'>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 thumb">
                        <a href="/watch/{{ record.tutorial_detail.foss.foss|get_url_name }}/{{ record.tutorial_detail.tutorial|get_url_name }}/{{ record.language }}" class='thumb'><img width="100%" src="{{ record.tutorial_detail|get_thumb_path:'Small' }}"></a>
                    </div>
                    <div class="info col-lg-8 col-md-8 col-sm-8 col-xs-8">
                        <div class='title'><h4><a href="/watch/{{ record.tutorial_detail.foss.foss|get_url_name }}/{{ record.tutorial_detail.tutorial|get_url_name }}/{{ record.language }}">{{ record.tutorial_detail.tutorial }}</a></h4></div>
                        <div class='desc'>
                                <p><b>Foss : </b><i>{{ record.tutorial_detail.foss }} - {{ record.language }}</i></p>
                                <p><b>Outline: </b>{{ record.outline|len_cutter:180 }}</p>
                            </dl>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        <div class="{{ record.tutorial_detail.level }} pull-right"><h5 style="text-align:right;">{{ record.tutorial_detail.level }}</h5><img style="display:block;" width="30%" src="/static/spoken/images/{{ record.tutorial_detail.level }}.png" class="pull-right"></div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p class='no-record'> No result found!</p>
        {% endif %}
    </div>


{% endblock %}
{% block jsblock %}
    <script src="{% static 'spoken/js/chosen.jquery.min.js' %}"></script>
    <script src="{% static 'spoken/js/events.js' %}"></script>
    <script>
        $("#id_foss, #id_language").change(function(){
            var foss = $('#id_foss').val();
            var lang = $('#id_language').val();
            if (foss == '' || lang == ''){
                $.ajax({
				    url: "/get-language/",
				    type: "POST",
				    data: {
					    foss : foss,
					    lang : lang,
				    },
				    beforeSend: function() {
				        if(foss == '')
                            $('.ajax-refresh-foss').show();
                        if(lang == '')
                            $('.ajax-refresh-language').show();
                    },
				    success: function(data) {
				        console.log(data[0])
				        if (data[0] == 'foss'){
				            $('#id_language').html(data);
				        }else if (data[0] == 'lang'){
				            $('#id_foss').html(data);
				        }
				        if(foss == '')
                            $('.ajax-refresh-foss').hide();
                        if(lang == '')
                            $('.ajax-refresh-language').hide();
				    }
			    });
			}
        });
    </script>
{% endblock %}

