{% load widget_tweaks %}
<html>
    <head><title>Register | spoken-tutorial.org</title></head>
    <body>
        <div class="container" align="left">
            <div class="page-header">
                <h1><small>spokenken-Tutorial registration form</small></h1>
            </div>
           <div>
                <form class="form-signin" role="form" id="login_form" method="post">
                    {% csrf_token %}
                    {{ form.first_name|attr:"placeholder:First Name" }}<br /><br />
                    {{ form.last_name|attr:"placeholder:Last Name" }}<br /><br />
                    {{ form.email|attr:"placeholder:E-mail" }} <br /><br />
                    {{ form.username|attr:"placeholder:Username" }}<br /><br />
                    {{ form.password1|attr:"placeholder:Password" }}<br /><br />
                    {{ form.password2|attr:"placeholder:Confirm password" }}<br /><br />
                    <input class="btn btn-lg btn-primary btn-block" type="submit" value="Register" />
                </form>
           <div>
        </div>
    </body>
</html>
