{% extends 'spoken/templates/base.html' %}
{% load widget_tweaks %}
{% load static %}
{% load creationdata %}
{% block cssblock %}
    <link href="{% static 'spoken/css/video-js.min.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'spoken/css/jquery.fancybox.css' %}" type="text/css" media="screen" charset="utf-8" />
    <style type="text/css">
        .video-js {
            padding-top: 56.25%
        }
        .vjs-fullscreen {
            padding-top: 0px;
        }
        .playlist-container{
            background: #1a1a1a;
            margin-bottom: 20px;
        }
        .description, .order {
            font-size: 13px;
        }
        .forward {
            float: right;
        }
        .playlist ul {
             height: 330px;
             overflow-y: scroll;
             margin-bottom: 0px;
        }
        .playlist, .playlist-container, .video-container{
            padding-left: 0px;
            padding-right: 0px;
        }
        .playlist ul{
            list-style:none;
            padding-left: 0px;
        }
        .playlist ul .playlist-item{
            clear: both;
            overflow: hidden;
        }
        .playlist ul .playlist-item.active{
            background: #3a3a3a;
        }
        .playlist ul .playlist-item a{
            color: white;
            display: block;
            overflow: hidden;
            padding: 15px 10px;
        }
        .playlist ul .playlist-item.active a{
            color: orange;
        }
        .playlist ul .playlist-item:hover{
            background: gray;
        }
        .playlist ul .playlist-item .thumb, .playlist ul .playlist-item .thumb .order{
            padding-right: 10px;
        }
        .playlist-info{
            color: white;
            padding: 10px;
            background: black;
        }
        .playlist-controls{
            background: black;
            border-top: 1px solid #3a3a3a;
            padding: 10px 0;
        }
        .playlist-controls a{
            color: white;
        }
        .playlist-controls span{
            margin: 0 10px;
        }
        #content-wrapper #content-inner div.container{
            padding-left: 0px;
        }
        p.list-group-item-text {
            margin-top: 7px;
        }
        .list-zipfiles {
            overflow-x: hidden;
            max-height: 150px;
        }
        .review-data pre {
            margin-bottom: 0px;
        }
        .video-js .vjs-tech{
            position:absolute;
            top:0;
            left:0;
            width:100%;
            height:100%;
        }
        .vjs-tt-cue {
            font-size: 16px;
        }
        .video-js .vjs-text-track {
            background-color: rgba(0, 0, 0, 0.7);
        }
        .custom-jumbotron {
            max-height: 180px;
        }
        .video-visits {
            text-align: right;
            font-weight: bold;
            font-size: 16px;
        }
        .container.playlist-container.col-lg-12.col-md-12.col-sm-12 {
            margin-bottom: 10px;
        }
        .col-lg-5.col-md-5.col-sm-5.no-padding-right.right-bar {
            margin-top: 5px;
        }
    </style>
    <script src="{% static 'spoken/js/video.js' %}"></script>
{% endblock %}
{% load creationdata %}
{% block title %}{{ tr_rec.tutorial_detail.tutorial }} - {{ tr_rec.language.name }}{% endblock %}
{% block heading %}{{ tr_rec.tutorial_detail.tutorial }} - {{ tr_rec.language.name }}{% endblock %}
{% block content %}
    {% if tr_rec.video_status %}
    <row>
        <div class='container playlist-container col-lg-12 col-md-12 col-sm-12'>
            <div class="video-container col-lg-8 col-md-8 col-sm-8">
                <video id="st_video" class="video-js vjs-default-skin" controls preload="none" poster="{{ tr_rec.tutorial_detail|get_thumb_path:'Big' }}" width="auto" height="auto" data-setup="{}">
                    <source src="{{ media_url }}videos/{{ tr_rec.tutorial_detail.foss_id }}/{{ tr_rec.tutorial_detail_id }}/{{ tr_rec.video }}" type="video/ogg" />
                    {{ tr_rec|get_srt_path|safe }}
                </video>
            </div>
            <div class='playlist col-lg-4 col-md-4 col-sm-4'>
                <div class='playlist-info'>
                    <h5>{{tr_rec.tutorial_detail.foss}} Tutorials - {{tr_rec.language}} <span class="video-count pull-right">{{tr_recs|length}}</span></h5>
                </div>
                <div class='playlist-controls'>
                    <span class='backward'></span>
                    <span class='forward'></span>
                </div>
                <ul>
                    {% for rec in tr_recs %}
                        <li class="playlist-item{% if tr_rec.id == rec.id %} active{% endif %}"{% if tr_rec.id == rec.id %} data="{{ forloop.counter }}"{% endif %}>
                            <a href="/watch/{{ rec.tutorial_detail.foss.foss|get_url_name }}/{{ rec.tutorial_detail.tutorial|get_url_name }}/{{ rec.language.name }}/">
                                <div class='pull-left thumb'>
                                    <span class='order'>{% if tr_rec.id == rec.id %}<i class="fa fa-play"></i>{% else %}{{ forloop.counter }}{% endif %}</span>
                                    <img src="{{ rec.tutorial_detail|get_thumb_path:'Small' }}" width=70 >
                                </div>
                                <div class='description'>
                                    {{rec.tutorial_detail.tutorial}}
                                </div>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </row>
    {% endif %}
    <row>
        <div class="col-lg-7 col-md-7 col-sm-7 no-padding-left">
            <p class="video-visits">{{ tr_rec|get_video_visits }} visits</p>
            <ol class="breadcrumb">
                <li><a href="/creation/report-missing-component/{{ tr_rec.id}}" class="fancybox fancybox.iframe"> Report Missing Component</a></li>
                {% with link=tr_rec.tutorial_detail.foss|instruction_sheet:tr_rec.language %}
                    {% if link %}
                        <li><a href="{{ link }}" target="_blank">Instruction Sheet</a></li>
                    {% endif %}
                {% endwith %}

                {% with link=tr_rec.tutorial_detail.foss|installation_sheet:tr_rec.language %}
                    {% if link %}
                        <li><a href="{{ link }}" target="_blank">Installation Sheet</a></li>
                    {% endif %}
                {% endwith %}
                <li><a target="_blank" href="http://forums.spoken-tutorial.org/">Post your Question on the Forum</a></li>
            </ol>
            <pre class="custom-jumbotron"><b>Outline:<br /></b>{{ tr_rec.outline }}</pre>
        </div>
        
        
        <div class="col-lg-5 col-md-5 col-sm-5 no-padding-right right-bar">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Pre-requisites</h3>
              </div>
              <div class="panel-body">
              {% if tr_rec.common_content.prerequisite %}
                <img src="{{ tr_rec.common_content.prerequisite|get_thumb_path:'Small' }}" width="70" style="padding-right: 10px;">
                <a href="/watch/{{ tr_rec|get_prerequisite:tr_rec.common_content.prerequisite }}/">{{ tr_rec.common_content.prerequisite.tutorial }}</a>
              {% else %}
                No Pre-requisites for this tutorial.
              {% endif %}
              </div>
            </div>
            <div class="list-group">
                {% if tr_rec.common_content.assignment_status and tr_rec.common_content.assignment_status != 6 %}
                    <div  class="list-group-item">
                        <a href="{{ media_url }}videos/{{ tr_rec.tutorial_detail.foss_id }}/{{ tr_rec.tutorial_detail_id }}/resources/{{ tr_rec.common_content.assignment }}" target="_blank" class="list-group-item">
                            <h4 class="list-group-item-heading"><i class="fa fa-2 fa-globe"></i> Assignment</h4>
                        </a>
                        <p class="list-group-item-text">
                            <span style="text-align: left">Status: <i class="{{ tr_rec.common_content.assignment_status|get_review_status_symbol }}" title="{{ tr_rec.common_content.assignment_status|get_review_status_list }}"></i></span>
                            <span style="float: right">
                                - <a href="/accounts/view-profile/{{ tr_rec.common_content.assignment_user }}" target="_blank">{{tr_rec.common_content.assignment_user}}</a>
                            </span>
                        </p>
                    </div>
                {% endif %}
                {% if tr_rec.common_content.code_status and tr_rec.common_content.code_status != 6 %}
                    <div  class="list-group-item">
                        <a href="{{ media_url }}videos/{{ tr_rec.tutorial_detail.foss_id }}/{{ tr_rec.tutorial_detail_id }}/resources/{{ tr_rec.common_content.code }}" target="_blank" class="list-group-item">
                            <h4 class="list-group-item-heading"><i class="fa fa-2 fa-globe"></i> Code files</h4>
                            {% with path=media_path|add:'videos/'|add:tutorial_path|add:'resources/'|add:tr_rec.common_content.code %}
                                {% with code_files=path|get_zip_content %}
                                    {% if code_files %}
                                        <ul class="list-zipfiles">
                                            {% for code_file in code_files %}
                                                <li>{{ code_file }}</li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                {% endwith %}
                            {% endwith %}
                        </a>
                        <p class="list-group-item-text">
                            <span style="text-align: left">Status: <i class="{{ tr_rec.common_content.code_status|get_review_status_symbol }}" title="{{ tr_rec.common_content.code_status|get_review_status_list }}"></i></span>
                            <span style="float: right">
                                - <a href="/accounts/view-profile/{{ tr_rec.common_content.code_user }}" target="_blank">{{tr_rec.common_content.code_user}}</a>
                            </span>
                        </p>
                    </div>
                {% endif %}
                {% if tr_rec.script_status %}
                    <div  class="list-group-item">
                        <a href="{{ script_base|add:tr_rec.script }}" target="_blank" class="list-group-item">
                            <h4 class="list-group-item-heading"><i class="fa fa-2 fa-globe"></i> Script</h4>
                        </a>
                        <p class="list-group-item-text">
                            <span style="text-align: left">Status: <i class="{{ tr_rec.script_status|get_review_status_symbol }}" title="{{ tr_rec.script_status|get_review_status_list }}"></i></span>
                            <span style="float: right">
                                - <a href="/accounts/view-profile/{{ tr_rec.script_user }}" target="_blank">{{tr_rec.script_user}}</a>
                            </span>
                        </p>
                    </div>
                {% endif %}
                {% if tr_rec.common_content.slide_status and tr_rec.common_content.slide_status != 6 %}
                    <div  class="list-group-item">
                        <a href="{{ media_url }}videos/{{ tr_rec.tutorial_detail.foss_id }}/{{ tr_rec.tutorial_detail_id }}/resources/{{ tr_rec.common_content.slide }}" target="_blank" class="list-group-item">
                            <h4 class="list-group-item-heading"><i class="fa fa-2 fa-globe"></i> Slides</h4>
                            {% with path=media_path|add:'videos/'|add:tutorial_path|add:'resources/'|add:tr_rec.common_content.slide %}
                                {% with slide_files=path|get_zip_content %}
                                    {% if slide_files %}
                                        <ul class="list-zipfiles">
                                            {% for slide_file in slide_files %}
                                                <li>{{ slide_file }}</li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                {% endwith %}
                            {% endwith %}
                        </a>
                        <p class="list-group-item-text">
                            <span style="text-align: left">Status: <i class="{{ tr_rec.common_content.slide_status|get_review_status_symbol }}" title="{{ tr_rec.common_content.slide_status|get_review_status_list }}"></i></span>
                            <span style="float: right">
                                - <a href="/accounts/view-profile/{{ tr_rec.common_content.slide_user }}" target="_blank">{{tr_rec.common_content.slide_user}}</a>
                            </span>
                        </p>
                    </div>
                {% endif %}
            </div>
        </div>
    </row>
{% endblock %}
{% block jsblock %}
    <script src="{% static 'spoken/js/jquery.fancybox.pack.js' %}"></script>
    <script src="{% static 'spoken/js/jquery.mousewheel-3.0.6.pack.js' %}"></script>
    <script>
        currentVideo = $('.playlist-item.active');
        nextVideo = currentVideo.next('li');
        prevVideo = currentVideo.prev('li');
        var tmpHtml = currentVideo.attr('data') + '/' + $('.video-count').html()
        $('.video-count').html(tmpHtml)
        if(nextVideo.length){
            //console.log(nextVideo.children('a').attr('href'));
            $('.forward').html('<a href="'+nextVideo.children('a').attr('href')+'"><i class="fa fa-1 fa-fast-forward"></i></a>');
        } else {
            $('.forward').html('<i class="fa fa-1 fa-fast-forward"></i>');
        }
        if(prevVideo.length){
            //console.log(prevVideo.children('a').attr('href'));
            $('.backward').html('<a href="'+prevVideo.children('a').attr('href')+'"><i class="fa fa-1 fa-fast-backward"></i></a>');
        } else {
            $('.backward').html('<i class="fa fa-1 fa-fast-backward"></i>');
        }
        
    </script>
    <script type="text/javascript">
        $(document).ready(function(){
            $(".fancybox").fancybox({
                maxWidth    : 500,
                maxHeight   : 485,
                fitToView   : true,
                autoSize    : false,
                closeClick  : false,
                openEffect  : "none",
                closeEffect : "none",
                modal       : true,
            });
        });
    </script>
{% endblock %}
