{% extends 'spoken/templates/base.html' %}
{% load widget_tweaks %}
{% load static %}
{% load creationdata %}
{% load announcements %}
{% block main_meta %}
    <meta name="title" content="{{ tr_rec.tutorial_detail.tutorial }} - {{ tr_rec.language.name }}">
    <meta name="description" content="{{ tr_rec.tutorial_detail.foss.description }}">
    <meta name="keywords" content="{{ tr_rec.tutorial_detail.foss }} free training in india, {% if tr_rec.common_content.keyword %} {{ tr_rec.common_content.keyword }} {% else %} {{ tr_rec.tutorial_detail.tutorial }} {% endif %}">
{% endblock %}
{% block meta %}
    <meta property="og:site_name" content="Spoken-Tutorial">
    <meta property="og:url" content="{{ request.META.HTTP_HOST }}{{ request.path}}">
    <meta property="og:title" content="{{ tr_rec.tutorial_detail.tutorial }} in {{ tr_rec.language.name }}">
    <meta property="og:image" content="{{ tr_rec.tutorial_detail|get_thumb_path:'Small' }}">
    <meta property="og:description" content="{{ tr_rec.tutorial_detail.foss.description }}">

    <meta property="og:type" content="video">
    <meta property="og:video" content="{{ media_url }}videos/{{ tr_rec.tutorial_detail.foss_id }}/{{ tr_rec.tutorial_detail_id }}/{{ tr_rec.video }}">
    {% for key in tr_rec.common_content.keyword_as_list %}
        <meta property="og:video:tag" content="{{ key }}">
    {% endfor %}
{% endblock %}
{% block uncompresscssblock %}
    <link href="{% static 'spoken/css/video-js.min.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'spoken/css/jquery.fancybox.pack.css' %}" type="text/css" media="screen" charset="utf-8" />
{% endblock %}
{% block compressinlinecssblock %}
    <style type="text/css">
  .video-js {
            padding-top: 56.25%
        }
        .vjs-fullscreen {
            padding-top: 0px;
        }
        .playlist-container{
            background: #1a1a1a;
            margin-bottom: 20px;
        }
        .description, .order {
            font-size: 13px;
        }
        .forward {
            float: right;
        }
        .playlist ul {
             height: 330px;
             overflow-y: scroll;
             margin-bottom: 0px;
        }
        .playlist, .playlist-container, .video-container{
            padding-left: 0px;
            padding-right: 0px;
        }
        .playlist ul{
            list-style:none;
            padding-left: 0px;
        }
        .playlist ul .playlist-item{
            clear: both;
            overflow: hidden;
        }
        .playlist ul .playlist-item.active{
            background: #3a3a3a;
        }
        .playlist ul .playlist-item a{
            color: white;
            display: block;
            overflow: hidden;
            padding: 15px 10px;
        }
        .playlist ul .playlist-item.active a{
            color: orange;
        }
        .playlist ul .playlist-item:hover{
            background: gray;
        }
        .playlist ul .playlist-item .thumb, .playlist ul .playlist-item .thumb .order{
            padding-right: 10px;
        }
        .playlist-info{
            color: white;
            padding: 10px;
            background: black;
        }
        .playlist-controls{
            background: black;
            border-top: 1px solid #3a3a3a;
            padding: 10px 0;
        }
        .playlist-controls a{
            color: white;
        }
        .playlist-controls span{
            margin: 0 10px;
        }
        #content-wrapper #content-inner div.container{
            padding-left: 0px;
        }
        p.list-group-item-text {
            margin-top: 7px;
        }
        .list-zipfiles {
            overflow-x: hidden;
            max-height: 150px;
        }
        .review-data pre {
            margin-bottom: 0px;
        }
        .video-js .vjs-tech{
            position:absolute;
            top:0;
            left:0;
            width:100%;
            height:100%;
        }
        .vjs-tt-cue {
            font-size: 16px;
        }
        .video-js .vjs-text-track {
            background-color: rgba(0, 0, 0, 0.7);
        }
        .custom-jumbotron {
            background-color: white !important;
            border: none;
            padding: 0px !important;
        }
        .custom-jumbotron p {
            padding-left: 20px;
        }
        .custom-jumbotron h3 {
            margin-top: 10px;
        }
        .video-visits {
            text-align: right;
            font-weight: bold;
            font-size: 16px;
        }
        .container.playlist-container.col-lg-12.col-md-12.col-sm-12 {
            margin-bottom: 10px;
        }
        .col-lg-5.col-md-5.col-sm-5.no-padding-right.right-bar {
            margin-top: 5px;
        }
        .video-info{
            display: none;
        }
        .breadcrumb {
            background: white;
            margin: 0px;
        }
        .list-group-item{
            border-top: none;
            padding-top: 0px;
        }
        .list-group-item:first-child {
            padding-top: 10px;
            border-top: 1px solid #ddd;
        }
        .hline {
            margin-top: 5px;
            margin-bottom: 5px;
        }
        .video-share {
            margin-bottom: 10px;
        }
        .inner-shadow {
            padding: 15px;
            /*-webkit-box-shadow: 0px 0px 10px 0px rgba(84, 70, 70, 0.87);
            -moz-box-shadow: 0px 0px 10px 0px rgba(84, 70, 70, 0.87);
            box-shadow: 0px 0px 10px 0px rgba(84, 70, 70, 0.87);*/
            border: 1px solid #ddd;
        }
        .inner-sidebar {
            padding-left: 15px;
            padding-top: 5px;
        }
        .inner-content-body {
            margin-top: 5px;
        }
        .video-info-show-more, .list-group-item-container, .panel {
            margin-bottom: 14px;
        }
        a.list-group-item .list-group-item-heading {
            color: #337AB7;
        }
        .panel-body-heading {
            font-size: 16px;
            margin-bottom: 0px;
            color: #337AB7;
        }
        .panel-body .hline {
            margin-bottom: 8px;
        }
        .forum-questions h4 {
            font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
            font-size: 18px;
            font-weight: bold;
        }
       .forum-questions .question {
         padding-left: 5px;
         padding-right: 5px;
             padding-top: 5px;
            clear: both;
        }
        .forum-questions .question a {
            font-weight: bold;
        }
        .forum-questions .question p {
            font-weight: normal;
            padding: 5px;
            font-size: 13px !important;
            font-family: Verdana, Arial, Helvetica, sans-serif !important;
            color: rgb(85, 85, 85) !important;
            line-height: 18px !important;
        }
        .forum-questions .question p span, .forum-questions .question p div {
            font-size: 13px !important;
            font-family: Verdana, Arial, Helvetica, sans-serif !important;
            color: rgb(85, 85, 85) !important;
            line-height: 18px !important;
        }
        .hline-inner {
            clear: both;
        }
        small {
            padding: 3px 5px;
            margin: 0 5px 0 0;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            -o-border-radius: 3px;
            border-radius: 3px;
            background: #424242;
            color: #ffffff;
            width: 100px;
            overflow: hidden;
        }
        small.timing {
            background: #a26dc8;
        }
        .forum-post {
            color: #4F8811;
        }

    .ScrollStyle
    {
        max-height: 370px;
         min-height: 370px;
        overflow:scroll;

        float: left;
        background: white;
    }
    .video-js.vjs-fullscreen .vjs-tt-cue { font-size: 22px; }
    </style>
{% endblock %}
{% load creationdata %}
{% block title %}{{ tr_rec.tutorial_detail.tutorial }} - {{ tr_rec.language.name }}{% endblock %}
{% block search %}{% endblock %}
{% block heading %}{{ tr_rec.tutorial_detail.tutorial }} - {{ tr_rec.language.name }}{% endblock %}
{% block announcement %}
    <div id="slideshow">
            {% get_notifications as notifications %}
            {% if notifications %}
                {% for notification in notifications %}
                    <div class="announcement alert" style="background:#{% if notification.bg_color %}{{ notification.bg_color }}{% else %}1B83BC{% endif %};">
                        <div class="inner">
                            <div class="text-container">
                                {{ notification.body|safe }}
                                <!--<button type="button" class="close" data-dismiss="alert">&times;</button>-->
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
    </div>
{% endblock %}
{% block content %}
    {% if tr_rec.video_status %}
    <row>
        <div class='container playlist-container col-lg-12 col-md-12 col-sm-12'>
            <div class="video-container col-lg-8 col-md-8 col-sm-8">
                        <video id="st_video" class="video-js vjs-default-skin" controls preload="none" poster="{{ tr_rec.tutorial_detail|get_thumb_path:'Big' }}" width="auto" height="auto" data-setup="{}">
                            <!-- <source src="/static/spoken/images/Overview-and-Installation-of-Git-English.ogv" type="video/ogg" /> -->
			    <source src="{{ media_url }}videos/{{ tr_rec.tutorial_detail.foss_id }}/{{ tr_rec.tutorial_detail_id }}/{{ tr_rec.video }}" type="video/ogg" />
                             {% with has_mp4=tr_rec|get_mp4_video %}
                                 {% if has_mp4 %}
                                     <source src="{{ media_url }}{{ has_mp4 }}" type="video/mp4" />
                                 {% endif %}
                             {% endwith %}
                            {{ tr_rec|get_srt_path|safe }}
                        </video>
            </div>


<div class="container">

<div id="content">
    <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
     
        <li style="width:190px" class="active" ><a href="#forums" data-toggle="tab">Questions posted on Forums</a></li>
                <li style="width:180px;" ><a style= "min-height: 60px;padding-top: 12px;" href="#tutorials" data-toggle="tab">{{tr_rec.tutorial_detail.foss}} Tutorials - {{tr_rec.language}} </a></li>
     <div id="my-tab-content" class="tab-content">

<div class="tab-pane active" id="forums" >
<div id="forums_Q" class='ScrollStyle' style="width: 32%; " >
 
  {% if questions %}
        <h4 style="font-family: Menlo;font-size: 16px; padding-left: 8px; ">Questions posted on ST Forums: </h4>
        <ul class="forum-questions" id="forum_Q" style="padding : 6px ">
     
        {% for question in questions %}

        <li class="question" id="{{ question.id }}">
            <a href="https://forums.spoken-tutorial.org/question/{{ question.id }}/{{ question.get_slugified_title }}" target="_blank" class="{{ question.id }}">{{ question.title }}</a>
            <p>{{ question.body|striptags|safe }}
            <div class="timing pull-left">
            {% if not question.minute_range == 'None' %}<small class="timing">{{ question.minute_range }}M</small>{% endif %}
            {% if not question.second_range == 'None' %}<small class="timing">{{ question.second_range }}S</small>{% endif %}
            </div>
            <div class="user pull-right">
            <span>{{ question.date_modified }}</span>
        {% if not question.user == "" %}
            <small>{{ question.user }}</small>
        {% endif %}
            </div>
       </p>
    <hr class="hline-inner" style="margin-top: 18px;margin-bottom: 4px;" />
           </li>
      
        {% endfor %}
        </ul>
        {% else %}
            <p style=" text-align: center; padding: 40px"> No questions yet</p>
        {% endif %}
        </div>

        </div>
    
        <div class="tab-pane " id="tutorials" >
            <div class='playlist col-lg-4 col-md-4 col-sm-4' style="width: 32%">
           
        <div class='playlist-controls'>
            <span class='backward'></span>
        <span class=" video-count pull-right" style="color: #ffffff;" >{{tr_recs|length}}</span>
            <span class='forward'></span>
        </div>
        <ul>
            {% for rec in tr_recs %}
            <li class="playlist-item{% if tr_rec.id == rec.id %} active{% endif %}"{% if tr_rec.id == rec.id %} data="{{ forloop.counter }}"{% endif %}>
                <a href="/watch/{{ rec.tutorial_detail.foss.foss|get_url_name }}/{{ rec.tutorial_detail.tutorial|get_url_name }}/{{ rec.language.name }}/">
                <div class='pull-left thumb'>
                    <span class='order'>{% if tr_rec.id == rec.id %}<i class="fa fa-play"></i>{% else %}{{ forloop.counter }}{% endif %}</span>
                    <img alt="{{ rec.tutorial_detail.tutorial }} - thumb" src="{{ rec.tutorial_detail|get_thumb_path:'Small' }}" width=70 >
                </div>
                <div class='description'>
                    {{rec.tutorial_detail.tutorial}}
                </div>
                </a>
            </li>
            {% endfor %}
        </ul>
        </div>
        </div>
     

    </div>
</div>
    </ul>

<script type="text/javascript">
    jQuery(document).ready(function ($) {
       $("#tabs").tab();
    });
</script> 
</div> <!-- container -->

        </div>
    </row>
    {% endif %}
    <row>
        <div class="inner-content-body col-lg-8 col-md-8 col-sm-8 no-padding">
            <div class="inner-shadow">
                <div class="row video-share">
                    <div class="ysubscribe pull-left col-lg-9 col-md-9 col-sm-9">
                        <div class="g-ytsubscribe" data-channel="SpokenTutorialIITB" data-layout="full" data-count="default" data-onytevent="onYtEvent"></div>
                    </div>
                    <p class="video-visits pull-right col-lg-3 col-md-3 col-sm-3">{{ tr_rec|get_video_visits }} visits</p>
                </div>
                <hr class="hline" />
                <ol class="breadcrumb">
                    {% with link=tr_rec.tutorial_detail.foss|instruction_sheet:tr_rec.language %}
                        {% if link %}
                            <li><a href="{{ link }}" target="_blank">Instruction Sheet</a></li>
                        {% endif %}
                    {% endwith %}

                    {% with link=tr_rec.tutorial_detail.foss|installation_sheet:tr_rec.language %}
                        {% if link %}
                            <li><a href="{{ link }}" target="_blank">Installation Sheet</a></li>
                        {% endif %}
                    {% endwith %}
                    <li><a href="/creation/report-missing-component/{{ tr_rec.id}}" class="fancybox fancybox.iframe"> Report Missing Component</a></li>

                    <li><a id="text" target="_blank" href="" class="forum-post">Post your Question on the Forum</a></li>
         <!--<li><p id="playerHolder"></p></li> 
	<li><p id="playerHolder1"></p></li> !-->

                </ol>
                <hr class="hline" />
                <pre class="custom-jumbotron"><h3><b>Outline:</b></h3><p>{{ tr_rec.outline }}</p></pre>
            

            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 no-padding right-bar">
            <div class="inner-sidebar">
                <div class="video-info-show-more">
                    <div class="video-info">
                        <table class="table table-bordered table-hover">
                            <tr>
                                <th>Width:</th><td>{{video_info.width}}</td>
                                <th>Height:</th><td>{{video_info.height}}</td>
                            </tr>
                            <tr>
                                <th>Duration:</th><td>{{video_info.duration}}</td>
                                <th>Size:</th><td>{{video_info.size}}</td>
                            </tr>
                        </table>
                    </div>
                    <p class="video-show-more no-record">Show video info</p>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <p class="panel-body-heading"><i class="fa fa-youtube-play fa-1"></i> Pre-requisite</p>
                        <hr class="hline" />
                        {% if tr_rec.common_content.prerequisite %}
                            {% with prerequisite=tr_rec|get_prerequisite:tr_rec.common_content.prerequisite %}
                                {% if prerequisite %}
                                    <a href="/watch/{{ prerequisite }}/"><img src="{{ tr_rec.common_content.prerequisite|get_thumb_path:'Small' }}" width="70" style="padding-right: 10px;">
                                    {{ tr_rec.common_content.prerequisite.tutorial }}</a>
                                {% else %}
                                    No Pre-requisites for this tutorial.
                                {% endif %}
                            {% endwith %}
                        {% else %}
                            No Pre-requisites for this tutorial.
                        {% endif %}
                    </div>
                </div>
                <div class="list-group">
                    {% if tr_rec.common_content.assignment_status and tr_rec.common_content.assignment_status != 6 %}
                        <div  class="list-group-item-container">
                            <a href="{{ media_url }}videos/{{ tr_rec.tutorial_detail.foss_id }}/{{ tr_rec.tutorial_detail_id }}/resources/{{ tr_rec.common_content.assignment }}" target="_blank" class="list-group-item">
                                <h4 class="list-group-item-heading"><i class="fa fa-1 fa-file-text"></i>&nbsp; Assignment</h4>
                            </a>
                        </div>
                    {% endif %}
                    {% if tr_rec.common_content.code_status and tr_rec.common_content.code_status != 6 %}
                        <div  class="list-group-item-container">
                            <a href="{{ media_url }}videos/{{ tr_rec.tutorial_detail.foss_id }}/{{ tr_rec.tutorial_detail_id }}/resources/{{ tr_rec.common_content.code }}" target="_blank" class="list-group-item">
                                <h4 class="list-group-item-heading"><i class="fa fa-1 fa-archive"></i> Code files</h4>
                                {% with path=media_path|add:'videos/'|add:tutorial_path|add:'resources/'|add:tr_rec.common_content.code %}
                                    {% with code_files=path|get_zip_content %}
                                        {% if code_files %}
                                            <hr class="hline" />
                                            <ul class="list-zipfiles">
                                                {% for code_file in code_files %}
                                                    <li>{{ code_file }}</li>
                                                {% endfor %}
                                            </ul>
                                        {% endif %}
                                    {% endwith %}
                                {% endwith %}
                            </a>
                        </div>
                    {% endif %}
                    {% if tr_rec.script_status %}
                        <div class="list-group-item-container">
                            <a href="{{ script_base|add:tr_rec.script }}" target="_blank" class="list-group-item">
                                <h4 class="list-group-item-heading"><i class="fa fa-1 fa-link"></i> Script</h4>
                            </a>
                        </div>
                        {% if tr_rec.language.name == 'English' %}
                            {% with timed_script=tr_rec.script|get_timed_script:tr_rec.timed_script %}
                                {% if timed_script %}
                                    <div class="list-group-item-container">
                                        <a href="{{ timed_script }}" target="_blank" class="list-group-item">
                                            <h4 class="list-group-item-heading"><i class="fa fa-1 fa-link"></i> Timed Script</h4>
                                        </a>
                                    </div>
                                {% endif %}
                            {% endwith %}
                        {% endif %}
                    {% endif %}
                    {% if tr_rec.common_content.slide_status and tr_rec.common_content.slide_status != 6 %}
                        <div class="list-group-item-container">
                            <a href="{{ media_url }}videos/{{ tr_rec.tutorial_detail.foss_id }}/{{ tr_rec.tutorial_detail_id }}/resources/{{ tr_rec.common_content.slide }}" target="_blank" class="list-group-item">
                                <h4 class="list-group-item-heading"><i class="fa fa-1 fa-archive"></i> Slides</h4>
                                {% with path=media_path|add:'videos/'|add:tutorial_path|add:'resources/'|add:tr_rec.common_content.slide %}
                                    {% with slide_files=path|get_zip_content %}
                                        {% if slide_files %}
                                            <hr class="hline" />
                                            <ul class="list-zipfiles">
                                                {% for slide_file in slide_files %}
                                                    <li>{{ slide_file }}</li>
                                                {% endfor %}
                                            </ul>
                                        {% endif %}
                                    {% endwith %}
                                {% endwith %}
                            </a>
                        </div>
                    {% endif %}
                    {% if tr_rec.common_content.additional_material_status and tr_rec.common_content.additional_material_status != 6 %}
                        <div  class="list-group-item-container">
                            <a href="{{ media_url }}videos/{{ tr_rec.tutorial_detail.foss_id }}/{{ tr_rec.tutorial_detail_id }}/resources/{{ tr_rec.common_content.additional_material }}" target="_blank" class="list-group-item">
                                <h4 class="list-group-item-heading"><i class="fa fa-1 fa-file-text"></i>&nbsp; Additional reading material</h4>
                            </a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </row>
{% endblock %}
{% block jsblock %}
    <script>
        /* Slideshow */
        var stop = 1
        $('#slideshow').hover(function(){
            stop = 0
        }, function(){
            stop = 1
        });
        if($(".announcement").length > 1){
            $("#slideshow > div:gt(0)").hide();
            setInterval(function() {
              if(stop){
                  $('#slideshow > div:first')
                    .fadeOut(0)
                    .next()
                    .fadeIn(0)
                    .end()
                    .appendTo('#slideshow');
                 }
            },  5000);
        }
        $('.close').click(function(){
            $(".navbar-fixed-top").css({'top' : '0px', 'position' : 'fixed'});
            $("#header-wrapper").css({'height' : '0px'});
        });
    </script>
{% endblock %}
{% block compressinlinejsblock %}
    <script type="text/javascript">
        $(document).ready(function(){

            currentVideo = $('.playlist-item.active');
            nextVideo = currentVideo.next('li');
            prevVideo = currentVideo.prev('li');
            var tmpHtml = currentVideo.attr('data') + '/' + $('.video-count').html()
            $('.video-count').html(tmpHtml)
            if(nextVideo.length){
                //console.log(nextVideo.children('a').attr('href'));
                $('.forward').html('<a href="'+nextVideo.children('a').attr('href')+'"><i class="fa fa-1 fa-fast-forward"></i></a>');
            } else {
                $('.forward').html('<i class="fa fa-1 fa-fast-forward"></i>');
            }
            if(prevVideo.length){
                //console.log(prevVideo.children('a').attr('href'));
                $('.backward').html('<a href="'+prevVideo.children('a').attr('href')+'"><i class="fa fa-1 fa-fast-backward"></i></a>');
            } else {
                $('.backward').html('<i class="fa fa-1 fa-fast-backward"></i>');
            }
            $(".fancybox").fancybox({
                maxWidth    : 500,
                maxHeight   : 485,
                fitToView   : true,
                autoSize    : false,
                closeClick  : false,
                openEffect  : "none",
                closeEffect : "none",
                modal       : true,
            });
            $(".video-show-more").click(function(e) {
                e.preventDefault();
                $(".video-info").slideToggle( "slow" );
                $(this).text( $(this).text() == 'Show video info' ? "Hide video info" : "Show video info");
            });
        });
    </script>

    <script>

    var player,
    tag = document.createElement('script'),
    firstScriptTag = document.getElementsByTagName('script')[0];
    var flag= false;
  

    tag.src = "https://www.youtube.com/iframe_api";
    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

    function onPlaybackQualityChange(event) {
        console.log(event);
    }

    Number.prototype.between = function (min, max) {
        return this >= min && this <= max;
    };

            var ik_player;
            //this function is called by the API
            function onYouTubeIframeAPIReady() {
                //creates the player object
                ik_player = new YT.Player('player');
                //Holds a reference to the YouTube player
                //subscribe to events
                ik_player.addEventListener("onReady",       "onReady");
                ik_player.addEventListener("onStateChange", "onStateChange");
            }
  
        function formatTime(time){
        time = Math.round(time);
        var minutes = Math.floor(time / 60),
        seconds = time - minutes * 60;
        seconds = seconds < 10 ? '0' + seconds : seconds;
        return minutes + "." + seconds;
        }

    function onReady(event) {
        function logDuration() {

         window.setTimeout(logDuration,1000);
         var cur_time = formatTime(ik_player.getCurrentTime()).toString();
         var duration=  formatTime(ik_player.getDuration()).toString();

        if(parseFloat(cur_time) == parseFloat(duration.toString())){
         $('.ScrollStyle').find('.question').css("background-color", "white");
        }else{
        trigger(cur_time, duration);
        }
       
            

        return cur_time
        }
        logDuration();
        $("#text").click(function(e){
						ik_player.pauseVideo()
         		setForum(logDuration())
           
        });


    //var title = $('#text').html("Post your Question on the Forum");
       // $("#text").click(function(e){
     // e.preventDefault();
         // alert(logDuration());
            //title.html('new title'+logDuration());
       // });
        }

      function trigger(cur_time, duration){
      //$("#playerHolder").text("dura"+duration);
        {% for q in questions %}
            min_range = '{{ q.minute_range }}'
            sec_range = '{{ q.second_range }}'

            id = '{{ q.id }}'

            min_split = min_range.split("-")
            sec_split = sec_range.split("-")
            lower = min_split[0]+"."+sec_split[0];
            upper = min_split[1]+"."+sec_split[1];
            var div = document.getElementById( '{{ q.id }}' );
          
            if((parseFloat(cur_time)).between(parseFloat(lower.toString()),parseFloat(upper.toString()))) 
            {
        
          bgColor = $("#"+'{{ q.id }}').css('background-color')
          if($("#"+'{{ q.id }}').css("background-color")=="rgb(205, 205, 205)"){
         //alert("outt2")
          }else{
          var el = document.getElementById('forums_Q');
          el.scrollTop = 0;
       
          }
       
          $("#"+'{{ q.id }}').prependTo("#forum_Q");
          div.style.backgroundColor = "#cdcdcd";
           
           }else{
              div.style.backgroundColor = "#ffffff";
           }
           {% endfor %}
           }
                        //for videojs trigger
            var trackedPlayer = videojs('st_video');
            var previousTime = 0;
            var currentTime = 0;
            trackedPlayer.on('timeupdate', function() {
            previousTime = currentTime;
            currentTime = trackedPlayer.currentTime();
            var cur_time = formatTime(currentTime).toString();

           	trigger( cur_time);
							$("#text").click(function(e){
							trackedPlayer.pause()
		       		setForum(cur_time)
		         
		      		});
			
            });
 
  		
				function setForum(cur_time)
				{
					 
						var time_split = cur_time.split(".")
						var minute = parseFloat(time_split[0]);
						var min_range = minute+"-"+(minute+parseFloat(1))
						if(parseInt(time_split[1]).between(parseInt(0),parseInt(9))){
									sec_range = "0-10"
						}else if(parseFloat(time_split[1]).between(parseFloat(10),parseFloat(19))){
									sec_range = "10-20"
						}else if(parseFloat(time_split[1]).between(parseFloat(20),parseFloat(29))){
									sec_range = "20-30"
						}else if(parseFloat(time_split[1]).between(parseFloat(30),parseFloat(39))){
									sec_range = "30-40"
						}else if(parseFloat(time_split[1]).between(parseFloat(40),parseFloat(49))){
									sec_range = "40-50"
						}else {
									sec_range = "50-60"
						}
		
						 var url = "https://forums.spoken-tutorial.org/new-question/?category={{ tr_rec.tutorial_detail.foss.foss }}&tutorial={{ tr_rec.tutorial_detail.tutorial }}&minute_range="+min_range+"&second_range="+sec_range;
						$("#text").attr("href", url);
				}
    </script>
{% endblock %}
{% block uncompressjsblock %}
    <script src="{% static 'spoken/js/video.min.js' %}"></script>
    <script src="{% static 'spoken/js/jquery.fancybox.pack.js' %}"></script>
    <script src="{% static 'spoken/js/jquery.mousewheel-3.0.6.pack.js' %}"></script>
    <script src="https://apis.google.com/js/platform.js"></script>
        <script type="text/javascript" src="https://www.youtube.com/iframe_api"></script>
{% endblock %}
