{% extends 'spoken/templates/base.html' %}
{% load static %}
{% block cssblock %}
    <link href="{% static 'spoken/css/workshop.css' %}" rel="stylesheet" type="text/css">
    <style>
        #footer-wrapper, #header-wrapper {
            display: none;
        }
    </style>
{% endblock %}
{% block title %}GChemPaint - JMol Workshop for Chemistry Teachers{% endblock %}
{% block heading %}{% endblock %}
{% block content %}
    <div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav">
                <span class="sr-only">Toggle Navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button>
                    <a class="site-home" href="http://spoken-tutorial.org/" style="color: white;">
                        <img src="{% static 'spoken/images/logo.png' %}" width="33px"> Spoken <span class="site-home-title" style="color: orange;">Tutorial</span>
                    </a>
                </li>
                <li>
                    <a href="#home"><i class="fa fa-home"></i> Home</a>
                </li>
                <li>
                    <a href="#about"><i class="fa fa-user"></i> About</a>
                </li>
                <li>
                    <a href="#objectives"><i class="fa fa-list-ul"></i> Workshop Objectives</a>
                </li>
                <li>
                    <a href="#schedule"><i class="fa fa-calendar"></i> Programme Schedule</a>
                </li>
                <li>
                    <a href="#organizer"><i class="fa fa-star"></i> Organizer</a>
                </li>
                <li>
                    <a href="#contact"><i class="fa fa-envelope"></i> Contact</a>
                </li>
                <li>
                    <a href="#gmap"><i class="fa fa-location-arrow"></i> Venue</a>
                </li>
                <li>
                    <a href="#register"><i class="fa fa-book"></i> Register</a>
                </li>
                <li>
                    <a href="/media/workshop/gcp-jmol-workshop.pdf" target="_blank"><i class="fa fa-film"></i> Poster</a>
                </li>
            </ul>
        </div>
        <!-- Sidebar end -->
        <!-- Page Content -->
        <div id="home"></div>
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row wbanner-row">
                    <div class="col-lg-12 workshop-banner">
                        <div id="main-top">
                            <h1 style="color: whitesmoke;">One Day Workshop on<br>Open Source Chemistry Software <br>for College Teachers</h1>
                            <a href="#register" class="btn btn-primary register-now-alias">Register Now</a>
                        </div>
                    </div>
                </div>
                <div class="row when-where"><!-- when and where part start -->
                    <div class="col-lg-6 col-md-6 when-where-col">
                        <div class="panel panel-yellow">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3 fs-ico">
                                        <i class="fa fa-calendar fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-left">
                                        <div class="fs1">WHEN</div>
                                        <div class="fs2">29 Nov 2014</div>
                                        <div class="fs3">Starting 09.00 am</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 when-where-col">
                        <div class="panel panel-yellow">
                            <div class="panel-heading">
                                <a href="http://spoken-tutorial.org/workshop/gcp-jmol/#gmap">
                                    <div class="row">
                                        <div class="col-xs-3 fs-ico">
                                            <i class="fa fa-map-marker fa-5x"></i>
                                        </div>
                                        <div class="col-xs-9 text-left">
                                            <div class="fs1">WHERE</div>
                                            <div class="fs2">IIT Bombay, Powai</div>
                                            <div class="fs3">LCH‐11, Lecture Hall Complex</div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div><!-- when and where part end -->
                <div class="clock row">
                    <div class="clock-item clock-days countdown-time-value col-sm-3 col-md-3">
                        <div class="wrap">
                            <div class="inner">
                                <div id="canvas-days" class="clock-canvas"><div class="kineticjs-content" role="presentation"><canvas></canvas></div></div>

                                <div class="text">
                                    <p class="val">0</p>
                                    <p class="type-days type-time">DAYS</p>
                                </div><!-- /.text -->
                            </div><!-- /.inner -->
                        </div><!-- /.wrap -->
                    </div><!-- /.clock-item -->

                    <div class="clock-item clock-hours countdown-time-value col-sm-3 col-md-3">
                        <div class="wrap">
                            <div class="inner">
                                <div id="canvas-hours" class="clock-canvas"><div class="kineticjs-content" role="presentation"><canvas></canvas></div></div>

                                <div class="text">
                                    <p class="val">0</p>
                                    <p class="type-hours type-time">HOURS</p>
                                </div><!-- /.text -->
                            </div><!-- /.inner -->
                        </div><!-- /.wrap -->
                    </div><!-- /.clock-item -->

                    <div class="clock-item clock-minutes countdown-time-value col-sm-3 col-md-3">
                        <div class="wrap">
                            <div class="inner">
                                <div id="canvas-minutes" class="clock-canvas"><div class="kineticjs-content" role="presentation"><canvas></canvas></div></div>

                                <div class="text">
                                    <p class="val">0</p>
                                    <p class="type-minutes type-time">MINUTES</p>
                                </div><!-- /.text -->
                            </div><!-- /.inner -->
                        </div><!-- /.wrap -->
                    </div><!-- /.clock-item -->

                    <div class="clock-item clock-seconds countdown-time-value col-sm-3 col-md-3">
                        <div class="wrap">
                            <div class="inner">
                                <div id="canvas-seconds" class="clock-canvas"><div class="kineticjs-content" role="presentation"><canvas></canvas></div></div>

                                <div class="text">
                                    <p class="val">0</p>
                                    <p class="type-seconds type-time">SECONDS</p>
                                </div><!-- /.text -->
                            </div><!-- /.inner -->
                        </div><!-- /.wrap -->
                    </div><!-- /.clock-item -->
                </div>
                <div id="about"></div><!-- about part start -->
                <div class="bs-callout bs-callout-info">
                    <h2 class="bs-title">About</h2>
                    <p>This workshop introduces two Free and Open Source Software for Chemistry education, namely, GChemPaint and Jmol Application. These software are useful for students, educators and researchers of Chemistry and Bio-Chemistry.</p>
                    <p>Workshop is aimed to give Chemistry teachers a practical experience in using these software. Teachers will learn and practice the software using Spoken Tutorials of GChemPaint and Jmol, followed by a hands-on session. Workshop also includes an Interactive Session for feedback and improvement of the tutorial content.</p>
                    <p><b>Note:</b> <i>All the participants should bring their laptop with chargers and headphones/earphones for the workshop.</i></p>
                </div><!-- about part end -->
                <div id="objectives"></div><!-- objectives part start -->
                <div class="bs-callout bs-callout-info">
                    <h2 class="bs-title">Workshop Objectives</h2>
                    <p class="col-left">
                        <i class="fa fa-check-circle" style="font-size: 16px;color: #5BC0DE;"></i>
                        &nbsp;&nbsp; To promote the usage of technology in classroom teaching.
                    </p>
                    <p class="col-left"><i class="fa fa-check-circle" style="font-size: 16px;color: #5BC0DE;"></i>
                        &nbsp;&nbsp; To raise the standard of classroom teaching using Software.
                    </p>
                    <p class="col-left"><i class="fa fa-check-circle" style="font-size: 16px;color: #5BC0DE;"></i>
                        &nbsp;&nbsp; Software helps teachers explain a concept with more clarity.
                    </p>
                    <p class="col-left"><i class="fa fa-check-circle" style="font-size: 16px;color: #5BC0DE;"></i>
                        &nbsp;&nbsp; Better presentation of topics.
                    </p>
                </div><!-- objectives part end -->
                <div id="schedule"></div><!-- schedule part start -->
                <div class="bs-callout bs-callout-info">
                    <h2 class="bs-title">Schedule</h2>
                    <div class="schedule-tree-base col-left">
                        <section class="schedule-tree">
                            <article class="branch">
                                <div class="branch-icon">
                                    <div class="branch-icon-container">
                                        <i class="fa fa-check"></i> 
                                    </div>
                                </div>
                                <div class="branch-time-box"><time>09:00</time></div>
                                <div class="branch-content-wrapper">
                                    <div class="branch-content">
                                        <div class="branch-title">
                                            <h3><span>Registration</span></h3>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article class="branch">
                                <div class="branch-icon">
                                    <div class="branch-icon-container">
                                        <i class="fa fa-fire" style="padding-left: 10px;"></i> 
                                    </div>
                                </div>
                                <div class="branch-time-box"><time>09:30</time></div>
                                <div class="branch-content-wrapper">
                                    <div class="branch-content">
                                        <div class="branch-title">
                                            <h3>Introduction - <span>Prof. Kannan Moudgalya</span></h3>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article class="branch">
                                <div class="branch-icon">
                                    <div class="branch-icon-container">
                                        <i class="fa fa-microphone" style="padding-left: 11px;"></i> 
                                    </div>
                                </div>
                                <div class="branch-time-box"><time>10:00</time></div>
                                <div class="branch-content-wrapper">
                                    <div class="branch-content">
                                        <div class="branch-title">
                                            <h3><span>Instructions for the workshop</span></h3>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article class="branch">
                                <div class="branch-icon">
                                    <div class="branch-icon-container">
                                        <i class="fa fa-coffee"></i> 
                                    </div>
                                </div>
                                <div class="branch-time-box"><time>10:30</time></div>
                                <div class="branch-content-wrapper">
                                    <div class="branch-content">
                                        <div class="branch-title">
                                            <h3>Tea break</h3>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article class="branch">
                                <div class="branch-icon">
                                    <div class="branch-icon-container">
                                        <i class="fa fa-video-camera"></i> 
                                    </div>
                                </div>
                                <div class="branch-time-box"><time>10:45</time></div>
                                <div class="branch-content-wrapper">
                                    <div class="branch-content">
                                        <div class="branch-title">
                                            <h3><span>GChemPaint workshop</span></h3>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article class="branch">
                                <div class="branch-icon">
                                    <div class="branch-icon-container">
                                        <i class="fa fa-video-camera"></i> 
                                    </div>
                                </div>
                                <div class="branch-time-box"><time>12:00</time></div>
                                <div class="branch-content-wrapper">
                                    <div class="branch-content">
                                        <div class="branch-title">
                                            <h3>Jmol workshop</h3>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article class="branch">
                                <div class="branch-icon">
                                    <div class="branch-icon-container">
                                        <i class="fa fa-cutlery" style="padding-left: 10px;"></i> 
                                    </div>
                                </div>
                                <div class="branch-time-box"><time>13:15</time></div>
                                <div class="branch-content-wrapper">
                                    <div class="branch-content">
                                        <div class="branch-title">
                                            <h3><span>Lunch break</span></h3>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article class="branch">
                                <div class="branch-icon">
                                    <div class="branch-icon-container">
                                        <i class="fa fa-laptop"></i> 
                                    </div>
                                </div>
                                <div class="branch-time-box"><time>14:00</time></div>
                                <div class="branch-content-wrapper">
                                    <div class="branch-content">
                                        <div class="branch-title">
                                            <h3>Hands-on session</h3>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article class="branch">
                                <div class="branch-icon">
                                    <div class="branch-icon-container">
                                        <i class="fa fa-coffee"></i> 
                                    </div>
                                </div>
                                <div class="branch-time-box"><time>16:00</time></div>
                                <div class="branch-content-wrapper">
                                    <div class="branch-content">
                                        <div class="branch-title">
                                            <h3><span>Tea break</span></h3>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article class="branch">
                                <div class="branch-icon">
                                    <div class="branch-icon-container">
                                        <i class="fa fa-laptop"></i> 
                                    </div>
                                </div>
                                <div class="branch-time-box"><time>16:15</time></div>
                                <div class="branch-content-wrapper">
                                    <div class="branch-content">
                                        <div class="branch-title">
                                            <h3>Interactive session</h3>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article class="branch">
                                <div class="branch-icon">
                                    <div class="branch-icon-container">
                                        <i class="fa fa-comments-o"></i> 
                                    </div>
                                </div>
                                <div class="branch-time-box"><time>16:30</time></div>
                                <div class="branch-content-wrapper">
                                    <div class="branch-content">
                                        <div class="branch-title">
                                            <h3><span>Feedback and Certificate distribution</span></h3>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article class="branch">
                                <div class="branch-icon">
                                    <div class="branch-icon-container">
                                        <i class="fa fa-sun-o"></i> 
                                    </div>
                                </div>
                                <div class="branch-time-box"><time>17:00</time></div>
                                <div class="branch-content-wrapper">
                                    <div class="branch-content">
                                        <div class="branch-title">
                                            <h3>Closing session</h3>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </section>
                    </div>
                </div><!-- schedule part end -->
                <div id="organizer"></div><!-- organizer part start -->
                <div class="bs-callout bs-callout-info">
                    <h2 class="bs-title">Organizer</h2>
                    <p>Open Source Chemistry Software workshop for College Teachers is organized by <a href="/" target="_blank">Spoken Tutorial Project</a>.</p><p>This project is part of the National Mission on Education through ICT, funded by MHRD Govt of India.</p>
                </div><!-- organizer part end -->
                <div id="contact"></div><!-- contact part start -->
                <div class="bs-callout bs-callout-info">
                    <h2 class="bs-title">Contact</h2>
                    <p>
                        <i class="fa fa-2 fa-envelope"></i>&nbsp;&nbsp; 
                        <a href="mailto:jmol.gcp.workshop29@gmail.com" target="_blank">
                            jmol [dot] gcp [dot] workshop29 [at] gmail [dot] com
                        </a>
                    </p>
                    <p>
                        <i class="fa fa-2 fa-phone"></i>&nbsp;&nbsp; 
                        022 - 25764229
                    </p>
                </div><!-- contact part end -->
                <div id="gmap"></div><!-- map part start -->
                <hr>
                <div class="venue">
                    <h2 style="text-align:center">Venue</h2>
                    <article>
                        <h3 style="text-align:center; line-height: 36px;">
                            LCH‐11 (LH‐101) Lecture Hall Complex,<br>
                            IIT Bombay, Powai, India.
                        </h3>
                        <p style="text-align:center">
                            <em> Links: </em>
                            <a href="http://www.iitb.ac.in/" target="_blank">
                                <span class="label label-primary">IITB Website</span>
                            </a>&nbsp;&nbsp;&nbsp;
                        </p>
                        <hr>
                </div>
                <div class="row location bs-callout bs-callout-info" id="explore">
                    <h2 class="bs-title">A quick guide</h2>
                    <p>Powai is an eastern suburb in North-Eastern part of Mumbai.</p>
                    <div class="col-lg-4 col-md-4 direction-col">
                        <div class="explore">
                            <div class="heading">Directions</div>
                            <div class="routes">
                                <ul>
                                    <li class="active"><a href="https://www.google.com/maps/embed?pb=%211m29%211m12%211m3%211d60317.08385719556%212d72.84749036445493%213d19.115649971789658%212m3%211f0%212f0%213f0%213m2%211i1024%212i768%214f13.1%214m14%211i0%213e6%214m5%211s0x3be7c85099bd2947%3A0x1ecc1a60c474a8ae%212sChhatrapati+Shivaji+International+Airport%2C+Mumbai%2C+Maharashtra+400099%213m2%211d19.090177%212d72.86873899999999%214m5%211s0x3be7c7f2279eca5d%3A0x802e14519ecbcb59%212sIIT+Main+Gate%2C+IIT+Area%2C+Powai%2C+Mumbai%2C+Maharashtra%213m2%211d19.125273999999997%212d72.916602%215e0%213m2%211sen%212sin%214v1413785408044#frc" target="map" id="airport"><i class="fa fa-plane"></i>&nbsp;&nbsp; From Airport</a></li>
                                    <li><a href="https://www.google.com/maps/embed?pb=%211m29%211m12%211m3%211d241399.4487405205%212d73.01275866424207%213d19.025608463914345%212m3%211f0%212f0%213f0%213m2%211i1024%212i768%214f13.1%214m14%211i0%213e6%214m5%211s0x3be7cedcbfb4871d%3A0x2326e3e6409936d9%212sDadar%2C+Dadar+West%2C+Dadar%2C+Mumbai%2C+Maharashtra+400028%213m2%211d19.016339%212d72.840289%214m5%211s0x3be7c7f2279eca5d%3A0x802e14519ecbcb59%212sIIT+Main+Gate%2C+IIT+Area%2C+Powai%2C+Mumbai%2C+Maharashtra%213m2%211d19.125273999999997%212d72.916602%215e0%213m2%211sen%212sin%214v1413785236748#frc" target="map" id="dadar"><i class="fa fa-car"></i>&nbsp; From Dadar Station</a></li>
           <li><a href="https://www.google.com/maps/embed?pb=%211m29%211m12%211m3%211d60299.156950328965%212d72.91689031522807%213d19.164722586394745%212m3%211f0%212f0%213f0%213m2%211i1024%212i768%214f13.1%214m14%211i0%213e6%214m5%211s0x3be7b8df51719ccf%3A0x3b3afba7961341f8%212sThane+Junction%2C+Station+Rd%2C+Shivaji+Nagar%2C+Thane+West%2C+Thane%2C+Maharashtra+400601%213m2%211d19.186065%212d72.97595199999999%214m5%211s0x3be7c7f2279eca5d%3A0x802e14519ecbcb59%212sIIT+Main+Gate%2C+IIT+Area%2C+Powai%2C+Mumbai%2C+Maharashtra%213m2%211d19.125273999999997%212d72.916602%215e0%213m2%211sen%212sin%214v1413785553786#frc" target="map" id="thane"><i class="fa fa-car"></i>&nbsp; From Thane Station</a></li>
           <li><a href="https://www.google.com/maps/embed?pb=%211m29%211m12%211m3%211d60323.470700406935%212d72.84118451437205%213d19.0981374832322%212m3%211f0%212f0%213f0%213m2%211i1024%212i768%214f13.1%214m14%211i0%213e6%214m5%211s0x3be7c919c72bb2b7%3A0x751375af3cbd1a7d%212sBandra+Terminus%2C+Naupada%2C+Bandra+East%2C+Mumbai%2C+Maharashtra+400051%213m2%211d19.062369999999998%212d72.84102399999999%214m5%211s0x3be7c7f2279eca5d%3A0x802e14519ecbcb59%212sIIT+Main+Gate%2C+IIT+Area%2C+Powai%2C+Mumbai%2C+Maharashtra%213m2%211d19.125273999999997%212d72.916602%215e0%213m2%211sen%212sin%214v1413785651936#frc" target="map" id="bandra"><i class="fa fa-car"></i>&nbsp; From Bandra Terminus</a></li>
           <li><a href="https://www.google.com/maps/embed?pb=%211m29%211m12%211m3%211d60323.92457625284%212d72.87668816436619%213d19.09689238404547%212m3%211f0%212f0%213f0%213m2%211i1024%212i768%214f13.1%214m14%211i0%213e6%214m5%211s0x3be7c89be8e89fdb%3A0x66694e36862ff3a1%212sLokmanya+Tilak+Terminus%2C+Pipeline+Rd%2C+Kurla+West%2C+Mumbai%2C+Maharashtra+400089%213m2%211d19.069699%212d72.89160799999999%214m5%211s0x3be7c7f2279eca5d%3A0x802e14519ecbcb59%212sIIT+Main+Gate%2C+IIT+Area%2C+Powai%2C+Mumbai%2C+Maharashtra%213m2%211d19.125273999999997%212d72.916602%215e0%213m2%211sen%212sin%214v1413785819499#frc" target="map" id="tilak"><i class="fa fa-car"></i>&nbsp; From Lokmanya Tilak Terminus</a></li>
           <li> <a href="https://www.google.com/maps/embed?pb=%211m29%211m12%211m3%211d120686.36851963839%212d72.80471859141556%213d19.043985857528995%212m3%211f0%212f0%213f0%213m2%211i1024%212i768%214f13.1%214m14%211i0%213e6%214m5%211s0x3be7ce6e85a4d6c1%3A0x100690de66141545%212sMumbai+Central%2C+Arya+Nagar%2C+Tulsiwadi%2C+Mumbai%2C+Maharashtra%213m2%211d18.970715%212d72.81942099999999%214m5%211s0x3be7c7f2279eca5d%3A0x802e14519ecbcb59%212sIIT+Main+Gate%2C+IIT+Area%2C+Powai%2C+Mumbai%2C+Maharashtra%213m2%211d19.125273999999997%212d72.916602%215e0%213m2%211sen%212sin%214v1413785921908#frc" target="map" id="central"><i class="fa fa-car"></i>&nbsp; From Mumbai Central</a></li>
           <li class="last"><a href="https://www.google.com/maps/embed?pb=%211m29%211m12%211m3%211d120693.24362908115%212d72.81121499123424%213d19.034527972952493%212m3%211f0%212f0%213f0%213m2%211i1024%212i768%214f13.1%214m14%211i0%213e6%214m5%211s0x3be7d1d8c547f833%3A0x766844a933a779b1%212sCST%2C+Dadabhai+Naoroji+Rd%2C+Dhobi+Talao%2C+Chhatrapati+Shivaji+Terminus+Area%2C+Fort%2C+Mumbai%2C+Maharashtra+400001%213m2%211d18.940970999999998%212d72.834654%214m5%211s0x3be7c7f2279eca5d%3A0x802e14519ecbcb59%212sIIT+Main+Gate%2C+IIT+Area%2C+Powai%2C+Mumbai%2C+Maharashtra%213m2%211d19.125273999999997%212d72.916602%215e0%213m2%211sen%212sin%214v1413785988064#frc" target="map" id="shivaji"><i class="fa fa-car"></i>&nbsp; From Chhatrapati Shivaji Terminus</a></li>
           <li class="last"><a href="https://www.google.com/maps/embed?pb=%211m29%211m12%211m3%211d7538.997595867773%212d72.91382817938636%213d19.12963136516508%212m3%211f0%212f0%213f0%213m2%211i1024%212i768%214f13.1%214m14%211i0%213e6%214m5%211s0x3be7c7f2279eca5d%3A0x802e14519ecbcb59%212sIIT+Main+Gate%2C+IIT+Area%2C+Powai%2C+Mumbai%2C+Maharashtra%213m2%211d19.125273999999997%212d72.916602%214m5%211s0x3be7c7f420dd7941%3A0x34f8dc9cc70dea5%212sLecture+Hall+Complex%2C+Infinite+Corridor%2C+Academic+Section%2C+IIT+Area%2C+Powai%2C+Mumbai%2C+Maharashtra+400076%213m2%211d19.1307656%212d72.9166668%215e0%213m2%211sen%212sin%214v1414573143073#frc" target="map" id="lch"><i class="fa fa-bus"></i>&nbsp;&nbsp; From IIT Main Gate</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-8 map-col">
                        <div class="map">
                            <iframe frameborder="0" style="height: 100%; width: 100%;" name="map" id="frc" src="https://www.google.com/maps/embed?pb=%211m29%211m12%211m3%211d60317.08385719556%212d72.84749036445493%213d19.115649971789658%212m3%211f0%212f0%213f0%213m2%211i1024%212i768%214f13.1%214m14%211i0%213e6%214m5%211s0x3be7c85099bd2947%3A0x1ecc1a60c474a8ae%212sChhatrapati+Shivaji+International+Airport%2C+Mumbai%2C+Maharashtra+400099%213m2%211d19.090177%212d72.86873899999999%214m5%211s0x3be7c7f2279eca5d%3A0x802e14519ecbcb59%212sIIT+Main+Gate%2C+IIT+Area%2C+Powai%2C+Mumbai%2C+Maharashtra%213m2%211d19.125273999999997%212d72.916602%215e0%213m2%211sen%212sin%214v1413785408044#frc"></iframe>
                        </div>
                    </div>
                </div><!-- map part end -->
                <section id="register" class="col-center"><!-- register part start -->
                    <header><h2>Registration</h2></header><br /><br />
                    <article>
                        <h4>Registration for the conference is now open.</h4>
                        <a class="btn register-now" href="http://spokentutorial-workshop-gcp-jmol.doattend.com/" target="_blank"></a>
                    </article>
                    <div class="table-responsive regn-tbl">
                        <table class="table table-bordered">
                            <tr class="thinfo">
                                <th class="col-center">Regular Registration (only for college Teachers)</th>
                                <th class="col-center">Registration Fee</th>
                            </tr>
                            <tr class="tinfo col-left">
                                <td>On or Before <b>27 Nov 2014<b></td>
                                <td class="col-right">Rs. <b>300</b>/-</td>
                            </tr>
                        </table>
                    </div>
                </section><!-- register part end -->
            </div><!-- #container-fluid end -->
        </div><!-- #page-content-wrapper end -->
    </div><!-- #wrapper end -->
{% endblock %}
{% block jsblock %}
    <script type="text/javascript" src="{% static 'spoken/js/kinetic.js' %}"></script>
    <script type="text/javascript" src="{% static 'spoken/js/jquery.final-countdown.min.js' %}"></script>
    <script type="text/javascript">
        var end = new Date('2014-11-29 08:58:00'.replace(' ', 'T')).getTime() * 0.001;
        var now = new Date().getTime() * 0.001;
        $('.countdown').final_countdown({
            'end': end,
            'now': now
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('.site-home').mouseover(function() {
                $(this).css('color', 'orange');
                $('.site-home-title').css('color', 'white');
            });
            $('.site-home').mouseleave(function() {
                $(this).css('color', 'white');
                $('.site-home-title').css('color', 'orange');
            });
        });
    </script>
{% endblock %}
