{% extends 'spoken/templates/base.html' %}
{% load widget_tweaks %}
{% load currency %}
{% load static %}
{% block title %}Payment Statussss{% endblock %}
{% block compressinlinecssblock %}
    <style>
        label{
          /*border: 2px solid red;*/
        }
    </style>
{% endblock %}
{% block content %}

<form id="currency_switcher" method="POST" >{% csrf_token %}
  <select name="currency" onchange="$('#currency_switcher').submit()">
    {% for curr in CURRENCIES %}
      <option value="{{ curr.code }}" {% ifequal curr.code CURRENCY.code %}selected="selected"{% endifequal %}>
        {{ curr.symbol }} {{ curr.name }}
      </option>
    {% endfor %}
  </select>
  <noscript>
    <input type="submit" value="Set" />
  </noscript>
</form>

<form >
          {% csrf_token %}
          {% for field in form %}
        <div class="form-group {%if field.errors %}alert alert-danger{%endif%}">
            {{ field.errors }}
            {{ field.label_tag }}
            {% render_field field class="form-control" %}
        </div>
        {% endfor %}

          <input type="submit" value="Pay">
      </form>
{%endblock%}
{% block jsblock %}
<script type="text/javascript">
 $( document ).ready(function() {

  $('#id_currency').change(function(){
    

    });

  $('#id_country').change(function(){
    
    });


  });

 </script>
{% endblock %}
