<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <div class="email-body">
        <h2>Spoken Tutorial : Transaction Details</h2>
        <p>Dear {{ transaction_details.name }},</p>
        <p>{{ transaction_details.status_msg }}</p>
        <p>Below are the details:</p>

        <table class="transaction-details">
            <tr>
                <th>Transaction ID</th>
                <td>{{ transaction_details.transId }}</td>
            </tr>
            <tr>
                <th>Reference</th>
                <td>{{ transaction_details.refNo }}</td>
            </tr>

            
            <tr>
                <th>Amount</th>
                <td>{{ transaction_details.amount }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ transaction_details.date }}</td>
            </tr>
        </table>

        <p>If you have any questions, feel free to contact our support team.</p>

        <p>Best regards,</p>
        <p>Spoken Tutorial Team</p>
    </div>
</body>
</html>
