.tutorial-search-form {
	margin-top: 20px
}

.result-record .thumb img {
	border: 5px solid #E5E5E5
}

.reset-filter {
	margin-top: 10px
}

.form-group {
	margin-bottom: 0px
}

.download-insl-sheet {
	color: rgb(21, 145, 13)
}

.download-insc-sheet {
	color: orange
}

