<div class="columns is-centered">
  <div class="column is-8">
    <p class="title">{{ tutorialName }}</p>
  </div>

  <div class="column is-4">
    <div class="field is-grouped is-grouped-multiline">
      <div class="control">
        <a routerLink="/">
          <app-badge-button faClass="fa fa-chevron-left" textClass="is-info" text="Go Back"></app-badge-button>
        </a>
      </div>
      <div class="control" *ngIf="nav!='create'">
        <a routerLink="/{{nav}}/{{tid}}/{{lid}}/{{ tutorialName }}">
          <app-badge-button faClass="fa fa-eye" textClass="is-info" text="View Mode"></app-badge-button>
        </a>
      </div>
    </div>
    <!-- <div class="buttons">
      <a class="button is-info" routerLink="/">
        <i class="fa fa-chevron-left"></i>&nbsp;Go Back
      </a>
      <a *ngIf="nav!='create'" class="button is-info" routerLink="/{{nav}}/{{tid}}/{{lid}}/{{ tutorialName }}">
        <i class="fa fa-eye"></i>&nbsp;View Mode
      </a>
    </div> -->
  </div>
</div>

<div class="columns">
  <div class="column">
    <div class="timeline">

      <ng-container *ngFor="let slide of slides; let i = index">
        <app-script-slide [slide]="slide" [index]="i" [nav]="nav" (removeSlideEmitter)="onRemoveSlide($event)"
          (saveSlideEmitter)="onSaveSlide($event)" (insertSlideEmitter)="onInsertSlide($event)"
          [disableAutoSave]="disableAutoSave" (moveSlideEmitter)="onMoveSlide($event)"></app-script-slide>
      </ng-container>


      <div class="timeline-item is-pointer">
        <div class="timeline-marker is-info is-icon" (click)="addSlide()">
          <i class="fa fa-plus"></i>
        </div>

        <div class="timeline-content">
          <div class="columns">

            <div class="column">
              <a class="button heading is-outlined" (click)="addSlide()">Add new Slide</a>
            </div>
            <div *ngIf="displaySave" class="column">
              <a class="button heading is-outlined is-primary" [swal]="{
                            title: 'Save Script',
                            text: 'Are you sure?',
                            type: 'info',
                            showCancelButton: 'true',
                            focusCancel: 'true',
                            confirmButtonText: 'Yes! Save it.',
                            cancelButtonText: 'No!'
                            }" (confirm)="saveScript()">
                Save Script
              </a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
