<div class="container has-margin-top-50">
  <div class="section">
    <div class="columns is-centered is-mobile">
      <div class="column">
        <div class="timeline">

                  <a class="button is-info" style="width:150px;margin-left:1000px" routerLink="/" >
                    <i class="fa fa-arrow-left"></i>&nbsp;Go Back
                  </a><br> 
                  <div *ngIf="nav!='create'">
                  <a class="button is-info" style="width:150px;margin-left:1000px" routerLink="/{{nav}}/{{id}}" >{{nav}}
                  </a>
                  </div>
                  <br>
                  
          <ng-container *ngFor="let slide of slides; let i = index">
            <app-script-slide 
              [slide]="slide" 
              [index]="i"
              (removeSlideEmitter)="onRemoveSlide($event)"
            ></app-script-slide>
          </ng-container>
          <div class="timeline-item is-pointer">
            <div class="timeline-marker is-info is-icon" (click)="addSlide()">
              <i class="fa fa-plus"></i>
            </div>
            <div class="timeline-content">
              <div class="columns">
                <div class="column">
                  <a class="button heading is-outlined" (click)="addSlide()">Add new Slide</a>
                </div>

                <div class="column">
                  <a 
                    class="button heading is-outlined is-primary"
                    [swal]="{ title: 'Save Script',
                              text: 'Are you sure?',
                              type: 'info',
                              showCancelButton: 'true',
                              focusCancel: 'true',
                              confirmButtonText: 'Yes! Save it.',
                              cancelButtonText: 'No!'
                            }"
                    (confirm)="saveScript()"
                  >Save Script</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
