

<html>
<head>
<title>
	 {% block title %}
      Spoken Tutorial Forums
      {% endblock %}
</title>
        <link rel="stylesheet" href="../../../includes/css/bootstrap_forum.min.css" type="text/css" media="screen" charset="utf-8" />
         <link rel="stylesheet" href="../../../includes/css/slick.css" type="text/css" media="screen" charset="utf-8" />
        <link rel="stylesheet" href="../../../includes/css/main_forum.css" type="text/css" media="screen" charset="utf-8" />
        <link rel="stylesheet" href="../../../includes/css/nice-bar.css" type="text/css" media="screen" charset="utf-8" />
      <link rel="stylesheet" href="../../../includes/css/theme.blue.css" type="text/css" media="screen" charset="utf-8" />
</head>
<body>
	 <div id="page-wrapper">
        <div id="header-wrapper">
            <div id="header-inner">
                <nav class="navbar navbar-default" role="navigation">
                    <div class="container">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                              <span class="sr-only">Toggle navigation</span>
                              <span class="icon-bar"></span>
                              <span class="icon-bar"></span>
                              <span class="icon-bar"></span>
                            </button>
                            <div class="navbar-brand">
                                <img id="logo" src="../../../includes/images/logo.png">
                                Spoken Tutorial Forums
                                </div>
                        </div>
                        </div> <!-- /.container -->
                </nav>
            </div> <!-- /#header-inner -->
        </div>
        <div id="content-wrapper">
            <div id="content-inner" class="container">
                <div id="content" class="col-lg-12 col-md-12 col-sm-12">
                    {% block content %}
                    <div class="row">
    <div class="question-wrapper col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="question ">
        <div class="title ">
           {{ question.title }}
        </div>
        
        <div id="questionNicPanel"></div>
        <div class="body">
            {{ question.body|safe }}
        </div>
        <br>
        
        <span class="category">
            <small>
                <a>
                    {{ question.category }}
                </a>   
            </small>
        </span>
        
        <span class="tutorial">
            <small>
            <a>
                    {{ question.tutorial}}
             </a>       
            </small>
        </span>
        
        <span class="minute_range {% if question.minute_range == 'None' %}hideme{% endif %}">
            <small>
            <a>
                    {{ question.minute_range }} min
             </a>       
            </small>
        </span>
        
        <span class="second_range {% if question.minute_range == 'None' %}hideme{% endif %}">
            <small>
                    <a>
                    {{ question.second_range }} sec
                    </a>
            </small>
        </span>
       
        
        <span class="meta">
            <small>
                <i>
                    {{ question.date_created|date:"d-m-y" }}, {{ question.date_created|time }}
                </i>
            </small>
            
            <span class="user">
                {{ question.user }}
            </span>
        </span>
    </div> <!-- /.question -->
    </div>
</div> 
{% if answer %}
<h4><u>Answers:</u></h4>
<div id="answerPanelWrapper" style="display:none;">
    <div id="answerNicPanel" style="display:none;"></div>
</div>

<div id="commentPanelWrapper" style="display:none;">
    <div id="commentNicPanel" style="display:none;"></div>
</div>
{% for ans in answer %}
<div class="row">
    <div class="answer-wrapper col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="answer " id="answer{{ans.id}}">
            
            <div class="body" id="body{{ ans.id }}">
                {{ ans.body|safe }}
            </div>
            
            <span class="meta">
                <small>
                    <i>
                        {{ ans.date_created|date:"d-m-y" }}, {{ ans.date_created|time }}
                    </i>
                </small>
                
                <span class="user">
                    {{ ans.user }}
                </span>
            </span>
        </div> <!-- /.answer -->
        
        <div class="row">
            <div class="comments pull-right col-lg-11 col-md-11 col-sm-11 col-xs-11">
                <!-- displaying comments -->
                {% for comment in ans.answercomment_set.all %}
                <div class="comment" id="comment{{ comment.id }}">
                    <div class="body" id="cbody{{ comment.id }}">
                        {{ comment.body|safe }}
                    </div>
                    
                    <span class="meta">
                        <small>
                            <i>
                                {{ comment.date_created|date:"d-m-y" }}, {{ comment.date_created|time }}
                            </i>
                        </small>
                        
                        <span class="user">
                            {{ comment.user }}
                        </span>
                    </span>
                </div> <!-- /.comment -->
                {% endfor %}
                
                
                <!-- form to add comment -->
      
            </div> <!-- comments -->
        </div> <!-- /.row -->
        <br> <hr>
    </div> <!-- /.answer-wrapper -->
</div> <!-- /.row -->
{% endfor %}
{% else %}
            <p style=" text-align: center; padding: 40px"> No answers yet</p>
        {% endif %}
            <a href="http://forums.spoken-tutorial.org/question/{{ question.id }}/{{ question.title }}.replace(' ','-')/ " target="_blank">Click here to reply/comment online</a>
                    {% endblock %}
                </div> <!-- /#content -->
            </div> <!-- /#content-inner -->
        </div>
        <div id="footer-wrapper" class="container">
            <div id="footer-inner" class="col-lg-12 col-md-12 col-sm-12">
                <div class="cc">
                    <a class="cc-logo" rel="license">
                        <img src="../../../includes/images/cc-logo-88x31.png" alt="CC logo"> 
                    </a> Spoken Tutorial Forum by <a href="http://www.iitb.ac.in" target="_blank">IIT Bombay</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/" target="_blank">Creative Commons Attribution-ShareAlike 4.0 International License</a>
                </div> 
            </div> <!-- /#footer-inner -->
        </div> <!-- /#footer-wrapper -->
    </div> 
</body>
</html>
