{% extends 'spoken/templates/base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block title %}CD Content Creation{% endblock %}
{% load announcements %}
{% block cssblock %}
    <style type="text/css">
        .add-foss{margin-right: 15px;}
        #id_language {min-height: 180px;}
        .delete-btn{padding: 0;color: red;}
        #user_file_size{padding-bottom: 10px;}
        .rate-chart{overflow: hidden;}
        .rate-chart *{overflow: hidden;}
        .payment-details{font-weight: bold;}
        .display-foss{height: auto;overflow:hidden;}
        #key-btn{
            border: 2px solid #286090;
            font-weight: bold;
            font-size: 1rem;
            color: #286090;
            background-color: white;
            padding: 5px 20px 5px 20px;
            font-family: "Times New Roman", Times, serif;
            font-family: Arial, Helvetica, sans-serif;
            margin-left: 20px;
            border-radius: 5px;
        }
    </style>
{% endblock %}
{% block heading %}
<span>CD Content Creation</span>
{% if user.is_authenticated %}
<span>
  <a data-toggle="collapse" href="#collapseKey" role="button" aria-expanded="false" aria-controls="collapseKey" id="key-btn">
    FOSS Purchase KEY
  </a>
</span>
{% endif %}
{% endblock %}
{% block announcement %}
    <div id="slideshow">
            {% get_notifications as notifications %}
            {% if notifications %}
                {% for notification in notifications %}
                    <div class="announcement alert" style="background:#{% if notification.bg_color %}{{ notification.bg_color }}{% else %}1B83BC{% endif %};">
                        <div class="inner">
                            <div class="text-container">
                                {{ notification.body|safe }}
                                <!--<button type="button" class="close" data-dismiss="alert">&times;</button>-->
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
    </div>
{% endblock %}
{% block search %} {% endblock %}

{% block content %}
    <div class="row">
  <div class="col-sm-12">
    <div class="collapse" id="collapseKey">
  <div class="card card-body">
    <table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Key</th>
      <th scope="col">FOSS Courses</th>
      <th scope="col">Expiry</th>
    </tr>
  </thead>
  <tbody>
    {% for item in payee_list %}
    <tr>
      <th scope="row">{{forloop.counter}}</th>
      <td>{{item.key}}</td>
      <td>
          {% for p in item.cdfosslanguages_set.all %}
          {% if forloop.last %}
          {{p.foss}} ({{p.lang}})
          {% else %}
          {{p.foss}} ({{p.lang}}) , 
          {% endif %}
    {% endfor  %}
      </td>
      <td>{{item.expiry}}</td>
    </tr>
    {% endfor  %}
  </tbody>
</table>
    
  </div>
</div>
  </div>
</div>
    <form role="form" method="post" enctype="multipart/form-data" class="cdcontentform form-horizontal">
        <div class="row well bs-component">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="alert alert-danger" role="alert">
                  <strong>Note:</strong> The maximum file size to download is 1 GB.
                </div>
                <fieldset>
                    {% csrf_token %}
                    <div class="form-group">
                        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 col-lg-offset-3 col-md-offset-3 col-sm-offset-3">
                            {{ form.selected_foss.errors }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="id_foss_category" class="col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label">FOSS Category:</label>
                        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                            {% render_field form.foss_category class+="form-control foss_category" tabindex="1" %}
                            {{ form.foss_category.errors }}
                            <small>Please select FOSS</small>
                            {% render_field form.selected_foss class+='selected_foss' %}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="id_level" class="col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label">Level:</label>
                        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                            {% render_field form.level class+="form-control level" tabindex="2" %}
                            {{ form.level.errors }}
                            <small>Please select the Level</small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="id_language" class="col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label">Languages: <span class='ajax-refresh ajax-refresh-language'><i class="fa fa-2 fa-refresh fa-spin"></i></span></label>
                        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                            {% render_field form.language class+="form-control language" tabindex="3" %}
                            {{ form.language.errors }}
                            <small>For selecting multiple languages, please use </small>
                            <small><b>&lt;CTRL&gt; + Click</b>.</small>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 col-lg-offset-3 col-md-offset-3 col-sm-offset-3">
                            <span class='ajax-refresh ajax-refresh-add-foss'><i class="fa fa-2 fa-refresh fa-spin"></i></span>
                            <input type="button" class="add_foss_lang btn btn-primary" value="Add selected FOSS"  tabindex="4" />
                            <input type="submit" class="btn btn-primary create_zip" value="Create ZIP file" tabindex="5" />
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="table-responsive">
                    <table class="added-foss table table-condensed table-bordered table-hover" id="added-foss">
                    </table>
                </div>
		<div id="rate-div" style="display: none">
                    <table class="rate-chart table table-condensed table-bordered table-hover">
			<thead>
  <tr>
    <th >File Size</th>
    <th >Rate</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td >< 100 mb</td>
    <td >100 INR</td>
  </tr>
  <tr>
    <td > > 100 mb</td>
    <td >250 INR</td>
  </tr>
</tbody>

<thead>
  <tr>
    <th id ="user_file_size"></th>
    <th>
	<span><input class="form-control" type="text" id="amount_to_pay" type="number" readonly></span>
        <input type="hidden" id="orig_value">
    </th>
  </tr>
</thead>
<thead >
  <tr>
    <td></td>
    <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#paymodal">
  Make Payment
</button>
</td>
</tr>
</thead>
</table>
    </div>
    <div class="download-link"></div>
    <div class="user-message"></div>
    </div>
</div>
</form>

<!-- Modal -->
  <div class="modal fade paymodal" id="paymodal" tabindex="-2" role="dialog" aria-labelledby="PaymentModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">

           <div class="modal-header">
        <h5 class="modal-title">Payment Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>      
        <div class="modal-body"> 
        <div class="row">
           <div class="col-sm-12">
               <form method="post" action="/donate/initiate_payment" class="form-horizontal">
                {% csrf_token %}
                    <div class="form-group col-sm-10">
                        {{ payment_form.name }}
                        <div class="invalid-feedback">
                            {{ payment_form.name.errors }}
                        </div>
                    </div>
                    <div class="form-group col-sm-10">
                            {{ payment_form.email }}
                            <div class="invalid-feedback">
                                {{ payment_form.email.errors }}
                            </div>
                    </div>
                    <div class="form-group col-sm-10">
                            {{ payment_form.country }}
                            <div class="invalid-feedback">
                                {{ payment_form.country.errors }}
                            </div>
                    </div>
                    <div class="form-group col-sm-10">
                            {{ payment_form.state }}
                            <div class="invalid-feedback">
                                {{ payment_form.state.errors }}
                            </div>
                    </div>
                    <div class="form-group col-sm-10">
                            {{ payment_form.gender }}
                            <div class="invalid-feedback">
                                {{ payment_form.gender.errors }}
                            </div>
                    </div>
                    <div class="form-group col-sm-10">
                            {{ payment_form.amount }}
                            <div class="invalid-feedback">
                                {{ payment_form.amount.errors }}
                            </div>
                    </div>
                    <div class="form-group col-sm-10">
                            {{ payment_form.foss_id }}
                    </div>
                    <div class="form-group col-sm-10">
                            {{ payment_form.language_id }}
                    </div>
                    
        
               
                <table id ="display-foss" class="added-foss table table-condensed table-bordered table-hover">
                </table>
                    <div class="col-sm-10">
                        {% if user.is_authenticated %}
                        <button  type= "submit" class="btn btn-primary mb-2 make-payment-btn">Make Payment</button>
                    {% else %}
                        <a  href= "/accounts/login/?next=/cdcontent" class="btn btn-primary mb-2 make-payment-btn">Please Login to make Payment</a> Or <a  href= "/accounts/register/?next=/cdcontent" class="btn btn-primary mb-2 make-payment-btn">Register</a>
                    {% endif %}
                    </div>
            </form>

           </div> 
        </div>    
            
        </div>
        <div class="modal-footer">
                
        </div>
      </div>
    </div>
  </div>

<!-- Modal -->
  <div class="modal fade alertmodal" id="alertmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
           <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
           <ul>
              <li>CD Content Download is now a paid service.</li>
              <li>If your college has already made the payment , please <a href="/accounts/login">Login</a> with your registered email address</li>
	      <ul><li>There is <b>NO Restriction</b> on your download size</li></ul>
              <li>If you are an individual , then we charge very nominal charge for download.</li>
              <ul>
		<li> Add your FOSS and make your payment accordingly</li>
		<li> This download will be available for <b>1 week</b> from the date of successful payment</li></ul>
           </ul>
        </div>
      </div>
    </div>
  </div>


{% endblock %}
{% block jsblock %}
<script src="{% static 'spoken/js/jquery.cookie.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function(){

            if($('.foss_category').val() == '') {
                $('.level').attr("disabled", "disabled");
                $('.language').attr("disabled", "disabled");
            }
            $('.foss_category').on("change", function(){
                $('.level').val('');
                $('.language').html('');
                if($('.foss_category').val() == '') {
                    $('.level').attr("disabled", "disabled");
                    $('.language').attr("disabled", "disabled");
                }else {
                    $('.level').removeAttr('disabled');
                }
            });

            $(".cdcontentform").on( "submit", function(event) {
                event.preventDefault();
                var url = $(location).attr('href');
                $('.download-link').html('<i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i><span class="sr-only">Loading...</span> please do not refresh the page, we are preparing your download link');
                var posting = $.post(url, $(this).serialize());

                posting.done(function(data) {
                    if(data.status) {
                        var downloadLink = '<a href="' + data.path + '" title="Download cd content zip">Click here</a> to download the cd content zip file';
                        $('.download-link').html(downloadLink);
                    } else {
                        var message = 'Something went wrong! please refresh the page and try again.'
                        $('.download-link').html(message);
                    }
                });
                posting.fail(function() {
                    var message = 'Something went wrong! please refresh the page and try again.'
                    $('.download-link').html(message);
                });
            });

            $('.level').on("change", function(){
                var foss = $('.foss_category').val();
                var level = $(this).val();
                $('.language').html('');
                $('.language').attr("disabled", "disabled");
                if(foss && level) {
                    $.ajax({
                        url: "/cdcontent/ajax-fill-languages/",
                        type: "POST",
                        data: {
                            foss: foss,
                            level: level
                        },
                        beforeSend: function() {
                            $('.ajax-refresh-language').show();
                        },
                        success: function(data) {
                            // loading languages
                            if(data) {
                                $('.language').html(data);
                                $('.language').removeAttr('disabled');
                            }
                            $('.ajax-refresh-language').hide();
                        }
                    });
                }
            });

            $('.add_foss_lang').on("click", function(){
                $('.added-foss').show();
                foss = $('.foss_category').val();
                level = $('.level').val();
                langs = JSON.stringify($('.language').val());
                selectedfoss = $('.selected_foss').val();
                if(foss && langs && level) {
                    $.ajax({
                        url: "/cdcontent/ajax-add-foss/",
                        type: "POST",
                        data: {
                            foss: foss,
                            langs: langs,
                            level: level,
                            selectedfoss: selectedfoss,
                        },
                        beforeSend: function() {
                            $('.add_foss_lang').css('display', 'none');
                            $('.ajax-refresh-add-foss').show();
                        },
                        success: function(data) {
                            data = JSON.parse(data);
                            if(data) {
                                data = JSON.stringify(data);
                                if(data != '{}') {
                                    $('.selected_foss').val(data);
                                     selectedfoss = $('.selected_foss').val();
                                } else {
                                    $('.selected_foss').val('');
                                }
                            }

                            selectedfoss: $('.selected_foss').val();
                            show_added_foss(selectedfoss);
                            $('.ajax-refresh-add-foss').hide();
                            $('.add_foss_lang').show();
                        }
                    });
                    $('.add_foss_lang').show();
                    $('.ajax-refresh-add-foss').hide();
                }
            });
        });


if ($.cookie('modal_status') != '1')
    {
    $('.alertmodal').modal('show');
    $.cookie('modal_status', '1',{ expires: null}); 
    }
  $('.create_zip').prop('disabled', true); 

        /* Slideshow */
        var stop = 1
        $('#slideshow').hover(function(){
            stop = 0
        }, function(){
            stop = 1
        });
        if($(".announcement").length > 1){
            $("#slideshow > div:gt(0)").hide();
            setInterval(function() {
              if(stop){
                  $('#slideshow > div:first')
                    .fadeOut(0)
                    .next()
                    .fadeIn(0)
                    .end()
                    .appendTo('#slideshow');
                 }
            },  5000);
        }
        $('.close').click(function(){
            $(".navbar-fixed-top").css({'top' : '0px', 'position' : 'fixed'});
            $("#header-wrapper").css({'height' : '0px'});
        });

$('#payee_name').on('change',function(){
var name = $('#payee_name').val();
if(name.length==0){
document.getElementById('nameHelp').style.display = 'block';
}
});

$('#payee_email').on('change',function(){
var email = $('#payee_email').val();
if(!email.includes("@")){
document.getElementById('emailHelp').style.display = 'block';
}

});

function show_added_foss(selected_foss){
    $.ajax({
                                url: "/cdcontent/ajax-show-added-foss/",
                                type: "POST",
                                data: {
                                    selectedfoss : selected_foss,
                                },
                                beforeSend: function() {
                                    $('.add_foss_lang').css('display', 'none');
                                    $('.ajax-refresh-add-foss').show();
                                },
                                success: function(data) {
                                    header = '<caption class="col-left"><b>Selected FOSS List:<span class="pull-right"> ~ Total Size : '+data[1]+'</span></b></caption><tr ><th>FOSS</th><th>Languages</th><th>Size</th>';
                                    if(data) {
                                        $('.added-foss').html(header + data[0]);
                                        
            var foss_table = document.getElementById("added-foss");
            var row_count = document.getElementById("added-foss").rows.length;
            for (var i = 0 ;i < row_count; i++) {
                var x = document.getElementById("added-foss").rows[i].cells.length;
                if (x==4) {
                    var content = '<button type="button" class="btn delete-btn" class="delete-foss" onclick="delete_foss(this)"><i class="fa fa-trash-o"></i></button>'
                    var td = document.getElementById("added-foss").rows[i].cells[3];
                    td.innerHTML = content;   
                }    
}

                                        if(data[2][0]=='UR') {
                                        var message = '<i>User not registered.<br> Kinldy <a href="/accounts/login">Login</a> if you are registered.</i>'
                                         $('.create_zip').prop('disabled', true);
                                         $('.user-message').html(message);
                     $("#rate-div").show();
                     $("#user_file_size").html("Foss Purchase (INR) ");

                                         document.getElementById("amount_to_pay").value = data[2][1];
                                         document.getElementById("orig_value").value = data[2][1];

                                          }
                                        
                                        if(data[2][0]=='RP') {
                                        var message = 'You are part of our paid service.<br> Happy Downloading.<br> Please click on <b>Create Zip file</b> to proceed.'
                                         $('.create_zip').prop('disabled', false);
                                         $('.user-message').html(message);
                                          }
                                        
                                        else {
                                        var message = '<i>Amount to be paid.</i>'
                                         $('.create_zip').prop('disabled', true);
                                         $('.user-message').html(message);
                                         $("#rate-div").show();
                                         $("#user_file_size").html("Foss Purchase (INR)");
                                         document.getElementById("amount_to_pay").value = data[2][1];
                                         document.getElementById("orig_value").value = data[2][1];
                                        }
                     if (Object.keys(JSON.parse(selectedfoss)).length === 0) {
                        document.getElementById("amount_to_pay").value = '0';
                     }
                     calculate_total_amt();

                                    }
                                    $('.ajax-refresh-add-foss').hide();
                                }
                            });
}
function delete_foss(elem){
    var foss_id = elem.parentNode.id;
    var foss_lang_obj = JSON.parse(selectedfoss);
    var foss_to_delete = foss_lang_obj[foss_id];
    var langs = foss_to_delete[0];
    var size = foss_to_delete[1];
    delete foss_lang_obj[foss_id];
    selectedfoss = JSON.stringify(foss_lang_obj);
    $('.selected_foss').val(selectedfoss);
    var add_foss_btn = document.getElementsByClassName("add_foss_lang");
    show_added_foss(selectedfoss);
    if (Object.keys(foss_lang_obj).length === 0) {
        $('.added-foss').hide();
        document.getElementById("amount_to_pay").value = '0';
    }
    $('.ajax-refresh-add-foss').hide();
    $('.add_foss_lang').show();
}

function send_data(){
var value = $('#amount_to_pay').val();
document.getElementById("mod_amount").value = value;
$(".paymodal").show();
}

$('.make-payment-btn').click(function(event){
var name = $('#payee_name').val();
var email = $('#payee_email').val();

if(!email.includes("@")){
document.getElementById('emailHelp').style.display = 'block';
document.getElementById('payHelp').style.display = 'block';
event.preventDefault();
}
if(name.length==0){
document.getElementById('nameHelp').style.display = 'block';
document.getElementById('payHelp').style.display = 'block';
event.preventDefault();

}
});
</script>

<script type="text/javascript">
     $('#paymodal').on('show.bs.modal', function (event) {
        
        var foss_lang_obj = JSON.parse(selectedfoss);
        var foss_selected = [];
        var langs_selected = [];

        for(var key in foss_lang_obj) {
            var value = foss_lang_obj[key];
            var langs = value[0];
            l = String(langs);
            foss_selected.push(key);
            langs_selected.push(value[0]);
            langs_selected.push('|');
        }
        var amount = $('#amount_to_pay').val();

        var modal = $(this);
        modal.find('.modal-body input[name="amount"]').val(amount)
        modal.find('.modal-body input[name="amount"]').prop("readonly", true);

        if (foss_selected && langs_selected) {
            modal.find('.modal-body input[name="foss_id"]').val(foss_selected);
            modal.find('.modal-body input[name="language_id"]').val(langs_selected);
            var row_count = document.getElementById("display-foss").rows.length;
        for (var i = 0 ;i < row_count; i++) {
            var x = document.getElementById("display-foss").rows[i].cells.length;
            if (x==4) {
                var row = document.getElementById("display-foss").rows[i];
                row.deleteCell(-1);
            }    
        }
    }        
});

</script>
{% endblock %}