{% extends 'spoken/templates/base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block title %}CD Content Creation{% endblock %}
{% load announcements %}
{% block cssblock %}
    <style type="text/css">
        .add-foss{
            margin-right: 15px;
        }
        #id_language {
            min-height: 180px;
        }
    </style>
{% endblock %}
{% block heading %}CD Content Creation{% endblock %}
{% block announcement %}
    <div id="slideshow">
            {% get_notifications as notifications %}
            {% if notifications %}
                {% for notification in notifications %}
                    <div class="announcement alert" style="background:#{% if notification.bg_color %}{{ notification.bg_color }}{% else %}1B83BC{% endif %};">
                        <div class="inner">
                            <div class="text-container">
                                {{ notification.body|safe }}
                                <!--<button type="button" class="close" data-dismiss="alert">&times;</button>-->
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
    </div>
{% endblock %}
{% block search %} {% endblock %}
{% block content %}
    <form role="form" method="post" enctype="multipart/form-data" class="cdcontentform form-horizontal">
        <div class="row well bs-component">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <div class="alert alert-danger" role="alert">
                  <strong>Note:</strong> The maximum file size to download is 1 GB.
                </div>
                <fieldset>
                    {% csrf_token %}
                    <div class="form-group">
                        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 col-lg-offset-3 col-md-offset-3 col-sm-offset-3">
                            {{ form.selected_foss.errors }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="id_foss_category" class="col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label">FOSS Category:</label>
                        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                            {% render_field form.foss_category class+="form-control foss_category" tabindex="1" %}
                            {{ form.foss_category.errors }}
                            <small>Please select FOSS</small>
                            {% render_field form.selected_foss class+='selected_foss' %}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="id_level" class="col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label">Level:</label>
                        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                            {% render_field form.level class+="form-control level" tabindex="2" %}
                            {{ form.level.errors }}
                            <small>Please select the Level</small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="id_language" class="col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label">Languages: <span class='ajax-refresh ajax-refresh-language'><i class="fa fa-2 fa-refresh fa-spin"></i></span></label>
                        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                            {% render_field form.language class+="form-control language" tabindex="3" %}
                            {{ form.language.errors }}
                            <small>For selecting multiple languages, please use </small>
                            <small><b>&lt;CTRL&gt; + Click</b>.</small>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 col-lg-offset-3 col-md-offset-3 col-sm-offset-3">
                            <span class='ajax-refresh ajax-refresh-add-foss'><i class="fa fa-2 fa-refresh fa-spin"></i></span>
                            <input type="button" class="add_foss_lang btn btn-primary" value="Add selected FOSS"  tabindex="4" />
                            <input type="submit" class="btn btn-primary" value="Create ZIP file"  tabindex="5" />
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <div class="table-responsive">
                    <table class="added-foss table table-condensed table-bordered table-hover">
                    </table>
                </div>
                <div class="download-link"></div>
            </div>
        </div>
    </form>
{% endblock %}
{% block jsblock %}
    <script type="text/javascript">
        $(document).ready(function(){
            if($('.foss_category').val() == '') {
                $('.level').attr("disabled", "disabled");
                $('.language').attr("disabled", "disabled");
            }
            $('.foss_category').on("change", function(){
                $('.level').val('');
                $('.language').html('');
                if($('.foss_category').val() == '') {
                    $('.level').attr("disabled", "disabled");
                    $('.language').attr("disabled", "disabled");
                }else {
                    $('.level').removeAttr('disabled');
                }
            });

            $(".cdcontentform").on( "submit", function(event) {
                event.preventDefault();
                var url = $(location).attr('href');
                $('.download-link').html('<i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i><span class="sr-only">Loading...</span> please do not refresh the page, we are preparing your download link');
                var posting = $.post(url, $(this).serialize());

                posting.done(function(data) {
                    console.log(data.status);
                    if(data.status) {
                        var downloadLink = '<a href="' + data.path + '" title="Download cd content zip">Click here</a> to download the cd content zip file';
                        $('.download-link').html(downloadLink);
                    } else {
                        var message = 'Something went wrong! please refresh the page and try again.'
                        $('.download-link').html(message);
                    }
                });
                posting.fail(function() {
                    var message = 'Something went wrong! please refresh the page and try again.'
                    $('.download-link').html(message);
                });
            });

            $('.level').on("change", function(){
                var foss = $('.foss_category').val();
                var level = $(this).val();
                $('.language').html('');
                $('.language').attr("disabled", "disabled");
                if(foss && level) {
                    $.ajax({
                        url: "/cdcontent/ajax-fill-languages/",
                        type: "POST",
                        data: {
                            foss: foss,
                            level: level
                        },
                        beforeSend: function() {
                            $('.ajax-refresh-language').show();
                        },
                        success: function(data) {
                            // loading languages
                            if(data) {
                                $('.language').html(data);
                                $('.language').removeAttr('disabled');
                            }
                            $('.ajax-refresh-language').hide();
                        }
                    });
                }
            });
            $('.add_foss_lang').on("click", function(){
                foss = $('.foss_category').val();
                level = $('.level').val();
                langs = JSON.stringify($('.language').val());
                console.log(langs)
                selectedfoss = $('.selected_foss').val();
                if(foss && langs && level) {
                    $.ajax({
                        url: "/cdcontent/ajax-add-foss/",
                        type: "POST",
                        data: {
                            foss: foss,
                            langs: langs,
                            level: level,
                            selectedfoss: selectedfoss,
                        },
                        beforeSend: function() {
                            $('.add_foss_lang').css('display', 'none');
                            $('.ajax-refresh-add-foss').show();
                        },
                        success: function(data) {
                            data = JSON.parse(data);
                            if(data) {
                                data = JSON.stringify(data);
                                if(data != '{}') {
                                    $('.selected_foss').val(data);
                                } else {
                                    $('.selected_foss').val('');
                                }
                            }
                            $.ajax({
                                url: "/cdcontent/ajax-show-added-foss/",
                                type: "POST",
                                data: {
                                    selectedfoss: $('.selected_foss').val(),
                                },
                                beforeSend: function() {
                                    $('.add_foss_lang').css('display', 'none');
                                    $('.ajax-refresh-add-foss').show();
                                },
                                success: function(data) {
                                    //data = JSON.parse(data);
                                    header = '<caption class="col-left"><b>Selected FOSS List:<span class="pull-right"> ~ Total Size : '+data[1]+'</span></b></caption><tr><th>FOSS</th><th>Languages</th><th>Size</th>';
                                    if(data) {
                                        $('.added-foss').html(header + data[0]);
                                        console.log(data);
                                    }
                                    $('.ajax-refresh-add-foss').hide();
                                }
                            });
                            $('.ajax-refresh-add-foss').hide();
                            $('.add_foss_lang').show();
                        }
                    });
                    $('.add_foss_lang').show();
                    $('.ajax-refresh-add-foss').hide();
                }
            });
        });
    </script>
    <script>
        /* Slideshow */
        var stop = 1
        $('#slideshow').hover(function(){
            stop = 0
        }, function(){
            stop = 1
        });
        if($(".announcement").length > 1){
            $("#slideshow > div:gt(0)").hide();
            setInterval(function() {
              if(stop){
                  $('#slideshow > div:first')
                    .fadeOut(0)
                    .next()
                    .fadeIn(0)
                    .end()
                    .appendTo('#slideshow');
                 }
            },  5000);
        }
        $('.close').click(function(){
            $(".navbar-fixed-top").css({'top' : '0px', 'position' : 'fixed'});
            $("#header-wrapper").css({'height' : '0px'});
        });
    </script>
{% endblock %}