{% load cdcontentdata %}{% load cmsdata %}<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>
            Search Tutorials | spoken-tutorial.org
        </title>
        <link rel="shortcut icon" href="../../includes/images/favicon.ico">
        <link rel="stylesheet" href="../../includes/css/bootstrap.min.css" type="text/css" media="screen" charset="utf-8">
        <link rel="stylesheet" href="../../includes/css/font-awesome.min.css" type="text/css" media="screen" charset="utf-8">
        <link rel="stylesheet" href="../../includes/css/main.css" type="text/css" media="screen" charset="utf-8">
        <style>
            .tutorial-search-form{
                margin-top: 20px;
            }
        </style>
    </head>
    <body>
        <div id="page-wrapper">
            <!-- header begin -->
            <div id="header-wrapper">
                <nav class="navbar yamm navbar-default navbar-fixed-top" role="navigation">
                    <div id="header-inner">
                        <div class="container-fluid">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav">
                                    <span class="sr-only">Toggle Navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <a href="">
                                    <img width="110px" src="../../includes/images/logo.png">
                                    Spoken <span class="title">Tutorial</span>
                                </a>
                            </div>
                        </div> <!-- /.container-fluid -->
                    </div> <!-- /#header-inner -->
                </nav>
            </div> <!-- /#header-wrapper -->
            <!-- header end -->
            <div id="content-wrapper">
                <div id="content-inner" class="container">
                    <div id="content" class="col-lg-12 col-md-12 col-sm-12">
                        <h4 class="page-title"><i class="fa fa-list-ul"></i> Search Tutorials</h4>
                        <div class="row well tab-content tutorial-search-form">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <form action="" method="POST" class="form-horizontal" style="margin-bottom: 0px;">
                                    <div class="form-group" style="margin-bottom: 0px;">
                                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                                            <select class="form-control foss" id="id_foss" name="foss" tabindex="1">
                                                <option value="0">Select Foss Category</option>
                                                {% for foss_key,foss_detail in foss_details.items %}
                                                    <option value="{{ foss_key }}"{% if foss_key == foss %} selected="selected"{% endif %}>{{ foss_details|get_foss_name:foss_key }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                                            <select class="form-control language" id="id_language" name="language" tabindex="1" value="">
                                                <option value="0">Select Language</option>
                                            </select>
                                        </div>
                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                            <input class="btn btn-primary search-btn" type="button" value="Submit">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div><!-- .row well tab-content tutorial-search-form -->
                        <div class="search-result col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 col-lg-10 col-md-10 col-sm-10 col-xs-10">
                        {% for record in collection %}
                            <div class="result-record row video-{{ record.tutorial_detail.foss_id }} video-{{ record.tutorial_detail.foss_id }}-{{ record.language_id }} language-{{ record.language_id }}">
                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 thumb">
                                    <a target="_blank" href="../../videos/{{ record.tutorial_detail.foss_id }}/{{ record.tutorial_detail_id }}/show-video-{{ record.language.name }}.html" class="thumb"><img width="100%" src="../../includes/images/thumb-even.png"></a>
                                </div>
                                <div class="info col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                    <div class="title"><h4>{{ forloop.counter }}. <a target="_blank" href="../../videos/{{ record.tutorial_detail.foss_id }}/{{ record.tutorial_detail_id }}/show-video-{{ record.language.name }}.html">{{ record.tutorial_detail.tutorial }}</a></h4></div>
                                    <div class="desc">
                                            <p><b>Foss:</b> <i>{{ record.tutorial_detail.foss }} - {{ record.language }}</i></p>
                                            <p><b>Outline:</b> {{ record.outline|len_cutter:200 }}</b> </p>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                    <div class="Basic pull-right">
                                        <h5 style="text-align:right;">{{ record.tutorial_detail.level.level }}</h5>
                                        <img style="display:block;" width="30%" src="../../includes/images/{{ record.tutorial_detail.level.level }}.png" class="pull-right">
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        </div>
                    </div><!-- .content -->
                </div><!-- /#content-inner .container -->
            </div><!-- /#content-wrapper -->
            <div id="footer-wrapper">
                <div class="container-inner sans-serif">
                    <div class="container">
                        <div class="col-lg-8 col-md-8 col-sm-8  footer-links">
                            <div class="col-lg-3 col-md-3 col-sm-3">
                                <ul class="list-unstyled">
                                    <li><a href="http://fossee.in/" target="_blank">FOSSEE Project</a></li>
                                    <li><a href="http://www.scilab.in/" target="_blank">Scilab Project</a></li>
                                    <li><a href="http://www.oscad.in/" target="_blank">Oscad</a></li>
                                    <li><a href="http://python.fossee.in/" target="_blank">Python</a></li>
                                    <li><a href="http://cfd.fossee.in/" target="_blank">CFD</a></li>
                                    <li><a href="http://or.fossee.in/" target="_blank">OR-Project</a></li>
                                </ul>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3">
                                <ul class="list-unstyled">
                                    <li><a href="http://aakashlabs.org/" target="_blank">Aakash Labs</a></li>
                                    <li><a href="http://www.co-learn.in/" target="_blank">Co-learn</a></li>
                                    <li><a href="http://www.sakshat.ac.in/" target="_blank">Education Mission</a></li>
                                </ul>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3">
                                <ul class="list-unstyled">
                                    <li><a href="http://process.spoken-tutorial.org/index.php/Software-Training#About_SELF_Workshops" target="_blank">Software Training</a></li>
                                    <li><a href="http://process.spoken-tutorial.org/" target="_blank">Creation</a></li>
                                    <li><a href="https://spoken-tutorial.org/articles/" target="_blank">News</a></li>
                                </ul>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3">
                                <ul class="list-unstyled">
                                    <li><a href="https://spoken-tutorial.org/about" target="_blank">About</a></li>
                                    <!-- <li><a href="http://localhost:8000/tutorial-search/#" target="_blank">Partners</a></li> -->
                                    <li><a href="https://spoken-tutorial.org/software-training/" target="_blank">Training</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 license fill">
                            <div class="fill">
                                <footer>
                                    Developed at IIT Bombay <br>
                                    This work is licensed under <a href="http://creativecommons.org/licenses/by-nc-nd/3.0/" rel="license" class="ext" target="_blank">Creative Commons</a>
                                </footer>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /#page-wrapper -->
        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="../../includes/js/jquery-1.11.0.min.js"></script>
        <script src="../../includes/js/bootstrap.min.js"></script>
        <script>
            $(document).ready(function(){
                var fossList = []
                fossList[0] = '';
                {% for foss_key,foss_detail in foss_details.items %}
                    fossList[{{ foss_key }}] = '{{ foss_details|get_lang_details:foss_key|safe }}';
                {% endfor %}
                $('.language').html('<option value="0">Select Language</option>' + fossList[{{foss}}]);
                $('.language').val('{{lang}}');
                $('.foss').on("change", function(){
                    foss = $('.foss').val();
                    $('.language').html('<option value="0">Select Language</option>' + fossList[foss]);
                });
                $('.search-btn').on("click", function(){
                    foss = $('.foss').val();
                    lang = $('.language').val();
                    lang_name = $('.language option:selected').text();
                    if(foss != 0 && lang != 0) {
                        parent.frame1.location.href = "../" + foss + '/list-videos-' + lang_name + ".html";
                    }
                });
            });
        </script>
    </body>
</html>
