{% load creationdata %}{% load cdcontentdata %}<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>
            {{ tr_rec.tutorial_detail.tutorial }} - {{ tr_rec.language.name }} | spoken-tutorial.org
        </title>
        <link rel="shortcut icon" href="../../../includes/images/favicon.ico">
        <link rel="stylesheet" href="../../../includes/css/bootstrap.min.css" type="text/css" media="screen" charset="utf-8">
        <link rel="stylesheet" href="../../../includes/css/font-awesome.min.css" type="text/css" media="screen" charset="utf-8">
        <link rel="stylesheet" href="../../../includes/css/main.css" type="text/css" media="screen" charset="utf-8">
        <link href="../../../includes/css/video-js.min.css" rel="stylesheet" type="text/css">
        <style type="text/css">
            .video-js {
                padding-top: 56.25%
            }
            .vjs-fullscreen {
                padding-top: 0px;
            }
            .playlist-container{
                background: #1a1a1a;
                margin-bottom: 20px;
            }
            .description, .order {
                font-size: 13px;
            }
            .forward {
                float: right;
            }
            .playlist ul {
                 height: 330px;
                 overflow-y: scroll;
                 margin-bottom: 0px;
            }
            .playlist, .playlist-container, .video-container{
                padding-left: 0px;
                padding-right: 0px;
            }
            .playlist ul{
                list-style:none;
                padding-left: 0px;
            }
            .playlist ul .playlist-item{
                clear: both;
                overflow: hidden;
            }
            .playlist ul .playlist-item.active{
                background: #3a3a3a;
            }
            .playlist ul .playlist-item a{
                color: white;
                display: block;
                overflow: hidden;
                padding: 15px 10px;
            }
            .playlist ul .playlist-item.active a{
                color: orange;
            }
            .playlist ul .playlist-item:hover{
                background: gray;
            }
            .playlist ul .playlist-item .thumb, .playlist ul .playlist-item .thumb .order{
                padding-right: 10px;
            }
            .playlist-info{
                color: white;
                padding: 10px;
                background: black;
            }
            .playlist-controls{
                background: black;
                border-top: 1px solid #3a3a3a;
                padding: 10px 0;
            }
            .playlist-controls a{
                color: white;
            }
            .playlist-controls span{
                margin: 0 10px;
            }
            #content-wrapper #content-inner div.container{
                padding-left: 0px;
            }
            p.list-group-item-text {
                margin-top: 7px;
            }
            .list-zipfiles {
                overflow-x: hidden;
                max-height: 150px;
            }
            .review-data pre {
                margin-bottom: 0px;
            }
            .video-js .vjs-tech{
                position:absolute;
                top:0;
                left:0;
                width:100%;
                height:100%;
            }
        </style>
        <script src="../../../includes/js/video.js"></script>
    </head>
    <body>
        <div id="page-wrapper">
            <!-- header begin -->
            <div id="header-wrapper">
                <nav class="navbar yamm navbar-default navbar-fixed-top" role="navigation">
                    <div id="header-inner">
                        <div class="container-fluid">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav">
                                    <span class="sr-only">Toggle Navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <a href="">
                                    <img width="45px" src="../../../includes/images/logo.png">
                                    Spoken <span class="title">Tutorial</span>
                                </a>
                            </div>
                        </div> <!-- /.container-fluid -->
                    </div> <!-- /#header-inner -->
                </nav>
            </div> <!-- /#header-wrapper -->
            <!-- header end -->
            <div id="content-wrapper">
                <div id="content-inner" class="container">
                    <div id="content" class="col-lg-12 col-md-12 col-sm-12">
                        <h4 class="page-title">{{ tr_rec.tutorial_detail.tutorial }} - {{ tr_rec.language.name }}</h4>
                        <row>
                            <div class='container playlist-container col-lg-12 col-md-12 col-sm-12'>
                                <div class="video-container col-lg-8 col-md-8 col-sm-8">
                                    <video id="st_video" class="video-js vjs-default-skin" controls preload="auto" width="auto" height="auto" data-setup="{}">
                                        <source src="./{{ tr_rec.video }}" type="video/ogg" />
                                        {{ tr_rec|get_srt_files|safe }}
                                    </video>
                                </div>
                                <div class='playlist col-lg-4 col-md-4 col-sm-4'>
                                    <div class='playlist-info'>
                                        <h5>{{tr_rec.tutorial_detail.foss}} Tutorials - {{tr_rec.language}} <span class="video-count pull-right">{{tr_recs|length}}</span></h5>
                                    </div>
                                    <div class='playlist-controls'>
                                        <span class='backward'></span>
                                        <span class='forward'></span>
                                    </div>
                                    <ul>
                                        {% for rec in tr_recs %}
                                            <li class="playlist-item{% if tr_rec.id == rec.id %} active{% endif %}"{% if tr_rec.id == rec.id %} data="{{ forloop.counter }}"{% endif %}>
                                                <a href="../../{{ rec.tutorial_detail.foss_id }}/{{ rec.tutorial_detail_id }}/show-video-{{ rec.language.name }}.html">
                                                    <div class='pull-left thumb'>
                                                        <span class='order'>{% if tr_rec.id == rec.id %}<i class="fa fa-play"></i>{% else %}{{ forloop.counter }}{% endif %}</span>
                                                        <img src="../../../includes/images/thumb-even.png" width=70 >
                                                    </div>
                                                    <div class='description'>
                                                        {{rec.tutorial_detail.tutorial}}
                                                    </div>
                                                </a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </row>
                        <row>
                            <div class="col-lg-7 col-md-7 col-sm-7 no-padding-left">
                                <ol class="breadcrumb">
                                    {% with link=tr_rec.tutorial_detail.foss|cd_instruction_sheet:tr_rec.language %}
                                        {% if link %}
                                            <li><a href="{{ link }}" target="_blank">Instruction Sheet</a></li>
                                        {% endif %}
                                    {% endwith %}

                                    {% with link=tr_rec.tutorial_detail.foss|cd_installation_sheet:tr_rec.language %}
                                        {% if link %}
                                            <li><a href="{{ link }}" target="_blank">Installation Sheet</a></li>
                                        {% endif %}
                                    {% endwith %}
                                </ol>
                                <pre class="custom-jumbotron"><b>Outline:<br /></b>{{ tr_rec.outline }}</pre>
                            </div>
                            <div class="col-lg-5 col-md-5 col-sm-5 no-padding-right">
                                <div class="list-group">
                                    {% if tr_rec.common_content.assignment_status and tr_rec.common_content.assignment_status != 6 %}
                                        <div  class="list-group-item">
                                            <a href="./resources/{{ tr_rec.common_content.assignment }}" target="_blank" class="list-group-item">
                                                <h4 class="list-group-item-heading"><i class="fa fa-2 fa-globe"></i> Assignment</h4>
                                            </a>
                                            <p class="list-group-item-text">
                                                <span style="text-align: left">Status: <i class="{{ tr_rec.common_content.assignment_status|get_review_status_symbol }}" title="{{ tr_rec.common_content.assignment_status|get_review_status_list }}"></i></span>
                                            </p>
                                        </div>
                                    {% endif %}
                                    {% if tr_rec.common_content.code_status and tr_rec.common_content.code_status != 6 %}
                                        <div  class="list-group-item">
                                            <a href="./resources/{{ tr_rec.common_content.code }}" target="_blank" class="list-group-item">
                                                <h4 class="list-group-item-heading"><i class="fa fa-2 fa-globe"></i> Code files</h4>
                                                {% with path=media_path|add:'videos/'|add:tutorial_path|add:'resources/'|add:tr_rec.common_content.code %}
                                                    {% with code_files=path|get_zip_content %}
                                                        {% if code_files %}
                                                            <ul class="list-zipfiles">
                                                                {% for code_file in code_files %}
                                                                    <li>{{ code_file }}</li>
                                                                {% endfor %}
                                                            </ul>
                                                        {% endif %}
                                                    {% endwith %}
                                                {% endwith %}
                                            </a>
                                            <p class="list-group-item-text">
                                                <span style="text-align: left">Status: <i class="{{ tr_rec.common_content.code_status|get_review_status_symbol }}" title="{{ tr_rec.common_content.code_status|get_review_status_list }}"></i></span>
                                            </p>
                                        </div>
                                    {% endif %}
                                    {% if tr_rec.common_content.slide_status and tr_rec.common_content.slide_status != 6 %}
                                        <div  class="list-group-item">
                                            <a href="./resources/{{ tr_rec.common_content.slide }}" target="_blank" class="list-group-item">
                                                <h4 class="list-group-item-heading"><i class="fa fa-2 fa-globe"></i> Slides</h4>
                                                {% with path=media_path|add:'videos/'|add:tutorial_path|add:'resources/'|add:tr_rec.common_content.slide %}
                                                    {% with slide_files=path|get_zip_content %}
                                                        {% if slide_files %}
                                                            <ul class="list-zipfiles">
                                                                {% for slide_file in slide_files %}
                                                                    <li>{{ slide_file }}</li>
                                                                {% endfor %}
                                                            </ul>
                                                        {% endif %}
                                                    {% endwith %}
                                                {% endwith %}
                                            </a>
                                            <p class="list-group-item-text">
                                                <span style="text-align: left">Status: <i class="{{ tr_rec.common_content.slide_status|get_review_status_symbol }}" title="{{ tr_rec.common_content.slide_status|get_review_status_list }}"></i></span>
                                            </p>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </row>
                    </div>
                </div><!-- /#content-inner .container -->
            </div><!-- /#content-wrapper -->
            <div id="footer-wrapper">
                <div class="container-inner sans-serif">
                    <div class="container">
                        <div class="col-lg-8 col-md-8 col-sm-8  footer-links">
                            <div class="col-lg-3 col-md-3 col-sm-3">
                                <ul class="list-unstyled">
                                    <li><a href="http://fossee.in/" traget="_blank">FOSSEE Project</a></li>
                                    <li><a href="http://www.scilab.in/" traget="_blank">Scilab Project</a></li>
                                    <li><a href="http://www.oscad.in/" traget="_blank">Oscad</a></li>
                                    <li><a href="http://python.fossee.in/" traget="_blank">Python</a></li>
                                    <li><a href="http://cfd.fossee.in/" traget="_blank">CFD</a></li>
                                    <li><a href="http://or.fossee.in/" traget="_blank">OR-Project</a></li>
                                </ul>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3">
                                <ul class="list-unstyled">
                                    <li><a href="http://aakashlabs.org/" traget="_blank">Aakash Labs</a></li>
                                    <li><a href="http://www.co-learn.in/" traget="_blank">Co-learn</a></li>
                                    <li><a href="http://www.sakshat.ac.in/" traget="_blank">Education Mission</a></li>
                                </ul>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3">
                                <ul class="list-unstyled">
                                    <li><a href="http://process.spoken-tutorial.org/index.php/Software-Training#About_SELF_Workshops" traget="_blank">Software Training</a></li>
                                    <li><a href="http://process.spoken-tutorial.org/" traget="_blank">Creation</a></li>
                                    <li><a href="http://spoken-tutorial.org/articles/" traget="_blank">News</a></li>
                                </ul>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3">
                                <ul class="list-unstyled">
                                    <li><a href="http://spoken-tutorial.org/about" traget="_blank">About</a></li>
                                    <!-- <li><a href="http://localhost:8000/tutorial-search/#" traget="_blank">Partners</a></li> -->
                                    <li><a href="http://spoken-tutorial.org/software-training/" traget="_blank">Training</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 license fill">
                            <div class="fill">
                                <footer>
                                    Developed at IIT Bombay <br>
                                    This work is licensed under <a href="http://creativecommons.org/licenses/by-nc-nd/3.0/" rel="license" class="ext" target="_blank">Creative Commons</a>
                                </footer>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /#page-wrapper -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="../../../includes/js/jquery-1.11.0.min.js"></script>
        <script src="../../../includes/js/bootstrap.min.js"></script>

        <script>
            // set video player volume by 20%
            var myPlayer = videojs('st_video');
            myPlayer.volume(0.2);
            currentVideo = $('.playlist-item.active');
            nextVideo = currentVideo.next('li');
            prevVideo = currentVideo.prev('li');
            var tmpHtml = currentVideo.attr('data') + '/' + $('.video-count').html()
            $('.video-count').html(tmpHtml)
            if(nextVideo.length){
                //console.log(nextVideo.children('a').attr('href'));
                $('.forward').html('<a href="'+nextVideo.children('a').attr('href')+'"><i class="fa fa-1 fa-fast-forward"></i></a>');
            } else {
                $('.forward').html('<i class="fa fa-1 fa-fast-forward"></i>');
            }
            if(prevVideo.length){
                //console.log(prevVideo.children('a').attr('href'));
                $('.backward').html('<a href="'+prevVideo.children('a').attr('href')+'"><i class="fa fa-1 fa-fast-backward"></i></a>');
            } else {
                $('.backward').html('<i class="fa fa-1 fa-fast-backward"></i>');
            }
        </script>
    </body>
</html>
