# Logs
*.log
!static/report_builder/bower_components/handsontable/sauce_connect.log
!certificate/drupal_workshop_template/missfont.log

celerybeat-schedule
*~
*.swp
*.pyc
comb.py-oauth2.json
client_secrets.json
certificate/fa_workshop_template/template_FAW2017Pcertificate
certificate/itp_workshop_template/template_ITPW2017Pcertificate
certificate/koha_workshop_template/*
certificate/moodle_workshop_template/*
certificate/images/kannan-moudgalya-sign.png
certificate/images/prao-sign.png
certificate/images/*
.youtube-upload-credentials.json
config.py
cron/config.py
cron/youtube-oauth.storage
cron/logs/*
events/display.py
youtube/secrets/*

# Media Folder
media/*
!media/videos/
!media/training/
!media/cms/
!media/cdimage/
!media/testimonials/
media/videos/*
media/training/*
media/cdimage/*
media/testimonials/*
!media/training/README
!media/videos/README
!media/cdimage/README
!media/testimonials/README
!media/README
media/cms/*
!media/cms/images/
!media/cms/documents/
!media/cms/css/
!media/cms/js/
media/cms/images/*
media/cms/documents/*
media/cms/css/*
media/cms/js/*
!media/cms/README
!media/cms/images/README
!media/cms/documents/README
!media/cms/css/README
!media/cms/js/README

uwsgi-master.pid
static/CACHE/*
*.py[cod]
robots.txt
# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

cron/nohup.out
*.ipynb
.ipynb_checkpoints/
.vscode/
cron/spoken_search/index