Django
Pillow
PyPDF2
pycurl
argparse
beautifulsoup4
chardet
django-appconf
django-compressor
django-extensions
https://github.com/sanmugamk/django-filter/archive/develop.zip
django-htmlmin
https://github.com/sanmugamk/django-nicedit/archive/master.zip
django-recaptcha
django-report-builder
django-report-utils
django-widget-tweaks
djangorestframework
gdata
google-api-python-client
html5lib
httplib2
jdcal
MechanicalSoup
oauth2client
openpyxl
progressbar
pyasn1
pyasn1-modules
pysrt
python-dateutil
python-gflags
reportlab
rsa
simplejson
six
sqlparse
uWSGI
uritemplate
Py3DNS
validate-email


hashids
oauthlib
