[Unit]
Description=RQ Worker for Spoken Website
After=network.target redis.service

[Service]
Type=simple
WorkingDirectory=/django-projects/spoken-website
Environment="PATH=/django-projects/env1/bin"
ExecStart=/django-projects/env1/bin/python manage.py rqworker default_queue
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
