{% extends 'spoken/templates/base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block title %}Add new FOSS category{% endblock %}
{% if alert_success or alert_danger %}
	{% block alert %}
		{% if alert_success %}
			<div class="alert alert-success alert-dismissable">
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
				{{ alert_success }}
			</div>
		{% endif %}
		{% if alert_danger %}
			<div class="alert alert-danger alert-dismissable">
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
				{{ alert_danger }}
			</div>
		{% endif %}
	{% endblock %}
{% endif %}
{% block content %}
	<form role="form" method="post" enctype="multipart/form-data" action="">
		{% csrf_token %}
		<div class="form-group">
			<label for="id_foss">FOSS:</label>
			{% render_field form.foss class+="form-control" %}
			{{ form.foss.errors }}
		</div>
		<div class="form-group">
			<label for="id_description">Description:</label>
			{% render_field form.description class+="form-control" %}
			{{ form.description.errors }}
		</div>
		<div class="form-group">
			<label for="id_status">Status:</label>
			{% render_field form.status class+="form-control" %}
			{{ form.status.errors }}
		</div>
		<input type="submit" class="btn btn-primary" value="Save">
	</form>
{% endblock %}
