{% extends 'spoken/templates/popup-base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block uncompresscssblock %}
	<link href="{% static 'spoken/css/avs.player.css' %}" rel="stylesheet" type="text/css">
{% endblock %}
{% block compressinlinecssblock %}
	<style type="text/css">
        .video-visits {
            text-align: right;
            font-weight: bold;
            font-size: 16px;
        }
        form{
            clear: both;
            padding-top: 10px;
        }
	</style>
{% endblock %}
{% block title %}Review Video{% endblock %}
{% block heading %}
	Review Video
{% endblock %}
{% block content %}
    <table class="table table-bordered table-hover">
        <tr>
            <th>Codec:</th><td>{{video_info.codec}}</td>
            <th>Profile:</th><td>{{video_info.profile}}</td>
        </tr>
        <tr>
            <th>Width:</th><td>{{video_info.width}}</td>
            <th>Height:</th><td>{{video_info.height}}</td>
        </tr>
        <tr>
            <th>Duration:</th><td>{{video_info.duration}}</td>
            <th>Size:</th><td>{{video_info.size}}</td>
        </tr>
    </table>

	<div class="video-container col-lg-12 col-md-12 col-sm-12">
		<video id="st_video" preload="auto" width="100%" height="430" data-setup="{}">
			<source src="{{ media_url }}videos/{{ tr.tutorial_detail.foss_id }}/{{ tr.tutorial_detail_id }}/{{ video }}.webm" type="video/webm" />
		</video>
		<audio id="st_audio">
			<source src="{{ media_url }}videos/{{ tr.tutorial_detail.foss_id }}/{{ tr.tutorial_detail_id }}/{{ video }}-{{lang}}.mp3" type="audio/mp3">
		</audio>
	</div>
	<form role="form" method="post" enctype="multipart/form-data" action="">
		{% csrf_token %}
		<div class="form-group">
			<label for="id_video_status">Status:</label>
			{% render_field form.video_status class+="form-control" %}
			{{ form.video_status.errors }}
		</div>
		<div class="form-group remarks-parent">
			<label for="id_feedback">Remarks:</label>
			{% render_field form.feedback class+="form-control" %}
			<ul class="cerrorlist"></ul>
		</div>
		<input type="submit" class="btn btn-primary review-submit" value="Submit"  tabindex="4" />
	</form>
{% endblock %}
{% block uncompressjsblock %}
    <script src="{% static 'spoken/js/avs.player.min.js' %}"></script>
{% endblock %}
{% block compressinlinejsblock %}
	<script type="text/javascript">
		(function(){
			new syncAudioVideo("st_video","st_audio");
		})();
	</script>
	<script type="text/javascript">
		$(document).ready(
		    function() {
			    $('.remarks-parent').hide();
			    $('#id_video_status').change(
			        function() {
				        if($('#id_video_status').val() == 5)
					        $('.remarks-parent').show();
				        else
					        $('.remarks-parent').hide();
			        }
			    );
			    $( "form" ).submit(
			        function( event ) {
				        var videoStatus = $('#id_video_status').val();
				        var remarks = $('#id_feedback').val();
				        if(videoStatus == 5 && remarks == '') {
					        $('.cerrorlist').html('<li>Please fill the remarks field</li>');
					        event.preventDefault();
				        }
			        }
			    );
		    }
		);
	</script>
{% endblock %}
