{% extends 'spoken/templates/popup-base.html' %}
{% load widget_tweaks %}
{% load creationdata %}
{% load static %}
{% block uncompresscssblock %}
	<link href="{% static 'spoken/css/video-js.min.css' %}" rel="stylesheet" type="text/css">
{% endblock %}
{% block compressinlinecssblock %}
	<style type="text/css">
		.video-js {
            padding-top: 56.25%
        }
        .vjs-fullscreen {
            padding-top: 0px;
        }
        
        .video-js .vjs-tech{
            position:absolute;
            top:0;
            left:0;
            width:100%;
            height:100%;
        }
        .vjs-tt-cue {
            font-size: 16px;
        }
        .video-js .vjs-text-track {
            background-color: rgba(0, 0, 0, 0.7);
        }
        .video-visits {
            text-align: right;
            font-weight: bold;
            font-size: 16px;
        }
        form{
            clear: both;
            padding-top: 10px;
        }
	</style>
{% endblock %}
{% block title %}Review Video{% endblock %}
{% block heading %}
	Review Video
{% endblock %}
{% block content %}
Video:
<table class="table table-bordered table-hover">
	<tr>
		<th>Codec:</th><td>{{video_info.codec}}</td>
		<th>Profile:</th><td>{{video_info.profile}}</td>
	</tr>
	<tr>
		<th>Width:</th><td>{{video_info.width}}</td>
		<th>Height:</th><td>{{video_info.height}}</td>
	</tr>
	<tr>
		<th>Duration:</th><td>{{video_info.duration}}</td>
		<th>Size:</th><td>{{video_info.size}}</td>
	</tr>
</table>
Audio:
    <table class="table table-bordered table-hover">
        <tr>
            <th>Codec:</th><td>{{audio_info.codec}}</td>
            <th>Duration:</th><td>{{audio_info.duration}}</td>
            <th>Size:</th><td>{{audio_info.size}}</td>
        </tr>
    </table>
{% if eng_audio_info.size > 0 and eng_audio_info.duration > 0 %}
English Audio:
	<table class="table table-bordered table-hover">
		<tr>
			<th>Codec:</th><td>{{ eng_audio_info.codec }}</td>
			<th>Duration:</th><td>{{ eng_audio_info.duration }}</td>
			<th>Size:</th><td>{{ eng_audio_info.size }}</td>
		</tr>
	</table>
{% endif %}
	<div class="video-container col-lg-12 col-md-12 col-sm-12">
		<video id="st_video" class='video-js vjs-default-skin vjs-big-play-centered' autobuffer controls data-setup='{ "playbackRates": [0.5, 0.75,1, 1.25, 1.5, 2] }'>
			<source src="{{ media_url }}videos/{{ tr.tutorial_detail.foss_id }}/{{ tr.tutorial_detail_id }}/{{ tr.video }}" type="video/webm">
		</video>

		<audio id="audio" class='d-none'>
			<!-- Put the selected audio file to be played with the video on page load -->
			<source id="audioSource" src="{{ media_url }}videos/{{ tr.tutorial_detail.foss_id }}/{{ tr.tutorial_detail_id }}/{{ tr.video|rsplitpart|safe }}{{ tr.language.name }}.ogg">
		</audio>
	</div>
	<form role="form" method="post" enctype="multipart/form-data" action="">
		{% csrf_token %}
		<div class="form-group">
			<label for="id_video_status">Status:</label>
			{% render_field form.video_status class+="form-control" %}
			{{ form.video_status.errors }}
		</div>
		<div class="form-group remarks-parent">
			<label for="id_feedback">Remarks:</label>
			{% render_field form.feedback class+="form-control" %}
			<ul class="cerrorlist"></ul>
		</div>
		<input type="submit" class="btn btn-primary review-submit" value="Submit"  tabindex="4" />
	</form>
{% endblock %}
{% block uncompressjsblock %}
	<script src="{% static 'spoken/js/popcorn.min.js' %}"></script>
	<script src="{% static 'spoken/js/video.min.js' %}"></script>
    <script src="{% static 'spoken/js/video.settings.js' %}"></script>
{% endblock %}
{% block compressinlinejsblock %}
	<script type="text/javascript">
		$(document).ready(
		    function() {
			    $('.remarks-parent').hide();
			    $('#id_video_status').change(
			        function() {
				        if($('#id_video_status').val() == 5)
					        $('.remarks-parent').show();
				        else
					        $('.remarks-parent').hide();
			        }
			    );
			    $( "form" ).submit(
			        function( event ) {
				        var videoStatus = $('#id_video_status').val();
				        var remarks = $('#id_feedback').val();
				        if(videoStatus == 5 && remarks == '') {
					        $('.cerrorlist').html('<li>Please fill the remarks field</li>');
					        event.preventDefault();
				        }
			        }
			    );
		    }
		);
	</script>
{% endblock %}
