{% extends 'spoken/templates/base.html' %}
{% load cdcontentdata %}
{% load widget_tweaks %}
{% load static %}
{% load creationdata %}
{% block uncompresscssblock %}
    <link href="{% static 'spoken/css/video-js.min.css' %}" rel="stylesheet" type="text/css">
{% endblock %}
{% block compressinlinecssblock %}
    <style type="text/css">
        .video-js {
            padding-top: 56.25%
        }
        .vjs-fullscreen {
            padding-top: 0px;
        }
        .playlist-container{
            background: #1a1a1a;
            margin-bottom: 20px;
        }
        .description, .order {
            font-size: 13px;
        }
        .forward {
            float: right;
        }
        .playlist ul {
             height: 330px;
             overflow-y: scroll;
        }
        .playlist, .playlist-container, .video-container{
            padding-left: 0px;
            padding-right: 0px;
        }
        .playlist ul{
            list-style:none;
            padding-left: 0px;
            margin-bottom: 0px;
        }
        .playlist ul .playlist-item{
            clear: both;
            overflow: hidden;
        }
        .playlist ul .playlist-item.active{
            background: #3a3a3a;
        }
        .playlist ul .playlist-item a{
            color: white;
            display: block;
            overflow: hidden;
            padding: 15px 10px;
        }
        .playlist ul .playlist-item.active a{
            color: orange;
        }
        .playlist ul .playlist-item:hover{
            background: gray;
        }
        .playlist ul .playlist-item .thumb, .playlist ul .playlist-item .thumb .order{
            padding-right: 10px;
        }
        .playlist-info{
            color: white;
            padding: 10px;
            background: black;
        }
        .playlist-controls{
            background: black;
            border-top: 1px solid #3a3a3a;
            padding: 10px 0;
        }
        .playlist-controls a{
            color: white;
        }
        .playlist-controls span{
            margin: 0 10px;
        }
        #content-wrapper #content-inner div.container{
            padding-left: 0px;
        }
        p.list-group-item-text {
            margin-top: 7px;
        }
        .list-zipfiles {
            overflow-x: hidden;
            max-height: 150px;
        }
        .review-data pre {
            margin-bottom: 0px;
        }
        .video-js .vjs-tech{
            position:absolute;
            top:0;
            left:0;
            width:100%;
            height:100%;
        }
        .video-container p{
            color: white;
            text-align: center;
            padding: 30px;
            font-size: 14px;
        }
    </style>
{% endblock %}
{% block title %}{{ tr_rec.tutorial_detail.tutorial }} - {{ tr_rec.language.name }}{% endblock %}
{% block heading %}{{ tr_rec.tutorial_detail.tutorial }} - {{ tr_rec.language.name }}{% endblock %}
{% block search %}
{% endblock %}
{% block content %}
    <row>
        <div class='container playlist-container col-lg-12 col-md-12 col-sm-12'>
            <div class="video-container col-lg-8 col-md-8 col-sm-8">
                {% if tr_rec.video_status %}

                <video id="st_video" class='video-js vjs-default-skin vjs-big-play-centered' autobuffer controls data-setup='{ "playbackRates": [0.5, 0.75,1, 1.25, 1.5, 2] }'>
                    <source src="{{ media_url }}videos/{{ tr_rec.tutorial_detail.foss_id }}/{{ tr_rec.tutorial_detail_id }}/{{ tr_rec.video }}" type="video/webm">
                </video>
    
                <audio id="audio" class='d-none'>
                    <!-- Put the selected audio file to be played with the video on page load -->
                    <source id="audioSource" src="{{ media_url }}videos/{{ tr_rec.tutorial_detail.foss_id }}/{{ tr_rec.tutorial_detail_id }}/{{ tr_rec.video|rsplitpart|safe }}{{tr_rec.language }}.ogg">
                </audio>

                {% else %}
                    <p>Video missing...</p>
                {% endif %}
            </div>
            <div class='playlist col-lg-4 col-md-4 col-sm-4'>
                <div class='playlist-info'>
                    <h5>{{tr_rec.tutorial_detail.foss}} Tutorials - {{tr_rec.language}} <span class="video-count pull-right">{{tr_recs|length}}</span></h5>
                </div>
                <div class='playlist-controls'>
                    <span class='backward'></span>
                    <span class='forward'></span>
                </div>
                <ul>
                    {% for rec in tr_recs %}
                        <li class="playlist-item{% if tr_rec.id == rec.id %} active{% endif %}"{% if tr_rec.id == rec.id %} data="{{ forloop.counter }}"{% endif %}>
                            <a href="/creation/tutorial/view/{{ rec.tutorial_detail.foss.foss|get_url_name }}/{{ rec.tutorial_detail.tutorial|get_url_name }}/{{ rec.language.name }}/">
                                <div class='pull-left thumb'>
                                    <span class='order'>{% if tr_rec.id == rec.id %}<i class="fa fa-play"></i>{% else %}{{ forloop.counter }}{% endif %}</span>
                                    <img src="{{ rec.tutorial_detail|get_thumb_path:'Small' }}" width=70 >
                                </div>
                                <div class='description'>
                                    {{rec.tutorial_detail.tutorial}}
                                </div>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </row>
    <row>
        <div class="col-lg-7 col-md-7 col-sm-7 no-padding-left">
            <pre class="custom-jumbotron"><b>Outline:<br /></b>{{ tr_rec.outline }}</pre>
        </div>
        <div class="col-lg-5 col-md-5 col-sm-5 no-padding-right">
            <table class="table table-bordered table-hover">
                <tr>
                    <th>Codec:</th><td>{{video_info.codec}}</td>
                    <th>Profile:</th><td>{{video_info.profile}}</td>
                </tr>
                <tr>
                    <th>Width:</th><td>{{video_info.width}}</td>
                    <th>Height:</th><td>{{video_info.height}}</td>
                </tr>
                <tr>
                    <th>Duration:</th><td>{{video_info.duration}}</td>
                    <th>Size:</th><td>{{video_info.size}}</td>
                </tr>
            </table>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Prerequisite</h3>
              </div>
              <div class="panel-body">
              {% if tr_rec.common_content.prerequisite %}
                <img src="{{ tr_rec.common_content.prerequisite|get_thumb_path:'Small' }}" width="70" style="padding-right: 10px;">
                <a href="#">{{ tr_rec.common_content.prerequisite.tutorial }}</a>
              {% else %}
                No Prerequsite for this tutorial.
              {% endif %}
              </div>
            </div>
            <div class="list-group">
                {% if tr_rec.common_content.assignment_status and tr_rec.common_content.assignment_status != 6 %}
                    <div  class="list-group-item">
                        <a href="{{ media_url }}videos/{{ tr_rec.tutorial_detail.foss_id }}/{{ tr_rec.tutorial_detail_id }}/resources/{{ tr_rec.common_content.assignment }}" target="_blank" class="list-group-item">
                            <h4 class="list-group-item-heading"><i class="fa fa-2 fa-globe"></i> Assignment</h4>
                        </a>
                        <p class="list-group-item-text">
                            <span style="text-align: left">Status: <i class="{{ tr_rec.common_content.assignment_status|get_review_status_symbol }}" title="{{ tr_rec.common_content.assignment_status|get_review_status_list }}"></i></span>
                            <span style="float: right">
                                - <a href="/accounts/profile/{{ tr_rec.common_content.assignment_user }}">{{tr_rec.common_content.assignment_user}}</a>
                            </span>
                        </p>
                    </div>
                {% endif %}
                {% if tr_rec.common_content.code_status and tr_rec.common_content.code_status != 6 %}
                    <div  class="list-group-item">
                        <a href="{{ media_url }}videos/{{ tr_rec.tutorial_detail.foss_id }}/{{ tr_rec.tutorial_detail_id }}/resources/{{ tr_rec.common_content.code }}" target="_blank" class="list-group-item">
                            <h4 class="list-group-item-heading"><i class="fa fa-2 fa-globe"></i> Code files</h4>
                            {% with path=media_path|add:'videos/'|add:tutorial_path|add:'resources/'|add:tr_rec.common_content.code %}
                                {% with code_files=path|get_zip_content %}
                                    {% if code_files %}
                                        <ul class="list-zipfiles">
                                            {% for code_file in code_files %}
                                                <li>{{ code_file }}</li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                {% endwith %}
                            {% endwith %}
                        </a>
                        <p class="list-group-item-text">
                            <span style="text-align: left">Status: <i class="{{ tr_rec.common_content.code_status|get_review_status_symbol }}" title="{{ tr_rec.common_content.code_status|get_review_status_list }}"></i></span>
                            <span style="float: right">
                                - <a href="/accounts/profile/{{ tr_rec.common_content.code_user }}">{{tr_rec.common_content.code_user}}</a>
                            </span>
                        </p>
                    </div>
                {% endif %}
                {% if tr_rec.script_status %}
                    <div  class="list-group-item">
                        <a href="{{ script_base|add:tr_rec.script }}" target="_blank" class="list-group-item">
                            <h4 class="list-group-item-heading"><i class="fa fa-2 fa-globe"></i> Script</h4>
                        </a>
                        {% if tr_rec.language.name == 'English' %}
                            {% with timed_script=tr_rec.script|get_timed_script:tr_rec.timed_script %}
                                {% if timed_script %}
                                    <a href="{{ timed_script }}" target="_blank" class="list-group-item">
                                        <h4 class="list-group-item-heading"><i class="fa fa-2 fa-globe"></i> Timed Script</h4>
                                    </a>
                                {% endif %}
                            {% endwith %}
                        {% endif %}
                        <p class="list-group-item-text">
                            <span style="text-align: left">Status: <i class="{{ tr_rec.script_status|get_review_status_symbol }}" title="{{ tr_rec.script_status|get_review_status_list }}"></i></span>
                            <span style="float: right">
                                - <a href="/accounts/profile/{{ tr_rec.script_user }}">{{tr_rec.script_user}}</a>
                            </span>
                        </p>
                    </div>
                {% endif %}
                {% if tr_rec.common_content.slide_status and tr_rec.common_content.slide_status != 6 %}
                    <div  class="list-group-item">
                        <a href="{{ media_url }}videos/{{ tr_rec.tutorial_detail.foss_id }}/{{ tr_rec.tutorial_detail_id }}/resources/{{ tr_rec.common_content.slide }}" target="_blank" class="list-group-item">
                            <h4 class="list-group-item-heading"><i class="fa fa-2 fa-globe"></i> Slides</h4>
                            {% with path=media_path|add:'videos/'|add:tutorial_path|add:'resources/'|add:tr_rec.common_content.slide %}
                                {% with slide_files=path|get_zip_content %}
                                    {% if slide_files %}
                                        <ul class="list-zipfiles">
                                            {% for slide_file in slide_files %}
                                                <li>{{ slide_file }}</li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                {% endwith %}
                            {% endwith %}
                        </a>
                        <p class="list-group-item-text">
                            <span style="text-align: left">Status: <i class="{{ tr_rec.common_content.slide_status|get_review_status_symbol }}" title="{{ tr_rec.common_content.slide_status|get_review_status_list }}"></i></span>
                            <span style="float: right">
                                - <a href="/accounts/profile/{{ tr_rec.common_content.slide_user }}">{{tr_rec.common_content.slide_user}}</a>
                            </span>
                        </p>
                    </div>
                {% endif %}
                {% if tr_rec.common_content.additional_material_status and tr_rec.common_content.additional_material_status != 6 %}
                    <div  class="list-group-item">
                        <a href="{{ media_url }}videos/{{ tr_rec.tutorial_detail.foss_id }}/{{ tr_rec.tutorial_detail_id }}/resources/{{ tr_rec.common_content.additional_material }}" target="_blank" class="list-group-item">
                            <h4 class="list-group-item-heading"><i class="fa fa-2 fa-globe"></i> Additional reading material</h4>
                        </a>
                        <p class="list-group-item-text">
                            <span style="text-align: left">Status: <i class="{{ tr_rec.common_content.additional_material_status|get_review_status_symbol }}" title="{{ tr_rec.common_content.additional_material_status|get_review_status_list }}"></i></span>
                            <span style="float: right">
                                - <a href="/accounts/profile/{{ tr_rec.common_content.additional_material_user }}">{{tr_rec.common_content.assignment_user}}</a>
                            </span>
                        </p>
                    </div>
                {% endif %}
            </div>
        </div>
    </row>
{% endblock %}
{% block uncompressjsblock %}
    <script src="{% static 'spoken/js/popcorn.min.js' %}"></script>
    <script src="{% static 'spoken/js/video.min.js' %}"></script>
    <script src="{% static 'spoken/js/video.settings.js' %}"></script>
{% endblock %}
{% block compressinlinejsblock %}
    <script type="text/javascript">
        currentVideo = $('.playlist-item.active');
        nextVideo = currentVideo.next('li');
        prevVideo = currentVideo.prev('li');
        var tmpHtml = currentVideo.attr('data') + '/' + $('.video-count').html();
        $('.video-count').html(tmpHtml);
        if(nextVideo.length){
            $('.forward').html('<a href="'+nextVideo.children('a').attr('href')+'"><i class="fa fa-1 fa-fast-forward"></i></a>');
        } else {
            $('.forward').html('<i class="fa fa-1 fa-fast-forward"></i>');
        }
        if(prevVideo.length){
            $('.backward').html('<a href="'+prevVideo.children('a').attr('href')+'"><i class="fa fa-1 fa-fast-backward"></i></a>');
        } else {
            $('.backward').html('<i class="fa fa-1 fa-fast-backward"></i>');
        }
    </script>
{% endblock %}
