{% extends 'spoken/templates/base.html' %}
{% load widget_tweaks %}
{% load static %}
{% load creationdata %}
{% block title %}Creation Dashboard{% endblock %}
{% block content %}
   
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4 class="panel-title"><i class="fa fa-desktop"></i> Creation Dashboard</h4>
        </div>
        <div class="panel-body row">
            <div class="creation-links col-lg-6 col-md-6 col-sm-6">
                {% if user|get_contributor %}
                    <div class="panel panel-info">
                        <div class="panel-heading panel-heading-notif">Contributor</div>
                        <div class="panel-body">
                            <ul>
                                <li><a target="_blank" href="/creation/upload/">Upload / Update tutorials</a></li>
                                <li><a target="_blank" href="/creation/upload/timed-script">Upload / Update Timed Script</a></li>
                                <li><a target="_blank" href="/creation/upload/needimprovement/">Tutorials under Need Improvement state</a></li>
                                <li><a target="_blank" href="/creation/update-manual/installation/">Upload / Update Installation Sheet</a></li>
                                <li><a target="_blank" href="/creation/update-manual/instruction/">Upload / Update Instruction Sheet</a></li>
                                <li><a target="_blank" href="/creation/upload-publish-outline/">Upload Published Tutorial Outline</a></li>
                                <li><a target="_blank" href="/creation/upload/contributed/">Tutorials contributed</a></li>
                                <li><a target="_blank" href="/creation/report-missing-component/list/">Component Missing Notifications</a></li>
                            </ul>
                        </div>
                    </div>
                {% endif %}
                {% if user|get_contenteditor %}
                    <div class="panel panel-info">
                        <div class="panel-heading panel-heading-notif">Content Editor</div>
                        <div class="panel-body">
                            <ul>
                                <li><a target="_blank" href="/creation/update-manual/brochure/">Upload / Update Brochure</a></li>
                            </ul>
                        </div>
                    </div>
                {% endif %}
                {% if user|get_videoreviewer %}
                    <div class="panel panel-info">
                        <div class="panel-heading panel-heading-notif">Admin Reviewer</div>
                        <div class="panel-body">
                            <ul>
                                <li><a target="_blank" href="/creation/admin-review/">Tutorials waiting for Admin review</a></li>
                                <li><a target="_blank" href="/creation/admin-review/reviewed/">Tutorials reviewed</a></li>
                            </ul>
                        </div>
                    </div>
                {% endif %}
                {% if user|get_domainreviewer %}
                    <div class="panel panel-info">
                        <div class="panel-heading panel-heading-notif">Domain Reviewer</div>
                        <div class="panel-body">
                            <ul>
                                <li><a target="_blank" href="/creation/domain-review/">Tutorials waiting for Domain review</a></li>
                                <li><a target="_blank" href="/creation/domain-review/reviewed/">Tutorials Reviewed</a></li>
                            </ul>
                        </div>
                    </div>
                {% endif %}
                {% if user|get_qualityreviewer %}
                    <div class="panel panel-info">
                        <div class="panel-heading panel-heading-notif">Quality Reviewer</div>
                        <div class="panel-body">
                            <ul>
                                <li><a target="_blank" href="/creation/quality-review/">Tutorials waiting for Quality review</a></li>
                                <li><a target="_blank" href="/creation/public-review/tutorial/index/">Tutorials ready to mark as Public review</a></li>
                                <li><a target="_blank" href="/creation/quality-review/tutorial/publish/index/">Tutorials ready to publish</a></li>
                                <li><a target="_blank" href="/creation/public-review/list/">Tutorials under Public review</a></li>
                                <li><a target="_blank" href="/creation/quality-review/reviewed/">Tutorials Reviewed</a></li>
                                <li><a target="_blank" href="/youtube/remove-youtube-video/">Remove video from YouTube</a></li>
                            </ul>
                        </div>
                    </div>
                {% endif %}
                {% if user|get_administrator %}
                    <div class="panel panel-info">
                        <div class="panel-heading panel-heading-notif">Administrator</div>
                        <div class="panel-body">
                            <ul>
                                <li><a target="_blank" href="/admin/creation/fosscategory">Foss Categories</a></li>
                                <li><a target="_blank" href="/admin/creation/language">Languages</a></li>
                                <li><a target="_blank" href="/admin/creation/tutorialdetail">Tutorial Details</a></li>
                                <li><a target="_blank" href="/admin/creation/contributorrole/">Contributor Roles</a></li>
                                <li><a target="_blank" href="/admin/creation/domainreviewerrole">Domain Reviewer Roles</a></li>
                                <li><a target="_blank" href="/admin/creation/qualityreviewerrole">Quality Reviewer Roles</a></li>
                                <li><a target="_blank" href="/creation/admin/tutorial/status/pending">Unpublish Tutorials on Live for Correction</a></li>
                                <li><a target="_blank" href="/creation/admin/tutorial/component/status/">Change Tutorial Component Status</a></li>
                                <li><a target="_blank" href="/youtube/remove-youtube-video/">Remove video from YouTube</a></li>
                                <li><a target="_blank" href="/creation/update-manual/installation/">Upload / Update Installation Sheet</a></li>
                                <li><a target="_blank" href="/creation/update-manual/instruction/">Upload / Update Instruction Sheet</a></li>
                                <li><a target="_blank" href="/creation/update-prerequisite/">Update Prerequisite</a></li>
                                <li><a target="_blank" href="/creation/update-keywords/">Update Keywords</a></li>
                                <li><a target="_blank" href="/creation/role/requests/">Role Requests</a></li>
                                <li><a href="/admin/testimonials/" target="_blank">Testimonials</a></li>
                                <li><a target="_blank" href="/creation/report-missing-component/list/">Component Missing Notifications</a></li>
                            </ul>
                        </div>
                    </div>
                {% endif %}
                <div class="panel panel-info">
                    <div class="panel-heading panel-heading-notif">Creation Roles</div>
                    <div class="panel-body " id="role_selected_id" >
                        <ul > 
                            {% if user|get_internal_contributor %}
                                <li><a href="#" onClick= "callModal(this)" id = "revoke_contributor" >Revoke Contributor Role</a><br>
                                    </li>
                            {% else %}
                                <li><a href="#" onClick= "callModal(this)" id = "add_contributor" > Add me as Contributor</a><br>
                                </li>
                            {% endif %}
                            {% if user|get_external_contributor %}
                                <li >
                                    <a href="#" onClick= "callModal(this)" id = "revoke_external_contributor" >Revoke External Contributor Role</a><br>
                            {% else %}
                                <li  class = "role_selected">
                                    <a href="#" onClick= "callModal(this)" id = "add_external_contributor" >Add me as External Contributor</a><br>
                            {% endif %}
                            {% if user|get_videoreviewer %}
                                <li>
                                    <a href="#" onClick= "callModal(this)" id = "revoke_admin">Revoke Admin Reviewer Role</a><br>
                            {% else %}
                                <li>
                                    <a href="#" onClick= "callModal(this)" id = "add_admin">Add me as Admin Reviewer</a><br>
                            {% endif %}
                            {% if user|get_domainreviewer %}
                                <li>
                                    <a href="#" onClick= "callModal(this)" id = "add_domain">Revoke Domain Reviewer Role</a><br>
                            {% else %}
                                <li>
                                    <a href="#" onClick= "callModal(this)" id = "add_domain">Add me as Domain Reviewer</a><br>
                            {% endif %}
                            {% if user|get_qualityreviewer %}
                                <li>
                                    <a href="#" onClick= "callModal(this)" id = "revoke_quality">Revoke Quality Reviewer role</a><br>
                            {% else %}
                                <li>
                                    <a href="#" onClick= "callModal(this)" id = "add_quality">Add me as Quality Reviewer</a><br>
                            {% endif %}
                        </ul>
                        <div>
                                        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                        <div class="modal-content">
                                        <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        <h4 class="modal-title" id="myModalLabel">Confirm Delete</h4>
                                        </div>
                                        <div class="modal-body">
                                        <select multiple = "multiple" class="form-control search-language" id="id_search_language_new" name="search_language" tabindex="1" value="">
                                            <div>
                                                {% for record in language %}
                                                    <option>{{record.name}}</option>

                                                {% endfor %}      
                                            </div>
                                        </select>
                                        </div>
                                        <div id = "abc">Something here</div>
                                        <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                        <button class="btn btn-primary btn-ok" onClick = "printer()" > Confirm</button>
                                        </div>
                                        </div>
                                        </div>
                                        </div>

                    </div>
                </div>
            </div>
            <div class="creation-notifications col-lg-6 col-md-6 col-sm-6">
            {% if user|get_contributor %}
                <div class="panel panel-info">
                    <div class="panel-heading panel-heading-notif">Contributor Notifications
                        <span class="badge" style="float: none; margin-left: 10px;">{{ contrib_notifs|length }}</span>{% if contrib_notifs|length %}<a href="/creation/clear-notifications/contributor/" class="clear-all" title="Clear all notifications">Clear All</a>{% endif %}
                    </div>
                    <div class="panel-body panel-body-notif">
                    {% if user|get_contributor and contrib_notifs|length %}
                        {% for notif in contrib_notifs %}
                            <div class="notif">
                                <h5><b>{{ notif.title }}</b></h5>
                                <p>{{ notif.message }}</p>
                                <a href="/creation/delete-notification/contributor/{{ notif.id }}" class="notif-del"><i class="fa fa-times"></i></a>
                                <hr />
                            </div>
                        {% endfor %}
                    {% endif %}
                    </div>
                </div>
            {% endif %}
            {% if user|get_videoreviewer %}
                <div class="panel panel-info">
                    <div class="panel-heading panel-heading-notif">Admin-Reviewer Notifications
                        <span class="badge" style="float: none; margin-left: 10px;">{{ admin_notifs|length }}</span>{% if admin_notifs|length %}<a href="/creation/clear-notifications/admin/" class="clear-all" title="Clear all notifications">Clear All</a>{% endif %}
                    </div>
                    <div class="panel-body panel-body-notif">
                    {% if user|get_videoreviewer and admin_notifs|length %}
                        {% for notif in admin_notifs %}
                            <div class="notif">
                                <h5><b>{{ notif.title }}</b></h5>
                                <p>{{ notif.message }}</p>
                                <a href="/creation/delete-notification/admin/{{ notif.id }}" class="notif-del"><i class="fa fa-times"></i></a>
                                <hr />
                            </div>
                        {% endfor %}
                    {% endif %}
                    </div>
                </div>
            {% endif %}
            {% if user|get_domainreviewer %}
                <div class="panel panel-info">
                    <div class="panel-heading panel-heading-notif">Domain-Reviewer Notifications
                        <span class="badge" style="float: none; margin-left: 10px;">{{ domain_notifs|length }}</span>{% if domain_notifs|length %}<a href="/creation/clear-notifications/domain/" class="clear-all" title="Clear all notifications">Clear All</a>{% endif %}
                    </div>
                    <div class="panel-body panel-body-notif">
                    {% if user|get_domainreviewer and domain_notifs|length %}
                        {% for notif in domain_notifs %}
                            <div class="notif">
                                <h5><b>{{ notif.title }}</b></h5>
                                <p>{{ notif.message }}</p>
                                <a href="/creation/delete-notification/domain/{{ notif.id }}" class="notif-del"><i class="fa fa-times"></i></a>
                                <hr />
                            </div>
                        {% endfor %}
                    {% endif %}
                    </div>
                </div>
            {% endif %}
            {% if user|get_qualityreviewer %}
                <div class="panel panel-info">
                    <div class="panel-heading panel-heading-notif">Quality-Reviewer Notifications
                        <span class="badge" style="float: none; margin-left: 10px;">{{ quality_notifs|length }}</span>{% if quality_notifs|length %}<a href="/creation/clear-notifications/quality/" class="clear-all" title="Clear all notifications">Clear All</a>{% endif %}
                    </div>
                    <div class="panel-body panel-body-notif">
                    {% if user|get_qualityreviewer and quality_notifs|length %}
                        {% for notif in quality_notifs %}
                            <div class="notif">
                                <h5><b>{{ notif.title }}</b></h5>
                                <p>{{ notif.message }}</p>
                                <a href="/creation/delete-notification/quality/{{ notif.id }}" class="notif-del"><i class="fa fa-times"></i></a>
                                <hr />
                            </div>
                        {% endfor %}
                    {% endif %}
                    </div>
                </div>
            {% endif %}
            </div>
        </div>
    </div>


<script type= "text/javascript" >

direction = "";

function callModal(curr){
    var currele = curr.id;
    alert(currele);

    switch (currele){

        case "add_contributor":
        {
            $("#myModal").modal('show');
            document.getElementById("abc").innerHTML = currele;
            direction = "/creation/role/revoke/contributor";
            break;
        }
        case "revoke_contributor":
        {
             direction ="/creation/role/revoke/contributor";   
             break;
        }
        case "add_external_contributor":
        {
            $("#myModal").modal('show');
            direction ="/creation/role/add/external-contributor";      
            break;
        }
        case "revoke_external_contributor":
        {
            direction ="/creation/role/revoke/external-contributor";   
            break;
        }

        case "add_admin":
        {
         
            location.href ="/creation/role/add/video-reviewer";      
            break;
        }
        case "revoke_admin":
        {
            location.href ="/creation/role/revoke/video-reviewer";   
            break;
        }
        
        case "add_domain":
        {
            $("#myModal").modal('show');
            direction ="/creation/role/add/domain-reviewer";      
            break;
        }
        case "revoke_domain":
        {
            direction ="/creation/role/revoke/domain-reviewer";   
            break;
        }

        case "add_quality":
        {
            $("#myModal").modal('show');
            direction ="/creation/role/add/quality-reviewer";      
            break;
        }

        case "revoke_quality":
        {
            direction ="/creation/role/revoke/quality-reviewer";   
            break;
        }
    }
}
    


function printer()
{

    var abc = document.getElementById("add_contributor").id;
    var language = $("#id_search_language_new :selected").text();
    document.getElementById("abc").innerHTML = abc;
    alert("You have selected :"+ language +"You will be directed to : " + direction );
    location.href =  direction; 
}

</script>

{% endblock %}
