{% extends 'spoken/templates/base.html' %}
{% load widget_tweaks %}
{% load static %}
{% load creationdata %}
{% block title %}Creation Dashboard{% endblock %}
{% block content %}

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4 class="panel-title"><i class="fa fa-desktop"></i> Creation Dashboard</h4>
        </div>
        <div class="panel-body row">
            <div class="creation-links col-lg-6 col-md-6 col-sm-6">
                {% if user|get_contributor %}
                    <div class="panel panel-info">
                        <div class="panel-heading panel-heading-notif">Contributor</div>
                        <div class="panel-body">
                            <ul>
                                <li><a target="_blank" href="/creation/upload/">Upload / Update tutorials</a></li>
                                <li><a target="_blank" href="/creation/upload/timed-script">Upload / Update Timed Script</a></li>
                                <li><a target="_blank" href="/creation/upload/needimprovement/">Tutorials under Need Improvement state</a></li>
                                <li><a target="_blank" href="/creation/update-manual/installation/">Upload / Update Installation Sheet</a></li>
                                <li><a target="_blank" href="/creation/update-manual/instruction/">Upload / Update Instruction Sheet</a></li>
                                <li><a target="_blank" href="/creation/upload-publish-outline/">Upload Published Tutorial Outline</a></li>
                                <li><a target="_blank" href="/creation/upload/contributed/">Tutorials contributed</a></li>
                                <li><a target="_blank" href="/creation/report-missing-component/list/">Component Missing Notifications</a></li>
                                <li>    
                                    <a target="_blank" href="/creation/allocate_tutorial/available/contributor/">Request for a FOSS's Tutorial</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                {% endif %}
                
                {% if user|get_language_manager %}
                    <div class="panel panel-info">
                    <div class="panel-heading panel-heading-notif">Language Manager</div>
                    <div class="panel-body">
                        <ul>
                            <li>
                                <a target="_blank" href="/creation/rate_contributors/">Rate Contributors</a></li>
                            </li>
                            <li>
                                <a target="_blank" href="/creation/allocate_tutorial_manager/available/language_manager/">Allocate a FOSS's Tutorial </a>
                            </li>
                            <li>
                                <a target="_blank" href="/creation/role/lang_requests/">Role Requests</a>
                            </li> 
                        </ul>
                    </div>
                </div>
            
                {% endif %}

                {% if user|get_contenteditor %}
                    <div class="panel panel-info">
                        <div class="panel-heading panel-heading-notif">Content Editor</div>
                        <div class="panel-body">
                            <ul>
                                <li><a target="_blank" href="/creation/update-manual/brochure/">Upload / Update Brochure</a></li>
                            </ul>
                        </div>
                    </div>
                {% endif %}
                {% if user|get_videoreviewer %}
                    <div class="panel panel-info">
                        <div class="panel-heading panel-heading-notif">Admin Reviewer</div>
                        <div class="panel-body">
                            <ul>
                                <li><a target="_blank" href="/creation/admin-review/">Tutorials waiting for Admin review</a></li>
                                <li><a target="_blank" href="/creation/admin-review/reviewed/">Tutorials reviewed</a></li>
                            </ul>
                        </div>
                    </div>
                {% endif %}
                {% if user|get_domainreviewer %}
                    <div class="panel panel-info">
                        <div class="panel-heading panel-heading-notif">Domain Reviewer</div>
                        <div class="panel-body">
                            <ul>
                                <li><a target="_blank" href="/creation/domain-review/">Tutorials waiting for Domain review</a></li>
                                <li><a target="_blank" href="/creation/domain-review/reviewed/">Tutorials Reviewed</a></li>
                            </ul>
                        </div>
                    </div>
                {% endif %}
                {% if user|get_qualityreviewer %}
                    <div class="panel panel-info">
                        <div class="panel-heading panel-heading-notif">Quality Reviewer</div>
                        <div class="panel-body">
                            <ul>
                                <li><a target="_blank" href="/creation/quality-review/">Tutorials waiting for Quality review</a></li>
                                <li><a target="_blank" href="/creation/public-review/tutorial/index/">Tutorials ready to mark as Public review</a></li>
                                <li><a target="_blank" href="/creation/quality-review/tutorial/publish/index/">Tutorials ready to publish</a></li>
                                <li><a target="_blank" href="/creation/public-review/list/">Tutorials under Public review</a></li>
                                <li><a target="_blank" href="/creation/quality-review/reviewed/">Tutorials Reviewed</a></li>
                                <li><a target="_blank" href="/youtube/remove-youtube-video/">Remove video from YouTube</a></li>
                            </ul>
                        </div>
                    </div>
                {% endif %}
                {% if user|get_administrator %}
                    <div class="panel panel-info">
                        <div class="panel-heading panel-heading-notif">Administrator</div>
                        <div class="panel-body">
                            <ul>
                                <li><a target="_blank" href="/admin/creation/fosscategory">Foss Categories</a></li>
                                <li><a target="_blank" href="/admin/creation/language">Languages</a></li>
                                <li><a target="_blank" href="/admin/creation/tutorialdetail">Tutorial Details</a></li>
                                <li><a target="_blank" href="/admin/creation/contributorrole/">Contributor Roles</a></li>
                                <li><a target="_blank" href="/admin/creation/domainreviewerrole">Domain Reviewer Roles</a></li>
                                <li><a target="_blank" href="/admin/creation/qualityreviewerrole">Quality Reviewer Roles</a></li>
                                <li><a target="_blank" href="/creation/admin/tutorial/status/pending">Unpublish Tutorials on Live for Correction</a></li>
                                <li><a target="_blank" href="/creation/admin/tutorial/component/status/">Change Tutorial Component Status</a></li>
                                <li><a target="_blank" href="/youtube/remove-youtube-video/">Remove video from YouTube</a></li>
                                <li><a target="_blank" href="/creation/update-manual/installation/">Upload / Update Installation Sheet</a></li>
                                <li><a target="_blank" href="/creation/update-manual/instruction/">Upload / Update Instruction Sheet</a></li>
                                <li><a target="_blank" href="/creation/update-thumbnail/">Update Thumbnail</a></li>
                                <li><a target="_blank" href="/creation/update-assignment/">Update Assignment</a></li>
                                <li><a target="_blank" href="/creation/update-common-component/">Update Codefiles/Slides/Additional Material</a></li>
                                <li><a target="_blank" href="/creation/update-prerequisite/">Update Prerequisite</a></li>
                                <li><a target="_blank" href="/creation/update-keywords/">Update Keywords</a></li>
                                <li><a target="_blank" href="/creation/role/requests/">Role Requests</a></li>
                                <li><a href="{% url 'admin_testimonials' %}" target="_blank">Testimonials</a></li>
                                <li><a target="_blank" href="/creation/report-missing-component/list/">Component Missing Notifications</a></li>
                            </ul>
                        </div>
                    </div>
                {% endif %}
                 <div class="panel panel-info">
                    <div class="panel-heading panel-heading-notif">Creation Roles</div>
                    <div class="panel-body ">
                        <ul > 
                            {% if user|get_internal_contributor %}
                                <li>
                                <a href="#" onClick= "show_modal(this)" id = "add_contributor" > Add me as Contributor   </a>
                                {% if is_contributor_language %}
                                <a href="#" onClick= "show_modal(this)" id = "revoke_contributor" >| Revoke Contributor</a>
                                {% endif %}
                                    </li>
                                
                            {% else %}
                                <li><a href="#" onClick= "show_modal(this)" id = "add_contributor" > Add me as Contributor</a>
                                </li>
                            {% endif %}
                            {% if user|get_external_contributor %}
                                <li >
                                    <a href="#" onClick= "show_modal(this)" id = "add_external_contributor" >Add me as External Contributor  </a>
                                    {% if is_external_contributor_language %}
                                    <a href="#" onClick= "show_modal(this)" id = "revoke_external_contributor" >| Revoke External Contributor Role</a>
                                    {% endif %}
                                </li>
                            {% else %}
                                <li>
                                    <a href="#" onClick= "show_modal(this)" id = "add_external_contributor" >Add me as External Contributor</a></li>
                            {% endif %}
                            {% if user|get_videoreviewer %}
                                <li>
                                    <a href="#" onClick= "show_modal(this)" id = "revoke_admin">Revoke Admin Reviewer Role</a></li>
                            {% else %}
                                <li>
                                    <a href="#" onClick= "show_modal(this)" id = "add_admin">Add me as Admin Reviewer</a></li>
                            {% endif %}
                            {% if user|get_domainreviewer %}
                                <li>
                                    <a href="#" onClick= "show_modal(this)" id = "add_domain">Add me as Domain Reviewer  </a>
                                    {% if is_domain_reviewer_language %}
                                    <a href="#" onClick= "show_modal(this)" id = "revoke_domain">| Revoke Domain Reviewer Role</a>
                                    {% endif %}
                                </li>
                            {% else %}
                                <li>
                                    <a href="#" onClick= "show_modal(this)" id = "add_domain">Add me as Domain Reviewer</a>
                                </li>
                            {% endif %}
                            {% if user|get_qualityreviewer %}
                                <li>
                                    <a href="#" onClick= "show_modal(this)" id = "add_quality">Add me as Quality Reviewer  </a>
                                    {% if is_quality_reviewer_language %}
                                    <a href="#" onClick= "show_modal(this)" id = "revoke_quality">| Revoke Quality Reviewer role</a>
                                    {% endif %}
                                </li>
                            {% else %}
                                <li>
                                    <a href="#" onClick= "show_modal(this)" id = "add_quality">Add me as Quality Reviewer</a><br>
                                </li>
                            {% endif %}
                        </ul>
                                        {% include "creation/templates/modals.html" %}
                                        
                    </div>
                </div>
            </div>
            <div class="creation-notifications col-lg-6 col-md-6 col-sm-6">
            {% if user|get_contributor %}
                <div class="panel panel-info">
                    <div class="panel-heading panel-heading-notif">Contributor Notifications
                        <span class="badge" style="float: none; margin-left: 10px;">{{ contrib_notifs|length }}</span>{% if contrib_notifs|length %}<a href="/creation/clear-notifications/contributor/" class="clear-all" title="Clear all notifications">Clear All</a>{% endif %}
                    </div>
                    <div class="panel-body panel-body-notif">
                    {% if user|get_contributor and contrib_notifs|length %}
                        {% for notif in contrib_notifs %}
                            <div class="notif">
                                <h5><b>{{ notif.title }}</b></h5>
                                <p>{{ notif.message }}</p>
                                <a href="/creation/delete-notification/contributor/{{ notif.id }}" class="notif-del"><i class="fa fa-times"></i></a>
                                <hr />
                            </div>
                        {% endfor %}
                    {% endif %}
                    </div>
                </div>
            {% endif %}
            {% if user|get_videoreviewer %}
                <div class="panel panel-info">
                    <div class="panel-heading panel-heading-notif">Admin-Reviewer Notifications
                        <span class="badge" style="float: none; margin-left: 10px;">{{ admin_notifs|length }}</span>{% if admin_notifs|length %}<a href="/creation/clear-notifications/admin/" class="clear-all" title="Clear all notifications">Clear All</a>{% endif %}
                    </div>
                    <div class="panel-body panel-body-notif">
                    {% if user|get_videoreviewer and admin_notifs|length %}
                        {% for notif in admin_notifs %}
                            <div class="notif">
                                <h5><b>{{ notif.title }}</b></h5>
                                <p>{{ notif.message }}</p>
                                <a href="/creation/delete-notification/admin/{{ notif.id }}" class="notif-del"><i class="fa fa-times"></i></a>
                                <hr />
                            </div>
                        {% endfor %}
                    {% endif %}
                    </div>
                </div>
            {% endif %}
            {% if user|get_domainreviewer %}
                <div class="panel panel-info">
                    <div class="panel-heading panel-heading-notif">Domain-Reviewer Notifications
                        <span class="badge" style="float: none; margin-left: 10px;">{{ domain_notifs|length }}</span>{% if domain_notifs|length %}<a href="/creation/clear-notifications/domain/" class="clear-all" title="Clear all notifications">Clear All</a>{% endif %}
                    </div>
                    <div class="panel-body panel-body-notif">
                    {% if user|get_domainreviewer and domain_notifs|length %}
                        {% for notif in domain_notifs %}
                            <div class="notif">
                                <h5><b>{{ notif.title }}</b></h5>
                                <p>{{ notif.message }}</p>
                                <a href="/creation/delete-notification/domain/{{ notif.id }}" class="notif-del"><i class="fa fa-times"></i></a>
                                <hr />
                            </div>
                        {% endfor %}
                    {% endif %}
                    </div>
                </div>
            {% endif %}
            {% if user|get_qualityreviewer %}
                <div class="panel panel-info">
                    <div class="panel-heading panel-heading-notif">Quality-Reviewer Notifications
                        <span class="badge" style="float: none; margin-left: 10px;">{{ quality_notifs|length }}</span>{% if quality_notifs|length %}<a href="/creation/clear-notifications/quality/" class="clear-all" title="Clear all notifications">Clear All</a>{% endif %}
                    </div>
                    <div class="panel-body panel-body-notif">
                    {% if user|get_qualityreviewer and quality_notifs|length %}
                        {% for notif in quality_notifs %}
                            <div class="notif">
                                <h5><b>{{ notif.title }}</b></h5>
                                <p>{{ notif.message }}</p>
                                <a href="/creation/delete-notification/quality/{{ notif.id }}" class="notif-del"><i class="fa fa-times"></i></a>
                                <hr />
                            </div>
                        {% endfor %}
                    {% endif %}
                    </div>
                </div>
            {% endif %}
            </div>
        </div>
    </div>
<script type= "text/javascript" >

var direction = "";
var language = "";
var id = "";

// Call the respective modal as per he role request
function show_modal(curr){
    var currele = curr.id;

    //$(".modal-height").css({height:'10px'});   
    switch (currele){

        case "add_contributor":
        {
            $("#stModal_con").modal('show');

            document.getElementById("stModalLabel_c").innerHTML = "Add Contributor";
            direction = "/creation/role/add/contributor/";
            id = "id_search_lang_add_c";
            break;
        }
        case "revoke_contributor":
        {
            $("#stModal_con_revoke").modal('show');
            document.getElementById("stModalLabel_c_revoke").innerHTML = "Revoke Contributor";
            direction ="/creation/role/revoke/contributor/";
            id = "id_search_lang_revoke_c";
            break;
        }
        case "add_external_contributor":
        {
            $("#stModal_ext_con").modal('show');
            document.getElementById("stModalLabel_ec").innerHTML = "Add External Contributor";
            direction ="/creation/role/add/external-contributor/";
            id = "id_search_language_add_ec";
      
            break;
        }
        case "revoke_external_contributor":
        {
            $("#stModal_ext_con_revoke").modal('show');
            document.getElementById("stModalLabel_ec_revoke").innerHTML = "Revoke External Contributor";
            direction ="/creation/role/revoke/external-contributor/";
            id = "id_search_lang_revoke_ec";
            break;
        }

        case "add_admin":
        {         
            location.href ="/creation/role/add/video-reviewer/0/";      
            break;
        }
        case "revoke_admin":
        {
            location.href ="/creation/role/revoke/video-reviewer/0/";   
            break;
        }
        
        case "add_domain":
        {
            $("#stModal_dom_rev").modal('show');
            document.getElementById("stModalLabel_dr").innerHTML = "Add Domain Reviewer";
            direction ="/creation/role/add/domain-reviewer/";      
            id = "id_search_language_add_dr";

            break;
        }
        case "revoke_domain":
        {
            $("#stModal_dom_revoke").modal('show');
            document.getElementById("stModalLabel_dr_revoke").innerHTML = "Revoke Domain Reviewer";
            direction ="/creation/role/revoke/domain-reviewer/";
            id = "id_search_lang_revoke_dr";
            break;
        }

        case "add_quality":
        {
            $("#stModal_q_rev").modal('show');
            document.getElementById("stModalLabel_qr").innerHTML = "Add Quality Reviewer";
            direction ="/creation/role/add/quality-reviewer/";      
            id = "id_search_language_add_qr";
            break;
        }

        case "revoke_quality":
        {
            $("#stModal_q_revoke").modal('show');
            document.getElementById("stModalLabel_qr_revoke").innerHTML = "Revoke Quality Reviewer";   
            direction ="/creation/role/revoke/quality-reviewer/";
            id="id_search_lang_revoke_qr";
            break;
        }
    }
}
    


function printer()
{
//Gets called when the modal is loaded up

    var selected1 = [];
    var this_direction = direction;
    var select1 = document.getElementById(id);
    for (var i = 0; i < select1.length; i++) {
        if (select1.options[i].selected)
        {   
            //selected1.push(select1.options[i].id);
            this_direction += select1[i].id+"/";
            selected1.push(select1.options[i].value);
        }
    }
    
    if (this_direction.match(/revoke.*/)) {
        var temp = confirm("This will remove you as a contributor for the selected languages \n\n Are you sure ? \n\nLanguages selected :"+selected1);  
    }
    else{
        var temp = confirm("You have selected "+selected1);
    }
    if (temp)
    {
        location.href =  this_direction; 
    }
    else{
    $("#"+id).val('');
    }
}
</script>

{% endblock %}
