{% extends 'spoken/templates/base.html' %}
{% load widget_tweaks %}
{% load static %}
{% load creationdata %}
{% block title %}Tutorials Contributed{% endblock %}
{% if alert_success or alert_danger %}
	{% block alert %}
		{% if alert_success %}
			<div class="alert alert-success alert-dismissable">
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
				{{ alert_success }}
			</div>
		{% endif %}
		{% if alert_danger %}
			<div class="alert alert-danger alert-dismissable">
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
				{{ alert_danger }}
			</div>
		{% endif %}
	{% endblock %}
{% endif %}
{% block heading %}Tutorials Contributed{% endblock %}
{% block content %}
{% endblock %}
