{% extends 'spoken/templates/popup-base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block heading %}
    Quality Review - {{ component_title }}
{% endblock %}
{% block content %}
    <form role="form" method="post" enctype="multipart/form-data" action="">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_component_status">Status:</label>
            {% render_field form.component_status class+="form-control" %}
            {{ form.component_status.errors }}
        </div>
        <div class="form-group remarks-parent">
            <label for="id_feedback">Remarks:</label>
            {% render_field form.feedback class+="form-control" %}
            <ul class="cerrorlist"></ul>
        </div>
        <input type="submit" class="btn btn-primary review-submit" value="Submit"  tabindex="4" />
    </form>
{% endblock %}
{% block compressinlinejsblock %}
    <script type="text/javascript">
        $(document).ready(function() {
            $('.remarks-parent').hide();
            $('#id_component_status').change(function() {
                if($('#id_component_status').val() == 5)
                    $('.remarks-parent').show();
                else
                    $('.remarks-parent').hide();
            });
            $( "form" ).submit(function( event ) {
                var compStatus = $('#id_component_status').val();
                var remarks = $('#id_feedback').val();
                if(compStatus == 5 && remarks == '') {
                    $('.cerrorlist').html('<li>Please fill the remarks field</li>');
                    event.preventDefault();
                }
            });
        });
    </script>
{% endblock %}
