{% extends 'spoken/templates/base.html' %}
{% load widget_tweaks %}
{% load static %}
{% load cmsdata %}
{% load creationdata %}
{% block title %}Tutorials Quality Review Index{% endblock %}
{% block heading %}<i class="fa fa-list-ul"></i> Tutorials Quality Review Index{% endblock %}
{% block content %}
    <!-- Nav tabs -->
    <div class="custom-alert"></div>
  <form action="" method="post" class='form-horizontal'>
    <div class='row' >
      {% csrf_token %}
      <div class="col-lg-4 col-md-4 col-sm-4">    
          <div class="form-group">
              <label for="id_foss" class="col-sm-4 control-label">FOSS Course</label>
              <div class="col-sm-8">
                {% render_field form.tutorial_detail__foss class+="form-control foss" tabindex="1" %}
                {{ form.tutorial_detail__foss.errors }}                      
              </div>         
          </div>          
        </div>  
    <div class="col-lg-4 col-md-4 col-sm-4">    
         <div class="form-group">
              <label for="id_language" class="col-sm-4">Language</label>
              <div class="col-sm-8">
                  {% render_field form.language class+="form-control language" tabindex="2" %}
                  {{ form.language.errors }}
              </div>
          </div>
      </div>

      <div class="form-group col-sm-12">
        <div class="col-sm-offset-4 col-sm-8">
           <input class="btn btn-success" type="submit" value="Filter" />
           <a class="btn btn-success" href="{{request.path}}?{{request.GET|reset_get_values}}">Reset Filter</a>
        </div>
      </div> 
  </div>     
    <ul class="breadcrumb">
        <li class="active">Waiting for review</li>
        <li>
            <a href="/creation/public-review/tutorial/index/">
                Ready for Public review
            </a>
        </li>
        <li>
            <a href="/creation/quality-review/tutorial/publish/index/">
                Ready to publish
            </a>
        </li>
        <li>
            <a href="/creation/public-review/list/">
                Under Public review
            </a>
        </li>
        <li>
            <a href="/creation/quality-review/reviewed/">
                Reviewed
            </a>
        </li>
    </ul>
    <div id="flip-scroll" class="table-responsive">
        <table class="paleblue table table-bordered table-condensed table-hover">
        {% if not collection|length %}
            <tr>
                <td colspan="11" class="col-center">List is empty</td>
            </tr>
        {% else %}
            <thead>
                {% get_sortable_header header ordering request.GET %}
            </thead>
            <tbody>
                {% for tr_rec in collection %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ tr_rec.tutorial_detail.foss.foss }}</td>
                        <td><a href="/creation/tutorial/view/{{ tr_rec.tutorial_detail.foss.foss|get_url_name }}/{{ tr_rec.tutorial_detail.tutorial|get_url_name }}/{{ tr_rec.language.name }}/" target="_blank">{{ tr_rec.tutorial_detail.tutorial }}</a></td>
                        <td>{{ tr_rec.language.name }}</td>
                        <td class="col-center" title="{{ tr_rec.outline_status | get_review_status_list }}">
                            <span class="{{ tr_rec.outline_status | get_review_status_symbol }}"></span>
                        </td>
                        <td class="col-center" title="{{ tr_rec.script_status | get_review_status_list }}">
                            <span class="{{ tr_rec.script_status | get_review_status_symbol }}"></span>
                        </td>
                        <td class="col-center" title="{{ tr_rec.common_content.slide_status | get_review_status_list }}">
                            <span class="{{ tr_rec.common_content.slide_status | get_review_status_symbol }}"></span>
                        </td>
                        <td class="col-center" title="{{ tr_rec.video_status | get_review_status_list }}">
                            <span class="{{ tr_rec.video_status | get_review_status_symbol }}"></span>
                        </td>
                        <td class="col-center" title="{{ tr_rec.common_content.code_status | get_review_status_list }}">
                            <span class="{{ tr_rec.common_content.code_status | get_review_status_symbol }}"></span>
                        </td>
                        <td class="col-center" title="{{ tr_rec.common_content.assignment_status | get_review_status_list }}">
                            <span class="{{ tr_rec.common_content.assignment_status | get_review_status_symbol }}"></span>
                        </td>
                        <td class="col-center" title="{{ tr_rec.common_content.additional_material_status | get_review_status_list }}">
                            <span class="{{ tr_rec.common_content.additional_material_status | get_review_status_symbol }}"></span>
                        </td>
                        <td class="col-center" title="{{ tr_rec.common_content.prerequisite_status | get_review_status_list }}">
                            <span class="{{ tr_rec.common_content.prerequisite_status | get_review_status_symbol }}"></span>
                        </td>
                        <td class="col-center" title="{{ tr_rec.common_content.keyword_status | get_review_status_list }}">
                            <span class="{{ tr_rec.common_content.keyword_status | get_review_status_symbol }}"></span>
                        </td>
                        <td class="col-center"><a href="/creation/quality-review/tutorial/{{ tr_rec.id }}" class="review-btn"><span title="" data-original-title="" class="fa fa-cog fa-2"></span> Review</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        {% endif %}
        </table>
    </div>
  </form>
{% endblock %}
{% block uncompressjsblock %}
    <script src="{% static 'spoken/js/jquery.fancybox.pack.js' %}"></script>
    <script src="{% static 'spoken/js/jquery.mousewheel-3.0.6.pack.js' %}"></script>
{% endblock %}
{% block compressinlinejsblock %}
    <script type="text/javascript">
        $(document).ready(function(){
            $(".review-btn").hover(
                function () {
                    $(this).children(0).addClass("fa-spin");
                },
                function () {
                    $(this).children(0).removeClass("fa-spin");
                }
            );
        });
    </script>
{% endblock %}
