{% extends 'spoken/templates/base.html' %}
{% load widget_tweaks %}
{% load static %}
{% load eventsdata %}
{% load cmsdata %}
{% load creationdata %}

{% block compresscssblock %}
    <link rel="stylesheet" href="{% static 'spoken/css/jquery.datetimepicker.css' %}" type="text/css" media="screen" charset="utf-8" />
{% endblock %}

{% block heading %} <i class="fa fa-list-ul"></i> Rate Contributors {% endblock %}
{% block search %}{% endblock %}
{% block content %}
  <div class='filters row' >

    <form action="{{ action }}" method="get" class='form-horizontal'>
      {% csrf_token %}
  
      <div class="col-md-4 col-md-4 col-sm-4">
        
          <div class="form-group">
              <label for="id_language__name" class="col-sm-4 control-label">Language</label>
              <div class="col-sm-8">
                  {% render_field form.language class+="form-control language" tabindex="1" %}
                  {{ form.language.errors }}
              </div>
          </div>
         
      </div>          
  <div>
    <div class="form-group pull-right">
     <a href="{% url 'creation:get_latest_contributors'  %}"> <input class="btn btn-primary" type="button" value="Refresh Contributor list "></a>
    </div>
      
      <div class="form-group col-sm-12">
        <div class="col-sm-offset-4 col-sm-8">
           <input class="btn btn-success" type="submit" value="Filter" />
           <a class="btn btn-success" href="{{request.path}}?{{request.GET|reset_get_values}}">Reset Filter</a>
        </div>
      </div>
  </div>


  
    
  <div class="col-sm-offset-1 col-lg-10">  

    <ul class="tabs nav nav-tabs">
      <li {% if status == 'rate' %}class="active"{% endif %}>
      <a href="{% url 'creation:rate_contributors' 'rate' %}"><i class="fa fa-list-ul"></i> Contributors </a></li>
      <li {% if status == 'rated' %}class="active"{% endif %}>
      <a href="{% url 'creation:rate_contributors' 'rated' %}"><i class="fa fa-list-ul"></i> Rated </a></li>
      </ul>
        <div class="tab-content" >
        <div class="tab-pane active">
          {% if status == 'rate' %}
          <table class="paleblue table table-striped table-hover table-bordered ">
            {% get_sortable_header header ordering request.GET %}  
          <tr class="pull-right ">
            <input type = "submit" class=" btn btn-primary pull-right"  value="Save" \>
          </tr>

          {% for record in contributors %}
          <tr class="">
          <td><input type="checkbox" name ="contri" value ="{{ record.user__username }}" class="col-md-10 "></td>
          <td align="center" class="form-group">{{ record.user__username }}</td>       
          </label>
          
          <td >
          <div align="center">
            <label for="sel1"></label>
            <select name ="rating" id="sel1" >
              <option>0</option>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>
          </td>
          </tr>
          </tr > 
          {% endfor %}
    </table>
{% endif %}

  {% if status == 'rated' %}
    <table class="paleblue table table-striped table-hover table-bordered">
          <tr> <th class="col-sm-offset-4"> Rated Contributors </th>
            <th></th></tr>
            <th>User</th>
            <th>Rating</th>
      {%for rates in rated_contributors %}    
          <tr>
            <td> {{rates.user__username}}</td>
            <td> {{ rates.rating }}</td>  
          </tr>
          {% endfor %}
    </table>
 
  {% endif %}
  </div>
  </div> 
</div>
{% endblock %}  