{% extends 'spoken/templates/base.html' %}
{% load widget_tweaks %}
{% load static %}
{% load creationdata %}
{% block title %}Missing Component Notifications{% endblock %}
{% block uncompresscssblock %}
    <link rel="stylesheet" href="{% static 'spoken/css/jquery.fancybox.pack.css' %}" type="text/css" media="screen" charset="utf-8" />
{% endblock %}
{% block compressinlinecssblock %}
    <style type="text/css">
        .review-data pre {
            padding-bottom: 0px;
        }
    </style>
{% endblock %}
{% block heading %}Missing Component Notifications{% endblock %}
{% block content %}
    <div class="reviewers-feedback">
        {% for row in rows %}
            <div class="review-feedback">
                <div class="review-info">
                    <div class="review-user">
                        {% if row.user %}{{ row.user.username }}{% endif %}
                    </div>
                    <div class="review-date">
                        {{ row.created }}
                    </div>
                </div>
                <div class="review-data">
                    <pre>
<b>Foss: {{row.tutorial_resource.tutorial_detail.foss.foss}}
Tutorial: {{row.tutorial_resource.tutorial_detail.tutorial}}
Language: {{row.tutorial_resource.language.name}}
Component: {{ row.component | get_component_name }}
Nature of Report: {% if row.report_type %}Some content is missing{% else %}Component itself is missing{% endif %}{% if row.report_type %}

Remarks:{% endif %}</b><p>{{ row.remarks }}</p>{{ row.id|get_missing_component_reply|safe }}{% if row.inform_me == 1 %}<a href="/creation/report-missing-component/reply/{{ row.id }}/" class="btn btn-primary fancybox-script fancybox.iframe">Reply</a>{% endif %}
                    </pre>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
{% block uncompressjsblock %}
    <script src="{% static 'spoken/js/jquery.fancybox.pack.js' %}"></script>
    <script src="{% static 'spoken/js/jquery.mousewheel-3.0.6.pack.js' %}"></script>
{% endblock %}
{% block compressinlinejsblock %}
    <script type="text/javascript">
        $(document).ready(function(){
            $(".fancybox-script").fancybox({
                maxWidth    : 1024,
                maxHeight    : 700,
                fitToView    : true,
                autoSize    : false,
                closeClick    : false,
                openEffect    : "none",
                closeEffect    : "none",
                modal        : true,
                afterClose  : function() {
                    return parent.location.reload(true);
                }
            });
        });
    </script>
{% endblock %}
