{% extends 'spoken/templates/popup-base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block title %}Report Missing Component - Reply Form{% endblock %}
{% block heading %}
    Report Missing Component - Reply Form
{% endblock %}
{% block content %}
    <form role="form" method="post" enctype="multipart/form-data" action="">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_component">Reply Message:</label>
            {% render_field form.reply_message class+="form-control reply_message" tabindex="1" %}
            {{ form.reply_message.errors }}
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Submit"  tabindex="2" />
        </div>
    </form>
{% endblock %}
