{% extends 'spoken/templates/base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block title %}Suggest an Example for a Spoken Tutorial{% endblock %}
{% block heading %}
    Suggest an Example for a Spoken Tutorial
{% endblock %}
{% block search %}{% endblock %}
{% block content %}
    <form role="form" method="post" enctype="multipart/form-data" action="" class="form-horizontal">
        <div class="row well bs-component">
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                <fieldset>
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="id_topic_title" class="col-lg-4 control-label">Title for Suggested Example:</label>
                        <div class="col-lg-8">
                            {% render_field form.topic_title class+="form-control topic_title" tabindex="1" %}
                            {{ form.topic_title.errors }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="id_example_description" class="col-lg-4 control-label">Description of Example:</label>
                        <div class="col-lg-8">
                            {% render_field form.example_description class+="form-control example_description" tabindex="2" %}
                            {{ form.example_description.errors }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="id_script_writer" class="col-lg-4 control-label">Would you like to write the script for the above?</label>
                        <div class="col-lg-8">
                            {% render_field form.script_writer class+="form-control script_writer" tabindex="3" %}
                            {{ form.script_writer.errors }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="id_is_reviewer" class="col-lg-4 control-label">Would you like to be a reviewer for the above?</label>
                        <div class="col-lg-8">
                            {% render_field form.is_reviewer class+="form-control is_reviewer" tabindex="4" %}
                            {{ form.is_reviewer.errors }}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-8 col-lg-offset-4">
                            <input type="submit" class="btn btn-primary" value="Submit"  tabindex="5" />
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
    </form>
{% endblock %}
