{% extends 'spoken/templates/base.html' %}
{% load widget_tweaks %}
{% load static %}
{% load creationdata %}
{% block title %}Test Filter{% endblock %}
{% block heading %}<i class="fa fa-list-ul"></i> Test Filter{% endblock %}
{% block compresscssblock %}
    <link rel="stylesheet" href="{% static 'django_tables2/themes/paleblue/css/screen.css' %}" type="text/css" media="screen" charset="utf-8" />
{% endblock %}
{% block content %}
    <form action="" method="get">
        {{ table.form.as_p }}
        <input type="submit" />
    </form>
    <br />
    <table class="table table-bordered table-striped table-hover">
        {% for obj in table %}
            <tr><td>{{ obj.user }}</td><td>{{ obj.user.email }}</td></tr>
        {% endfor %}
    </table>
{% endblock %}
