{% extends 'spoken/templates/base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block title %}Upload Keywords{% endblock %}
{% block heading %}Upload Keywords{% endblock %}
{% block content %}
    <form role="form" method="post" enctype="multipart/form-data" action="">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_source_foss">FOSS Category </label>
            {% render_field form.foss class+="form-control foss" tabindex="1" %}
            {{ form.foss.errors }}
        </div>
        <div class="form-group">
            <label for="id_tutorial">Tutorial Name <span class='ajax-refresh ajax-refresh-tutorial'><i class="fa fa-2 fa-refresh fa-spin"></i></span></label>
            {% render_field form.tutorial class+="form-control tutorial" tabindex="2" %}
            {{ form.tutorial.errors }}
        </div>
        <div class="form-group">
            <label for="id_keywords">Keywords <span class='ajax-refresh ajax-refresh-keywords'><i class="fa fa-2 fa-refresh fa-spin"></i></span></label>
            {% render_field form.keywords class+="form-control keywords" tabindex="3" %}
            {{ form.keywords.errors }}
        </div>
        <input type="submit" class="btn btn-primary" value="Save"  tabindex="4" />
    </form>
{% endblock %}
{% block compressinlinejsblock %}
    <script type="text/javascript">
        $(document).ready(function(){
            $('.foss').on("change", function(){
                var foss = $(this).val();
                $('.tutorial').html('<option value="" selected="selected">-- Select Tutorial --</option>');
                $('.tutorial').attr("disabled", "disabled");
                if(foss != '') {
                    $.ajax({
                        url: "/creation/ajax-upload-prerequisite/",
                        type: "POST",
                        data: {
                            foss: foss,
                        },
                        beforeSend: function() {
                            $('.ajax-refresh-tutorial').show();
                        },
                        success: function(data) {
                            // loading tutorial names
                            $('.ajax-refresh-tutorial').hide();
                            if(data){
                                $('.tutorial').html(data);
                                $('.tutorial').removeAttr('disabled');
                            }
                        }
                    });
                }
            });
            $('.tutorial').on("change", function(){
                var tutorial = $(this).val();
                $('.keywords').val('');
                $('.keywords').attr("disabled", "disabled");
                if(tutorial != '') {
                    $.ajax({
                        url: "/creation/ajax-get-keywords/",
                        type: "POST",
                        data: {
                            tutorial_detail: tutorial,
                        },
                        beforeSend: function() {
                            $('.ajax-refresh-keywords').show();
                        },
                        success: function(data) {
                            // loading tutorial names
                            if(data){
                                $('.keywords').val(data);
                            }
                            $('.ajax-refresh-keywords').hide();
                            $('.keywords').removeAttr('disabled');
                        }
                    });
                }
            });
        });
    </script>
{% endblock %}
