{% extends 'spoken/templates/popup-base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block title %}Upload Prerequisite{% endblock %}
{% block heading %}Upload Prerequisite{% endblock %}
{% block content %}
    <form role="form" method="post" enctype="multipart/form-data" action="">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_foss_category">FOSS Category:</label>
            {% render_field form.foss_category class+="form-control foss_category" tabindex="1" data-placeholder="Choose FOSS Category" %}
            {{ form.foss_category.errors }}
        </div>
        <div class="form-group">
            <label for="id_tutorial_name">Tutorial Name:</label>
            {% render_field form.tutorial_name class+="form-control tutorial_name" tabindex="2" data-placeholder="Choose Tutorial Name" %}
            {{ form.tutorial_name.errors }}
        </div>
        <input type="submit" class="btn btn-primary" value="Save"  tabindex="4" />
    </form>
{% endblock %}
{% block compressinlinejsblock %}
    <script type="text/javascript">
        $(document).ready(
            function(){
                $('.foss_category').on("change",
                    function(){
                        var foss = $(this).val();
                        $('.tutorial_name').html('<option value="" selected="selected">Select Tutorial</option>');
                        $('.tutorial_name').attr("disabled", "disabled");
                        if(foss != '') {
                            $.ajax({
                                url: "/creation/ajax-upload-prerequisite/",
                                type: "POST",
                                data: {
                                    foss: foss,
                                },
                                success: function(data) {
                                    // loading tutorial names
                                    if(data){
                                        $('.tutorial_name').html(data);
                                        $('.tutorial_name').removeAttr('disabled');
                                    }
                                }
                            });
                        }
                    }
                );
            }
        );
    </script>
{% endblock %}
