{% extends 'spoken/templates/popup-base.html' %}
{% load widget_tweaks %}
{% block heading %}
	Upload Script
{% endblock %}
{% block content %}
	<form name="dbform" role="form" method="post" enctype="multipart/form-data" action="">
		{% csrf_token %}
		<p>To update script, <a href="{{ script_path }}" target="_blank">click here</a>.</p>
		<div class="bs-callout bs-callout-danger"><h4>Note:</h4><p>Once the script is updated to wiki, please press the below "Submit" button to send it for review.<p></div>
		{% render_field form.scriptpath class+="scriptpath" %}
		{{ form.outline.errors }}
		<input type="submit" class="btn btn-primary" value="Submit"  tabindex="4" />
	</form>
{% endblock %}
