{% extends 'spoken/templates/popup-base.html' %}
{% load widget_tweaks %}
{% block heading %}
	Upload {{ title }} file
{% endblock %}
{% block content %}
	<form role="form" method="post" enctype="multipart/form-data" action="">
		{% csrf_token %}
		<div class="well">
		    <fieldset>
			    {% render_field form.comp %}
			    {{ form.comp.errors }}
		    </fieldset>
	    </div>
	    {% if title == "video" %}
	        <div class="form-group">
                <label for="id_thumb_mins">Video Thumbnail time</label>
	            <div class="input-group">
	                {% render_field form.thumb_mins class+="form-control" %}
	                {{ form.thumb_mins.errors }}
	                <span class="input-group-addon">:</span>
	                {% render_field form.thumb_secs class+="form-control" %}
	                {{ form.thumb_secs.errors }}
	            </div>
            </div>
        {% endif %}
		{% if title == "video" and tr.video_status > 0 %}
		    <div class="form-group">
		        <label for="id_isarchive">What to do with old video?</label>
			    {% render_field form.isarchive class+="form-control" %}
			    {{ form.isarchive.errors }}
		    </div>
	    {% endif %}
		{% render_field form.comptype %}
		<input type="submit" class="btn btn-primary" value="Upload"  tabindex="4" />
	</form>
{% endblock %}
