{% extends 'spoken/templates/popup-base.html' %}
{% load widget_tweaks %}
{% block heading %}
	Upload {{ title }} file
{% endblock %}

{% block content %}
<style>
	.btn {
		margin: 5px;
	}
</style>
	{% if component == 'video' or component == 'audio' %}
	<form id="form_id" role="form" method="post" enctype="multipart/form-data" onsubmit="return mov()">
	{% else %}
	<form id="form_id" role="form" method="post" enctype="multipart/form-data">
	{% endif %}
		{% csrf_token %}
		<div class="well">
		    <fieldset>
			    {% render_field form.comp %}
			    {{ form.comp.errors }}
		    </fieldset>
	    </div>
	    {% if title == "video" %}
	        <div class="form-group">
                <label for="id_thumb_mins">Video Thumbnail time</label>
	            <div class="input-group">
	                {% render_field form.thumb_mins class+="form-control" %}
	                {{ form.thumb_mins.errors }}
	                <span class="input-group-addon">:</span>
	                {% render_field form.thumb_secs class+="form-control" %}
	                {{ form.thumb_secs.errors }}
	            </div>
            </div>
        {% endif %}
		{% if title == "video" and tr.video_status > 0 %}
		    <div class="form-group">
		        <label for="id_isarchive">What to do with old video?</label>
			    {% render_field form.isarchive class+="form-control" %}
			    {{ form.isarchive.errors }}
		    </div>
	    {% endif %}

		{% render_field form.comptype %}
		{% if title == "audio" %}
		{% if tr.audio != "Unavailable" %}
			<a class="btn btn-primary" href="{% url 'creation:creationhome' %}" title="Done">
				<span title="Done" data-original-title="" >Done</span>
			</a>
			<div id="preview-link">
				<a class='btn btn-primary' href="{% url 'creation:view_component_audtype' trid=tr.id component='video' aud_type='f' %}" title='View/Download Audio'><span title='Preview' data-original-title=''>Preview</span></a>
			</div>
		{% endif %}
		{% elif title == "video" %}
		{% if tr.audio != "Unavailable" %}
			<a class="btn btn-primary" href="{% url 'creation:creationhome' %}" title="Done">
				<span title="Done" data-original-title="" >Done</span>
			</a>
			<div id="preview-link">
				<a class='btn btn-primary' href="{% url 'creation:view_component' trid=tr.id component='video' %}" title='View/Download Video'><span title='Preview' data-original-title=''>Preview</span></a>
			</div>
		{% endif %}
		{% endif %}
		<input type="submit" class="btn btn-primary" value="Upload"  tabindex="4" />
	</form>
{% endblock %}
{% block jsblock %}

<script>
	function mov(){
		//alert("done");
		var form = document.getElementById('form_id');
		var formData = new FormData(form);
		var xhttp = new XMLHttpRequest();
		previewBtn = document.getElementById('preview-link');
		previewBtn.innerHTML='<i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i><span class="sr-only">Loading...</span>We are preparing a preview. This may take some minutes.'
		xhttp.onreadystatechange = function() {
			if (this.readyState == 4 && this.status == 200) {
				var response = xhttp.responseText;
				if (response == "done") {
					location.reload();
				}
				else {
					body = document.getElementsByTagName("body")[0];
					body.innerHTML = response;
				}
			}
		};
		xhttp.open("POST","{% url 'creation:ajax_upload_component' tr.id component %}", true);
		xhttp.send(formData);
		return false;
	}
</script>
{% endblock %}