{% extends 'spoken/templates/popup-base.html' %}
{% load widget_tweaks %}
{% block heading %}
	Upload Keywords
{% endblock %}
{% block content %}
	<form role="form" method="post" enctype="multipart/form-data" action="">
		{% csrf_token %}
		<div class="form-group">
			<label for="id_keywords">Keywords:</label>
			{% render_field form.keywords class+="form-control" %}
			{{ form.keywords.errors }}
		</div>
		<input type="submit" class="btn btn-primary" value="Upload"  tabindex="4" />
	</form>
{% endblock %}
