{% extends 'spoken/templates/base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block title %}Tutorial Upload Index{% endblock %}
{% block cssblock %}<link rel="stylesheet" href="{% static 'spoken/css/chosen.min.css' %}" type="text/css" media="screen" charset="utf-8" />{% endblock %}
{% block heading %}<i class="fa fa-list-ul"></i> Tutorial Upload Index{% endblock %}
{% block content %}
    <ul class="tabs nav nav-tabs">
        <li class="active"><a href=""><i class="fa fa-list-ul"></i> Tutorial Upload Index</a></li>
        <li><a href="/creation/upload/needimprovement/"><i class="fa fa-list-ul"></i> Tutorials under Need Improvement state</a></li>
        <li><a href="/creation/upload/contributed/"><i class="fa fa-list-ul"></i> Tutorials Contributed</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active">
            <form role="form" method="post" enctype="multipart/form-data" action="">
                {% csrf_token %}
                <div class="form-group">
                    <label for="id_foss_category">FOSS Category:</label>
                    {% render_field form.foss_category class+="form-control foss_category" tabindex="1" data-placeholder="Choose FOSS Category" %}
                    {{ form.foss_category.errors }}
                </div>
                <div class="form-group">
                    <label for="id_language">Language:</label>
                    {% render_field form.language class+="form-control language" tabindex="3" data-placeholder="Choose Language" %}
                    {{ form.language.errors }}
                </div>
                <div class="form-group">
                    <label for="id_tutorial_name">Tutorial Name:</label>
                    {% render_field form.tutorial_name class+="form-control tutorial_name" tabindex="2" data-placeholder="Choose Tutorial Name" %}
                    {{ form.tutorial_name.errors }}
                </div>
                <input type="submit" class="btn btn-primary" value="Next"  tabindex="4" />
            </form>
        </div>
    </div>
{% endblock %}
{% block jsblock %}
    <script src="{% static 'spoken/js/chosen.jquery.min.js' %}"></script>
    <script type="text/javascript">
        $(".foss_category").chosen({width: "100%"});
        $(".tutorial_name").chosen({width: "100%"});
        $(".language").chosen({width: "100%"});
    </script>
    <script type="text/javascript">
        $(document).ready(function(){
            tutname = $(".tutorial_name");
            lang = $(".language");
            lang.chosen();
            $('.foss_category').on("change", function(){
                var foss = $(this).val();
                if(foss == '') {
                    $('.tutorial_name').html('<option value="" selected="selected"></option>');
                    $('.tutorial_name').attr("disabled", "disabled");
                    tutname.trigger("chosen:updated");
                    $('.language').html('<option value="" selected="selected"></option>');
                    $('.language').attr("disabled", "disabled");
                    lang.trigger("chosen:updated");
                } else {
                    $('.tutorial_name').html('<option value="" selected="selected"></option>');
                    $('.tutorial_name').attr("disabled", "disabled");
                    tutname.trigger("chosen:updated");
                    $('.language').html('<option value="" selected="selected"></option>');
                    $('.language').attr("disabled", "disabled");
                    lang.trigger("chosen:updated");
                    $.ajax({
                        url: "/creation/ajax-upload-foss/",
                        type: "POST",
                        data: {
                            foss: foss
                        },
                        success: function(data) {
                            // loading languages
                            if(data) {
                                $('.language').html(data);
                                $('.language').removeAttr('disabled');
                                lang.trigger("chosen:updated");
                            }
                        }
                    })
                }
            });
            $('.language').on("change", function(){
                var foss = $('.foss_category').val();
                var lang = $(this).val();
                if(foss == '') {
                    $('.tutorial_name').html('<option value="" selected="selected"></option>');
                    $('.tutorial_name').attr("disabled", "disabled");
                    tutname.trigger("chosen:updated");
                } else {
                    $('.tutorial_name').html('<option value="" selected="selected"></option>');
                    $('.tutorial_name').attr("disabled", "disabled");
                    tutname.trigger("chosen:updated");
                    $.ajax({
                        url: "/creation/ajax-upload-foss/",
                        type: "POST",
                        data: {
                            foss: foss,
                            lang: lang
                        },
                        success: function(data) {
                            // loading tutorial names
                            if(data){
                                $('.tutorial_name').html(data);
                                $('.tutorial_name').removeAttr('disabled');
                                tutname.trigger("chosen:updated");
                            }
                        }
                    })
                }
            });
        });
    </script>
{% endblock %}
