{% extends 'spoken/templates/popup-base.html' %}
{% load widget_tweaks %}
{% block heading %}
	Upload {{ title }} file
{% endblock %}

{% block content %}
<style>
	.btn {
		margin: 5px;
	}
	.preview-btn {
    background-color: #e7f3fe;
    border: 6px solid #2196F3;
}
</style>


	{% if title == 'video' or title == 'audio' %}
	<form id="form_id" role="form" method="post" enctype="multipart/form-data" onsubmit="return mov()">
	{% else %}
	<form id="form_id" role="form" method="post" enctype="multipart/form-data">
	{% endif %}
		{% csrf_token %}
		<div class="well">
		    <fieldset>
			    {% render_field form.comp %}
			    {{ form.comp.errors }}
		    </fieldset>
	    </div>
	    {% if title == "video" %}
	        <div class="form-group">
                <label for="id_thumb_mins">Video Thumbnail time</label>
	            <div class="input-group">
	                {% render_field form.thumb_mins class+="form-control" %}
	                {{ form.thumb_mins.errors }}
	                <span class="input-group-addon">:</span>
	                {% render_field form.thumb_secs class+="form-control" %}
	                {{ form.thumb_secs.errors }}
	            </div>
            </div>
        {% endif %}
		{% if title == "video" and tr.video_status > 0 %}
		    <div class="form-group">
		        <label for="id_isarchive">What to do with old video?</label>
			    {% render_field form.isarchive class+="form-control" %}
			    {{ form.isarchive.errors }}
		    </div>
	    {% endif %}
		<div id="preview-link">
			
		</div>
		{% render_field form.comptype %}
		<div id="preview-btn">
		{% if title == "video" %}
			{% if tr.audio != "Unavailable" %}
				<a class='btn btn-primary' target='_blank' href="{% url 'creation:view_component' trid=tr.id component='video' %}" title='Preview your uploaded file'> Preview </a> <strong>Preview your uploaded file!</strong> 			
			{% endif %}
		{% endif %}
		</div>
		<input type="submit" class="btn btn-primary" id="upload-btn" value="Upload" title="Upload your file" tabindex="4" />
	</form>
{% endblock %}
{% block jsblock %}

<script>
	function mov(){
		//alert("done");
		previewBtn = document.getElementById('preview-link');
		var form = document.getElementById('form_id');
		var formData = new FormData(form);
		var xhttp = new XMLHttpRequest();
		//alert("hi");
		var prv = document.getElementById('preview-btn');
		prv.innerHTML = '';
		previewBtn.innerHTML='<i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i><span class="sr-only">Loading...</span>We are preparing a preview. This may take some minutes.'
		document.getElementById('upload-btn').disabled=true;
		xhttp.onreadystatechange = function() {
			if (this.readyState == 4 && this.status == 200) {
				var response = xhttp.responseText;
				if (response == "done") {
					{% if title == "audio" %}
						URL = "{% url 'creation:view_component_audtype' trid=tr.id component='video' aud_type='f' %}";
						
						document.getElementById("preview-link").innerHTML = "<a class='btn btn-primary' target='_blank' onclick='removeLinkBtn();' target='_blank' href="+ URL + " title='Preview your uploaded file'> Preview </a> <strong>Preview your uploaded file!</strong>";
					{% else %}
						location.reload();
					{% endif %}
				}
				else {
					body = document.getElementsByTagName("body")[0];
					body.innerHTML = response;
				}
			}
		};
		xhttp.open("POST","{% url 'creation:ajax_upload_component' tr.id title %}", true);
		xhttp.send(formData);
		return false;
	}
	function removeLinkBtn() {
		document.getElementById("preview-link").innerHTML = '';
	}
</script>
{% endblock %}