{% extends 'spoken/templates/base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block title %}Upload Brochure{% endblock %}
{% block content %}
    <h1 class="page-title">Upload Brochure</h1>
    <form role="form" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_foss">FOSS Category </label>
            {% render_field form.category class+="form-control category" tabindex="1" %}
            {{ form.category.errors }}
        </div>
        <div class="form-group">
            <label for="id_foss">FOSS </label>
            {% render_field form.foss class+="form-control foss" tabindex="1" %}
            {{ form.foss.errors }}
        </div>
        <div class="form-group">
            <label for="id_language">Language 
                <span class='ajax-refresh ajax-refresh-language'>
                    <i class="fa fa-2 fa-refresh fa-spin"></i>
                </span>
            </label>
            {% render_field form.language class+="form-control language" tabindex="2" %}
            {{ form.language.errors }}
        </div>
        <div class="well">
		    <fieldset>
		        {% render_field form.document class+="manual-upload document" tabindex="4" %}
            </fieldset>
        </div>
        <div class="form-group">
            <div class="existing-sheet"></div>
        </div>
        <input type="submit" class="btn btn-primary" value="Save"  tabindex="5" />
    </form>
{% endblock %}
{% block compressinlinejsblock %}
    <script type="text/javascript">
        $(document).ready(
            function() {
                $('.foss').on("change", 
                    function() {
                        var foss = $(this).val();
                        $('.language').html('<option value="" selected="selected">-- Select Language --</option>');
                        $('.language').attr("disabled", "disabled");
                        if(foss != '') {
                            $.ajax({
                                url: "/creation/ajax-manual-language/",
                                type: "POST",
                                data: {
                                    foss: foss,
                                },
                                beforeSend: function() {
                                    $('.ajax-refresh-language').show();
                                },
                                success: function(data) {
                                    if(data){
                                        $('.language').html(data);
                                        $('.language').removeAttr('disabled');
                                    }
                                    $('.ajax-refresh-language').hide();
                                }
                            });
                        }
                    }
                );
            }
        );
    </script>
{% endblock %}
