{% extends 'spoken/templates/base.html' %}
{% load widget_tweaks %}
{% load static %}
{% load creationdata %}
{% block title %}Upload Timed Script{% endblock %}
{% block heading %}Upload Timed Script{% endblock %}
{% block content %}
    <form role="form" method="post" enctype="multipart/form-data" action="" class="form-horizontal">
        {% csrf_token %}
        <div class="row well bs-component">
            <div class="col-lg-8">
                <fieldset>
                    <div class="form-group">
                        <label for="id_foss_category" class="col-lg-3 col-md-3 col-sm-3 control-label">FOSS Category:</label>
                        <div class="col-lg-9 col-md-9 col-sm-9">
                            {% render_field form.foss_category class+="form-control foss_category" tabindex="1" %}
                            {{ form.foss_category.errors }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="id_tutorial_name" class="col-lg-3 col-md-3 col-sm-3 control-label">Tutorial Name:</label>
                        <div class="col-lg-9 col-md-9 col-sm-9">
                            {% render_field form.tutorial_name class+="form-control tutorial_name" tabindex="1" %}
                            {{ form.tutorial_name.errors }}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-9 col-md-9 col-sm-9 col-lg-offset-3 col-md-offset-3 col-sm-offset-3">
                            <input type="submit" class="btn btn-primary" value="Submit"  tabindex="4" />
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
    </form>
{% endblock %}
{% block compressinlinejsblock %}
    <script type="text/javascript">
        $(document).ready(
            function(){
                $('.foss_category').on("change",
                    function(){
                        var foss = $(this).val();
                        $('.tutorial_name').html('<option value="" selected="selected">Select Tutorial Name</option>');
                        $('.tutorial_name').attr("disabled", "disabled");
                        if(foss != '') {
                            $.ajax({
                                url: "/creation/ajax-upload-timed-script/",
                                type: "POST",
                                data: {
                                    foss: foss
                                },
                                success: function(data) {
                                    // loading languages
                                    if(data) {
                                        $('.tutorial_name').html(data);
                                        $('.tutorial_name').removeAttr('disabled');
                                    }
                                }
                            });
                        }
                    }
                );
            }
        );
    </script>
{% endblock %}
