{% extends 'spoken/templates/popup-base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block uncompresscssblock %}
    {% if component == "video" %}
    <link href="{% static 'spoken/css/avs.player.css' %}" rel="stylesheet" type="text/css">
    {% endif %}
{% endblock %}
{% block compressinlinecssblock %}
    {% if component == "video" %}
        <style type="text/css">
	        .video-js {
                padding-top: 56.25%
            }
            .vjs-fullscreen {
                padding-top: 0px;
            }
            
            .video-js .vjs-tech{
                position:absolute;
                top:0;
                left:0;
                width:100%;
                height:100%;
            }
            .vjs-tt-cue {
                font-size: 16px;
            }
            .video-js .vjs-text-track {
                background-color: rgba(0, 0, 0, 0.7);
            }
            .video-visits {
                text-align: right;
                font-weight: bold;
                font-size: 16px;
            }
            form{
                clear: both;
                padding-top: 10px;
            }
        </style>
    {% endif %}
{% endblock %}
{% block heading %}
    {% if component == "video" %}
        {{ tr.tutorial_detail.tutorial }}
    {% elif component == "keyword" %}
        Keywords
    {% else %}
        {{ component|title }}
    {% endif %}
{% endblock %}
{% block content %}
    {% if component == "video" %}4
        <table class="table table-bordered table-hover">
            <tr>
                <th>Codec:</th><td>{{video_info.codec}}</td>
                <th>Profile:</th><td>{{video_info.profile}}</td>
            </tr>
            <tr>
                <th>Width:</th><td>{{video_info.width}}</td>
                <th>Height:</th><td>{{video_info.height}}</td>
            </tr>
            <tr>
                <th>Duration:</th><td>{{video_info.duration}}</td>
                <th>Size:</th><td>{{video_info.size}}</td>
            </tr>
        </table>
        <div class="video-container">
            <video id="video1" preload="none" width="100%" height="430"  data-setup="{}">
                            <!-- <source src="/static/spoken/images/Overview-and-Installation-of-Git-English.ogv" type="video/ogg" /> -->
                 <source src="{{ media_url }}videos/{{ tr_rec.tutorial_detail.foss_id }}/{{ tr_rec.tutorial_detail_id }}/{{video}}.webm" type="video/webm" />
            </video>
            <audio id="audio1" preload="none">
                <source id="audio" src="{{ media_url }}videos/{{ tr_rec.tutorial_detail.foss_id }}/{{ tr_rec.tutorial_detail_id }}/{{video}}-{{lang}}.mp3" type="audio/mpeg">
            </audio>
        </div>
    {% else %}
        <form role="form" method="post" enctype="multipart/form-data" action="">
            <div class="form-group">
                <pre>{{ component_data }}</pre>
            </div>
        </form>
    {% endif %}
{% endblock %}
{% block uncompressjsblock %}
    {% if component == "video" %}
        <script src="{% static 'spoken/js/avs.player.min.js' %}"></script>
    {% endif %}
{% endblock %}
{% block compressinlinejsblock %}
<script>
(function() {
        new syncAudioVideo('video1', 'audio1');
        var vid=document.getElementById('video1');
    })();
</script>
{% endblock %}


