{% extends 'spoken/templates/base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block title %}View Brochure{% endblock %}
{% block compressinlinecssblock %}
	<style>
	button.accordion {
	    background-color: #ff944d;
	    color: #000;
	    cursor: pointer;
	    padding: 1%;
	    width: 50%;
	    border: none;
	    text-align: center;
	    outline: none;
	    font-size: 110%;
	    transition: 0.4s;
	}

	button.accordion.active, button.accordion:hover {
	    background-color: #ff8000;
	}

	button.accordion:after {
	    content: '\002B';
	    padding: 0 2px;
	    color: #777;
	    font-weight: bold;
	    float: left;
	    margin-left: 5px;
	}

	button.accordion.active:after {
	    content: "\2212";
	}

	div.panel {
	    padding: 0 0 0 10%;
	    background-color: white;
	    max-height: 0;
	    overflow: hidden;
	    transition: max-height 0.2s ease-out;
	}
	.home-page-title-i{
		font-size: 27px;
	}
	
	</style>
{% endblock %}

{% block heading %}<i class="home-page-title-i">Brochures</i>{% endblock %}
{% block content %}
<body id="body"> 
	<div class="row">
	  <div class="col-sm-4" style="background-color: #D3D3D3;" align="center"><h4>Spoken Tutorial</h4><br>
	  	{% for page in st_pages %}
	  	<a href="{{page}}" target="_blank"><img id="{{page}}" style="border:1px solid black;" src="{{page}}" style="display: inline;" width="80%" height="100%"></a>
	  	{%endfor%}
	  </div>

	  <div class="col-sm-8" >
	  	{% for key, value in my_dict.items %}
	    	<button class="accordion" style="margin-left:15%; width:70%">{{ key }}</button>
		    <div class="panel">
		    {% regroup value by foss_name as value_list %}
			<ul>
			{% for foss_name in value_list %}
			    <h4>{{ foss_name.grouper }}</h4>
			    <ul>
			        {% for item in foss_name.list %}
			          <a href="{{item.cover_image}}" target="_blank"><img id="{{item.cover_image}}" style="border:1px solid black; margin-right:20px" src="{{item.cover_image}}" style="display: inline" width="40%" height="100%" ></a>

			         

			        {% endfor %}
			    </ul>
			{% endfor %}
			</ul>
			</div>
	    {% endfor %}
	   </div>
	</div>
   
	<!-- The Modal -->
	<div id="myModal" class="modal">
	  <span class="close">×</span>
	  <img class="modal-content" id="img01">
	</div>     
</body>
{% endblock %}

{% block compressinlinejsblock %}
	<script>
	var acc = document.getElementsByClassName("accordion");
	var i;
	for (i = 0; i < acc.length; i++) {
	  acc[i].onclick = function() {
	    this.classList.toggle("active");

	    var panel = this.nextElementSibling;
	    if (panel.style.maxHeight){
	      panel.style.maxHeight = null;
	    } else {
	      panel.style.maxHeight = panel.scrollHeight + "px";
	    } 
	    acc.not(this).accordion('activate', false);
	  }
	}
	
	</script>
{% endblock %}
