{% extends 'spoken/templates/popup-base.html' %}
{% load widget_tweaks %}
{% load cdcontentdata %}
{% load static %}
{% block uncompresscssblock %}
    {% if component == "video" or component == "audio"%}
    <link href="{% static 'spoken/css/video-js.min.css' %}" rel="stylesheet" type="text/css">
    {% endif %}
{% endblock %}
{% block compressinlinecssblock %}
    {% if component == "video" %}
        <style type="text/css">
	        .video-js {
                padding-top: 56.25%
            }
            .vjs-fullscreen {
                padding-top: 0px;
            }
            
            .video-js .vjs-tech{
                position:absolute;
                top:0;
                left:0;
                width:100%;
                height:100%;
            }
            .vjs-tt-cue {
                font-size: 16px;
            }
            .video-js .vjs-text-track {
                background-color: rgba(0, 0, 0, 0.7);
            }
            .video-visits {
                text-align: right;
                font-weight: bold;
                font-size: 16px;
            }
            form{
                clear: both;
                padding-top: 10px;
            }
        </style>
    {% endif %}
{% endblock %}

{% block heading %}

    {% if component == "video" %}
        {{ tr.tutorial_detail.tutorial }}
    {% elif component == "keyword" %}
        Keywords
    {% else %}
        {{ component|title }}
    {% endif %}
{% endblock %}
{% block content %}
{% if not aud_present %}
<p style="text-align:right;"><a href="/creation/upload/tutorial/{{ tr.id }}/">&lt;&lt; Back</a></p>
{% endif %}
    {% if component == "video" %}
    
    Video:
    <table class="table table-bordered table-hover">
        <tr>
            <th>Codec:</th><td>{{video_info.codec}}</td>
            <th>Profile:</th><td>{{video_info.profile}}</td>
        </tr>
        <tr>
            <th>Width:</th><td>{{video_info.width}}</td>
            <th>Height:</th><td>{{video_info.height}}</td>
        </tr>
        <tr>
            <th>Duration:</th><td>{{video_info.duration}}</td>
            <th>Size:</th><td>{{video_info.size}}</td>
        </tr>
    </table>
    Audio:
        <table class="table table-bordered table-hover">
            <tr>
                <th>Codec:</th><td>{{audio_info.codec}}</td>
                <th>Duration:</th><td>{{audio_info.duration}}</td>
                <th>Size:</th><td>{{audio_info.size}}</td>
            </tr>
        </table>
    {% if eng_audio_info.size > 0 and eng_audio_info.duration > 0 %}
    English Audio:
        <table class="table table-bordered table-hover">
            <tr>
                <th>Codec:</th><td>{{ eng_audio_info.codec }}</td>
                <th>Duration:</th><td>{{ eng_audio_info.duration }}</td>
                <th>Size:</th><td>{{ eng_audio_info.size }}</td>
            </tr>
        </table>
    
    {% endif %}
      {% if aud_type == "f" %}
        <div class="video-container">
            <video id="st_video" class='video-js vjs-default-skin vjs-big-play-centered' autobuffer controls data-setup='{ "playbackRates": [0.5, 0.75,1, 1.25, 1.5, 2] }'>
                    <source src="{{ media_url }}videos/{{ tr.tutorial_detail.foss_id }}/{{ tr.tutorial_detail_id }}/{{ tr.video }}" type="video/webm">
            </video>
            <audio id="audio" class='d-none'>
                    <!-- Put the selected audio file to be played with the video on page load -->
                    <source id="audioSource" src="{{ media_url }}temp/{{ filtered }}.ogg" type='audio/ogg'>
            </audio>
            <br>
        </div>
        <a class="btn btn-primary " href="/creation/view/component/{{ tr.id }}/video/o" title="View/Download Audio">
            <span title="" data-original-title="" >Preview Original</span>
        </a>
        {% elif aud_type == "o" %}
	    <div class="video-container">

            <video id="st_video" class='video-js vjs-default-skin vjs-big-play-centered' autobuffer controls data-setup='{ "playbackRates": [0.5, 0.75,1, 1.25, 1.5, 2] }'>
                    <source src="{{ media_url }}videos/{{ tr.tutorial_detail.foss_id }}/{{ tr.tutorial_detail_id }}/{{ tr.video }}" type="video/webm">
            </video>

            <audio id="audio" class='d-none'>
                <!-- Put the selected audio file to be played with the video on page load -->
                <source id="audioSource" src="{{ media_url }}temp/{{ original }}.ogg" type='audio/ogg'>
            </audio>
            <br>
        </div>
	<a class="btn btn-primary " href="/creation/view/component/{{ tr.id }}/video/f" title="View/Download Audio">
                 <span title="" data-original-title="" >Preview filtered</span></a>
      {% else %}
	<div class="video-container">

            <video id="st_video" class='video-js vjs-default-skin vjs-big-play-centered' autobuffer controls data-setup='{ "playbackRates": [0.5, 0.75,1, 1.25, 1.5, 2] }'>
                    <source src="{{ media_url }}videos/{{ tr.tutorial_detail.foss_id }}/{{ tr.tutorial_detail_id }}/{{ tr.video }}" type="video/webm">
            </video>
            <audio id="audio" class='d-none'>
                    <!-- Put the selected audio file to be played with the video on page load -->
                    <source id="audioSource" src="{{ media_url }}videos/{{ tr.tutorial_detail.foss_id }}/{{ tr.tutorial_detail_id }}/{{ tr.video|rsplitpart|safe }}{{ tr.language.name }}.ogg">
            </audio>    
        </div>
      {% endif %}
	
	
    {% else %}
        <form role="form" method="post" enctype="multipart/form-data" action="">
            <div class="form-group">
                <pre>{{ component_data }}</pre>
            </div>
        </form>
    {% endif %}
	{% if aud_type == "f" %}
	<a class="btn btn-primary " href="/creation/view/component/{{ tr.id }}/video/{{ audio_modified }}" title="Accept">
                 <span title="" data-original-title="" >Accept this submission</span></a>
	<a class="btn btn-primary " href="/creation/upload/tutorial/{{ tr.id }}/" title="Reject">
                 <span title="" data-original-title="" >Reject and Re-record</span></a>
	{% elif aud_type == "o" %}
	<a class="btn btn-primary " href="/creation/view/component/{{ tr.id }}/video/{{ audio_original }}" title="Accept">
                 <span title="" data-original-title="" >Accept this submission</span></a>
	<a class="btn btn-primary " href="/creation/upload/tutorial/{{ tr.id }}/" title="Reject">
                 <span title="" data-original-title="" >Reject and Re-record</span></a>
	{% endif %}

{% endblock %}
{% block uncompressjsblock %}
    {% if component == "video" %}
        <script src="{% static 'spoken/js/popcorn.min.js' %}"></script>
        <script src="{% static 'spoken/js/video.min.js' %}"></script>
        <script src="{% static 'spoken/js/video.settings.js' %}"></script>
    {% endif %}
{% endblock %}
