{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}
{% load trainingdata %}
{% load eventsdata %}
{% block title %}List Training Event{% endblock %}
{% block heading %}
  <i class="fa fa-list-ul"></i> List of Training Events :
{% endblock %}
{% block compressinlinecssblock %}
<style>
.activities-event{
    padding: 1rem 1rem;
    margin:0;
    background-color: #fff;
    display:flex;
    box-shadow: 0 1px 5px rgb(104,104,104,0.5);
    margin-right: 10px;
    margin: 0;
}

.activities-event p{
    line-height: 1.5rem;
    font-size: 0.9rem;
}
.activities-event .date{
    border-right: 1px solid #e0e0e0;
    margin-bottom: 10px;
    margin-top:  10px;
    text-align: center;
}
.activities-event .date p{
    margin-right: 20px;
    font-size: 1.1rem;
    color: #413e66;
    }
.activities-event .content{
    text-align: left;
    margin-left:30px;
}
.activities-event .content p{
    font-size: 1.2rem;
}
.activities-event .content h6{
    font-size: 1.5rem;
    color: #413e66;
    font-weight: bold;
    margin-bottom: 0.5rem;
}
.activities-event:hover{
    background: #e1f5fe;
}
.fa-calendar{
    font-size: 4em;
    text-align: center;
}
</style>
{% endblock %}
{% block search %}{% endblock %}

 {% block content %}

{{message.tags}}
<ul class="tabs nav nav-tabs">
    <li {% if status == 'ongoing' %}{{ 'class="active"'}}{% endif %}><a href="/training/list_events/ongoing/">Ongoing Events</a></li>
    <li {% if status == 'completed' %}{{ 'class="active"'}}{% endif %}><a href="/training/list_events/completed/">Past Events</a></li>
    {% if show_myevents %}
    <li {% if status == 'myevents' %}{{ 'class="active"'}}{% endif %}><a href="/training/list_events/myevents/">My Events</a></li>
    {% endif %}
</ul>

<!-- Tab panes -->
<div class="tab-content">
    <div class="tab-pane active" id="pending">        
        {% for event in events %}
<form method="post" action = "{% url 'training:register_user' %}">
{% csrf_token %}
        {% if status == 'myevents'%}
        <div class="activities-event ">
            <div class="date">
                <p><i class="fa fa-calendar"></i></p>
                <p>{{ event.event.event_start_date}} - {{ event.event.event_end_date}}</p>
            </div>
            <div class="content">
                <h6>{{event.event.event_name}}</h6>
                <p>
                    <b>Host College :</b> <span>{{event.event.host_college}}{{event.event.state.name}}</span><br>
                    <b>Event Coordinator Name :</b> <span>{{event.event.event_coordinator_name}}</span><br>
                    <b>FOSS :</b> <span >{{event.event.foss}}</span>
                              <input type="text" id="selected_foss{{item.id}}" name="selected_foss" value='{{event.get_foss_langs}}' style="display: none;">
                </p>
                <div style="text-align: right;">
                 <button class="btn btn-primary" type="submit" 
        formaction="{% url 'cdcontent:create_cd_download' 'paid' %}">Download CD Content</button>
                </div>
            </div>
        </div>
        {% else %}
        <div class="activities-event ">
            <div class="date">
                <p><i class="fa fa-calendar"></i></p>
                <p>{{ event.event_start_date}} - {{ event.event_end_date}}</p>
            </div>
            <div class="content">
                <h6>{{event.event_name}}</h6>
                <p>
                    <b>Host College :</b> <span>{{event.host_college}}{{event.state.name}}</span><br>
                    <b>Event Coordinator Name :</b> <span>{{event.event_coordinator_name}}</span><br>
		    <b>FOSS :</b> <span >{{event.foss}}</span>
                </p>
                <p>                  
                    Registration open from <b>{{event.registartion_start_date}}, till {{event.registartion_end_date}}</b>
                    {% if status == 'ongoing' %}
                        {% if event.registartion_end_date|is_reg_valid %}
                            <input type="event" id="event_id_info" name="event_id_info" value="{{event.id}}" style="display:none">
                            <button type="submit" class="btn btn-info">Register Now</button>
                        {% endif %}
                    {% endif %}
                </p>        
            </div>
        </div> 
        {% endif %}
</form>
        {% endfor %}
    </div>
</div>
{% endblock %}
