{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}
{%load trainingdata%}
{% block title %}{{participant_obj.event.event_name}} Registration{% endblock %}
{% block heading %}
  <i class="fa fa-list-ul"></i> List of Training Events :
{% endblock %}
{% block compressinlinecssblock %}
<style>
  .reg-wrapper{
    border: 5px solid #337ab7;
   /* margin:10px 25px;*/
  }
  .reg-wrapper .highlight{
    color: #337ab7;
    font-size: 3rem;

  }
  .reg-wrapper .highlight p{
    font-size: 5rem;

  }
  .reg-wrapper table{
  /*  margin: auto;*/
  }
  .reg-wrapper .reg-table{
    padding: 2% 5%;
  }
  .reg-wrapper .bl{
    /*border-right: 1px solid #337ab7;*/
    border-left:1px solid rgba(51,122,183,0.2);
  }
  .reg-wrapper h5{
    color: #3c763d;
  }
  .reg-wrapper .reg-icon{
    color: #337ab7;
    margin-right: 10px;
  }

</style>
{% endblock %}
{% block search %}{% endblock %}

{% block content %}
{{message.tags}}
{% csrf_token %}
<div class="row">
  <div class="col-sm-12 col-md-8 col-md-offset-2 ">
    <div class=" reg-wrapper">
  <div class="text-center highlight">
      {% if user|registartion_successful:participant_obj.event  %}
      <p><i class="fa fa-check" aria-hidden="true" style="color: rgba(51,122,183,0.7);"></i></p>
    <h4>Thank you for registering with Spoken Tutorials.</h4>
    {% else %}
    <p><i class="fa fa-times" aria-hidden="true" style="color: rgba(250,128,114);"></i></p>
    <h4 >Your Payment Failed.<br><br> But don't worry, we have still partially registered you.<br><br>
      Please try the following to complete the registration<br><br>
<ul>
  <li> Try the Registration process once again</li>
  <li> Use <a style="color:red" href="https://process.spoken-tutorial.org/images/4/45/Payment_Flow_NEFT.pdf" target="_blank">
	<div >Payment Flow via NEFT</div></a> and get in touch with our Training Managers for more help. <br>
 <a style="color:red" href="https://process.spoken-tutorial.org/index.php/Software-Training#Contacts_For_Training" target="_blank">[
<div >Spoken Tutorial Training Managers</div>]</a></h4>
</li>
</ul>
    {% endif %}
  </div>
  <br>
  <div class="reg-table row">
    <div class="col-md-6">
      <h5>Participant</h5>
      <hr>
      <p>Name : {{participant_obj.name}}</p>
      <p>Email : {{participant_obj.email}}</p>
      <br>
      <h5>FOSS</h5>
      <hr>
      <p>{{participant_obj.event.foss}}</p>
      <p>{{participant_obj.event.Language_of_workshop}}
	{% if participant_obj.foss_language %}
, {{participant_obj.foss_language}}
    	{% endif %}
      </p>
    </div>
    <div class="col-md-6 bl">
      <h5>Event</h5>
      <hr>
      <p>{{participant_obj.event.event_name}}</p>
       <p><i class="fa fa-calendar reg-icon" aria-hidden="true"></i>{{participant_obj.event.event_start_date}} - {{participant_obj.event.event_end_date}}</p>
      <p><i class="fa fa-map-marker reg-icon" aria-hidden="true"></i>{{participant_obj.event.host_college}}</p>
      <br>
      <h5>Contact Details</h5>
      <hr>
      <p><i class="fa fa-user reg-icon" aria-hidden="true"></i>{{participant_obj.event.event_coordinator_name}}</p>
      <p><i class="fa fa-phone reg-icon" aria-hidden="true"></i>{{participant_obj.event.event_coordinator_contact_no}}</p>
      <p><i class="fa fa-envelope reg-icon" aria-hidden="true"></i>{{participant_obj.event.event_coordinator_email}}</p>
    </div>
    
  </div>
</div>
  </div>
</div>

{% endblock %}
{% block jsblock %}

{% endblock %}
