{% extends 'spoken/templates/base.html' %}
{% load widget_tweaks %}
{% load static %}
{%load trainingdata%}
{% block title %}User Registration{% endblock %}
{% block compressinlinecssblock %}
<style type="text/css">
.info-icon{
  color: #337AB7; 
  margin-right: 10px;
}
.info-table td{
  display: flex;
}
</style>
{% endblock %}
{% block search %}{% endblock %}
{% block content %}
<!-- Event name starts -->
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title"><b>Welcome to the registration page of {{event_obj.event_name}}</b></h3>
  </div>
</div>
<!-- Event name ends -->
<!-- Event info starts -->
<div class="panel panel-primary">
    <div class="panel-body" style="background-color: #F5F5F5;">
      <!-- registration form starts -->
     <form method="post"  class="form-horizontal" action="{% url 'training:reg_success' 'paid' %}">
      <div class="row well bs-component">
{% csrf_token %}
            <div class="col-md-7">
              <fieldset>
		              <input type="text"  id="event" name="event" value="{{event_obj.id}}" style="display:none">
				<input type="text"  id="foss_id" name="foss_id" value="{{event_obj.foss.id}}" style="display:none">
      				<input type="text"  id="language_id" name="language_id" value="{{event_obj.Language_of_workshop.id}}" style="display:none">
      				<input type="text"  id="level_id" name="level_id" value="0" style="display:none">

                  <div class="form-group">
                    <label for="id_name" class="col-lg-4 control-label">Full Name </label>
                    <div class="col-lg-8">
                        {% render_field form.name class+="form-control name" tabindex="1" %}
                        {{ form.name.errors }}
                    </div>
                    </div>
                    <div class="form-group">
                      <label for="id_difficulty_level" class="col-lg-4 control-label">Email</label>
                      <div class="col-lg-8">
                            {% render_field form.email class+="form-control email" tabindex="2" %}
                            {{ form.email.errors }}
                        </div>
                        <a href="#" class="btn btn-primary mb-2" onclick="send_otp();" id="send_otp" style="display: none; margin-left: 16px;">Send OTP</a>
                        <div id="email-info" class="col-md-8 col-md-offset-4"></div>
                      </div>
                    <div class="form-group " id="pwd" style="display: none;">
                        <div style="display: flex;" class="col-sm-8 col-sm-offset-4">
                            <input type="password" class="form-control" id="id_password" placeholder="Password">
                                <i class="fa fa-check-circle" aria-hidden="true" style="display: none;" id="check-pwd"></i>
                        </div>
                        <div class="row">
                          <div class="col-sm-8 col-sm-offset-4">
                            <p>
                              <a href="{% url 'cms:password_reset' %}" id="forgot_pwd" target="_blank">Forgot Password ?</a>
                            </p>
                          </div>
                        </div>
                        <div id="invalid_credentials" class="col-sm-8 col-sm-offset-4">
                        </div>
                      </div>
                      <div class="form-group col-sm-10 text-center" id="organizer_info" style="display: none;">
                          <p id="organizer_paid_msg" class="text-muted">Congratulations! You are a part of a Registered College & are entitled to free download.
                          <br>
                         <span class="organizer_paid_info text-muted">You are logged in successfully. Please proceed on cd content page.</span>
                          </p>
                      </div>
                      <p style="display: none;"> User is from paid college : {{user|is_user_paid}}</p>
                        <div class="form-group  text-center" id="logged_success" style="display: none;">
                          <span style="color: #43A047;" class="col-sm-8 col-sm-offset-4">Logged In Successfully </span>
                        </div>
                        <div class="form-group col-sm-10">
                            <input type="text" class="form-control" id="otp_value" aria-describedby="emailHelp" placeholder="Enter OTP send to above Email" style="display: none; margin-bottom: 16px;width: 50%;">
                        <span class="label label-success" id="otp_sent_msg" style="display: none; margin-top: 16px; padding: 5px 10px;" ></span>
                        </div>
                        <div class="form-group col-sm-10" id="registered-success-msg" style="display: none">
                                <p>Congratulations ! You are now registered on Spoken Tutorial. Please Check your mail for details. </p>
                        </div>
                    <!-- </div> -->
                      <div class="form-group">
                        <label for="id_state" class="col-lg-4 control-label">Gender</label>
                        <div class="col-lg-8">
                            {% render_field form.gender class+="form-control gender" tabindex="4" %}
                            {{ form.gender.errors }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="id_state" class="col-lg-4 control-label">State</label>
                        <div class="col-lg-8">
                            {% render_field form.state class+="form-control state" tabindex="5" %}
                            {{ form.state.errors }}
                        </div>
                                    </div>
                  {% if user_college %}
                    <div class="form-group">
                      <label for="id_example_suggestion" class="col-lg-4 control-label">College</label>
                      <div class="col-lg-8">
                      <input type="text" id="college_user_details" class="form-control"  name="college" value="{{user_college}}">
                      </div>
                    </div>
                    {%else%}
                    <div class="form-group">
                      <label for="id_example_suggestion" class="col-lg-4 control-label">College</label>
                      <div class="col-lg-8">
                      <select class="form-control" id="id_college" name="dropdown_college" onchange="check_college(this)" tabindex="6">
                    </select>
                      </div>
			<div id="college-info" class="col-md-8 col-md-offset-4" style="display:none" >Please select your college</div>
                    </div>
                		{% endif %}
                    <div class="form-group">
                    <label for="id_foss" class="col-lg-4 control-label">FOSS </label>
                    <div class="col-lg-8">
                        <div class="form-comtrol" style="font-size:1vw">{{event_obj.foss}}</div>
                    </div>
                    </div>
                    <div class="form-group">
                    <label for="id_foss_language" class="col-lg-4 control-label">Language </label>
                    <div class="col-lg-8">
                        {% render_field form.foss_language class+="form-control foss_language" tabindex="7" %}
                        {{ form.name.errors }}
                    </div>
                    </div>
                    {% if user|is_user_paid %}
                    <div class="form-group">
                      <div class="panel panel-primary col-lg-8 col-md-offset-4">
                        <div class="panel-body">You are a part of a paid college.</div>
                      </div>
                    </div>
                    {% else %}
                    <div class="form-group">
                        <label for="id_example_suggestion" class="col-lg-4 control-label">Amount</label>
                        <div class="col-lg-8">
                            {% render_field form.amount class+="form-control amount"  %}
                            {{ form.amount.errors }}
                        </div>
                    </div>
                    {% endif %}
                    </fieldset>
                        <div class="row">
                          <div class=" col-md-offset-4 col-md-4">
                            {% if  user|is_user_paid %}
                            <!-- if user belongs to a paid college -->
                            <button type="submit"  value="Submit" class="btn btn-success" tabindex="8">Register
                            </button>
                            {% else %}
                            <!-- all other -->
                            <button  type= "submit" formaction="{% url 'donate:initiate_payment' event_obj.id %}" class="btn btn-primary mb-2 make-payment-btn" id="make_payment" disabled tabindex="8">Make Payment</button>
                            {% endif %}
                          </div>
                        </div>
                    
                    </div>
                    <div class="col-md-4">
                      <div class="panel panel-info">
                        <div class="panel-heading"><i class="fa fa-calendar" aria-hidden="true" style="margin-right: 10px;"></i>Important Dates</div>
                          <table class="table table-bordered">
                            <tbody>
                              <tr>
                                <td><strong>Registration</strong></td>
                                <td>{{ event_obj.registartion_start_date|format_date:event_obj.registartion_end_date }}
                                </td>
                              </tr>
                              <tr>
                                <td><strong>Event</strong></td>
                                <td>{{ event_obj.event_start_date|format_date:event_obj.event_end_date }}
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                        <div class="panel panel-info">
                        <div class="panel-heading">Event</div>
                          <table class="table table-bordered info-table">
                            <tbody>
                              <tr>
                                <td><i class="fa fa-map-marker info-icon" aria-hidden="true" ></i>
                                   {{event_obj.host_college}}{{event_obj.state.name}} 
                                </td>
                              </tr>
                              <tr>
                               <td><i class="fa fa-user info-icon" aria-hidden="true" ></i> {{event_obj.event_coordinator_name}}</td>
                              </tr>
                              <tr>
                               <td><i class="fa fa-envelope info-icon" aria-hidden="true"></i> {{event_obj.event_coordinator_email}}</td>
                              </tr>
                              <tr>
                               <td><i class="fa fa-phone info-icon" aria-hidden="true"></i> {{event_obj.event_coordinator_contact_no}}</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                    </div>
                
            </div>
        </div>
    </form>
                </div>
              </div>

  
{%endblock%}
{% block jsblock %}
<script type="text/javascript">
 $( document ).ready(function() {

$('#id_email').on('focusout',function(){
      var username = $('#id_name').val();
      var email = $('#id_email').val();
      $.ajax({
          url:'/donate/send_onetime/',
          type:"POST",
          data:{
              'username': username,
              'email': email,
              csrfmiddlewaretoken: '{{ csrf_token }}',
          },
        success: function(data) {
            if (data['valid_email']=='1') {
            $('#email-info').html('');
            if(data['message']=="active_user"){
                $("#send_otp").hide();
                $("#pwd").show();
                $("#forgot_pwd").show();
                $("#email-info").html('This Email Id is already registered with Spoken Tutorials. Please enter your password to proceed.');
                document.getElementById("email-info").style.color = "green";
            }
            else if(data['message']=='inactive_user'){
                document.getElementById("otp_sent_msg").innerHTML = "OTP Re-sent";
                document.getElementById('otp_sent_msg').className = 'label label-success';
                $("#otp_sent_msg").show().delay(10000).fadeOut();
            }
            else{
              $("#send_otp").show();
            }
            }else{
                $('#email-info').html(data['email_validation']);
            }
        }
    });

$('#pwd').on('focusout',function(){
        $('#invalid_credentials').html('');
        var username = $('#id_name').val();
        var email = $('#id_email').val();
        var password = $('#id_password').val();
        $.ajax({
            url:'/donate/validate_user/',
            type:"POST",
            data:{
                'username': username,
                'email': email,
                'password': password,
                csrfmiddlewaretoken: '{{ csrf_token }}',
            },
            success: function(data) {
              $("#logged_success").show();
              if (data['error_msg']=='') {
		$.ajax({
                type : "POST",
                url: '/training/register_user/',
                dataType : "json",
                data: {
                  'event_id_info' : "{{event_obj.id}}",
		csrfmiddlewaretoken: '{{ csrf_token }}'
                },
		error: function(data){
			alert("Pulling up your data ... Hold on !!!");
                  location.reload();
                },
		});
                var r = data['organizer_paid'];
                if (data['organizer_paid']=='1') {
                  $('#organizer_info').show();
                  $('#download_btn').show();
                  $('#make_payment').hide();
                  
                  $('#id_country').parent().hide();
                  
                  $('#registered-success-msg').hide();
                  $('#otp_value').parent().hide();
                  $('#forgot_pwd').hide();
                  $("#email-info").hide();
                }
              }else{
                  $('#invalid_credentials').html(data['error_msg']);
              }
            }
            });
        });

  });

$('#id_state').change(function(){
   	var stateid  = $('#id_state').val();
   	$.ajax({
                type : "POST",
                url:"/software-training/ajax-state-collage/",
                dataType : "json",
                data: {
                  'state' : stateid,
                },
                success: function(data)
                {
                    $('#id_college').html(data);
		    $('#college-info').show();	
                }
              });
   	});
});

function send_otp(){
        $("#send_otp").show();
        document.getElementById("otp_sent_msg").innerHTML = "OTP sent";
        document.getElementById('otp_sent_msg').className = 'label label-success';
        $("#otp_value").show();
        $("#otp_sent_msg").show().delay(10000).fadeOut();
}

function check_college(control){
if(control.value=='None'){
document.getElementById('college-info').style.display = "block";
document.getElementById('make_payment').disabled = true;
}
else{
document.getElementById('college-info').style.display = "none";
document.getElementById('make_payment').disabled = false;
}
}
</script>
<script type="text/javascript" src="{% static 'cdcontent/js/cdcontent.js' %}"></script>
{% endblock %}
