{% extends 'spoken/templates/base.html' %}
{% load widget_tweaks %}
{% load static %}
{% load creationdata %}
{% block title %} Add/Edit Testimonial{% endblock %}
{% block heading %}Add / Edit Testimonial{% endblock %}
{% block search %}{% endblock %}
{% block content %}
    <div class="row well">
        <div class='col-sm-8'>
            {% if form %}
	        <form action="{{ action }}" method="post" class='form-horizontal' enctype="multipart/form-data">{% csrf_token %}
		        {% with WIDGET_ERROR_CLASS='field-error' WIDGET_REQUIRED_CLASS='field-required' %}
			        {% if form.non_field_errors %}
			        <ul>
			          {% for error in form.non_field_errors %}
				        <li>{{ error }}</li>
			          {% endfor %}
			        </ul>
			        {% endif %}
			        <div class="form-group">
				        <label for="id_user_name" class="col-sm-3 control-label">Full Name</label>
				        <div class="col-sm-9">
				            {% render_field form.user_name class+="form-control user_name" tabindex="1" %}
				            {{ form.user_name.errors }}
			            </div>
			        </div>
			        <div class="form-group">
				        <label for="id_state" class="col-sm-3 control-label">Actual Content</label>
				        <div class="col-sm-9">
				            {% render_field form.actual_content class+="form-control actual_content" tabindex="1" %}
				            {{ form.actual_content.errors }}
			            </div>
			        </div>
			         <div class="form-group">
				        <label for="id_state" class="col-sm-3 control-label">Minified Content</label>
				        <div class="col-sm-9">
				            {% render_field form.minified_content class+="form-control minified_content" tabindex="1"%}
				            {{ form.minified_content.errors }}
			            </div>
			        </div>
			         <div class="form-group">
				        <label for="id_state" class="col-sm-3 control-label">Short Description</label>
				        <div class="col-sm-9">
				            {% render_field form.short_description class+="form-control short_description" tabindex="1" %}
				            {{ form.short_description.errors }}
			            </div>
			        </div>
			         <div class="form-group">
				        <label for="id_state" class="col-sm-3 control-label">Source Title</label>
				        <div class="col-sm-9">
				            {% render_field form.source_title class+="form-control source_title" tabindex="1" %}
				            {{ form.source_title.errors }}
			            </div>
			        </div>
			         <div class="form-group">
				        <label for="id_state" class="col-sm-3 control-label">Source Link</label>
				        <div class="col-sm-9">
				            {% render_field form.source_link class+="form-control source_link" tabindex="1" %}
				            {{ form.source_link.errors }}
			            </div>
			        </div>
			        <div class="form-group">
				        <label for="id_state" class="col-sm-3 control-label">Scan Copy</label>
				        <div class="col-sm-9">
				            {% render_field form.scan_copy class+="form-control scan_copy" tabindex="1" %}
				            {{ form.scan_copy.errors }}
			            </div>
			        </div>
			        {% if instance %}
			            <div class="form-group">
				            <label for="id_state" class="col-sm-3 control-label">Status</label>
				            <div class="col-sm-9">
				                {% render_field form.status class+="form-control status" tabindex="1" %}
				                {{ form.status.errors }}
			                </div>
			            </div>
			        {% endif %}
	                <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-9">
			                <input class="btn btn-primary" type="submit" value="Submit" />
			             </div>
			         </div>
		        {% endwith %}
            </form>
            {% else %}
                <h3>Are you sure you want to delete the testimonial?</h3>
                <p>
                    <dl>
                        <dt> User Name: </dt>
                        <dd> {{ instance.user_name }} </dd>
                        <dt> Short Description: </dt>
                        <dd> {{ instance.short_description }} </dd>
                        <dt> Created: </dt>
                        <dd> {{ instance.created }} </dd>
                        <dt> Last Updated: </dt>
                        <dd> {{ instance.updated }} </dd>
                    </dl>
                    <form action="{% url 'admin_testimonials_delete' instance.id %}" method="POST"> {% csrf_token %}
                        <input class="btn btn-danger" type="submit" value="Delete">
                        <a class="btn btn-default" href="{% url 'admin_testimonials' %}">Cancel</a>
                    </form>
                </p>
            {% endif%}
        </div>
    </div>
{% endblock %}
