<article class="media">
  <div class="media-content">
    <div class="content">
      <textarea #textarea *ngIf="isEditable" class="textarea" [(ngModel)]="comment['comment']"
        #commentValue="ngModel"></textarea>
      <p *ngIf="!isEditable">
        {{ comment['comment'] }}
      </p>
      <small>
        <i class="fa fa-user"></i> {{ comment['user'] }} | <em>{{comment['time']}}</em> 
        <span class="tag is-white" *ngIf="comment.resolved && !authService.isOwner(comment.user)">
          <span style="font-weight: bold;"> | Resolved</span>
        </span>
      </small>
      <div class="columns">
        <div class="column is-narrow" *ngIf="!comment.resolved && authService.isOwner(comment.user) && !published">
          <a *ngIf="!isEditable" (click)="makeEditable()" title="Edit this comment">
            <span class="tag is-info is-light">Edit</span>
          </a>
          <a *ngIf="isEditable" (click)="saveComment()" title="Save this comment">
            <span class="tag is-primary is-light">Save</span>
          </a>
        </div>
        <div class="column is-narrow" *ngIf="!comment.resolved && authService.isOwner(comment.user) && !published">
          <a (click)="deleteComment()" title="Delete this comment">
            <span class="tag is-danger is-light">Delete</span>
          </a>
        </div>
        <div class="column is-narrow" *ngIf="!comment.resolved && !published">
          <a (click)="doneComment()">
            <span class="tag is-warning is-light" *ngIf="!comment.done" title="Click to notify that the changes are incorporated">
              <span>Done</span> 
            </span>
            <span class="tag is-warning" *ngIf="comment.done"  title="Click to notify that the changes are not incorporated">
                <span class="icon">
                  <i class="fas fa-check"></i>
                </span>
                <span>Done</span> 
              </span>
            </a>
        </div>
        <div class="column is-narrow" *ngIf="authService.isOwner(comment.user) && !published">
          <a (click)="resolveComment()">
            <span class="tag is-success is-light" *ngIf="!comment.resolved"  title="Click to notify that the changes are verified">
              <span>Resolve</span>
            </span>
            <span class="tag is-success" *ngIf="comment.resolved"  title="Click to notify that the issue raised is still pending">
                <span class="icon">
                  <i class="fas fa-check"></i>
                </span>
                <span>Resolved</span>
              </span>
            </a>
        </div>
      </div>
      <span class="is-divider" style="margin:10px 0 20px 0;"></span>
    </div>
  </div>
</article>
