<article class="media">
  <div class="media-content">
    <div class="content">
      <textarea #textarea *ngIf="isEditable" class="textarea" [(ngModel)]="comment['comment']"
        #commentValue="ngModel"></textarea>
      <p *ngIf="!isEditable">
        {{ comment['comment'] }}
      </p>
      <small><i class="fa fa-user"></i> {{ comment['user'] }} | <em>{{comment['time']}}</em></small>
      <div class="columns">
        <div class="column is-narrow" *ngIf="!comment.resolved && authService.isOwner(comment.user)">
          <a *ngIf="!isEditable" (click)="makeEditable()">
            <span class="tag is-info is-light">edit</span>
          </a>
          <a *ngIf="isEditable" (click)="saveComment()">
            <span class="tag is-primary is-light">save</span>
          </a>
        </div>
        <div class="column is-narrow" *ngIf="!comment.resolved && authService.isOwner(comment.user)">
          <a (click)="deleteComment()">
            <span class="tag is-danger is-light">delete</span>
          </a>
        </div>
        <div class="column is-narrow" *ngIf="!comment.resolved">
          <a (click)="doneComment()">
            <span class="tag is-success is-light">
              <span class="icon" *ngIf="comment.done">
                <i class="fas fa-check"></i>
              </span>
              <span>done</span> 
            </span>
          </a>
        </div>
        <div class="column is-narrow" *ngIf="authService.isOwner(comment.user)">
          <a (click)="resolveComment()">
            <span class="tag is-success is-light">
              <span class="icon" *ngIf="comment.resolved">
                <i class="fas fa-check"></i>
              </span>
              <span>resolve</span>
            </span>
          </a>
        </div>
      </div>
      <span class="is-divider" style="margin:10px 0 20px 0;"></span>
    </div>
  </div>
</article>
