<div class="container has-margin-top-50">

  <form [formGroup]="myForm" novalidate (ngSubmit)="save(myForm)">

  <div formArrayName="rows">
  <div *ngFor="let language of myForm.get('rows')['controls']; let i=index" class="panel panel-default">

  <div [formGroupName]="i">

  <div class="columns">
      
    <div class="column has-margin-top-30">
      <div class="has-margin-right-0">
        <span >slide {{i + 1}}</span>
      </div>  
    </div>
    <div class="column">
        <label class="label">Visual Cue</label>
        <input type="textarea" rows="50" class="input" formControlName="visualCue">
    </div>
    <div class="column">
        <label class="label">narration</label>
        <input type="text" class="input" formControlName="narration">
    </div>
    <div class="column">
        <a (click)="removeLanguage(i)" *ngIf="myForm.get('rows')['controls'].length > 1"  style="cursor: default">
            <i class="fa fa-trash fa-5x" aria-hidden="true"></i>
        </a> 
    </div>
  
  </div>
  
  </div>

  </div>
  </div>
 
  <a (click)="addLanguage()" style="cursor: default">
     <i class="fa fa-plus fa-5x" aria-hidden="true"></i>
  </a>
  <br><br>
  <button type="submit" class="button is-success" (click)="save(myForm)" [disabled]="!myForm.valid">Save Changes</button>
  <br><br>

  <pre>form value: <br>{{myForm.value | json}}</pre>
 
  </form>
 
</div>