<script src="https://use.fontawesome.com/259168d2de.js"></script>
<div class="container">

  <form [formGroup]="myForm" novalidate (ngSubmit)="save(myForm)">

  <div formArrayName="rows">
  <div *ngFor="let language of myForm.controls.rows.controls; let i=index" class="panel panel-default">

  <span>slide {{i + 1}}</span>
  <a (click)="removeLanguage(i)" *ngIf="myForm.controls.rows.controls.length > 1"  style="cursor: default">Delete this row </a>  

  <div [formGroupName]="i">

  <div class="columns">
    <div class="column">
      <label class="label">Visual Cue</label>
      <input type="text" class="input" formControlName="visualCue">
    </div>

    <div class="column">
      <label class="label">narration</label>
      <input type="text" class="input" formControlName="narration">
    </div>
  </div>  
  

  </div>

  </div>
  </div>
 
  <a (click)="addLanguage()" style="cursor: default">
      <i class="fa fa-plus-circle">asdf</i>
  </a>
  <br><br>
  <button type="submit" class="button is-success" (click)="save()" [disabled]="!myForm.valid">Save Changes</button>
  <br><br>

  <pre>form value: <br>{{myForm.value | json}}</pre>
 
  </form>
 
</div>