<header class="timeline-header">
  <span class="tag is-link is-medium">{{ index+1 }}</span>
</header>
<div class="timeline-item animated fadeInLeft">
  <div *ngIf="!view">
    <div class="timeline-marker is-icon" (click)="removeSlide()">
    <a class="delete is-large"></a>
  </div>
  </div>
  <div class="columns">
    <div class="column is-8">
      <div class="timeline-content">
        <p class="heading">Visual Cue</p>
        <div class="field">
          <div class="control">
            <textarea class="textarea has-fixed-size is-info" placeholder="Visual Cue" [value]="slide.cue" [disabled]="view" (keyup)="cueKey($event)">
              </textarea>
          </div>
        </div>
      </div>
    </div>
    <div class="column is-8">
      <div class="timeline-content">
        <p class="heading">Narration</p>
        <div class="field">
          <div class="control">
            <textarea class="textarea has-fixed-size is-primary" placeholder="Narration" [value]="slide.narration" [disabled]="view" (keyup)="narrationKey($event)">
              </textarea>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>