<header class="timeline-header">
  <span class="tag is-link is-medium">{{ index+1 }}</span>
</header>
<div class="timeline-item animated fadeInLeft">
  <div *ngIf="!view" class="timeline-marker is-icon" [swal]="{ title: 'Delete Slide',
              text: 'Are you sure?',
              type: 'error',
              showCancelButton: 'true',
              focusCancel: 'true',
              confirmButtonText: 'Yes! Delete it.',
              cancelButtonText: 'No!'
            }" (confirm)="removeSlide()">
    <a class="delete is-large"></a>
  </div>


  <form [formGroup]="editorForm">
    <div class="columns">

      <div class="column">
        <div class="timeline-content">
            {{editMode}}
          <p class="heading">Visual Cue</p>
          <div class="field">
            <div class="control content">

                <div *ngIf="!ckEditorCue" class="slide_without_editor" (click)="changeCueToEditor()">
                  <p innerHTML="{{slide.cue}}"></p>
                </div>

                <ckeditor *ngIf="ckEditorCue" tagName="textarea" [config]="ckeditorConfig" [editor]="Editor"
                  formControlName="cue" [(ngModel)]="slide.cue" (onKeyup)="cueKey($event)" (blur)="saveSlide()">
                </ckeditor>

                <!-- <ckeditor tagName="textarea" [config]="ckeditorConfig" [editor]="Editor" formControlName="cue"
                  [(ngModel)]="slide.cue" (onKeyup)="cueKey($event)">
                </ckeditor> -->
              

            </div>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="timeline-content">
          <p class="heading">Narration</p>
          <div class="field">
            <div class="control content">

              <div *ngIf="!ckEditorNarration" class="slide_without_editor" (click)="changeNarrationToEditor()">
                <p innerHTML="{{slide.narration}}"></p>
              </div>

              <ckeditor *ngIf="ckEditorNarration" tagName="textarea" [config]="ckeditorConfig" [editor]="Editor"
                formControlName="narration" [(ngModel)]="slide.narration" (onKeyup)="narrationKey($event)"
                (blur)="saveSlide()">
              </ckeditor>

            </div>
          </div>
        </div>
      </div>

    </div>
  </form>

</div>