<header class="timeline-header">
  <span class="tag is-link is-medium">{{ index+1 }}</span>
</header>
<div class="timeline-item animated fadeInLeft">
  <div *ngIf="!view"  class="timeline-marker is-icon"
    [swal]="{ title: 'Delete Slide',
              text: 'Are you sure?',
              type: 'error',
              showCancelButton: 'true',
              focusCancel: 'true',
              confirmButtonText: 'Yes! Delete it.',
              cancelButtonText: 'No!'
            }"
    (confirm)="removeSlide()">
    <a class="delete is-large"></a>
  </div>
  <div class="columns">
    <div class="column is-6">
      <div class="timeline-content">
        <p class="heading">Visual Cue</p>
        <div class="field">
          <div class="control">
            <textarea class="textarea has-fixed-size is-info" placeholder="Visual Cue" [value]="slide.cue" [disabled]="view" (keyup)="cueKey($event)">
              </textarea>
          </div>
        </div>
      </div>
    </div>

    <div class="column is-6">
      <div class="timeline-content">
        <p class="heading">Narration</p>
        <div class="field">
          <div class="control">
            <textarea class="textarea has-fixed-size is-primary" placeholder="Narration" [value]="slide.narration" [disabled]="view" (keyup)="narrationKey($event)">
              </textarea>
          </div>
        </div>
      </div>
    </div>

    <div class="column is-2">
        <a class="button heading is-outlined" (click)="viewComment()">View Comments</a>
    </div>
    

  </div>
</div>