{% extends 'spoken/templates/base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block title %}Academic Center{% endblock %}
{% block cssblock %}<link rel="stylesheet" href="{% static 'spoken/css/chosen.min.css' %}" type="text/css" media="screen" charset="utf-8" />{% endblock %}
{% block heading %}
    <i class="fa fa-list-ul"></i> Academic Center
    {% endblock %}
{% block content %}
    <div class="row well">
        <div class='col-sm-8'>
	        <form action="{{ action }}" method="post" class='form-horizontal'>{% csrf_token %}
		        {% with WIDGET_ERROR_CLASS='field-error' WIDGET_REQUIRED_CLASS='field-required' %}
			        {% if form.non_field_errors %}
			        <ul>
			          {% for error in form.non_field_errors %}
				        <li>{{ error }}</li>
			          {% endfor %}
			        </ul>
			        {% endif %}
			        <div class="form-group">
				        <label for="id_state" class="col-sm-3 control-label">State</label>
				        <div class="col-sm-9">
				            {% render_field form.state class+="form-control chosen state" tabindex="1" data-placeholder="Choose State" %}
				            {{ form.state.errors }}
			            </div>
			        </div>
			        <!--
			        <div class="form-group">
				        <label for="id_district" class="col-sm-3 control-label">District <span class='ajax-refresh ajax-refresh-district'><i class="fa fa-2 fa-refresh fa-spin"></i></span></label>
				        <div class="col-sm-9">
				            {% render_field form.district class+="form-control chosen district" tabindex="1" data-placeholder="Choose district" %}
				            {{ form.district.errors }}
				        </div>
			        </div>
			        -->
			        <div class="form-group">
				        <label for="id_college" class="col-sm-3 control-label">Institution <span class='ajax-refresh ajax-refresh-institution'><i class="fa fa-2 fa-refresh fa-spin"></i></span></label>
				        <div class="col-sm-9">
				            {% render_field form.college class+="form-control chosen college" tabindex="1" data-placeholder="Choose Institution" %}
				            {{ form.college.errors }}
				        </div>
			        </div>
	                <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-9">
			                <input class="btn btn-primary" type="submit" value="Submit" />
			             </div>
			         </div>
		        {% endwith %}
            </form>
        </div>
    </div>
{% endblock %}

{% block jsblock %}
<script>
	$(document).ready(function(){
		$acstate = $('.state');
		//$ac_district = $(".district");
		$college = $(".college");

		$acstate.change(function() {
			var state = $(this).val();
			if(state){
			    $.ajax({
				    url: "/software-training/ajax-state-collage/",
				    type: "POST",
				    data: {
					    state : state
				    },
				    beforeSend: function() {
                        $('.ajax-refresh-institution').show();
                    },
				    success: function(data) {
					    if(data){
						    $college.html(data);
						    $college.removeAttr("disabled");
						    $('.ajax-refresh-institution').hide();
					    } else{
						    $college.attr("disabled", "disabled");
						    $('.ajax-refresh-institution').hide();
						    alert('No college found for this district!!');
					    }
				    }
			    });
			}
		});

		/*
		$acstate.change(function() {
			var state = $(this).val();
			$.ajax({
				url: "/software-training/ajax-ac-state/",
				type: "POST",
				data: {
					state: state,
					fields: {'district':'district'},
				},
				beforeSend: function() {
                    $('.ajax-refresh-district').show();
                },
				success: function(data) {
					if(data.district){
						$ac_district.html(data.district);
						$ac_district.trigger("chosen:updated");
						$ac_district.removeAttr("disabled");
						$('.ajax-refresh-district').hide();
					}else{
						$ac_district.html('<option>-- None -- </option>')
						$ac_district.trigger("chosen:updated");
						$ac_district.attr("disabled", "disabled");
						alert('No District found for this State!!');
					}
					//console.log("District = " + data[1]);
				}
			});
		});

		$ac_district.change(function() {
			var district = $(this).val();
			$.ajax({
				url: "/software-training/ajax-district-collage/",
				type: "POST",
				data: {
					district : district
				},
				beforeSend: function() {
                    $('.ajax-refresh-institution').show();
                },
				success: function(data) {
					if(data){
						$college.html(data);
						$college.removeAttr("disabled");
						$('.ajax-refresh-institution').hide();
					} else{
						$college.attr("disabled", "disabled");
						$('.ajax-refresh-institution').hide();
						alert('No college found for this district!!');
					}
				}
			});
		});*/
	});
</script>
{% endblock %}
