{% extends 'mdl/templates/base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block title %}Participant Feedback{% endblock %}
{% block cssblock %}
    <link rel="stylesheet" href="{% static 'spoken/css/chosen.min.css' %}" type="text/css" media="screen" charset="utf-8" />
    <style>
        table tr td, table tr th{
            padding: 4px 0;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="row well">
        <div class='col-sm-10'>
            <div class="bs-callout bs-callout-info">
                <dl class="dl-horizontal">
                    <dt>Institution name</dt>
                        <dd>{{ w.training_planner.academic }}</dd>
                    <dt>Software Taken</dt>
                        <dd>{{ w.course.foss }}</dd>
                    <dt>Date of Taken</dt>
                        <dd>{{ w.sem_start_date }}</dd>
                    <dt>Organiser</dt>
                        <dd>{{ w.training_planner.organiser.user.first_name }}</dd>
                </dd>
            </div>
            <form action="{{ action }}" method="post">{% csrf_token %}
            {% with WIDGET_ERROR_CLASS='field-error' WIDGET_REQUIRED_CLASS='field-required' %}
            {% if form.non_field_errors %}
            <ul>
              {% for error in form.non_field_errors %}
                <li>{{ error }}</li>
              {% endfor %}
            </ul>
            {% endif %}
             {{ form.errors }}
            <table style="width:100%">
                <tr>
                    <th></th>
                    <th>Very Bad</th>
                    <th>Bad</th>
                    <th>Fair</th>
                    <th>Good</th>
                    <th>Very Good</th>
               </tr>
               <!-- Content -->
               <tr>
                    <td>
                        <label for="id_content">Content</label>
                    </td>
                    {% for choice in form.content %}
                      {{ choice.choice_label }}
                      <td>{{ choice.tag }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td colspan="5">{{ form.content.errors }}</td>
                </tr>
                <!-- Sequence -->
                <tr>
                    <td>
                        <label for="id_sequence">Sequence of tutorials</label>
                    </td>
                    {% for choice in form.sequence %}
                      {{ choice.choice_label }}
                      <td>{{ choice.tag }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td colspan="5">{{ form.sequence.errors }}</td>
                </tr>
                <!-- Clarity -->
                <tr>
                    <td>
                        <label for="id_clarity">Clarity of explanation</label>
                    </td>
                    {% for choice in form.clarity %}
                      {{ choice.choice_label }}
                      <td>{{ choice.tag }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td colspan="5">{{ form.clarity.errors }}</td>
                </tr>
                <!--Interesting -->
                <tr>
                    <td>
                        <label for="id_interesting">Interesting</label>
                    </td>
                    {% for choice in form.interesting %}
                      {{ choice.choice_label }}
                      <td>{{ choice.tag }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td colspan="5">{{ form.interesting.errors }}</td>
                </tr>
                <!-- Appropriate Example -->
                <tr>
                    <th></th>
                    <th>Not at All</th>
                    <th>Slightly</th>
                    <th>Moderately</th>
                    <th>Very Good</th>
                    <th>Extremely</th>
               </tr>
                <tr>
                    <td>
                        <label for="id_appropriate_example">Use of appropriate examples</label>
                    </td>
                    {% for choice in form.appropriate_example %}
                      {{ choice.choice_label }}
                      <td>{{ choice.tag }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td colspan="5">{{ form.appropriate_example.errors }}</td>
                </tr>
                <!-- Institution Sheet -->
                <tr>
                    <td>
                        <label for="id_instruction_sheet">Instruction Sheet</label>
                    </td>
                    {% for choice in form.instruction_sheet %}
                      {{ choice.choice_label }}
                      <td>{{ choice.tag }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td colspan="5">{{ form.instruction_sheet.errors }}</td>
                </tr>
                <!-- Assignemnt -->
                <tr>
                    <td>
                        <label for="id_assignment">Assignment</label>
                    </td>
                    {% for choice in form.assignment %}
                      {{ choice.choice_label }}
                      <td>{{ choice.tag }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td colspan="5">{{ form.assignment.errors }}</td>
                </tr>
            </table>
            <br>
            <!-- Pace Of Tutorial-->
            <table style="width:50%">
            <tr>
            	<td><label for="id_instruction_sheet">Pace of the tutorial</label></td>
            </tr>
            <tr>
            	<th>Slow</th>
            	<th>Appropriate</th>
            	<th>Fast</th>
            </tr>
            <tr>
                    {% for choice in form.pace_of_tutorial %}
                      {{ choice.choice_label }}
                      <td>{{ choice.tag }}</td>
                    {% endfor %}
            </tr>
            <tr>
                    <td colspan="3">{{ form.pace_of_tutorial.errors }}</td>
            </tr>
            </table>
            <br>
            <!-- Rate workshop Overall-->
            <table style="width:100%">
            <tr>
            	<td colspan="6"><label for="id_instruction_sheet">How would you rate this workshop overall?</label></td>
            </tr>
            <tr>
            	<th>Very Bad</th>
            	<th>Bad</th>
            	<th>Satisfactory</th>
            	<th>Good</th>
            	<th>Excellent</th>
            </tr>
            <tr>
                    {% for choice in form.rate_workshop %}
                      {{ choice.choice_label }}
                      <td>{{ choice.tag }}</td>
                    {% endfor %}
            </tr>
            <tr>
                    <td colspan="5">{{ form.rate_workshop.errors }}</td>
            </tr>
            </table>
            <div><p><label>What was the most useful thing you learnt in this workshop?</label></p><p>{{ form.workshop_learnt }}</p>
                {{ form.workshop_learnt.errors }}
            </div>
            <!-- Weakness Of Workshop-->
            <table style="width:100%">
            <tr>
            	<td><label for="id_instruction_sheet">What were the weaknesses of this workshop?</label></td>
            </tr>
            <tr>
                <td><label>{{ form.weakness_workshop}} {{ form.weakness_workshop.label }}</label></td>
            </tr>
            <tr>
                <td><label>{{ form.weakness_narration}} {{ form.weakness_narration.label }}</label></td>
            </tr>
            <tr>
                <td><label>{{ form.weakness_understand}} {{ form.weakness_understand.label }}</label></td>
            </tr>

            </table>
            <!-- Any Other Weakness-->
	        <div><p><label>Any other weakness ?</label></p><p>{{ form.other_weakness }}</p>
	            {{ form.other_weakness.errors }}
            </div>
            <!-- Language in which tutorial was watched-->
            <table style="width:50%">
            <tr>
            	<td colspan="6"><label for="id_instruction_sheet">In which language did you watch the tutorials?</label></td>
            </tr>
            <tr>
            	<th>Regional</th>
            	<th>English</th>
            	<th>Hindi</th>
            </tr>
            <tr>
                    {% for choice in form.tutorial_language %}
                      {{ choice.choice_label }}
                      <td>{{ choice.tag }}</td>
                    {% endfor %}
            </tr>
            <tr>
                    <td colspan="3">{{ form.tutorial_language.errors }}</td>
            </tr>
            </table>
            <!-- Practice after attending workshop-->
            <table style="width:100%">
            <tr>
            	<td colspan="6"><label for="id_instruction_sheet">To what extent do you think you can apply the information you received today to your work/study?</label></td>
            </tr>
            <tr>
            	<th>Not at all</th>
            	<th>A little bit</th>
            	<th>Somewhat</th>
            	<th>Quite a bit</th>
            	<th>A lot</th>
            </tr>
            <tr>
                    {% for choice in form.apply_information %}
                      {{ choice.choice_label }}
                      <td>{{ choice.tag }}</td>
                    {% endfor %}
            </tr>
            <tr>
                    <td colspan="5">{{ form.apply_information.errors }}</td>
            </tr>
            </table>
            <div><p><label>If so, how do you plan to use the information?</label></p><p>{{ form.if_apply_information_yes }}</p>
                {{ form.if_apply_information_yes.errors }}
            </div>
            <!-- Rating workshop according to parameters-->
            <table style="width:100%">
            <tr>
            	<td colspan="6"><label for="id_instruction_sheet">How would you rate the workshop on the following?</label></td>
            </tr>
            <tr>
            	<th></th>
            	<th>Very Low</th>
            	<th>Below average</th>
            	<th>Average</th>
            	<th>Above average</th>
            	<th>Very high</th>
            </tr>
            <tr>
                    <td>
                        <label for="id_setup_learning">Setup for learning</label>
                    </td>
                    {% for choice in form.setup_learning %}
                      {{ choice.choice_label }}
                      <td>{{ choice.tag }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td colspan="5">{{ form.setup_learning.errors }}</td>
            </tr>
             <tr>
                    <td>
                        <label for="id_computers_lab">Computers in the lab</label>
                    </td>
                    {% for choice in form.computers_lab %}
                      {{ choice.choice_label }}
                      <td>{{ choice.tag }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td colspan="5">{{ form.computers_lab.errors }}</td>
            </tr>
                <tr>
                    <td>
                        <label for="id_audio_quality">Audio quality</label>
                    </td>
                    {% for choice in form.audio_quality %}
                      {{ choice.choice_label }}
                      <td>{{ choice.tag }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td colspan="5">{{ form.audio_quality.errors }}</td>
            </tr>
                 <tr>
                    <td>
                        <label for="id_video_quality">Video quality</label>
                    </td>
                    {% for choice in form.video_quality %}
                      {{ choice.choice_label }}
                      <td>{{ choice.tag }}</td>
                    {% endfor %}
                </tr>
            <tr>
                    <td colspan="5">{{ form.video_quality.errors }}</td>
            </tr>
            </table>
            <br>
            <!-- Rating Organizer-->
            <table style="width:100%">
            <tr>
            	<td colspan="6"><label for="id_instruction_sheet">How would you rate the Workshop Organiser from your college, in terms of the following:</label></td>
            </tr>
            <tr>
            	<th></th>
            	<th>Very Bad</th>
            	<th>Bad</th>
            	<th>Fair</th>
            	<th>Good</th>
            	<th>Very Good</th>
            </tr>
            <tr>
                    <td>
                        <label for="id_content">Organisation of the workshop</label>
                    </td>
                    {% for choice in form.workshop_orgainsation %}
                      {{ choice.choice_label }}
                      <td>{{ choice.tag }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td colspan="5">{{ form.workshop_orgainsation.errors }}</td>
            </tr>
             <tr>
                    <td>
                        <label for="id_content">Ability to facilitate learning</label>
                    </td>
                    {% for choice in form.faciliate_learning %}
                      {{ choice.choice_label }}
                      <td>{{ choice.tag }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td colspan="5">{{ form.faciliate_learning.errors }}</td>
            </tr>
                <tr>
                    <td>
                        <label for="id_content">Ability to motivate the learners</label>
                    </td>
                    {% for choice in form.motivate_learners %}
                      {{ choice.choice_label }}
                      <td>{{ choice.tag }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td colspan="5">{{ form.motivate_learners.errors }}</td>
            </tr>
                 <tr>
                    <td>
                        <label for="id_content">Time management</label>
                    </td>
                    {% for choice in form.time_management %}
                      {{ choice.choice_label }}
                      <td>{{ choice.tag }}</td>
                    {% endfor %}
                </tr>
            <tr>
                    <td colspan="5">{{ form.time_management.errors }}</td>
            </tr>
            </table>
            <br>
            <!-- Rating Resource Person-->
            <table style="width:100%">
            <tr>
            	<td colspan="6"><label for="id_instruction_sheet">How would you rate the IITB Resource person, in terms of the following?</label></td>
            </tr>
            <tr>
            	<th></th>
            	<th>Strongly Disagree</th>
            	<th>Disagree</th>
            	<th>Neutral</th>
            	<th>Agree</th>
            	<th>Strongly Agree</th>
            </tr>
            <tr>
                    <td>
                        <label for="id_content">Sufficient knowledge about the software</label>
                    </td>
                    {% for choice in form.knowledge_about_software %}
                      {{ choice.choice_label }}
                      <td>{{ choice.tag }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td colspan="5">{{ form.knowledge_about_software.errors }}</td>
            </tr>
             <tr>
                    <td>
                        <label for="id_content">Provided clear explanations</label>
                    </td>
                    {% for choice in form.provide_clear_explanation %}
                      {{ choice.choice_label }}
                      <td>{{ choice.tag }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td colspan="5">{{ form.provide_clear_explanation.errors }}</td>
            </tr>
                <tr>
                    <td>
                        <label for="id_content">Answered questions clearly</label>
                    </td>
                    {% for choice in form.answered_questions %}
                      {{ choice.choice_label }}
                      <td>{{ choice.tag }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td colspan="5">{{ form.answered_questions.errors }}</td>
            </tr>
                 <tr>
                    <td>
                        <label for="id_content">Was interested in helping me learn</label>
                    </td>
                    {% for choice in form.interested_helping %}
                      {{ choice.choice_label }}
                      <td>{{ choice.tag }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td colspan="5">{{ form.interested_helping.errors }}</td>
            </tr>
                <tr>
                    <td>
                        <label for="id_content">Executed the workshop efficiently</label>
                    </td>
                    {% for choice in form.executed_workshop %}
                      {{ choice.choice_label }}
                      <td>{{ choice.tag }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td colspan="5">{{ form.executed_workshop.errors }}</td>
            </tr>
            <tr>
                    <td colspan="5">{{ form.time_management.errors }}</td>
            </tr>
            </table>
            <div><p><label>How can the workshop be improved ?</label></p><p>{{ form.workshop_improved }}</p>
                {{ form.workshop_improved.errors }}
            </div>
            <!-- Recommend workshop-->
            <table style="width:100%">
            <tr>
            	<td colspan="6"><label for="id_instruction_sheet">Would you recommend this workshop, Spoken Tutorial Project and its activities to others?</label></td>
            </tr>
            <tr>
            	<th>Not at all</th>
            	<th>Maybe</th>
            	<th>Likely</th>
            	<th>Quite likely</th>
            	<th>Definitely</th>
            </tr>
            <tr>
                {% for choice in form.recommend_workshop %}
                  {{ choice.choice_label }}
                  <td>{{ choice.tag }}</td>
                {% endfor %}
            </tr>
            <tr>
                    <td colspan="5">{{ form.rate_workshop.errors }}</td>
            </tr>
            </table>
            <div><p><label>Reason why?</label></p><p>{{ form.reason_why }}</p>
                {{ form.reason_why.errors }}
            </div>
            <div><p><label>Any other comments?</label></p><p>{{ form.other_comments }}</p>
                {{ form.other_comments.errors }}
            </div>
            <input class="btn btn-primary" type="submit" value="Submit" />
            {% endwith %}
        </form>
    </div>
</div>
{% endblock %}
{% block jsblock %}
{% endblock %}
