{% extends 'mdl/templates/base.html' %}
{% load widget_tweaks %}
{% load static %}
{% load announcements %}
{% block title %}Participant/Student Login{% endblock %}
{% block cssblock %}<link rel="stylesheet" href="{% static 'spoken/css/chosen.min.css' %}" type="text/css" media="screen" charset="utf-8" />{% endblock %}
{% block announcement %}
    <div id="slideshow">
            {% get_notifications as notifications %}
            {% if notifications %}
                {% for notification in notifications %}
                    <div class="announcement alert" style="background:#{% if notification.bg_color %}{{ notification.bg_color }}{% else %}1B83BC{% endif %};">
                        <div class="inner">
                            <div class="text-container">
                                {{ notification.body|safe }}
                                <!--<button type="button" class="close" data-dismiss="alert">&times;</button>-->
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
    </div>
{% endblock %}
{% block search %}{% endblock %}
{% block content %}
{{ message|safe }}
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3 well">
            <h4 style="text-align:center;"class='page-title'>Participant/Student Sign In</h4>
            <form class="form-signin form-horizontal" role="form" id="login_form" method="post">{% csrf_token %}
	            {{ form.non_field_errors }}
	            <div class="form-group">
		            <label class="col-sm-3 control-label" for= "id_username">Email</label>
		            <div class="col-sm-9">
		                <input name="username" id="id_username" type="text" class="form-control" placeholder="Email" required autofocus>
		            </div>
	            </div>
	            <div class="form-group">
		            <label class="col-sm-3 control-label" for= "id_password">Password</label>
		            <div class="col-sm-9">
		                <input name="password" id="id_username" type="password" class="form-control" placeholder="Password" required>
		            </div>
	            </div>
	            <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-9">
	                    <input class="btn btn-primary" type="submit" value="Sign In" />
	                    <a href="{% url 'mdldjango:mdl_register' %}" class="btn btn-primary"> Register</a>
			            <a href="{% url 'mdldjango:forgot_password' %}">Forgot Password</a>
	                </div>
	            </div>
            </form>
        </div>
    </div>
{% endblock %}
{% block jsblock %}
    <script>
        /* Slideshow */
        var stop = 1
        $('#slideshow').hover(function(){
            stop = 0
        }, function(){
            stop = 1
        });
        if($(".announcement").length > 1){
            $("#slideshow > div:gt(0)").hide();
            setInterval(function() {
              if(stop){
                  $('#slideshow > div:first')
                    .fadeOut(0)
                    .next()
                    .fadeIn(0)
                    .end()
                    .appendTo('#slideshow');
                 }
            },  5000);
        }
        $('.close').click(function(){
            $(".navbar-fixed-top").css({'top' : '0px', 'position' : 'fixed'});
            $("#header-wrapper").css({'height' : '0px'});
        });
    </script>
{% endblock %}
