{% extends 'mdl/templates/base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block title %}Password Rest{% endblock %}
{% block cssblock %}<link rel="stylesheet" href="{% static 'spoken/css/chosen.min.css' %}" type="text/css" media="screen" charset="utf-8" />{% endblock %}
{% block content %}
	<form action="{{ action }}" method="post">{% csrf_token %}
	{% with WIDGET_ERROR_CLASS='field-error' WIDGET_REQUIRED_CLASS='field-required' %}
	{% if form.non_field_errors %}
	<ul>
	  {% for error in form.non_field_errors %}
		<li>{{ error }}</li>
	  {% endfor %}
	</ul>
	{% endif %}
    <div class="form-group">
		<label for="id_state">Email</label>
		{% render_field form.email class+="form-control chosen email" tabindex="1" %}
		{{ form.email.errors }}
	</div>
	<input class="btn btn-primary" type="submit" value="Submit" />
	{% endwith %}
</form>
{% endblock %}
