{% extends 'mdl/templates/base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block title %}Student Register{% endblock %}
{% block cssblock %}
    <style>
        .radio{
            margin-left: 18px;
        }
        .radio input[type="radio"]{
            left: 0px;
        }
    </style>
{% endblock %}
{% block heading %}
    <i class="fa fa-list-ul"></i> Student Register
{% endblock %}
{% block search %}{% endblock %}
{% block content %}
    <div class="row well">
        <div class='col-sm-8'>
            <form action="{{ action }}" method="post" class='form-horizontal'>{% csrf_token %}
                {% with WIDGET_ERROR_CLASS='field-error' WIDGET_REQUIRED_CLASS='field-required' %}
                    {% if form.non_field_errors %}
                    <ul>
                      {% for error in form.non_field_errors %}
                        <li>{{ error }}</li>
                      {% endfor %}
                    </ul>
                    {% endif %}
                    {% if edit %}
                        <h3 class="form-signin-heading">Register</h3>
                    {% endif %}
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for= "id_state">State</label>
                        <div class="col-sm-9">
                            {% render_field form.state class+="form-control chosen state" tabindex="1" data-placeholder="Choose State" %}
                            {{ form.state.errors }}
                        </div>
                    </div>
                    <!--<div class="form-group">
                        <label class="col-sm-3 control-label" for= "id_district">District</label>
                        <div class="col-sm-9">
                            {% render_field form.district class+="form-control chosen district" tabindex="1" data-placeholder="Choose district" %}
                            {{ form.district.errors }}
                        </div>
                    </div> -->
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for= "id_college">College <span class='ajax-refresh ajax-refresh-institution'></label>
                        <div class="col-sm-9">
                            {% render_field form.college class+="form-control chosen college" tabindex="1" data-placeholder="Choose college" %}
                            {{ form.college.errors }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for= "id_state">First Name</label>
                        <div class="col-sm-9">
                            {% render_field form.firstname class+="form-control firstname" tabindex="1" %}
                            {{ form.firstname.errors }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for= "id_state">Last Name</label>
                        <div class="col-sm-9">
                            {% render_field form.lastname class+="form-control lastname" tabindex="1" %}
                            {{ form.lastname.errors }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for= "id_state">Email</label>
                        <div class="col-sm-9">
                            {% render_field form.email class+="form-control email" tabindex="1" %}
                            {{ form.email.errors }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for= "id_gender">Gender</label>
                        <div class="col-sm-9">
                            {% for choice in form.gender %}
                                <div class='radio'>
                                    {{ choice.choice_label }}
                                    {{ choice.tag }}
                               </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for= "id_state">Password</label>
                        <div class="col-sm-9">
                            {% render_field form.password class+="form-control password" tabindex="1" %}
                            {{ form.password.errors }}
                        </div>
                    </div>
                        <div class="form-group">
                        <label class="col-sm-3 control-label" for= "id_state">Password Confirm</label>
                            <div class="col-sm-9">
                            {% render_field form.password_confirm class+="form-control repassword" tabindex="1" %}
                            {{ form.password_confirm.errors }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for= "id_state">Course</label>
                        <div class="col-sm-9">
                            {% render_field form.course class+="form-control course" tabindex="1" %}
                            {{ form.course.errors }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for= "id_state">Year</label>
                        <div class="col-sm-9">
                            {% render_field form.year class+="form-control year" tabindex="1" %}
                            {{ form.course.errors }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for= ""></label>
                        <div class="col-sm-9">
                            <div class="input-group captcha-group">
                                {% render_field form.captcha class+="form-control captcha" placeholder="Enter Captcha" %}
                            </div>
                            {{ form.captcha.errors }}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-9">
                            <input class="btn btn-primary" type="submit" value="Submit" />
                        </div>
                    </div>
                {% endwith %}
            </form>
        </div>
    </div>
{% endblock %}
{% block jsblock %}
<script>
    $(document).ready(function(){
        $acstate = $('.state');
        //$ac_district = $(".district");
        $college = $(".college");

        $acstate.change(function() {
			var state = $(this).val();
			if(state){
			    $.ajax({
				    url: "/software-training/ajax-state-collage/",
				    type: "POST",
				    data: {
					    state : state
				    },
				    beforeSend: function() {
                        $('.ajax-refresh-institution').show();
                    },
				    success: function(data) {
					    if(data){
						    $college.html(data);
						    $college.removeAttr("disabled");
						    $('.ajax-refresh-institution').hide();
					    } else{
						    $college.attr("disabled", "disabled");
						    $('.ajax-refresh-institution').hide();
						    alert('No college found for this district!!');
					    }
				    }
			    });
			}
		});
        /*$acstate.change(function() {
            var state = $(this).val();
            $.ajax({
                url: "/software-training/ajax-ac-state/",
                type: "POST",
                data: {
                    state: state,
                    fields: {'district':'district'},
                },
                success: function(data) {
                    if(data.district){
                        $ac_district.html(data.district);
                        $ac_district.trigger("chosen:updated");
                        $ac_district.removeAttr("disabled");
                    }else{
                        $ac_district.html('<option>-- None -- </option>')
                        $ac_district.trigger("chosen:updated");
                        $ac_district.attr("disabled", "disabled");
                        alert('No District found for this State!!');
                    }
                    //console.log("District = " + data[1]);
                }
            });
        });

        $ac_district.change(function() {
            var district = $(this).val();
            $.ajax({
                url: "/software-training/ajax-district-collage/",
                type: "POST",
                data: {
                    district : district
                },
                success: function(data) {
                    if(data){
                        $college.html(data);
                        $college.removeAttr("disabled");
                    } else{
                        $college.attr("disabled", "disabled");
                        alert('No college found for this district!!');
                    }
                }
            });
        }); */
    });
</script>
{% endblock %}
