{% extends 'spoken/templates/base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block title %}Masquerade{% endblock %}
{% block heading %}<i class="fa fa-list-ul"></i> Masquerade{% endblock %}
{% block content %}
    <div class="row">
        <div class="well col-lg-offset-1 col-md-offset-1 col-lg-10 col-md-10 col-sm-12">
            <form action="{{ action }}" method="POST" class='form-horizontal col-lg-12'>
                {% csrf_token %}
                <div class="form-group">
                    <div class="col-lg-10 col-md-10 col-sm-10">
                        {% render_field form.username_email class+="form-control username_email" tabindex="1" placeholder="Username / Email" %}
                        {{ form.username_email.errors }}
                    </div>
                    <div class="col-sm-2 col-md-2 col-sm-2">
                        <input class="btn btn-primary" type="submit" value="Submit" />
                    </div>
                </div>
            </form>
        </div>
    </div>
    <ul class="row">
        {% for row in rows %}
            <li><a href="/masquerade/mask/{{ row.id }}/">{{ row.username }} ({{ row.email }})</a> - Last login: {{ row.last_login }}</li>
        {% endfor %}
    </ul>
{% endblock %}
