<div class="timeline-item animated fadeInLeft">
  <div class="columns">
    <div class="column">
      <div *ngFor="let comment of comments; let i = index" class="timeline-content">
        <article class="media">
          <div class="media-content">
            <div class="content">
              <p>
                <strong>{{ comment['user'] }}</strong>
                <br>
                {{ comment['comment'] }}
                <br>
                <small>{{comment['time']}}</small>
              </p>
            </div>
          </div>
        </article>
        <div class="is-divider"></div>
      </div>
    </div>
  </div>
</div>