<div class="timeline-item animated fadeInLeft">
  <div class="columns">
    <div class="column">
      <div *ngFor="let comment of comments; let i = index" class="timeline-content">
        <article class="media">
          <figure class="media-left">
            <p class="image is-64x64">
              <img src="../../../assets/comment_user.png">
              <!-- <div class="image" [style.backgroundImage]="'url(assets/images/events/' + item.image + ')'"></div> -->
              <!-- <img src="'url(..//assets/comment_user.png)'"> -->
            </p>
          </figure>
          <div class="media-content">
            <div class="content">
              <p>
                <strong>{{ comment['user'] }}</strong>
                <br>
                {{ comment['comment'] }}
                <br>
                <small>{{comment['time']}}</small>
              </p>
            </div>
          </div>
        </article>
        <div class="is-divider"></div>
      </div>
    </div>
  </div>
</div>