{% extends 'spoken/templates/base.html' %}
{% load widget_tweaks %}
{% load static %}
{% load eventsdata %}
{% block title %}Participant List{% endblock %}
{% block uncompresscssblock %}
    <link rel="stylesheet" href="{% static 'spoken/css/jquery.fancybox.pack.css' %}" type="text/css" media="screen" charset="utf-8" />
{% endblock %}
{% block heading %}
        <i class="fa fa-list-ul"></i> Participant List <a href="/software-training" class='pull-right go-back'>Dashboard</a>
{% endblock %}
{% block content %}
    {% if onlinetest_user and onlinetest_user != 'None' %}
        <div class="row well">
            <div class="result">
                {% for record in onlinetest_user %}
                    <div class="col-sm-8">
                        <div class="col-sm-8">
                            <p>{{ record.firstname|lower|title }} {{ record.lastname|lower|title }} - {{ record.email }}</p>
                        </div>
                        <div class="col-sm-4">
                            <form role="search" method="POST">{% csrf_token %}
                                <input name="userid" type="hidden" value="{{ record.id}}">
                                <input name="add-participant" type="submit" value="Add" />
                            </form>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% else %}
        {% if onlinetest_user == 'None' %}
            <p class="no-record">No record found!</p>
        {% endif %}
    {% endif %}
    <!-- Tab panes -->
    <div class="tab-content">
        <div class="tab-pane active" id="pending">
            {% if collection %}
                {% if training.status < 2 %}
                    <div class="col-md-12 container">
                        <div class="bs-callout bs-callout-info col-md-8">
                            {% if training.status == 0 %}
                                <form action="{{ action }}" method="post" enctype="multipart/form-data">{% csrf_token %}
                                    {% with WIDGET_ERROR_CLASS='field-error' WIDGET_REQUIRED_CLASS='field-required' %}
                                    <p>Please check weather all the Names in the following attendance register are correct. Then click "Submit Attendance".</p>
                                    <input name="submit-attendance" class="btn btn-primary" type="submit" value="Submit Attendance" />
                                    {% endwith %}
                                </form>
                            {% else %}
                                <p>Your request has been sent, waiting for Training Manager's approval.</p>
                            {% endif %}

                        </div>
                    </div>
                    <table class="table table-striped table-hover table-bordered" style="clear:both;">
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Gender</th>
                        </tr>
                        {% for record in collection %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ record.firstname|lower|title }} {{ record.lastname|lower|title }}</td>
                                <td>{{ record.email }}</td>
                                <td>{{ record.gender }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                {% else %}
                    <!-- <div class='row'>
                        {% if training.training_type == 0 and training.tdate|can_upload_final_training_list %}
                            {% if training.status == 3 or training.status == 2 %}
                                <a class="fancybox fancybox.iframe pull-right" href="/software-training/training/training-completion/{{ training.id }}" title="View Outline"><h4 class='step'><span class="label label-default">Training Completion Form</span></h4></a>
                            {% endif %}
                        {% endif %}
                    </div> -->
		    <div class="row">
                       <a class="pull-right btn btn-primary" href="{% url 'mdldjango:mdl_offline_workshop_details' training.id 2 %}">Upload Participant Data</a>
                    </div>

                    <form action="{{ action }}" method="post">{% csrf_token %}
                        <table class="table table-striped table-hover table-bordered">
                            <tr>
				<th>#</th>
                                <th>Check</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Gender</th>
                            </tr>
                            {% for record in collection %}
                                <tr>
				    <td>{{ forloop.counter }}</td>
                                    <th><input type='checkbox' name="user_{{ record.id }}" value="{{ record.id }}" {{ record.id|get_trainingstatus:training }} ></th>
                                    <td>{{ record.firstname|lower|title }} {{ record.lastname|lower|title }}</td>
                                    <td>{{ record.email }}</td>
                                    <td>{{ record.gender }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                        <input name="submit-mark-attendance" class="btn btn-primary" type="submit" value="Submit" />
                    </form>
                    {% if training.status == 3 %}
                        <h4 class='step'><span class="label label-default">Step 2</span></h4>
                        <div class="bs-callout bs-callout-info">
                            <p>Please click <b>Mark as Complete</b> to end the training.</p>
                            <a class='btn btn-primary' title = "To complete the workshop click here" href="{% url 'events:training_approvel' 'organiser' training.id %}?status=completed">Mark as Complete</a>
                        </div>
                    {% endif %}
                {% endif %}
            {% else %}
                <p class='no-record'>No record found!</p>
            {% endif %}
        </div>
    </div>
    {% if clone %}
        <div class="modal fade">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">Clone Training</h4>
              </div>
              <div class="modal-body">
                <p>Do you wish to add another FOSS for the existing participant list?</p>
                <div style="max-height: 300px; overflow-y:scroll;">
                <table class="table table-condensed table-striped table-bordered">
                {% if training.trainingattendance_set.all %}
                    <tr>
                        <td>#</td>
                        <td>First Name</td>
                        <td>Last Name</td>
                        <td>Email</td>
                    </tr>
                {% endif %}
                {% for p in training.trainingattendance_set.all %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ p.firstname}}</td>
                        <td>{{ p.lastname}}</td>
                        <td>{{ p.email}}</td>
                    </tr>
                {% endfor %}
                </table>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">No</button>
                <form action="/software-training/training/organiser/clone/" method="post" style="display: initial;">{% csrf_token %}
                     <input type="hidden" name="clone-training" value="{{training.id}}">
                     <input type="submit" class="btn btn-primary" value="Yes" />
                </form>
              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    {% endif %}
{% endblock %}
{% block uncompressjsblock %}
    <script src="{% static 'spoken/js/jquery.fancybox.pack.js' %}"></script>
    <script src="{% static 'spoken/js/jquery.mousewheel-3.0.6.pack.js' %}"></script>
{% endblock %}
{% block compressinlinejsblock %}
    <script type="text/javascript">
        $(document).ready(function(){
            $(".fancybox").fancybox({
                maxWidth    : 600,
                maxHeight    : 500,
                fitToView    : true,
                autoSize    : false,
                closeClick    : false,
                openEffect    : "none",
                closeEffect    : "none",
                modal        : true,
                afterClose  : function() {
                    return parent.location.reload(true);
                }
            });
        });
    </script>
    <script>
    $(window).load(function(){
            $('.modal').modal({
                backdrop: 'static',
                keyboard: false,
                show: true,
            });
        });
    </script>
{% endblock %}
