{% extends 'spoken/templates/base.html' %}
{% load widget_tweaks %}
{% load static %}
{% load eventsdata %}
{% load cmsdata %}
{% load creationdata %}
{% block title %}Training - {{ status}} {% endblock %}
{% block uncompresscssblock %}
    <link rel="stylesheet" href="{% static 'spoken/css/jquery.fancybox.pack.css' %}" type="text/css" media="screen" charset="utf-8" />
{% endblock %}
{% block compresscssblock %}
    <link rel="stylesheet" href="{% static 'spoken/css/jquery.datetimepicker.css' %}" type="text/css" media="screen" charset="utf-8" />
{% endblock%}
{% block heading %}
        <i class="fa fa-list-ul"></i> Training <a href="{% url 'events:events_dashboard' %}" class='pull-right'>Dashboard</a>
{% endblock %}
{% block content %}
{% if role == 'rp' or role == 'em' %}
    <div class= 'filters row' >
        <form action="" method="get" class='form-horizontal'>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="form-group">
                    <label for="id_state" class="col-sm-4 control-label">State</label>
                    <div class="col-sm-8">
                        {% render_field form.academic__state class+="form-control academic_state" tabindex="1" %}
                        {{ form.academic__state.errors }}
                    </div>
                </div>
                <div class="form-group">
                    <label for="id_training_type" class="col-sm-4 control-label">Training Type</label>
                    <div class="col-sm-8">
                        {% render_field form.training_type class+="form-control training_type" tabindex="1" %}
                        {{ form.training_type.errors }}
                    </div>
                </div>
                <div class="form-group">
                    <label for="id_training_type" class="col-sm-4 control-label">Institution Type</label>
                    <div class="col-sm-8">
                        {% render_field form.academic__institution_type class+="form-control academic_institution_type" tabindex="1" %}
                        {{ form.academic__institution_type.errors }}
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="form-group">
                    <label for="id_resource_center" class="col-sm-4 control-label">Institution</label>
                    <div class="col-sm-8">
                        {% render_field form.academic__institution_name class+="form-control academic_institution_name" tabindex="1" %}
                        {{ form.academic__institution_name.errors }}
                    </div>
                </div>
                <div class="form-group">
                    <label for="id_state" class="col-sm-4 control-label">Foss</label>
                    <div class="col-sm-8">
                        {% render_field form.foss class+="form-control foss" tabindex="1" %}
                        {{ form.foss.errors }}
                    </div>
                </div>
                <div class="form-group">
                    <label for="id_language" class="col-sm-4 control-label">Language</label>
                    <div class="col-sm-8">
                        {% render_field form.language class+="form-control language" tabindex="1" %}
                        {{ form.language.errors }}
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="form-group">
                    <label for="id_tdate" class="col-sm-4 control-label">Date Range</label>
                    <div class="col-sm-8">
                        {% render_field form.tdate class+="form-control tdate date" tabindex="1" %}
                        {{ form.tdate.errors }}
                    </div>
                </div>
            </div>

            <div class="form-group">
              <div class="col-lg-12 col-md-12 col-sm-12">
                 <div class="pull-right">
                     <input class="btn btn-success" type="submit" value="Filter" />
                     <a class="btn btn-success" href="{{request.path}}?{{ request.GET|reset_get_values}}">Reset Filter</a>
                     <a class="fancybox fancybox.iframe btn btn-default " href="/reports/events/training/report/{% if request.GET %}?{{ request.GET.urlencode }}&status={{ status_code }}{% else %}?status={{ status_code }} {% endif %}" class="addlink">Export to CSV</a>
                </div>
              </div>
           </div>
        </form>
    </div>
{% endif %}
    <!-- Nav tabs -->
    <ul class="tabs nav nav-tabs">
        {% if role == 'organiser' %}
            <li><a href="/software-training/training/{{ role }}/request/">New</a></li>
            <li {% if status == 'predated' %}{{ 'class="active"'}}{% endif %}><a href="/software-training/training/{{role}}/predated/">Pre-Dated</a></li>
            <li {% if status == 'pending' %}{{ 'class="active"'}}{% endif %}><a href="/software-training/training/{{role}}/pending/">Pending</a></li>
        {% endif %}
        {% if role == 'rp' %}
            <li {% if status == 'predated' %}{{ 'class="active"'}}{% endif %}><a href="/software-training/training/{{role}}/predated/">Pre-Dated</a></li>
            <li {% if status == 'pending' %}{{ 'class="active"'}}{% endif %}><a href="/software-training/training/{{role}}/pending/">New Requests</a></li>
        {% endif %}
        <li {% if status == 'approved' %}{{ 'class="active"'}}{% endif %}><a href="/software-training/training/{{role}}/approved/">Approved</a></li>
        <li {% if status == 'ongoing' %}{{ 'class="active"'}}{% endif %}><a href="/software-training/training/{{role}}/ongoing/">Ongoing</a></li>
        <li {% if status == 'completed' %}{{ 'class="active"'}}{% endif %}><a href="/software-training/training/{{role}}/completed/">Completed</a></li>
        <li {% if status == 'reschedule' %}{{ 'class="active"'}}{% endif %}><a href="/software-training/training/{{role}}/reschedule/">Reschedule</a></li>
        <li {% if status == 'rejected' %}{{ 'class="active"'}}{% endif %}><a href="/software-training/training/{{role}}/rejected/">Rejected</a></li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
        <div class="tab-pane active" id="pending">
            {% if collection %}
            <table class="paleblue table table-striped table-hover table-bordered">
                {% get_sortable_header header ordering request.GET %}
                {% for record in collection %}
                    <tr>
                        <td>{{ forloop.counter }}
                        <td>
                            {% if record.training_type %}
                                Workshop - {{record.training_code}}
                            {% else %}
                                Training - {{record.training_code}}
                            {% endif %}
                        </td>
                        <td>{{ record.academic.state }}</td>
                        <td>{{ record.academic.academic_code}}</td>
                        <td>{{ record.academic }}</td>
                        <td>{{ record.foss }}</td>
                        <td>{{ record.organiser.user.first_name }}</td>
                        <td>{{ record.tdate|date:"d M Y" }} {{ record.wtime }}</td>
                        <td>{{ record.participant_count }}</td>
                        <!-- actions based on roles -->
                        <td>
                            {% if role == 'rp' %}
                                {% if status == 'pending' or status == 'predated' %}
                                    <a href="{% url 'events:training_edit' role record.id %}">Edit</a> |
                                {% endif %}
                                {% if status == 'pending' or status == 'predated' %}
                                    {% if record.status == 0 or record.participant_count == 0 %}
                                        Waiting for attendance
                                        <a href="{% url 'events:training_approvel' role record.id %}?status=reject"> | Reject</a>
                                    {% else %}
                                        <a target='_blank' href="{% url 'events:training_participant' record.id %}">Participants</a> |
                                        {% if record.status == 1 %}
                                            <a href="{% url 'events:training_approvel' role record.id %}?status=accept">Accept</a>
                                        {% else %}
                                            Accepted
                                        {% endif %}
                                        | <a href="{% url 'events:training_approvel' role record.id %}?status=reject">Reject</a>
                                    {% endif %}
                                {% endif %}
                                {% if status == 'approved' %}
                                    <a href="{% url 'events:training_approvel' role record.id %}?status=reject">Reject</a>
                                {% endif %}
                                {% if status == 'reschedule' %}
                                    <a href="{% url 'events:training_edit' role record.id %}">Edit</a>
                                {% endif %}
                                {% if status == 'ongoing' %}
                                    {% if record.id|training_file_exits %}
                                        <a href="{% url 'events:training_participant' record.id %}">Close Training</a> |
                                    {% endif %}
                                    <a target='_blank' href="{% url 'events:training_participant' record.id %}">Participants</a>
                                {% endif %}
                                <!-- {% if status == 'rejected' %}
                                    <a href="{% url 'events:training_approvel' role record.id %}?status=accept">Accept</a>
                                {% endif %} -->
                            {% endif %}
                            {% if role == 'organiser' %}
                                {% if record|can_clone_training %}
                                    <a href="{% url 'events:training_clone' role record.id %}" title="For the existing participant">Add FOSS</a> |
                                {% endif %}
                                {% if status == 'reschedule' %}
                                    <a href="{% url 'events:training_edit' role record.id %}">Edit</a>
                                {% endif %}
                                {% if status == 'pending' or status == 'predated' %}
                                    <a href="{% url 'events:training_edit' role record.id %}">Edit</a> |
                                    <!-- {% if record.training_type %}
                                        <a target='_blank' href="{% url 'events:training_attend' record.id %}"> Attendance</a> |
                                    {% endif %} -->
                                    <a target='_blank' href="{% url 'events:training_attend' record.id %}"> Attendance</a> |
                                    <a target='_blank' href="{% url 'events:training_participant' record.id %}">Participants</a>
                                {% endif %}
                                {% if status == 'approved' %}
                                    <a target='_blank' href="{% url 'events:training_participant' record.id %}">Participants</a>
                                {% endif %}
                                {% if status == 'ongoing' %}
                                    <!-- {% if record.training_type == 0 and record.tdate|can_upload_final_training_list %}
                                        <a target='_blank' href="{% url 'events:training_attend' record.id %}"> Attendance</a> | <a target='_blank' href="/software-training/training/training-completion/{{ record.id }}" class="fancybox fancybox.iframe"> Training Completion Form</a> |
                                    {% endif %}
                                    {% if record.training_type %}
                                        <a target='_blank' href="{% url 'events:training_attend' record.id %}"> Attendance</a> |
                                    {% endif %} -->
                                    <a target='_blank' href="{% url 'events:training_attend' record.id %}"> Attendance</a> |
                                    <a target='_blank' href="{% url 'events:training_participant' record.id %}">Participants</a>
                                {% endif %}
                            {% endif %}
                            {% if status == 'completed' %}
                                <a href="{% url 'events:training_participant' record.id %}">View Participants</a>
                                <!-- {% if record.training_type == 0 and record.extra_fields and user|is_resource_person %}
                                    | <a target='_blank' href="{% url 'events:view_training_completion' record.id %}" class="fancybox fancybox.iframe">Training Completion Form</a>
                                {% endif %} -->
                            {% endif %}
                        </td>
                    </tr>
                   {% endfor %}
                </table>
            {% else %}
                <p class='no-record'>No record found!</p>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block uncompressjsblock %}
    <script src="{% static 'spoken/js/jquery.fancybox.pack.js' %}"></script>
    <script src="{% static 'spoken/js/jquery.mousewheel-3.0.6.pack.js' %}"></script>
{% endblock %}
{% block compressjsblock %}
    <script src="{% static 'spoken/js/jquery.datetimepicker.js' %}"></script>
{% endblock %}
{% block compressinlinejsblock %}
    <script type="text/javascript">
        $(document).ready(function(){
            $(".fancybox").fancybox({
                maxWidth    : 600,
                maxHeight    : 500,
                fitToView    : true,
                autoSize    : false,
                closeClick    : false,
                openEffect    : "none",
                closeEffect    : "none",
                modal        : true,
                afterClose  : function() {
                    return parent.location.reload(true);
                }
            });
        });
        $('.date').datetimepicker({
            lang:'en',
            timepicker:false,
            format:'Y-m-d',
            formatDate:'Y/m/d',
            maxDate:'+1970/06/31', // tommorow date with in 6 month
        });
    </script>
{% endblock %}
