{% extends 'spoken/templates/base.html' %}
{% load widget_tweaks %}
{% load static %}
{% load eventsdata %}
{% load cmsdata %}
{% load creationdata %}
{% block title %}Training - {{ status}} {% endblock %}
{% block heading %}
        <i class="fa fa-list-ul"></i> Live Training
{% endblock %}
{% block content %}

	<div class="tab-content">
		<div class="tab-pane active" id="pending">
			{% if training_list %}
			    <table class="paleblue table table-striped table-hover table-bordered">
			        <tr>
                        <th>#</th>
                        <th>State</th>
                        <th>Academic</th>
                        <th>Foss</th>
                        <th>Organiser</th>
                        <th>Date</th>
                        <th>Participants count</th>
			        </tr>
				    {% for record in training_list %}
					    <tr>
                            <td>{{ forloop.counter }}
					        <td>{{ record.academic.state }}</td>
						    <td>{{ record.academic }}</td>
						    <td>{{ record.foss }}</td>
						    <td>{{ record.organiser.user.first_name }}</td>
						    <td>{{ record.tdate|date:"d M Y" }} {{ record.wtime }}</td>
						    <td><a target="_blank" href="/software-training/training/live/list/{{ record.id}}">{{ record.participant_count }}</a></td>
                            <!-- actions based on roles -->
					    </tr>
                   {% endfor %}
                </table>
			{% elif training %}
			    <table class="paleblue table table-striped table-hover table-bordered">
			        <tr>
                        <th>#</th>
                        <th>First Name</th>
                        <th>Academic</th>
                        <th>Feedback</th>
			        </tr>
				    {% for record in training %}
					    <tr>
                            <td>{{ forloop.counter }}
					        <td>{{ record.name }}</td>
						    <td>{{ record.institution }}</td>
						    <td><a target="_blank" href="{% url 'events:training_participant_viewlivefeedback' record.training_id record.id %}">Feedback</a></td>
                            <!-- actions based on roles -->
					    </tr>
                   {% endfor %}
                </table>
			{% else %}
				<p class='no-record'>No record found!</p>
			{% endif %}
		</div>
	</div>
{% endblock %}
