{% extends 'spoken/templates/popup-base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block title %}Offline Upload Interface - Attendance Sheet {% endblock %}
{% block heading %}
        <i class="fa fa-list-ul"></i> Offline Upload Interface - Attendance Sheet
{% endblock %}
{% block content %}
{% if enable_form %}
<form action="{{ action }}" method="post" enctype="multipart/form-data" >{% csrf_token %}
{% with WIDGET_ERROR_CLASS='field-error' WIDGET_REQUIRED_CLASS='field-required' %}
    {% if form.non_field_errors %}
    <ul>
      {% for error in form.non_field_errors %}
        <li>{{ error }}</li>
      {% endfor %}
    </ul>
    {% endif %}
	<!--<div class="form-group">
		<label for="id_workshop_code">Workshop Code</label>
		{% render_field form.workshop_code class+="form-control workshop_code" tabindex="1" data-placeholder="Enter Workshop Code" %}
		{{ form.workshop_code.errors }}
	</div> -->
	<div class="form-group">
		<label for="id_xml_file">CSV File</label>
		{% render_field form.xml_file class+=" xml_file"%}
		{{ form.xml_file.errors }}
	</div>
	<input class="btn btn-primary" type="submit" value="Submit" />
{% endwith %}
</form>
{% endif %}
{% endblock %}
