{% extends 'spoken/templates/base.html' %}
{% load widget_tweaks %}
{% load static %}
{% load eventsdata %}
{% block title %}Workshop Participant Details{% endblock %}
{% block heading %}
        <i class="fa fa-list-ul"></i> Participant Details {% if can_download_certificate %}<a href="/software-training" class='pull-right'>Dashboard</a> {% endif %}
{% endblock %}
{% block content %}
    <div class="bs-callout bs-callout-info">
        <dl class='dl-horizontal'>
            <dt>Institution Name</dt>
            <dd>{{ wc.academic }}, {{ wc.academic.state }}</dd>
            <dt>Foss</dt>
            <dd>{{ wc.foss.foss }}</dd>
            <dt>Language</dt>
            <dd>{{ wc.language }}</dd>
            <dt>Date</dt>
            <dd>{{ wc.tdate }}</dd>
            <dt>Participants Count</dt>
            <dd>{{ wc.participant_count }}</dd>
            <dt>Organiser</dt>
            <dd>{{ wc.organiser.user.first_name }} {{ wc.organiser.user.last_name }}</dd>
            <br /></br />
            {% if wc.id|training_file_exits and user|is_resource_person and wc.status == 3 %}
                <p>Please click <b>Mark as Complete</b> to end the training.</p><a href="{{file_path}}" target="_blank">View uploaded copy</a>
                <a class='btn btn-primary' title = "To complete the training click here" href="{% url 'events:training_approvel' 'rp' wc.id %}?status=completed">Mark as Complete</a>
            {% endif %}
        </dl>
    </div>
    <div class="" id="pending">
        {% if collection %}
        <table class="table table-bordered table-hover table-striped">
            <tr>
		<th>#</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th></th>
            </tr>
            {% for record in collection %}
                <tr>
		    <td>{{ forloop.counter }}</td>
                    <td>{{ record.firstname|lower|title }}</td>
                    <td>{{ record.lastname|lower|title }}</td>
                    <td>
                        {% if can_download_certificate and wc.status == 4 %}
                           <a href="{% url 'events:training_participant_ceritificate' wc.id record.id %}">Certificate</a> |
                        {% endif %}
                        {% if wc|is_feedback_exits:record %}
                            <a target="_blank" href="{% url 'events:training_participant_feedback' wc.id record.mdluser_id %}">View Feedback</a>
                        {% else %}
                            Feedback not given
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
        {% else %}
            <p class="no-record">No student found!</p>
        {% endif %}
    </div>
{% endblock %}
