{% extends 'spoken/templates/popup-base.html' %}
{% load widget_tweaks %}
{% load static %}
{% load eventsdata %}
{% block title %}Training Completion Form{% endblock %}
{% block heading %}
        <i class="fa fa-list-ul"></i> Training Completion Form
{% endblock %}
{% block content %}
    <div class="bs-callout bs-callout-info">
          {{ training.academic }},
          {{ training.foss }},
          {{ training.tdate }}
        </dl>
    </div>
    {% if training %}
        <table class="paleblue table table-striped table-hover table-bordered">
            <tr>
                <th>Online Assignment Test</th>
                <td>
                    {% if training.extra_fields.online_test == 0 %}
                        Will Request
                    {% elif training.extra_fields.online_test == 1 %}
                        Will not Request
                    {% elif training.extra_fields.online_test == 2 %}
                        Already Requested
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Approximate number of hours viewed / Practised</th>
                <td>
                    {% if training.extra_fields.approximate_hour == 0 %}
                        0 - 5
                    {% elif training.extra_fields.approximate_hour == 1 %}
                        6 - 10
                    {% elif training.extra_fields.approximate_hour == 2 %}
                        11 - 15
                    {% elif training.extra_fields.approximate_hour == 3 %}
                        16 - 20
                    {% elif training.extra_fields.approximate_hour == 4 %}
                        > 20
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Tutorial were useful in understanding the Lab Course</th>
                <td> {% if training.extra_fields.is_tutorial_useful %} Yes {% else %} No {% endif %}</td>
            </tr>
            <tr>
                <th>Will continue to request the Training in future</th>
                <td> {% if training.extra_fields.future_training %} Yes {% else %} No {% endif %}</td>
            </tr>
            <tr>
                <th>Will recommend Spoken Tutorial Training to Others</th>
                <td>{% if training.extra_fields.recommend_to_others %} Yes {% else %} No {% endif %}</td>
            </tr>
        </table>
    {% else %}
        <p class="no-record"> No record found!</p>
    {% endif %}
{% endblock %}
