{% extends 'spoken/templates/base.html' %}
{% load widget_tweaks %}
{% load static %}
{% load eventsdata %}
{% block title %}Workshop Participant Details{% endblock %}
{% block cssblock %}<link rel="stylesheet" href="{% static 'spoken/css/chosen.min.css' %}" type="text/css" media="screen" charset="utf-8" />{% endblock %}
{% block heading %}
        <i class="fa fa-list-ul"></i> Participant Details<a href="/software-training" class='pull-right'>Dashboard</a>
{% endblock %}
{% block content %}
    ssssss
{% endblock %}
