{% extends 'spoken/templates/base.html' %}
{% load attendance %}
{% load widget_tweaks %}
{% load static %}
{% block title %}Training Attendance{% endblock %}
{% block heading %}<i class="home-page-title-i">Training Attendance</i>{% endblock %}
{% block cssblock %}
  <style>
    .invalid {
      color: red;
    }
  </style>
{% endblock %}
{% block search %}{% endblock %}
{% block content %}
  <div><a class="btn btn-default" href="{% url 'events2:training_planner' %}">Go Back to Training Planner</a><br><br></div>
  {% if object_list %}
    <form action="{{ action }}" method="post">
      {% csrf_token %}
      <table class="table">
        {% for record in object_list %}
          {% if not record.moved %}
            {% with attendance_allowed=training|is_attendance_allowed:record.student %}
              <tr id="{{record.student.id}}" {% if not attendance_allowed %}class="invalid"{% endif %}>
                <td>{{ forloop.counter }}</td>
                <td>
                  {% if attendance_allowed %}
                    {% if training|is_attendance_marked:record.student %}
                      <input type='checkbox' name="user" value="{{record.student.id}}" checked="checked">
                    {% else %}
                      <input type='checkbox' name="user" value="{{record.student.id}}">
                    {% endif %}
                  {% endif %}
                </td>
                <td>{{ record.student.student_fullname }}</td>
                <td>{{ record.student.user.email }}</td>
                <td>{{ record.student.gender }}</td>
                <td>
                  {% if attendance_allowed %}
                    {% with lang_id=training|get_langid:record.student %}
                      <select name="{{record.student.id}}">
                        {% for lang in languages %}
                          {% if lang_id %}
                            <option {% if lang_id == lang.id %}selected="selected"{% endif %} value="{{lang.id}}">{{ lang.name}}</option>
                          {% else %}
                            <option {% if lang.name == 'English' %}selected="selected"{% endif %} value="{{lang.id}}">{{ lang.name}}</option>
                          {% endif %}
                        {% endfor %}
                      </select>
                    {% endwith %}
                  {% else %}
                    Already attended this course
                  {% endif %}
                </td>
              </tr>
            {% endwith %}
          {% endif %}
        {% endfor %}
      </table>
      <input class="btn btn-primary" type="submit" value="Submit Attendance" />
    </form>
  {% endif %}
{% endblock %}
