{% extends 'spoken/templates/base.html' %}
{% load widget_tweaks %}
{% load static %}
{% load creationdata %}
{% block title %}Domain review index{% endblock %}
{% block heading %}<i class="fa fa-list-ul"></i> Tutorials waiting for Domain review{% endblock %}
{% block content %}
    <ul class="tabs nav nav-tabs">
        <li class="active"><a href=""><i class="fa fa-list-ul"></i> Tutorials waiting for Domain review</a></li>
        <li><a href="/creation/domain-review/reviewed/"><i class="fa fa-list-ul"></i> Tutorials reviewed</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active table-responsive">
            <table class="table table-bordered table-hover">
            {% if not tr_recs|length %}
                <tr>
                    <td class="col-center">List is empty!</td>
                </tr>
            {% else %}
                <tr class="active">
                    <th>S.No</th>
                    <th>Foss</th>
                    <th>Tutorial Name</th>
                    <th>Language</th>
                    <th>Outline</th>
                    <th>Script</th>
                    <th>Slide</th>
                    <th>Video</th>
                    <th>Code Files</th>
                    <th>Assignment</th>
                    <th>Keywords</th>
                    <th>Prerequisite</th>
                    <th class="col-center"><span title="" data-original-title="" class="fa fa-cogs fa-2"></span></th>
                </tr>
                {% for tr_rec in tr_recs %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ tr_rec.tutorial_detail.foss.foss }}</td>
                        <td><a href="/creation/tutorial/view/{{ tr_rec.tutorial_detail.foss.foss|get_url_name }}/{{ tr_rec.tutorial_detail.tutorial|get_url_name }}/{{ tr_rec.language.name }}/" target="_blank">{{ tr_rec.tutorial_detail.tutorial }}</a></td>
                        <td>{{ tr_rec.language.name }}</td>
                        <td class="col-center" title="{{ tr_rec.outline_status | get_review_status_list }}">
                            <span class="{{ tr_rec.outline_status | get_review_status_symbol }}"></span>
                        </td>
                        <td class="col-center" title="{{ tr_rec.script_status | get_review_status_list }}">
                            <span class="{{ tr_rec.script_status | get_review_status_symbol }}"></span>
                        </td>
                        <td class="col-center" title="{{ tr_rec.common_content.slide_status | get_review_status_list }}">
                            <span class="{{ tr_rec.common_content.slide_status | get_review_status_symbol }}"></span>
                        </td>
                        <td class="col-center" title="{{ tr_rec.video_status | get_review_status_list }}">
                            <span class="{{ tr_rec.video_status | get_review_status_symbol }}"></span>
                        </td>
                        <td class="col-center" title="{{ tr_rec.common_content.code_status | get_review_status_list }}">
                            <span class="{{ tr_rec.common_content.code_status | get_review_status_symbol }}"></span>
                        </td>
                        <td class="col-center" title="{{ tr_rec.common_content.assignment_status | get_review_status_list }}">
                            <span class="{{ tr_rec.common_content.assignment_status | get_review_status_symbol }}"></span>
                        </td>
                        <td class="col-center" title="{{ tr_rec.common_content.keyword_status | get_review_status_list }}">
                            <span class="{{ tr_rec.common_content.keyword_status | get_review_status_symbol }}"></span>
                        </td>
                        <td class="col-center" title="{{ tr_rec.common_content.prerequisite_status | get_review_status_list }}">
                            <span class="{{ tr_rec.common_content.prerequisite_status | get_review_status_symbol }}"></span>
                        </td>
                        <td class="col-center"><a href="/creation/domain-review/tutorial/{{ tr_rec.id }}" class="review-btn"><span title="" data-original-title="" class="fa fa-cog fa-2"></span> Review</a></td>
                    </tr>
                {% endfor %}
            {% endif %}
            </table>
        </div>
    </div>
{% endblock %}
{% block jsblock %}
    <script src="{% static 'spoken/js/chosen.jquery.min.js' %}"></script>
    <script src="{% static 'spoken/js/jquery.fancybox.pack.js' %}"></script>
    <script src="{% static 'spoken/js/jquery.mousewheel-3.0.6.pack.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $(".review-btn").hover(
                function () {
                    $(this).children(0).addClass("fa-spin");
                },
                function () {
                    $(this).children(0).removeClass("fa-spin");
                }
            );
        });
    </script>
{% endblock %}
