#header-inner,
#content-inner,
#footer-inner {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
/* header styles */
#header-wrapper nav{
    background: #ffffff;
}
#header-inner .navbar-header a{
    display: block;
    font-size: 18px;
    font-weight: bold;
    margin-top: 3px;
    text-decoration: none;
    margin-right: 10px;
}
#header-inner .navbar-header a img{
    padding-right: 5px;
}
#header-wrapper #main-nav {
}
/* content styles */
#content-wrapper{
    margin: 55px 0 0 0;
}
#main {
    min-height: 300px;
}
#secondary {
    min-height: 300px;
}
.testimonial {
    text-align: justify;
}
#footer-wrapper {
    min-height: 300px;
    background: #111111;
}

/* search */
.site-search{
    padding-top: 20px;
}
#custom-search-form{
    min-width: 150px;
    width: inherit;
    transition: width 2s , left 2s ease;
    position: relative;
    height: 35px;
    margin: 8px 20px 0 0;
}
#custom-search-form .primary-search .search{
    top: 2px;
    position: absolute;
    right: -10px;
    height: 30px;
    width: 30px;
    border: 0;
    background: none;
}

#custom-search-form .primary-search .search-query{
    padding-right: 25px;
    padding-right: 26px \9;
    padding-left: 5px;
    padding-left: 6px \9;
}

.nav.nav-tabs{
    outline: none;
}
.tab-pane{
    margin-top: 20px;
}

/* circle */
.circular {
  border-radius:50%;
}

.circular img {
  width: 100px;
  height: 100px;
  border-radius:50%;
  transition: transform 0.5s ease;
  transform: scale(0.8);
}

.circular img:hover {
  transform: scale(.9);
  /*
  transition: all 400ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
  */
} 

/* testimonial */
.testimonial{
    overflow: hidden;
    padding: 20px 0;
}

.testimonial .content p{
    padding: 5px 10px 0px 10px;
    
}
.testimonial .author{
    float: right;
}

/* menu */
.yamm-content .column{
    /* border-right: 1px solid #e7e7e7; */
}
.yamm-content .column.last{
    border: 0;
}
.yamm-content .column.first{
    padding-left: 5px;
}
.yamm-content .column ul{
    padding-left: 15px;
}
.yamm-content .column ul li{
    line-height: 25px;
}
.yamm-content .column ul li a{
    color: gray;
}
.yamm-content .column ul li a:hover{
    color: black;
}
