html,body
{
  height: 100%;
}
/* overwrite */
.yamm .dropdown-menu {
  left: 0px;
}
.navbar-nav>li>.dropdown-menu{
    width: 100%;
}
.help-text{
    background-color: #D9EDF7;
    border-color: #BCE8F1;
    color: #31708F;
    font-size: 12px;
    padding:2px 10px;
    margin-bottom: 0px;
}
/* overwrite end */
.scroller{
    position: absolute;
    top: 40%;
    right: 10px;
    width: 20px;
    position: fixed;
    z-index: 1000;
}
.scroller li{
    margin: 5px 0;
}
.scroller li a{
    display: block;
    color: black;
    width: 20px;
    height: 20px;
    background: gray;
    outline: none;
}
.page4 h2.page-title{
    padding-bottom: 20px;
}
.spacer{
    height: 40px;
}
/* layout */
.container-inner{
    padding: 25px 0 25px 0;
}
#header-wrapper{
    height: 51px;
}
#testimonials, #home-video-container{
    clear: both;
}
#header-wrapper .navbar-header a{
    color: white;
}
#header-wrapper .navbar-header a .title{
    color: orange;
}
.navbar-default .navbar-nav>li>a{
    color: #ffffff;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus{
    color: orange;
}
#header-inner,
#content-inner,
#footer-inner, .inner {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}
/* header styles */
#header-wrapper nav{
    background: #343434;
}
#testimonials, #home-video-container{
    overflow: hidden;
    padding-top: 20px;
    padding-bottom: 20px;
}
#header-inner .navbar-header a{
    display: block;
    font-size: 18px;
    font-weight: bold;
    margin-top: 3px;
    text-decoration: none;
    margin-right: 10px;
}
#header-inner .navbar-header a img{
    padding-right: 5px;
}

#search-wrapper .common-search{
    margin: auto;
    width: 67.77%;
    padding: 15px 0;
    
}

#banner-wrapper .banner-items{
    padding: 20px 0;
}
#banner-wrapper .banner-items div{
    text-align: center;
}
#content{
    padding-left: 0px;
    padding-right: 0px;
}
.stay-middle{
    text-align: center;
}
.justify{
    text-align: justify;
}
/* home page testimonials */

.circular img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border: 1px solid gray;
}

#testimonials .item .content{
    position: relative;
}
#testimonials .item .content .caret{
    position: absolute;
    top: 30%;
    left: -2px;
    border-left: 10px solid #ffffff;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}
.top-border{
    border-top: 1px solid orange;
    padding: 20px 0;
}
#testimonials .testimonial-item .item .content{
    background: #f2f2f2;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 100%;
    text-align: justify;
    min-height: 150px;
}
/* home page testimonials end */

/* home-video-container */
.video-lists .video-item{
    padding-top: 10px;
    padding-bottom: 10px;
}
.video-lists .video-item .thump{
    position: relative;
}
.video-lists .video-item .thump img{
    width: 100%;
}
.video-lists .video-item .thump .video-item-playlist{
    bottom: 0px;
    position: absolute;
    text-align: center;
    background-color: black;
    opacity: 0.7;
    width: 100%;
    color: white;
}
/* home-video-container end */

/* contact */
.contact-container .contact div{
    padding: 4px 0;
    font-size: 16px;
}
.contact-container .contact div span{
    padding-right: 20px;
}
/* contact end */

/* footer */
#footer-wrapper{
    background: #111111;
}
#footer-wrapper a, #footer-wrapper footer{
    color: white;
}
#footer-wrapper .footer-links{
    border-right: 5px solid #eee;
}
#footer-wrapper .footer-links ul li{
    padding: 2px 0;
}
#footer-wrapper .license footer{
    padding-top: 100px;
}
/* footer end */

/* media secreen overwrite */
media="screen"
@media (min-width: 768px)
.circular img{
    width: 100%;
    height: 100%;
}

/* media screen overwrite end */
/*  layout end */

/* video search page */
.search-result {
    
}
.search-result .result-record{
    clear: both;
    padding: 20px 0;
}
.search-result .result-record a{
    display: block;
}
.search-result .result-record .thump{
    float: left;
    padding: 10px 20px;
}
.search-result .result-record .info{
    float: left;
}
/* video search page end */
.no-record{
     border: 1px solid #ddd;
     padding: 8px;
     text-align: center;
}
.no-record:hover{
    background-color: #f5f5f5;
}
.ajax-refresh{
    padding: 0 5px;
    display: none;
}
.form-group .radio ul{
    list-style: none;
}
.form-group .radio ul li{
    float: left;
}
/* font awesome */
.fa-1 {
    font-size: 1.2em;
}

.fa-2 {
    font-size: 1.5em;
}

.fa-3 {
    font-size: 3.5em;
}

.fa-4 {
    font-size: 5.5em;
}

.fa-5 {
    font-size: 7em;
}

.fa-6 {
    font-size: 20em;
}

/* font awesome end */

/* status icon color */
.review-pending-upload {
    color: #D9534F;
}

.review-admin-review {
    color: #D9534F;
}

.review-domain-review {
    color: #F0AD4E;
}

.review-quality-review {
    color: #5BC0DE;
}
.review-accepted {
    color: #10a41e;
}
/* status icon color end */


/* Navbar css */

a {
    text-decoration: none !important;
}

.navbar > .container .navbar-brand {
    margin-left: 5px;
    padding: 0px;
    padding-top: 3px;
}

.navbar > .container .navbar-brand img#logo {
    width: 42px;
    height: 43px;
    margin-right: 5px;
}

/* Navbar css end */

/* Content css */

h4.page-title {
    font-weight: bold;
    font-size: 20px;
    margin: 10px 0 20px 0;
}

#content-wrapper #content-inner div.container {
    padding-left: 25px;
}
#content-wrapper{
    min-height: 400px;
}
/* Content css end */

/* Note box css */

.bs-callout {
    border-left: 3px solid #EEEEEE;
    margin: 20px 0;
    padding: 20px;
}
.bs-callout-danger {
    background-color: #FDF7F7;
    border-color: #D9534F;
}
.bs-callout-info {
    background-color: #F4F8FA;
    border-color: #5BC0DE;
}
.bs-callout-warning {
    background-color: #FCF8F2;
    border-color: #F0AD4E;
}

/* Note box css end */

/* upload page css */

.reviewers-feedback {
    margin: 10px 10px 25px 10px;
}

.review-user {
    float: left;
    margin: 5px;
}

.review-date {
    float: right;
    margin: 5px;
}

.review-data {
    clear: both;
}

a.btn-warning {
    margin-left: 10px;
    width: 48px;
}
a.twin-button {
    width: 74px;
}
.col-center {
    text-align: center;
}
.col-left {
    text-align: left;
}
.col-right {
    text-align: right;
}
.fancybox-title-float-wrap {
    display: none;
}
/* upload page css end */

/* tabs */
.tab-content{
    padding: 15px 0;
}
/* tabs end */

/* badge */
.badge {
    color: black;
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: bold;
    line-height: 1;
    background-color: white;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 10px;
    float: right;
}
.badge-none {
    color: #fff;
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: bold;
    line-height: 1;
    background-color: orangered;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 10px;
    float: right;
}
/* badge end */

/* dashboard style */
.panel-heading-notif {
    padding: 5px 15px;
}
.panel-body-notif {
    overflow-y: scroll;
    max-height: 268px;
}
.notif {
    position: relative;
}
.notif p {
    padding-rignt: 15px;
}
.notif-del {
    top: 0px;
    right: 0px;
    position: absolute;
}
.clear-all {
    color: #777;
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: bold;
    line-height: 1;
    background-color: white;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 10px;
    float: right;
}
/* dashboard style end */
.no-padding {
    padding: 0px;
}
.no-padding-right {
    padding-right: 0px;
}
.no-padding-left {
    padding-left: 0px;
}
.ico-text {
    font-size: 18px;
}
pre.custom-jumbotron {
    padding: 10px 20px;
    border-radius: 6px;
    font-size: 14px;
    min-height: 112px;
    margin-bottom: 30px;
    color: inherit;
    background-color: #eee;
}
pre.custom-jumbotron b {
    font-size: 18px;
}

/* sortable header */
.paleblue th {
    padding: 2px 5px;
    line-height: normal;
}

.paleblue th a:link, .paleblue th a:visited {
    color: #666;
}

.paleblue th.sorted .text {
    padding-right: 42px;
}

.paleblue th .text span {
    padding: 2px 5px;
    display:block;
}

.paleblue th .text a {
    display: block;
    cursor: pointer;
    padding: 2px 5px;
}

.paleblue th.sortable:hover {
    background-color: #F4F8FA !important;
}

.paleblue th.sorted a.sortremove {
    visibility: hidden;
}

.paleblue th.sorted:hover a.sortremove {
    visibility: visible;
}

.paleblue th.sorted .sortoptions {
    display: block;
    padding-top: 4px;
    float: right;
    text-align: right;
}

.paleblue th.sorted .sortpriority {
    font-size: .8em;
    min-width: 12px;
    text-align: center;
    vertical-align: top;
}

.paleblue th.sorted .sortoptions a {
    width: 14px;
    height: 13px;
    display: inline-block;
}

.paleblue th.sorted .sortoptions a.sortremove {
    background: url(../images/sorting-icons.gif) -4px -5px no-repeat;
}

.paleblue th.sorted .sortoptions a.sortremove:hover {
    background: url(../images/sorting-icons.gif) -4px -27px no-repeat;
}

.paleblue th.sorted .sortoptions a.ascending {
    background: url(../images/sorting-icons.gif) -5px -50px no-repeat;
}

.paleblue th.sorted .sortoptions a.ascending:hover {
    background: url(../images/sorting-icons.gif) -5px -72px no-repeat;
}

.paleblue th.sorted .sortoptions a.descending {
    background: url(../images/sorting-icons.gif) -5px -94px no-repeat;
}

.paleblue th.sorted .sortoptions a.descending:hover {
    background: url(../images/sorting-icons.gif) -5px -115px no-repeat;
/* sortable header end */

