<div class="container has-margin-top-50">
  <div class="section">
    <div class="columns is-centered is-mobile">
      <div class="column">
        <div class="timeline">
        
          <ng-container *ngFor="let slide of slides; let i = index">
            <app-script-slide
              [slide]="slide"
              [index]="i"
              (removeSlideEmitter)="onRemoveSlide($event)"
              [view]="true"
            ></app-script-slide>
          </ng-container>

          <ng-container>
            <app-script-comment></app-script-comment>
          </ng-container>

        </div>
      </div>
    </div>
  </div>
</div>
