<div class="container has-margin-top-50">
  <div class="section">
    <a class="button is-info" style="width:150px;margin-left:1000px" routerLink="/">
      <i class="fa fa-arrow-left"></i>&nbsp;Go Back
    </a>
    <br><br>
    <div *ngIf="nav!='create'">
      <a class="button is-info" style="width:150px;margin-left:1000px" routerLink="/edit/{{id}}"><i class="fa fa-edit"></i>&nbsp;Edit Mode
      </a>
    </div>

    <br><br>

    <div class="columns is-mobile">

      <div class="column is-8">
        <div class="timeline">
          <div>
            <table class="table is-bordered is-striped is-fullwidth">
              <tr>
                <th>Sr. No.</th>
                <th>Visual Cue</th>
                <th>Narration</th>
                <th>Comments</th>
              </tr>
              <tbody *ngFor="let slide of slides; let i = index">
                <tr>
                  <td>{{ i+1 }}</td>
                  <td>{{ slide.cue }}</td>
                  <td>{{ slide.narration }}</td>
                  <td>
                    <button class="button heading" (click)="viewComment(i)">View Comments</button></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div *ngIf="comment" class="column">
        <br><br>
        <app-script-comment [comments]="comments"></app-script-comment>
      </div>

    </div>
  </div>
</div>