<div class="container has-margin-top-50">
  <div class="section">


    <div class="columns is-mobile">
      <div class="column is-8">
        <p class="title">{{ tutorialName }}</p>
      </div>
      <div class="column">

        <a class="button is-info" routerLink="/">
          <i class="fa fa-chevron-left"></i>&nbsp;Go Back
        </a>
        &nbsp;
        <a *ngIf="nav!='create'" class="button is-info" routerLink="/edit/{{id}}/{{ tutorialName }}">
          <i class="fa fa-edit"></i>&nbsp;Edit Mode
        </a>
      </div>

    </div>

    <br><br>

    <div class="columns is-mobile">

      <div class="column is-8">
        <div class="timeline">
          <div>
            <table #tableRow class="table is-bordered is-striped is-fullwidth">
              <tr>
                <th>Sr. No.</th>
                <th>Visual Cue</th>
                <th>Narration</th>
                <th>Comments</th>
              </tr>
              <tbody *ngFor="let slide of slides; let i = index">
                <tr>
                  <td>{{ i+1 }}</td>
                  <td>{{ slide.cue }}</td>
                  <td>{{ slide.narration }}</td>
                  <td><button class="button heading" (click)="viewComment(i)">Show/Hide</button></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div *ngIf="comment" class="column">
        <app-script-comment [comments]="comments" (commentEmitter)="postComment($event)"></app-script-comment>
      </div>

    </div>
  </div>
</div>