{% extends 'spoken/templates/base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block title %}Upload Tutorial{% endblock %}
{% block cssblock %}<link rel="stylesheet" href="{% static 'spoken/css/chosen.min.css' %}" type="text/css" media="screen" charset="utf-8" />{% endblock %}
{% if alert_success or alert_danger %}
    {% block alert %}
        {% if alert_success %}
            <div class="alert alert-success alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                {{ alert_success }}
            </div>
        {% endif %}
        {% if alert_danger %}
            <div class="alert alert-danger alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                {{ alert_danger }}
            </div>
        {% endif %}
    {% endblock %}
{% endif %}
{% block content %}
    <h3 class="form-signin-heading">{{ role }} list</h3>
    <ul class="tabs nav nav-tabs">
        <li {% if status == 'inactive' %}{{ 'class="active"'}}{% endif %}><a href="{% url 'events:organiser_invigilator_index' role 'inactive' %}">Inactive</a></li>
        <li {% if status == 'active' %}{{ 'class="active"'}}{% endif %}><a href="{% url 'events:organiser_invigilator_index' role 'active' %}">Active</a></li>
        <li {% if status == 'blocked' %}{{ 'class="active"'}}{% endif %}><a href="{% url 'events:organiser_invigilator_index' role 'blocked' %}">Blocked</a></li>
    </ul>
    {% if collection %}
        <table class="table table-striped table-hover table-bordered">
            <tr>
                <th>College</th>
                <th>Name</th>
                <th>Updated</th>
                <th>Action</th>
            </tr>
            {% for record in collection %}
            <tr class="{% cycle 'odd' 'even' %}">
                <td>{{ record.academic.institution_name }}</td>
                <td>{{ record.user }}</td>
                <td>{{ record.updated|date:"D d M Y" }}</td>
                {% if role == 'invigilator' %}
                    {% if status == 'inactive' %}
                        <td><a href="{% url 'events:invigilator_view' record.user %}">View</a> | <a href="{% url 'events:rp_invigilator_confirm' record.user.profile_set.get.confirmation_code record.user_id %}">Activate</a> | <a href="{% url 'events:rp_invigilator_block' record.user.profile_set.get.confirmation_code record.user_id %}">Block</a></td>
                    {% elif status == 'active' %}
                        <td><a href="{% url 'events:invigilator_view' record.user %}">View</a> | <a href="{% url 'events:rp_invigilator_block' record.user.profile_set.get.confirmation_code record.user_id %}">Block</a></td>
                    {% else %}
                        <td><a href="{% url 'events:invigilator_view' record.user %}">View</a> | <a href="{% url 'events:rp_invigilator_confirm' record.user.profile_set.get.confirmation_code record.user_id %}">Activate</a>
                    {% endif %}
                {% else %}
                    {% if status == 'inactive' %}
                        <td><a href="{% url 'events:organiser_view' record.user %}">View</a> | <a href="{% url 'events:rp_organiser_confirm' record.user.profile_set.get.confirmation_code record.user_id %}">Activate</a> | <a href="{% url 'events:rp_organiser_block' record.user.profile_set.get.confirmation_code record.user_id %}">Block</a></td>
                    {% elif status == 'active' %}
                        <td><a href="{% url 'events:organiser_view' record.user %}">View</a> | <a href="{% url 'events:rp_organiser_block' record.user.profile_set.get.confirmation_code record.user_id %}">Block</a></td>
                    {% else %}
                        <td><a href="{% url 'events:organiser_view' record.user %}">View</a> | <a href="{% url 'events:rp_organiser_confirm' record.user.profile_set.get.confirmation_code record.user_id %}">Activate</a>
                    {% endif %}
                {% endif %}
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <p class='no-record'>Sorry, no record found.</p>
    {% endif %}
{% endblock %}
