{% extends 'spoken/templates/base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block title %}Academic Subscription{% endblock %}
{% block cssblock %}
    <link rel="stylesheet" href="{% static 'spoken/css/chosen.min.css' %}" type="text/css" media="screen" charset="utf-8" />
    <!-- Include Bootstrap Multiselect -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/multi-select/0.9.12/css/multi-select.css">

    <style>
     
    </style>
{% endblock %}
{% block heading %}
        <i class="fa fa-list-ul"></i> Reset Student Password
{% endblock %}

{% block content %}


    <div class="row">
        <div class="col-sm-8 col-md-4">
            <div>
                {% if form.non_field_errors %}
                    <div class="alert alert-danger">
                        <ul>
                            {% for error in form.non_field_errors %}
                               {{error}}
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            </div>
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label>State:</label>
                    {% render_field form.state class+="form-control" %}
                    <small class="form-text text-muted">Please select state to list Schools</small>
                </div>
                <div class="form-group">
                    <label>School:</label>
                    {% render_field form.school class+="form-control" %}
                </div>
                <div class="form-group">
                    <label>Batches:</label>
                    {% render_field form.batches class+="form-control" multiple="multiple" %}
                </div>
                <div class="form-group">
                    <label>New Password</label>
                    {% render_field form.new_password class+="form-control" type="password" minlength=8 %}
                    <div>
                        Your password must be at least 8 characters long and include at least one:
                        <ul>
                            <li>lowercase letter</li>
                            <li>uppercase letter</li>
                            <li>one number</li>
                            <li>one special character (e.g., @, #, $, %)</li>
                        </ul>
                    </div>
                    <div class="text-danger" style="margin-top: 5px;font-size: 1.2rem;">
                        {% for error in form.new_password.errors %}
                            <small>{{ error }}</small>  
                        {% endfor %}
                    </div>
                </div>
                <div class="form-group">
                    <label>Confirm Password</label>
                    {% render_field form.confirm_password class+="form-control" type="password" minlength=8 %}
                    <div class="text-danger" style="margin-top: 5px;font-size: 1.2rem;">
                        {% for error in form.confirm_password.errors %}
                            <small>{{ error }}</small>  
                        {% endfor %}
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Reset Password</button>
            </form>
        </div>
    </div>
   
{% endblock %}
{% block jsblock %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/multi-select/0.9.12/js/jquery.multi-select.min.js"></script>
    <script>
        $(document).ready(function(){
          
            // Fetch schools based on selected state
            $("#id_state").change(function(){
                let stateId = $(this).val();
                if(!stateId) return;
                fetch("{% url 'events:get_schools' %}?state_id=" + stateId)
                .then(response => response.json())
                .then(data => {
                    let schoolSelect = $("#id_school");
                    schoolSelect.empty().append('<option value="">Select School</option>');
                    data.forEach(school => {
                        schoolSelect.append(`<option value="${school.id}">${school.academic_code} - ${school.institution_name}</option>`)
                    });
                })
                .catch(error => {
                    alert('an error occurred')
                })
            });

            // Fetch batches based on selected school
            $("#id_school").change(function(){
                let schoolId = $(this).val();
                if(!schoolId) return;

                fetch(`{% url 'events:get_batches' %}?school_id=${schoolId}`)
                .then(response => response.json())
                .then(data => {
                    let batchSelect = $("#id_batches");
                    batchSelect.empty();
                    data.forEach(batch => {
                        batchSelect.append(`<option value="${batch.id}">${batch.id}-${batch.batch_name}</option>`);
                    })
                })
                .catch(error => {
                    alert('an error occurred')
                });

            })
        })
    </script>
{% endblock %}
