{% extends 'spoken/templates/base.html' %}
{% load cmsdata %}
{% load static %}

{% block pager %}
    {% if is_paginated %}
        {% if page_obj.paginator.num_pages > 1 %}
            <ul class="pagination pull-right">
                {% if page_obj %}
                    {% if page_obj.has_previous %}
                        <li><a href="?{{ request.GET|combine_get_values }}page=1">&laquo; <small>First</small></a></li>
                        <li><a href="?{{ request.GET|combine_get_values }}page={{ page_obj.previous_page_number }}">&laquo; <small>Prev</small></a></li>
                    {% else %}
                        <li class="disabled"><a href="#">&laquo;</a></li>
                    {% endif %}
                    {% for num in page_obj.paginator.page_range|paginator_page_cutter:page_obj.number %}
                        {% ifequal num page_obj.number %}
                            <li class="active"><a href="#">{{ num }}<span class="sr-only">(current)</span></a></li>
                        {% else %}
                            <li><a href="?{{ request.GET|combine_get_values }}page={{ num }}">{{ num }}</a></li>
                        {% endifequal %}
                    {% endfor %}
                    {% if page_obj.has_next %}
                        <li><a href="?{{ request.GET|combine_get_values }}page={{ page_obj.next_page_number }}"><small>Next</small> &raquo;</a></li>
                        {% if page_obj.paginator.page_range|length > 10 %}
                            <li><a href="?{{ request.GET|combine_get_values }}page={{ page_obj.paginator.num_pages }}"><small>Last</small> &raquo;</a></li>
                        {% endif %}
                    {% else %}
                        <li class="disabled"><a href="#">&raquo;</a></li>
                        <li class="disabled"><a href="?{{ request.GET|combine_get_values }}page={{ page_obj.paginator.num_pages }}"><small>Last</small> &raquo;</a></li>
                    {% endif %}
                {% endif %}
            <ul>
        {% endif %}
    {% endif %}
{% endblock %}
