{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}
{% load eventsdata %}
{% block title %}team{% endblock %}


{% block content %}
<ul class="nav nav-tabs">
  <li {% if request.path == "/team/contributor/" %}class="active" {% endif %}><a href="/team/contributor/">Contributor</a></li> 
  <li {% if request.path == "/team/domain-reviewer/" %}class="active" {% endif %}><a href="/team/domain-reviewer/">Domain-Reviewers</a></li>
</ul>
  
  <div class="tab-content">
    <div id="approved" class="tab-pane fade in active">
    <div class="row">
      {% for record in object_list %}
      
        <div class="col-md-4 text-center">
          <img class="img-circle" src="{% if profile.picture %} {{media_url }}{{ profile.picture }} {% else %}/static/spoken/images/no-profile-image.jpg{% endif %}">
          {% if request.path == '/team/contributor/' %}
            <h4>{{temp}}{{ record.first_name}}</h2>
          {% elif request.path == '/team/domain-reviewer/' %}
            <h4>{{ record.first_name }} {{ record.last_name }}</h2>
          {% endif %}
        </div>
        {% if forloop.counter|divisibleby:3 %}
          <br>
        {% endif %}
     
       {% endfor %}
       </div><!-- /.row -->
    </div>
  </div>

{% endblock %}
