<div class="container has-margin-top-50">
  
  <div class="columns">

    <div class="column">
      <div class="field">
        <p class="control">
          <span class="select">
            <select (change)=" fetchFossTutorials($event.target.value)">
              <option value="any">--All foss categories</option>
              <option
                *ngFor="let item of foss"
                [value]="item['foss_category']['id']"
                >{{ item['foss_category']['name'] }}</option
              >
            </select>
          </span>
        </p>
      </div>
    </div>

    <div class="column">
      <div class="field">
        <p class="control">
          <span class="select">
            <select (change)="LanguageSelected($event.target.value)">
              <option value="" disabled selected>--All Languages--</option>
              <option *ngFor="let item of foss" [value]="item.language">{{
                item.language
              }}</option>
            </select>
          </span>
        </p>
      </div>
    </div>

  </div>
  
  <div *ngFor="let tutorial of tutorials">
  <app-tutorials [tutorial]="tutorial"></app-tutorials>
  </div>

</div>
