<!-- This page is used for change master batch year and department if the batch is not used in STP-->
{% extends 'spoken/templates/base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block title %}Master Batch{% endblock %}
{% block heading %}<i class="home-page-title-i">Master Batch</i><a class="btn btn-success pull-right" href="{% url 'events:batch_list' %}">Back to MB Master Batch</a>{% endblock %}
{% block search %}{% endblock %}
{% block content %}
        {% if form %}
          <div class="row well">
              <div class='col-sm-8'>
                  <form action="{{ action }}" method="post" class='form-horizontal' enctype="multipart/form-data">{% csrf_token %}
                      {% with WIDGET_ERROR_CLASS='field-error' WIDGET_REQUIRED_CLASS='field-required' %}
                      {% if form.non_field_errors %}
                      <ul>
                        {% for error in form.non_field_errors %}
                          <li>{{ error }}</li>
                        {% endfor %}
                      </ul>
                      {% endif %}
                      <div class='form-row'>
                        <div class='col-xs-12 form-group required'>
                          <label class='control-label'>Department</label>
                          {% render_field form.department class+="form-control department" tabindex="1" %}
                          {{ form.department.errors }}
                        </div>
                      </div>

                      <div class='form-row'>
                        <div class='col-xs-12 form-group required'>
                          <label class='control-label'>Year</label>
                          {% render_field form.year class+="form-control year" tabindex="1" %}
                          {{ form.year.errors }}
                        </div>
                      </div>

                      <div class="form-group">
                          <div class="col-xs-12 form-group">
                              <input class="btn btn-primary" type="submit" value="Update" />
                              <a class="btn btn-danger" href="{% url 'events:batch_list' %}">Cancel</a>
                          </div>
                      </div>
                      {% endwith %}
                  </form>
              </div>
          </div>
        {% else %}
          <h4><center>{{ batch.get_batch_info }}</center></h4>
          <form action="{{ action }}" method="post" class='form-horizontal' enctype="multipart/form-data">{% csrf_token %}
            <h5>Errors <span class="pull-right review-accepted">Note: Click on the email to correct email format</span></h5>
            <div class="row well">
              <table class="table">
                <tr>
                  <th>#</th>
                  <th>Full name</th>
                  <th>Email</th>
                  <th>Gender</th>
                </tr>
              {% for e in error %}
                <tr id="error{{forloop.counter}}">
                  <td>{{ forloop.counter }}</td>
                  <td>{{ e.0 }} {{ e.1 }}</td>
                  <td><div row="{{forloop.counter}}" data="{{ e.0 }},{{ e.1 }},{{ e.3 }}" class="editable" id="div_1">{{ e.2 }}</div></td>
                  <td>{{ e.3 }}</td>
                </tr>
              {% endfor %}
              </table>
            </div>
          </form>
        {% endif %}
        {% if warning %}
          <h5>Warning <span class="pull-right review-accepted">Note: Click on the email to correct email format</span></h5>
            <div class="row well">
              <table class="table">
                <tr>
                  <th>#</th>
                  <th>Full name</th>
                  <th>Email</th>
                  <th>Gender</th>
                  <th></th>
                </tr>
              {% for e in warning %}
                <tr id="error{{forloop.counter}}">
                  <td>{{ forloop.counter }}</td>
                  <td>{{ e.0 }} {{ e.1 }}</td>
                  <td>{{ e.2 }}</td>
                  <td>{{ e.3 }}</td>
                  <td>
                    {% if e.4 %}
                      Already exists in this batch.
                    {% else %}
                      Already exists in another batch.
                    {% endif %}
                  </td>
                </tr>
              {% endfor %}
              </table>
            </div>
        {% endif %}
{% endblock %}
{% block jsblock %}
  <script src="{% static 'spoken/js/jquery.jeditable.js' %}"></script>
  <script>
    $('.editable').editable(function(value, settings) {
       thisData = $(this);
       message = '';
       if (validEmail(value)){
          $.ajax({
            url: "/software-training/save-student/",
            type: "POST",
            data: {
                student_details: $(this).attr("data"),
                email: value,
                batch: "{{batch.id}}"
            },
            success: function(data) {
              currentRow = $("#" + thisData.attr('row'))
              if(data.code == 2){
                currentRow.html('<td colspan="2" class="alert alert-danger"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> ' + value + ': ' + data.message + '</td>');
              }else if(data.code == 1){
                currentRow.html('<td colspan="2" class="alert alert-warning"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> ' + value + ': ' + data.message + '</td>');
              }else if(data.code == 4){
                alert(value + " " + data.message);
              }else{
                currentRow.html('<td colspan="2" class="alert alert-success"> ' + value + ': Student record added successfully</td>');
              }
            }
        });
       }else{
         $(this).css({'color': 'red'});
       }
       return(value);
    }, {
       type    : 'text',
       submit  : 'OK',
       indicator : '<i class="fa fa-spinner fa-spin"></i>',
       tooltip   : 'Click to edit...',
   });
   function validEmail(v) {
      var r = new RegExp("[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?");
      return (v.match(r) == null) ? false : true;
  }
  </script>
{% endblock %}
