<!-- This page is used to edit the STP training request details -->
{% extends 'spoken/templates/base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block title %}Training Planner Edit{% endblock %}
{% block heading %}<i class="home-page-title-i">Training Planner Form</i>{% endblock %}
{% block search %}{% endblock %}
{% block content %}
        {% if form %}
          <div class="row well">
              <div class='col-sm-8'>
                  <form action="{{ action }}" method="post" class='form-horizontal' enctype="multipart/form-data">{% csrf_token %}
                      {% render_field form.training_planner type="hidden" value=training.training_planner_id class+="training-planner" %}
                      {% with WIDGET_ERROR_CLASS='field-error' WIDGET_REQUIRED_CLASS='field-required' %}
                      {% if form.non_field_errors %}
                      <ul>
                        {% for error in form.non_field_errors %}
                          <li>{{ error }}</li>
                        {% endfor %}
                      </ul>
                      {% endif %}

                      <div class='form-row'>
                        <div class='col-xs-12 form-group required'>
                          <label class='control-label'>Department</label>
                          {% render_field form.department class+="form-control department" tabindex="1" %}
                          {{ form.department.errors }}
                        </div>
                      </div>

                      <div class='form-row'>
                        <div class='col-xs-12 form-group required'>
                          <label class='control-label'>Batch</label>
                          {% render_field form.batch class+="form-control batch" tabindex="1" %}
                          {{ form.batch.errors }}
                        </div>
                      </div>

                      <div class='form-row'>
                        <div class='col-xs-12 form-group required'>
                          <label class='control-label'>Semester Start Date</label>
                          {% render_field form.sem_start_date class+="form-control sem_start_date date" tabindex="1" %}
                          {{ form.sem_start_date.errors }}
                        </div>
                      </div>


                       <div class='form-row'>
                        <div class='col-xs-12 form-group required'>
                          <label class='control-label' id="training_start_date">Training Start Date</label>
                          {% render_field form.training_start_date class+="form-control training_start_date training_start_date" tabindex="1" style="cursor:pointer"%}
                          {{ form.training_start_date.errors }}
                          <small>Odd Semester July to Dec, Even Semester Jan to June </small>
                        </div>
                      </div>

                      <div class='form-row'>
                        <div class='col-xs-12 form-group required'>
                          <label class='control-label' id="training_end_date">Training End Date</label>
                          {% render_field form.training_end_date class+="form-control training_end_date training_end_date" tabindex="1" style="cursor:pointer"%}
                          {{ form.training_end_date.errors }}
                          <small>Odd Semester July to Dec, Even Semester Jan to June </small>
                        </div>
                      </div>

                      <div class='form-row'>
                        <div class='col-xs-12 form-group required'>
                          <label class='control-label'>Training Type</label>
                          {% render_field form.course_type class+="form-control course_type" tabindex="1" %}
                          {{ form.course_type.errors }}
                        </div>
                      </div>
                      <div class='form-row'>
                        <div class='col-xs-12 form-group required'>
                          <label class='control-label'>Foss Category</label>
                          {% render_field form.foss_category class+="form-control foss_category" tabindex="1" %}
                          {{ form.foss_category.errors }}
                          <small>No certificates will be provided for <b>"Foss available only for Training"</b></small>
                        </div>
                      </div>

                      <div class='form-row'>
                        <div class='col-xs-12 form-group required'>
                          <label class='control-label' id="course_label">Software Course </label>
                          {% render_field form.course class+="form-control course" tabindex="1" %}
                          {{ form.course.errors }}
                        </div>
                      </div>

                      <div class="form-row">
                          <div class="col-xs-12 form-group">
                              <input class="btn btn-primary" type="submit" value="Submit" />
                              <a class="btn btn-default" href="{% url 'eventsv2:select_participants' %}">Cancel</a>
                          </div>
                      </div>
                      {% endwith %}
                  </form>
              </div>
          </div>
        {% endif %}
{% endblock %}
{% block jsblock %}
  <script>
    $(document).ready(function(){
      // getting available batches for selected department
      $('.department').on('change', function(){
        department = $(this).val();
        department_name = $(this).children("option").filter(":selected").text()
        $('.batch').html('<option>---------</option>');
        if(department != ''){
          $.ajax({
            url: "/software-training/get-batch-option/",
            type: "POST",
            data: {
              department: department,
            },
            success: function(data) {
              // loading bach options
              if(data && data['batch_option']) {
                  $('.batch').html(data['batch_option']);
              }
            }
          });
        }
      });

      $('.course').html('<option>---------</option>');
      $('.foss_category').on('change', function(){
        foss_category = $(this).val();
        document.getElementById('course_label').innerHTML = 'Course list loading ...'
        if(foss_category != ''){
          $.ajax({
            url: "/software-training/get-course-option/",
            type: "POST",
            data: {
              foss_category: foss_category,
            },
            beforeSend: function() {
              //$('.ajax-refresh-language').show();
            },
            success: function(data) {
              document.getElementById('course_label').innerHTML = 'Software Course'
              // loading languages
              if(data && data['course_option']) {
                  $('.course').html(data['course_option']);
              }
              //$('.ajax-refresh-language').hide();
            }
          });
        }
      });

    });

  </script>
{% endblock %}
