<!-- This page is used to edit the STP training request details -->
{% extends 'spoken/templates/base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block title %}Training Planner Form{% endblock %}
{% block heading %}<i class="home-page-title-i">Training Planner Form</i>{% endblock %}
{% block search %}{% endblock %}
{% block content %}
        {{training.department}}
        {% if form %}
          <div class="row well">
              <div class='col-sm-8'>
                  <form action="{{ action }}" method="post" class='form-horizontal' enctype="multipart/form-data">{% csrf_token %}
                      {% render_field form.training_planner type="hidden" value=training.training_planner_id class+="training-planner" %}
                      {% with WIDGET_ERROR_CLASS='field-error' WIDGET_REQUIRED_CLASS='field-required' %}
                      {% if form.non_field_errors %}
                      <ul>
                        {% for error in form.non_field_errors %}
                          <li>{{ error }}</li>
                        {% endfor %}
                      </ul>
                      {% endif %}

                      <div class='form-row'>
                        <div class='col-xs-12 form-group required'>
                          <label class='control-label'>Semester Start Date</label>
                          {% render_field form.sem_start_date class+="form-control sem_start_date" tabindex="1" %}
                          {{ form.sem_start_date.errors }}
                        </div>
                      </div>

                      <div class='form-row'>
                        <div class='col-xs-12 form-group required'>
                          <label class='control-label'>Training Type</label>
                          {% render_field form.course_type class+="form-control course_type" tabindex="1" %}
                          {{ form.course_type.errors }}
                        </div>
                      </div>

                      <div class='form-row'>
                        <div class='col-xs-12 form-group required'>
                          <label class='control-label'>Software Course </label>
                          {% render_field form.course class+="form-control course" tabindex="1" %}
                          {{ form.course.errors }}
                        </div>
                      </div>

                      <!-- <div class='form-row'>
                        <div class='col-xs-12 form-group required'>
                          <label class='control-label'>Language </label>
                          {% render_field form.language class+="form-control language" tabindex="1" %}
                          {{ form.language.errors }}
                        </div>
                      </div> -->

                      <div class="form-group">
                          <div class="col-xs-12 form-group">
                              <input class="btn btn-primary" type="submit" value="Submit" />
                              <a class="btn btn-default" href="{% url 'events:training_planner' %}">Cancel</a>
                          </div>
                      </div>
                      {% endwith %}
                  </form>
              </div>
          </div>
        {% endif %}
{% endblock %}
{% block jsblock %}
  <script>
    $(document).ready(function(){
      $('.course_type').on('change', function(){
        course_type = $(this).val();
        $('.course').html('<option>---------</option>');
        if(course_type != ''){
          $.ajax({
            url: "/software-training/get-course-option/",
            type: "POST",
            data: {
              course_type: course_type,
              department: "{{training.department_id}}",
              batch: "{{training.batch_id}}",
              training_planner: "{{training.training_planner_id}}"
            },
            beforeSend: function() {
              //$('.ajax-refresh-language').show();
            },
            success: function(data) {
              // loading languages
              if(data) {
                  if(data['is_full']){
                    $(".course_type").val('');
                    alert('No. of training requests for selected course type exceeded.');
                  }else{
                    $('.course').html(data['course_option']);
                  }
              }
              //$('.ajax-refresh-language').hide();
            }
          });
        }
      });
    });

  </script>
{% endblock %}
