{% extends 'spoken/templates/base.html' %}
{% load widget_tweaks %}
{% load static %}
{% load eventsdata %}
{% load cmsdata %}
{% load creationdata %}
{% block title %} {{ model }} Statistics {% endblock %}
{% block compresscssblock %}
    <link rel="stylesheet" href="{% static 'spoken/css/jquery.fancybox.css' %}" type="text/css" media="screen" charset="utf-8" />
    <link rel="stylesheet" href="{% static 'spoken/css/jquery.datetimepicker.css' %}" type="text/css" media="screen" charset="utf-8" />
{% endblock %}
{% block heading %} <i class="fa fa-list-ul"></i> {{ model }} Statistics {% endblock %}
{% block search %}{% endblock %}
{% block content %}
    <div class= 'filters row' >
        <form action=""  method="get" class='form-horizontal'>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="form-group">
                    <label for="id_state" class="col-sm-4 control-label">State</label>
                     <select class="form-control lang" id="lang" name="lang">
                        <option id="0">---------</option>
                          <div class="col-sm-8">
                            {%for a_college in academic_center%}
                              <option id="{{a_college.id }}" >{{a_college.institution_name}}</option>
                            {%endfor%}
                    </select>
                    </div>
                    </div>
                    <div class="form-group">
                      <label for="id_state" class="col-sm-4 control-label">{{a_college.institution_type_id}}</label>
                    </div>
                </div>
          </div>
  </div>
{% endblock %}
{% block compressjsblock %}
    <script src="{% static 'spoken/js/events.js' %}"></script>
    <script src="{% static 'spoken/js/jquery.datetimepicker.js' %}"></script>
    <script src="{% static 'spoken/js/jquery.fancybox.pack.js' %}"></script>
    <script type="text/javascript">
        $(".academic_state").change(function(){
            ajaxStrateFillDatas('', 'city', '');
        });
        $(document).ready(function(){
            
        });

        };

    </script>
{% endblock %}
{% block uncompressjsblock %}
    <script type="text/javascript">

    </script>
{% endblock %}
