{% extends 'spoken/templates/base.html' %}
{% load widget_tweaks %}
{% load static %}
{% load eventsdata %}
{% load cmsdata %}
{% load creationdata %}
{% block title %} {{ model }} Statistics {% endblock %}
{% block compresscssblock %}
    <link rel="stylesheet" href="{% static 'spoken/css/jquery.fancybox.css' %}" type="text/css" media="screen" charset="utf-8" />
    <link rel="stylesheet" href="{% static 'spoken/css/jquery.datetimepicker.css' %}" type="text/css" media="screen" charset="utf-8" />
{% endblock %}
{% block heading %} <i class="fa fa-list-ul"></i> {{ model }} Statistics {% endblock %}
{% block search %}{% endblock %}
{% block content %}
    <div class= 'filters row' >

        <form action=""  method="post" class='form-horizontal' action="/creationhome">{%csrf_token%}
            <div class="col-lg-6 col-md-2">
                <div class="form-group">
                    <label class="col-sm-4 control-label">Institution Name</label>
                    <label for="id_institution_name" class="col-sm-4 control-label disabled" name="institution_name" value="hello">{{accountexecutive.0.academic_id__institution_name}} </label>
                        </div>
                    
            </div>
        </form>
</div>
{% endblock %}
