<!-- This page is to list all planned training requests of current and next semester, to proceed for attendance or edit training request -->
{% extends 'spoken/templates/base.html' %}
{% load static %}
{% block title %}Semester Training Planner Summary{% endblock %}
{% load announcements %}
{% block heading %}
  <i class="home-page-title-i">Select participant List</i>
  <a class="btn btn-primary help" data-toggle="modal" data-target="#myModal"><i class="fa fa-2 fa-question"></i>  Instructions for Selecting Participant List</a>
  <a class="btn btn-success pull-right" href="{% url 'eventsv2:training_planner' %}">Back To Training Planner Summary</a>
{% endblock %}
{% block announcement %}
    <div id="slideshow">
            {% get_notifications as notifications %}
            {% if notifications %}
                {% for notification in notifications %}
                    <div class="announcement alert" style="background:#{% if notification.bg_color %}{{ notification.bg_color }}{% else %}1B83BC{% endif %};">
                        <div class="inner">
                            <div class="text-container">
                                {{ notification.body|safe }}
                                <!--<button type="button" class="close" data-dismiss="alert">&times;</button>-->
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
    </div>
{% endblock %}
{% block search %}{% endblock %}

{% block cssblock %}
  <style>

    /*.tp .training-row{
        display: none;
    }*/
    ul.tp{
          list-style: none;
    }
    ul.tp .yeardesc{
      padding: 5px;
    }
    ul.tp .yeardesc.active-planner{

    }
    .pull-center{
      text-align: center;
    }
    .help{
      margin-left:190px;
    }
  </style>
{% endblock %}

{% block content %}
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
           <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
           <ul>
              <li>For detailed instruction on Step 3 click here : <b>Select Participant List from MB:</b> <a href ="http://process.spoken-tutorial.org/images/4/49/Upload_Select_Participant_list.pdf" target="_blank">http://process.spoken-tutorial.org/images/4/49/Upload_Select_Participant_list.pdf</a></li>
              <li>Select the list of students taking the course/s you have chosen in this semester from the <b>Master Batch</b>.</li>
              <li>Make sure you mark the attendance within <b>60 Days</b> from Semester Start Date.</li>
              <li>Make sure you do this before you plan to start the training for the particular course.</li>
              <li>Repeat the same when you move to the next course of the semester.</li>
              <li>Organiser will have option to <b>re-open</b> the training and mark Participant List multiple times for the <b>current semester</b>. </li>
           </ul>
        </div>
      </div>
    </div>
  </div>

<!-- Following table will display all training request attendance status from current semester -->
<center>
  <h3>
    {{current_planner.academic.institution_name}}, {{current_planner.academic.district.name}}
  </h3>
</center>
<ul class="tp">
  <li class="semester active-planner">
    <div class="semdesc">
      <b>{{ current_planner.get_semester }} (Current Semester)</b>
      <span class="badge">completed : {{ current_planner.completed_training.count }}</span>
      <span class="badge">Ongoing : {{ current_planner.ongoing_training.count }}</span>
    </div>
    <div class="training-row"><br>
      {% if current_planner.training_requests %}
        <table class="table table-striped table-hover table-bordered">
          <tr>
            <th>#</th>
            <th>Semester State Date</th>
            <th>Software Course</th>
            <th>Department</th>
            <th>Batch Year</th>
            <th>Participant List Status</th>
            <th>Action</th>
          </tr>
      {% for training in current_planner.training_requests %}
          <tr data-id="{{training.id}}" class="{% if training.status %}completed{% else %}ongoing{% endif %}">
            <td>{{ forloop.counter }}</td>
            <td>{{ training.sem_start_date }} </td>
            <td>{{ training.course.course_name }}</td>
            <td>{{ training.department }}</td>
            <td>{{training.batch.year}}</td>
            <td>{{ training.attendance_summery }}</td>

            <td>
              {% if training.status == 0 %}
                | <a href="{% url 'eventsv2:training_attendance' training.id %}">Participant List</a> |
                {% if training.can_edit %}
                  <a href="{% url 'eventsv2:edit_training_request' training.id %}">Edit</a> |
                {% endif %}
              {% endif %}

              {% if training.status == 1 %}
                {% if training.is_learners_allowed and training.get_partipants_from_attendance and training.cert_status == 1 %}
                  | <a href="{% url 'eventsv2:training_certificate' training.id %}">Download Participation Certificate</a> | 

                 {% elif training.is_learners_allowed and training.get_partipants_from_attendance and training.cert_status == 0%}
                  | <a href="{% url 'eventsv2:request_certificate' training.id %}">Generate Participation Certificate</a> |

                  {% elif training.is_learners_allowed and training.get_partipants_from_attendance and training.cert_status == 2%}
                  | Request sent for Participation Certificate | <a href="{% url 'eventsv2:training_certificate' training.id %}">Participant List</a>{% endif %}

                  | <a href="{% url 'eventsv2:re-open-training' training.id %}"> Re-Open</a> |

                {% if not training.is_learners_allowed and not training.have_test%}
                  | Training Completed. No Certificates

                  | <a href="{% url 'eventsv2:training_certificate' training.id %}">Participant List</a>

                  | <a href="{% url 'eventsv2:re-open-training' training.id %}"> Re-Open</a> |
                {% endif %}
              {% endif %}
            </td>
          </tr>
        {% endfor %}
        </table>
      {% else %}
      <table class="table table-striped table-hover table-bordered">
        <tr><td class="pull-center">Training planner is empty</td></tr>
      </table>
      {% endif %}
    </div>
  </li>
  <!-- Following table will display all training request attendance status from next semester -->
  {% if next_planner %}
  <li class="semester future-planner"><br>
    <div class="semdesc">
      <b>{{ next_planner.get_semester }} (Next Semester)</b>
      <span class="badge">Planned : {{ next_planner.ongoing_training.count }}</span>
    </div>
    <div class="training-row"><br>
      {% if next_planner.training_requests %}
      <table class="table table-striped table-hover table-bordered">
        <tr>
        <th>#</th>
        <th>Semester State Date</th>
        <th>Software Course</th>
        <th>Department</th>
        <th>Batch Year</th>
        <th>Participant List Status</th>
        <th>Action</th>
        </tr>
      {% for training in next_planner.training_requests %}
        <tr  data-id="{{training.id}}" class="future">
          <td>{{ forloop.counter }}</td>
          <td>{{ training.sem_start_date }} </td>
          <td>{{ training.course.course_name }}</td>
          <td>{{ training.department }}</td>
          <td>{{training.batch.year}}</td>
          <td>{{ training.attendance_summery }}</td>
          <td>
          {% if training.can_mark_attendance %}
          | <a href="{% url 'eventsv2:training_attendance' training.id %}">Select Participant List</a>
          {% endif %}
          {% if training.can_edit %}
          | <a href="{% url 'eventsv2:edit_training_request' training.id %}">Edit</a> |
          {% endif %}
          </td>
        </tr>
      {% endfor %}
      </table>
      {% else %}
      <table class="table table-striped table-hover table-bordered">
        <tr><td class="pull-center">Training planner is empty</td></tr>
      </table>
      {% endif %}
    </div>
  </li>
  {% endif %}

  {% for record in object_list %}
  {% if record.training_with_no_attend %}
  {% if not record.id == current_planner.id and not record.id == next_planner.id %}
  <li class="semester">
    <div class="semdesc">
      <b>{{ record.get_semester }}  (Past Semester)</b>
      <span class="badge">Total : {{ record.completed_training.count }}</span>
    </div>
    <div class="training-row">
      <table class="table table-striped table-hover table-bordered">
          <tr>
          <th>#</th>
          <th>Semester State Date</th>
          <th>Software Course</th>
          <th>Department</th>
          <th>Batch Year</th>
          <th>Participant List Status</th>
          <th>Action</th>
          </tr>
        {% for training in record.training_with_no_attend %}
        <tr  data-id="{{training.id}}" class="{% if training.status %}completed{% else %}ongoing{% endif %}">
            <td>{{ forloop.counter }}</td>
            <td>{{ training.sem_start_date }} </td>
            <td>{{ training.course.course_name }}</td>
            <td>{{ training.department }}</td>
            <td>{{training.batch.year}}</td>
            <td>{{ training.attendance_summery }}</td>
            <td>
            {% if training %}
              | <a href="{% url 'eventsv2:previous_training_attendance' training.id %}">Participant List</a> |
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </table>
    </div>

  </li>
  {% endif %}
  {% endif %}
  {% endfor %}

{% endblock %}

{% block compressjsblock %}
<script src="{% static 'spoken/js/jquery.cookie.js' %}"></script>
{% endblock %}
{% block jsblock %}
<script>

$(window).load(function(){
   if ($.cookie('modal_status') != '1') {
    $('#myModal').modal('show');
    $.cookie('modal_status', '1',{ expires: null}); }
});
  </script>
  <script>
        /* Slideshow */
        var stop = 1
        $('#slideshow').hover(function(){
            stop = 0
        }, function(){
            stop = 1
        });
        if($(".announcement").length > 1){
            $("#slideshow > div:gt(0)").hide();
            setInterval(function() {
              if(stop){
                  $('#slideshow > div:first')
                    .fadeOut(0)
                    .next()
                    .fadeIn(0)
                    .end()
                    .appendTo('#slideshow');
                 }
            },  5000);
        }
        $('.close').click(function(){
            $(".navbar-fixed-top").css({'top' : '0px', 'position' : 'fixed'});
            $("#header-wrapper").css({'height' : '0px'});
        });
    </script>
{% endblock %}
