<!-- This page will displays the list of all master batches and also gives edit batch , add student or display list option -->
{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block title %}Master Batch Student List{% endblock %}
{% block heading %}<i class="home-page-title-i">Master Batch Student List</i><a href="/software-training" class='pull-right go-back'>Dashboard</a>{% endblock %}
{% load announcements %}
{% block announcement %}
    <div id="slideshow">
            {% get_notifications as notifications %}
            {% if notifications %}
                {% for notification in notifications %}
                    <div class="announcement alert" style="background:#{% if notification.bg_color %}{{ notification.bg_color }}{% else %}1B83BC{% endif %};">
                        <div class="inner">
                            <div class="text-container">
                                {{ notification.body|safe }}
                                <!--<button type="button" class="close" data-dismiss="alert">&times;</button>-->
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
    </div>
{% endblock %}
{% block search %}{% endblock %}
{% block content %}
{% load cmsdata %}
{% load student %}
  <div>
    <center>
      <a class="btn btn-success pull-left" href="{% url 'eventsv2:add_batch' %}">Add Batch</a>
      <a class="btn btn-primary" data-toggle="modal" data-target="#myModal"><i class="fa fa-2 fa-question"></i>  Instructions for Master Batch</a>
      <a class="btn btn-success pull-right" href="{% url 'eventsv2:training_planner' %}">Back To Semester Training Planner Summary</a>
    </center><br><br>
  </div>
  
  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
           <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
           <ul>
              <li>Create a spreadsheet in <b>LibreOffice Calc</b> or <b>MS Excel</b> of student with the following details: <b>First Name, Last Name, Email ID and Gender</b>.</li>
              <li>Please upload <b>Master Batch</b> of all students in that department and year in .csv file .</li>
              <li>Please ensure that you fill in only the genuine Email ID's of the Participants/Students. If they don't have any, please help them to create one.</li>
              <li>One <b>Master Batch</b> must contain names from only one department. <b>“DO NOT COMBINE DEPARTMENTS”</b></li>
              <li>For additional students Add student details in the existing <b>Master Batch</b> of same year and department.</li>
              <li>Organiser can <b>EDIT department , year, students name, Email ID, Gender</b> if entered incorrectly in Master Batch.</li>
              <li>If students does not receive any username-password mail, kindly guide them to verify and activate their account from this link: <a href="https://spoken-tutorial.org/accounts/verify/" target="_blank">https://spoken-tutorial.org/accounts/verify/</a></li>
           </ul>
        </div>
      </div>
    </div>
  </div>
  
{% if object_list %}
<div class="alert alert-success alert-dismissable">
  If you have completed adding <b>Master Batch/es</b>, kindly continue with Step 2 and Step 3 from <b>STP</b> Summary page.
</div> 
{% else %}
  kindly add your master batches.
{% endif %}

  {% if object_list %}
    <table class="paleblue table">
      {% get_sortable_header header ordering request.GET %}
      {% for record in object_list %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td>{{ record.academic }}</td>
          <td>{{ record.department }}</td>
          <td>{{ record.year }}</td>
          <td>{{ record.student_count }}</td>
          <td>
              <a href="{% url 'eventsv2:edit_batch' record.id %}">Edit</a> |
            <a href="{% url 'eventsv2:list_student' record.id %}">Student List</a>
            {% if record|can_add_student:request.user %}
             | <a href="{% url 'eventsv2:add_student' record.id %}">Add Student</a>
            {% endif %} 
          </td>
        </tr>
      {% endfor %}
    </table>
  {% else %}
    <p class='no-record'>No record found!</p>
  {% endif %}
{% endblock %}
{% block compressjsblock %}
<script src="{% static 'spoken/js/jquery.cookie.js' %}"></script>
{% endblock %}
{% block jsblock %}
<script>
$(window).load(function(){
   if ($.cookie('modal_status') != '1') {
    //show popup here
    $('#myModal').modal('show');
    $.cookie('modal_status', '1',{ expires: null}); }
});
</script>
<script>
        /* Slideshow */
        var stop = 1
        $('#slideshow').hover(function(){
            stop = 0
        }, function(){
            stop = 1
        });
        if($(".announcement").length > 1){
            $("#slideshow > div:gt(0)").hide();
            setInterval(function() {
              if(stop){
                  $('#slideshow > div:first')
                    .fadeOut(0)
                    .next()
                    .fadeIn(0)
                    .end()
                    .appendTo('#slideshow');
                 }
            },  5000);
        }
        $('.close').click(function(){
            $(".navbar-fixed-top").css({'top' : '0px', 'position' : 'fixed'});
            $("#header-wrapper").css({'height' : '0px'});
        });
    </script>
{% endblock %}

