{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}
{% load eventsdata %}
{% block title %} Feedback{% endblock %}
{% block compresscssblock %}
    <link rel="stylesheet" href="{% static 'spoken/css/jquery.datetimepicker.css' %}" type="text/css" media="screen" charset="utf-8" />
{% endblock %}
{% block compressinlinecssblock %}
<style>
        .common-search{
        display : none;
        }
        table tr td, table tr th{
            padding: 4px 0px 0px 5px;
            font-style: italic;
        }
    .tablest td input[type='radio']{
            margin: 0px 23px !important;
        }
        
    .bgcolor{
            /*background-color: #23f0d0;*/
            padding: 3px 15px;
        }
    .tabhead{
        text-align: center;
        border-style: inset;
        background-color: #23f0d0  ;
    }
    .tablest textarea ,textarea.form-control{
       height:110px;
    }
    .row{
      font-style: italic;
    }
    </style>
{% endblock %}
{% block content %}
{{Success}}
<div style="text-align:center; color:#52A3CC;"><h3>Workshop Feedback Form</h3></div>
<div class="row " ><!--main div 1 style="background-color:#fad7a0"-->
  <div class='col-sm-15'><!--main div 2-->
    <form action="/software-training/stworkshop-feedback/" method="post" class='form-horizontal' enctype="multipart/form-data" >{% csrf_token %}
      {% with WIDGET_ERROR_CLASS='field-error' WIDGET_REQUIRED_CLASS='field-required' %}
      {% if form.non_field_errors %}
        <ul>
        {% for error in form.non_field_errors %}
          <li>{{ error }}</li>
        {% endfor %}
        </ul>
      {% endif %}
      <div class='form-horizontal' style="clear:both;">
        <div class="col-sm-11">
        
          <div class="form-group">
            <label class="col-sm-3 control-label" for= "id_name">Name </label>
            <div class="col-sm-9">
              {% render_field form.name class+="form-control name" %}
              {{ form.name.errors }}
            </div>
          </div>
          
          <div class="form-group email">
            <label class="col-sm-3 control-label" for= "id_email">Email-Id </label>
            <div class="col-sm-9">
              {% render_field form.email class+="form-control email"%}
              {{ form.email.errors }}
            </div>
          </div>
          
          <div class="form-group">
            <label class="col-sm-3 control-label" for= "id_age">Gender </label>
            <div class="col-sm-9">
              {% render_field form.gender class+="form-control gender" %}
              {{ form.gender.errors }}
            </div>
          </div>
          
          <div class="form-group">
            <label class="col-sm-3 control-label" for= "id_age">Age </label>
            <div class="col-sm-9">
              {% render_field form.age class+="form-control age" %}
              {{ form.age.errors }}
            </div>
          </div>
          
          <div class="form-group ">
            <label class="col-sm-3 control-label" for= "id_affiliation">Affiliation </label>
            <div class="col-sm-9">
              {% render_field form.affiliation class+="form-control affiliation" %}
              {{ form.affiliation.errors }}
            </div>
          </div>

          <div class="form-group ">
            <label class="col-sm-3 control-label" for= "id_designation">Designation </label>
            <div class="col-sm-9">
              {% render_field form.designation class+="form-control designation" %}
              {{ form.designation.errors }}
            </div>
          </div>

          <div class="form-group ">
            <label class="col-sm-3 control-label" for= "id_educational_back">Educational Background </label>
            <div class="col-sm-9">
              {% render_field form.educational_back class+="form-control educational_back" %}
              {{ form.educational_back.errors }}
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-3 control-label" for= "id_foss">Foss </label>
            <div class="col-sm-9">
              {% render_field form.foss class+="form-control foss"  %}
              {{ form.foss.errors }} 
            </div>
          </div>
          
          <div class="form-group">
            <label class="col-sm-3 control-label" for= "id_venue">Venue </label>
            <div class="col-sm-9">
              {% render_field form.venue class+="form-control venue"  %}
              {{ form.venue.errors }} 
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-3 control-label " id="id_workshop_date">Workshop Date</label>
            <div class="col-sm-9">
            {% render_field form.workshop_date class+="form-control workshop_date"  readonly='true' style="cursor:pointer"%}
            {{ form.workshop_date.errors }}
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-3 control-label" for= "id_total_tutorials1">Total Tutorials completed during the workshop </label>
            <div class="col-sm-9">
              {% render_field form.total_tutorials1 class+="form-control total_tutorials1" %}
              {{ form.total_tutorials1.errors }}
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-3 control-label" for= "id_language_of_tutorial">Language in which you watched the tutorials during the workshop</label>
            <div class="col-sm-9">
              {% render_field form.language_of_tutorial class+="form-control language_of_tutorial" %}
              {{ form.language_of_tutorial.errors }}
            </div>
          </div>




          <br><br>
          <table style="width:100%;" class="table tablest"> 
            <tr>
              <th class="tabhead">Training Methodology</th>
              <th class="bgcolor">Strongly Agree</th>
              <th class="bgcolor">Agree</th>
              <th class="bgcolor">Neutral</th>
              <th class="bgcolor">Disagree</th>
              <th class="bgcolor">Strongly Disagree</th>
            </tr>
            
            <tr >
              <td><label for="id_acquired_knowledge">I have acquired new knowledge about the software by participating in the workshop.</label>{{ form.acquired_knowledge.errors }}</td>
                {% for choice in form.acquired_knowledge %}
                  {% if not forloop.counter == 1 %}
                    <td>{{ choice.tag }}</td>
                  {% endif %}
                {% endfor %}
            </tr>
            
            <tr >
              <td><label for="id_suff_instruction">The organizer gave sufficient instructions at the beginning of the workshop.</label>{{ form.suff_instruction.errors }}</td>
                {% for choice in form.suff_instruction %}
                {% if not forloop.counter == 1 %}
                    <td>{{ choice.tag }}</td>
                  {% endif %}
                {% endfor %}
            </tr>
            
            <tr >
              <td><label for="id_diff_instruction">I found it difficult to follow the instructions given during the workshop.</label>{{ form.diff_instruction.errors }}</td>
                {% for choice in form.diff_instruction %}
                {% if not forloop.counter == 1 %}
                    <td>{{ choice.tag }}</td>
                  {% endif %}
                {% endfor %}
            </tr>
            
            <tr >
              <td><label for="id_method_easy">The method used for learning the software was simple and easy to follow.</label>{{ form.method_easy.errors }}</td>
                {% for choice in form.method_easy %}
                {% if not forloop.counter == 1 %}
                    <td>{{ choice.tag }}</td>
                  {% endif %}
                {% endfor %}
            </tr>
            
            <tr >
              <td><label for="id_time_sufficient">The time allotted for workshop was sufficient.</label>{{ form.time_sufficient.errors }}</td>
                {% for choice in form.time_sufficient %}
                  {% if not forloop.counter == 1 %}
                    <td>{{ choice.tag }}</td>
                  {% endif %}
                {% endfor %}
            </tr>
            
            <tr >
              <td><label for="id_desired_objective">The workshop met its desired objectives.</label>{{ form.desired_objective.errors }}</td>
                {% for choice in form.desired_objective %}
                {% if not forloop.counter == 1 %}
                    <td>{{ choice.tag }}</td>
                  {% endif %}
                {% endfor %}
            </tr>
            
            <tr >
              <td><label for="id_recommend">I will recommend this workshop to my peers and colleagues.</label>{{ form.recommend.errors }}</td>
                {% for choice in form.recommend %}
                {% if not forloop.counter == 1 %}
                    <td>{{ choice.tag }}</td>
                  {% endif %}
                {% endfor %}
            </tr>
            
            <tr >
              <td><label for="id_like_to_part">I would like to take part in other spoken tutorial workshops too.</label>{{ form.like_to_part.errors }}</td>
                {% for choice in form.like_to_part %}
                {% if not forloop.counter == 1 %}
                    <td>{{ choice.tag }}</td>
                  {% endif %}
                {% endfor %}
            </tr>
          
          <tr >
              <td><label for="id_side_by_side_effective">Side-by-side method used for this workshop was effective as it allowed me to see the video and practice the software simultaneously. </label>{{ form.side_by_side_effective.errors }}</td>
                {% for choice in form.side_by_side_effective %}
                {% if not forloop.counter == 1 %}
                    <td>{{ choice.tag }}</td>
                  {% endif %}
                {% endfor %}
            </tr>

            <tr >
              <td><label for="id_dont_like_self_learning_method">I didn't like the method of self-learning used during the workshop at all because I have to learn on my own.</label>{{ form.dont_like_self_learning_method.errors }}</td>
                {% for choice in form.dont_like_self_learning_method %}
                {% if not forloop.counter == 1 %}
                    <td>{{ choice.tag }}</td>
                  {% endif %}
                {% endfor %}
            </tr>
            
          </table>
          <div class="form-group">
            <label class="col-sm-9 control-label" for= "id_training_any_comment " style="text-align:justify;">Any comment: </label>
            <div class="col-sm-9">
              {% render_field form.training_any_comment class+="form-control training_any_comment "  %}
              {{ form.training_any_comment.errors }}
            </div>
          </div><br>
          
          <table style="width:100%;" class="table tablest"> 
            <tr>
              <th class="tabhead">Content Material</th>
              <th class="bgcolor">Strongly Agree</th>
              <th class="bgcolor">Agree</th>
              <th class="bgcolor">Neutral</th>
              <th class="bgcolor">Disagree</th>
              <th class="bgcolor">Strongly Disagree</th>
            </tr>
            
            <tr >
              <td><label for="id_not_self_explanatory">The video tutorials were not self-explanatory. </label>{{ form.not_self_explanatory.errors }}</td>
                {% for choice in form.not_self_explanatory %}
                  {% if not forloop.counter == 1 %}
                    <td>{{ choice.tag }}</td>
                  {% endif %}
                {% endfor %}
            </tr>
            
            <tr >
              <td><label for="id_logical_sequence">The content in the tutorials was presented in a logical sequence. </label>{{ form.logical_sequence.errors }}</td>
                {% for choice in form.logical_sequence %}
                {% if not forloop.counter == 1 %}
                    <td>{{ choice.tag }}</td>
                  {% endif %}
                {% endfor %}
            </tr>
            
            <tr >
              <td><label for="id_examples_help">The examples in tutorials helped me in better understanding of the software. </label>{{ form.examples_help.errors }}</td>
                {% for choice in form.examples_help %}
                {% if not forloop.counter == 1 %}
                    <td>{{ choice.tag }}</td>
                  {% endif %}
                {% endfor %}
            </tr>
            
            <tr >
              <td><label for="id_instructions_easy_to_follow">The instructions on the instruction sheet were easy to follow. </label>{{ form.instructions_easy_to_follow.errors }}</td>
                {% for choice in form.instructions_easy_to_follow %}
                {% if not forloop.counter == 1 %}
                    <td>{{ choice.tag }}</td>
                  {% endif %}
                {% endfor %}
            </tr>

            <tr >
              <td><label for="id_difficult_instructions_in_tutorial">I did not like the Spoken Tutorial self-learning workshop as it was difficult to understand the instructions given in the tutorials. </label>{{ form.difficult_instructions_in_tutorial.errors }}</td>
                {% for choice in form.difficult_instructions_in_tutorial %}
                {% if not forloop.counter == 1 %}
                    <td>{{ choice.tag }}</td>
                  {% endif %}
                {% endfor %}
            </tr>

            <tr >
              <td><label for="id_translate">These tutorials should be translated into various Indian languages to help others. </label>{{ form.translate.errors }}</td>
                {% for choice in form.translate %}
                {% if not forloop.counter == 1 %}
                    <td>{{ choice.tag }}</td>
                  {% endif %}
                {% endfor %}
            </tr>

          </table>

          <div class="form-group">
            <label class="col-sm-9 control-label" for= "id_content_any_comment " style="text-align:justify;">Any comment:</label>
            <div class="col-sm-9">
              {% render_field form.content_any_comment class+="form-control content_any_comment "  %}
              {{ form.content_any_comment.errors }}
            </div>
          </div><br>
          
          <table style="width:100%;" class="table tablest"> 
            <tr>
              <th class="tabhead">Learning Experience</th>
              <th class="bgcolor">Strongly Agree</th>
              <th class="bgcolor">Agree</th>
              <th class="bgcolor">Neutral</th>
              <th class="bgcolor">Disagree</th>
              <th class="bgcolor">Strongly Disagree</th>
            </tr>
            
            <tr >
              <td><label for="id_useful_learning">The workshop was useful in learning the software.</label>{{ form.useful_learning.errors }}</td>
                {% for choice in form.useful_learning %}
                  {% if not forloop.counter == 1 %}
                    <td>{{ choice.tag }}</td>
                  {% endif %}
                {% endfor %}
            </tr>
            
            <tr >
              <td><label for="id_help_improve_performance">The self-learning experience will help improve my performance and grades.</label>{{ form.help_improve_performance.errors }}</td>
                {% for choice in form.help_improve_performance %}
                {% if not forloop.counter == 1 %}
                    <td>{{ choice.tag }}</td>
                  {% endif %}
                {% endfor %}
            </tr>
            
            <tr >
              <td><label for="id_plan_to_use_future">I plan to use the software in future after taking part in this workshop.</label>{{ form.plan_to_use_future.errors }}</td>
                {% for choice in form.plan_to_use_future %}
                {% if not forloop.counter == 1 %}
                    <td>{{ choice.tag }}</td>
                  {% endif %}
                {% endfor %}
            </tr>

            <tr >
              <td><label for="id_confident_to_apply_knowledge">I am confident that I will be able to apply the knowledge of the software after this workshop.</label>{{ form.confident_to_apply_knowledge.errors }}</td>
                {% for choice in form.confident_to_apply_knowledge %}
                {% if not forloop.counter == 1 %}
                    <td>{{ choice.tag }}</td>
                  {% endif %}
                {% endfor %}
            </tr>
          
          <tr >
              <td><label for="id_difficult_simultaneously">It was difficult to watch the video tutorial and practice the steps simultaneously. </label>{{ form.difficult_simultaneously.errors }}</td>
                {% for choice in form.difficult_simultaneously %}
                {% if not forloop.counter == 1 %}
                    <td>{{ choice.tag }}</td>
                  {% endif %}
                {% endfor %}
            </tr>

            <tr >
              <td><label for="id_too_fast">I did not like the Spoken Tutorial workshop because the videos played too fast.</label>{{ form.too_fast.errors }}</td>
                {% for choice in form.too_fast %}
                {% if not forloop.counter == 1 %}
                    <td>{{ choice.tag }}</td>
                  {% endif %}
                {% endfor %}
            </tr>

            <tr >
              <td><label for="id_too_slow">I did not like the Spoken Tutorial workshop because the videos played too slow.</label>{{ form.too_slow.errors }}</td>
                {% for choice in form.too_slow %}
                {% if not forloop.counter == 1 %}
                    <td>{{ choice.tag }}</td>
                  {% endif %}
                {% endfor %}
            </tr>
            
            <tr >
              <td><label for="id_interface_comfortable">I found the user interface of Spoken Tutorial comfortable to interact.</label>{{ form.interface_comfortable.errors }}</td>
                {% for choice in form.interface_comfortable %}
                {% if not forloop.counter == 1 %}
                    <td>{{ choice.tag }}</td>
                  {% endif %}
                {% endfor %}
            </tr>
            
            <tr >
              <td><label for="id_satisfied">I am satisfied with the self-learning experience using spoken tutorials.</label>{{ form.satisfied.errors }}</td>
                {% for choice in form.satisfied %}
                {% if not forloop.counter == 1 %}
                    <td>{{ choice.tag }}</td>
                  {% endif %}
                {% endfor %}
            </tr>
            
            <tr >
              <td><label for="id_self_learning_intrest">The self learning methodology was able to hold my interest for learning the software during the entire workshop.</label>{{ form.self_learning_intrest.errors }}</td>
                {% for choice in form.self_learning_intrest %}
                {% if not forloop.counter == 1 %}
                    <td>{{ choice.tag }}</td>
                  {% endif %}
                {% endfor %}
            </tr>

            <tr >
              <td><label for="id_language_diff_to_understand">I did not like the Spoken Tutorial self-learning workshop as the language used in the tutorials was difficult to understand.</label>{{ form.language_diff_to_understand.errors }}</td>
                {% for choice in form.language_diff_to_understand %}
                {% if not forloop.counter == 1 %}
                    <td>{{ choice.tag }}</td>
                  {% endif %}
                {% endfor %}
            </tr>

            <tr >
              <td><label for="id_not_like_method_forums">I did not like the method of asking questions by minutes and seconds on the Forum.</label>{{ form.not_like_method_forums.errors }}</td>
                {% for choice in form.not_like_method_forums %}
                {% if not forloop.counter == 1 %}
                    <td>{{ choice.tag }}</td>
                  {% endif %}
                {% endfor %}
            </tr>

            <tr >
              <td><label for="id_forum_helpful">The Forum was very helpful as I usually hesitate to ask my doubts in front of an audience.</label>{{ form.forum_helpful.errors }}</td>
                {% for choice in form.forum_helpful %}
                {% if not forloop.counter == 1 %}
                    <td>{{ choice.tag }}</td>
                  {% endif %}
                {% endfor %}
            </tr>

            <tr >
              <td><label for="id_owing_to_forums">Owing to the Forums, I did not have to wait to have my doubts answered.</label>{{ form.owing_to_forums.errors }}</td>
                {% for choice in form.owing_to_forums %}
                {% if not forloop.counter == 1 %}
                    <td>{{ choice.tag }}</td>
                  {% endif %}
                {% endfor %}
            </tr>

          </table>
          <div class="form-group">
            <label class="col-sm-9 control-label" for= "id_learning_any_comment " style="text-align:justify;">Any comment:</label>
            <div class="col-sm-9">
              {% render_field form.learning_any_comment class+="form-control learning_any_comment "  %}
              {{ form.learning_any_comment.errors }}
            </div>
          </div><br>

          <table style="width:100%" class="table tablest"> 
            <thead class="thead-inverse">
            <tr>
              <th class="tabhead">Kindly Rate the following </th>
              <th class="bgcolor">Excellent</th>
              <th class="bgcolor">Good</th>
              <th class="bgcolor">Fair</th>
              <th class="bgcolor">Bad</th>
              <th class="bgcolor">Extremely bad</th>
            </tr>
            </thead>
            <tr >
              <td><label for="id_ws_quality">Workshop quality</label>{{ form.ws_quality.errors }}</td>
                {% for choice in form.ws_quality %}
                {% if not forloop.counter == 1 %}
                    <td>{{ choice.tag }}</td>
                  {% endif %}
                {% endfor %}
            </tr>
            
            <tr >
              <td><label for="id_overall_content_quality">Overall content quality of tutorials</label>{{ form.overall_content_quality.errors }}</td>
                {% for choice in form.overall_content_quality %}
                {% if not forloop.counter == 1 %}
                    <td>{{ choice.tag }}</td>
                  {% endif %}
                {% endfor %}
            </tr>
            
            <tr >
              <td><label for="id_clarity_of_explanation">&nbsp;&nbsp;- Clarity of explanation in tutorials</label>{{ form.clarity_of_explanation.errors }}</td>
                {% for choice in form.clarity_of_explanation %}
                {% if not forloop.counter == 1 %}
                    <td>{{ choice.tag }}</td>
                  {% endif %}
                {% endfor %}
            </tr>
            
            <tr >
              <td><label for="id_flow">&nbsp;&nbsp;- Information flow of the content in tutorials</label>{{ form.flow.errors }}</td>
                {% for choice in form.flow %}
                {% if not forloop.counter == 1 %}
                    <td>{{ choice.tag }}</td>
                  {% endif %}
                {% endfor %}
            </tr>
            
            <tr >
              <td><label for="id_relevance">&nbsp;&nbsp;- Relevance of the end-of-tutorial assignment in the tutorials</label>{{ form.relevance.errors }}</td>
                {% for choice in form.relevance %}
                {% if not forloop.counter == 1 %}
                    <td>{{ choice.tag }}</td>
                  {% endif %}
                {% endfor %}
            </tr>
            
            <tr >
              <td><label for="id_guidelines">&nbsp;&nbsp;- Guidelines on the instruction sheet </label>{{ form.guidelines.errors }}</td>
                {% for choice in form.guidelines %}
                {% if not forloop.counter == 1 %}
                    <td>{{ choice.tag }}</td>
                  {% endif %}
                {% endfor %}
            </tr>
            
            <tr >
              <td><label for="id_overall_video_quality">Overall video quality of the tutorial</label>{{ form.overall_video_quality.errors }}</td>
                {% for choice in form.overall_video_quality %}
                {% if not forloop.counter == 1 %}
                    <td>{{ choice.tag }}</td>
                  {% endif %}
                {% endfor %}
            </tr>
            
            <tr >
              <td><label for="id_text_readability">&nbsp;&nbsp;- Text readability </label>{{ form.text_readability.errors }}</td>
                {% for choice in form.text_readability %}
                {% if not forloop.counter == 1 %}
                    <td>{{ choice.tag }}</td>
                  {% endif %}
                {% endfor %}
            </tr>
            
            <tr >
              <td><label for="id_clarity_of_speech">&nbsp;&nbsp;- Clarity of speech</label>{{ form.clarity_of_speech.errors }}</td>
                {% for choice in form.clarity_of_speech %}
                {% if not forloop.counter == 1 %}
                    <td>{{ choice.tag }}</td>
                  {% endif %}
                {% endfor %}
            </tr>
            
            <tr >
              <td><label for="id_visual_presentation">&nbsp;&nbsp;- Visual presentation of content</label>{{ form.visual_presentation.errors }}</td>
                {% for choice in form.visual_presentation %}
                {% if not forloop.counter == 1 %}
                    <td>{{ choice.tag }}</td>
                  {% endif %}
                {% endfor %}
            </tr>
            
            <tr >
              <td><label for="id_pace_of_tutorial">&nbsp;&nbsp;- Pace of the tutorial</label>{{ form.pace_of_tutorial.errors }}</td>
                {% for choice in form.pace_of_tutorial %}
                {% if not forloop.counter == 1 %}
                    <td>{{ choice.tag }}</td>
                  {% endif %}
                {% endfor %}
            </tr>
            
            <tr >
              <td><label for="id_time_management">Time management </label>{{ form.time_management.errors }}</td>
                {% for choice in form.time_management %}
                {% if not forloop.counter == 1 %}
                    <td>{{ choice.tag }}</td>
                  {% endif %}
                {% endfor %}
            </tr>
            
            <tr >
              <td><label for="id_experience_of_learning">Experience of learning the software using side-by-side method</label>{{ form.experience_of_learning.errors }}</td>
                {% for choice in form.experience_of_learning %}
                {% if not forloop.counter == 1 %}
                    <td>{{ choice.tag }}</td>
                  {% endif %}
                {% endfor %}
            </tr>
            
            <tr >
              <td><label for="id_overall_arrangement">Overall workshop arrangement</label>{{ form.overall_arrangement.errors }}</td>
                {% for choice in form.overall_arrangement %}
                {% if not forloop.counter == 1 %}
                    <td>{{ choice.tag }}</td>
                  {% endif %}
                {% endfor %}
            </tr>
          </table>
          
          <div class="form-group">
            <label class="col-sm-9 control-label" for= "id_like_abt_ws " style="text-align:justify;">What did you like about the workshop?</label>
            <div class="col-sm-9">
              {% render_field form.like_abt_ws class+="form-control like_abt_ws "  %}
              {{ form.like_abt_ws.errors }}
            </div>
          </div><br>
          
          <div class="form-group">
            <label class="col-sm-9 control-label" for= "id_how_make_better " style="text-align:justify;">How can we  make the workshop better?</label>
            <div class="col-sm-9">
              {% render_field form.how_make_better class+="form-control how_make_better "  %}
              {{ form.how_make_better.errors }}
            </div>
          </div><br>
          
          <div class="form-group">
            <label class="col-sm-9 control-label" for= "id_experience " style="text-align:justify;">Any experiences that you will take with you:</label>
            <div class="col-sm-9">
              {% render_field form.experience class+="form-control experience "  %}
              {{ form.experience.errors }}
            </div>
          </div><br>
          
          <div class="form-group">
            <label class="col-sm-9 control-label" for= "id_suggestions " style="text-align:justify;">Any other feedback/suggestions </label>
            <div class="col-sm-9">
              {% render_field form.suggestions class+="form-control suggestions "  %}
              {{ form.suggestions.errors }}
            </div>
          </div><br>
          
          <div class="form-group">
            <div class="col-sm-offset-5 col-sm-9">
              <input class="btn btn-warning btn-lg" type="submit" id="submit_button" value="Submit" />
            </div>
          </div>



        </div>
      </div>
      {% endwith %}
    </form>
  </div><!--main div 2 close -->
</div><!--main div 1 close -->
{% endblock %}
{% block compressjsblock %}
    <script src="{% static 'spoken/js/jquery.datetimepicker.js' %}"></script>
{% endblock %}
{% block compressinlinejsblock %}
  <script>
  $( document ).ready(function() {
    $('.workshop_date').datetimepicker({
          lang:'en',
          format:'Y-m-d',
          formatDate:'Y/m/d',
          step:5,
          maxDate: 0,
          timepicker:false,
        });
  });
  </script>
{% endblock %}
