{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}
{% load eventsdata %}
{% block title %} Feedback{% endblock %}
{% block compressinlinecssblock %}
<style>
        .common-search{
        display : none;
        }
        table tr td, table tr th{
            padding: 4px 0px 0px 5px;
        }
    .tablest td input[type='radio']{
            margin: 0px 23px !important;
        }
        .rowcolor{
            background-color: #fff;
        }
        .rowborder{
            background-color: #e74c3c;
        }
    .bgcolor{
            background-color: #e74c3c;
            padding: 3px 15px;
        }
    .tabhead{
        text-align: center;
        border-style: inset;
        background-color: #e74c3c;
    }
    .highlight{
        width:100%;
        background-color: #e74c3c;
    }
    .highlight textarea{
       height:110px;
    }
    .tablest textarea ,textarea.form-control{
       height:110px;
    }
    </style>
{% endblock %}
{% block content %}
{{Success}}
<div style="text-align:center; color:#52A3CC;"><h3>Workshop Feedback Form</h3></div>
<div class="row well" style="background-color:#fad7a0"><!--main div 1-->
  <div class='col-sm-15'><!--main div 2-->
    <form action="/software-training/stworkshop-feedback/" method="post" class='form-horizontal' enctype="multipart/form-data" >{% csrf_token %}
      {% with WIDGET_ERROR_CLASS='field-error' WIDGET_REQUIRED_CLASS='field-required' %}
      {% if form.non_field_errors %}
        <ul>
        {% for error in form.non_field_errors %}
          <li>{{ error }}</li>
        {% endfor %}
        </ul>
      {% endif %}
      <div class='form-horizontal' style="clear:both;">
        <div class="col-sm-11">
        
          <div class="form-group">
            <label class="col-sm-3 control-label" for= "id_name1">Name </label>
            <div class="col-sm-9">
              {% render_field form.name1 class+="form-control name1" tabindex="1" %}
              {{ form.name1.errors }}
            </div>
          </div>
          
          <div class="form-group email">
            <label class="col-sm-3 control-label" for= "id_email">Email-Id </label>
            <div class="col-sm-9">
              {% render_field form.email class+="form-control email" tabindex="2" %}
              {{ form.email.errors }}
            </div>
          </div>
          
          <div class="form-group">
            <label class="col-sm-3 control-label" for= "id_age">Gender </label>
            <div class="col-sm-9">
              {% render_field form.gender class+="form-control gender" tabindex="3" %}
              {{ form.gender.errors }}
            </div>
          </div>
          
          <div class="form-group">
            <label class="col-sm-3 control-label" for= "id_age">Age </label>
            <div class="col-sm-9">
              {% render_field form.age class+="form-control age" tabindex="4" %}
              {{ form.age.errors }}
            </div>
          </div>
          
          <div class="form-group ">
            <label class="col-sm-3 control-label" for= "id_affiliation">Affiliation </label>
            <div class="col-sm-9">
              {% render_field form.affiliation class+="form-control affiliation" tabindex="5" %}
              {{ form.affiliation.errors }}
            </div>
          </div>
          
          <div class="form-group">
            <label class="col-sm-3 control-label" for= "id_total_tutorials1">Total Tutorials completed during the workshop </label>
            <div class="col-sm-9">
              {% render_field form.total_tutorials1 class+="form-control total_tutorials1" tabindex="6" %}
              {{ form.total_tutorials1.errors }}
            </div>
          </div>
          
          
          <div class="form-group">
            <label class="col-sm-3 control-label" for= "id_installed">Were you able to install <label id= "fossname"></label> on your own ? </label>
            <div class="col-sm-9">
              {% render_field form.installed class+="form-control installed" tabindex="1" %}
              {{ form.installed.errors }} 
            </div>
          </div>
          
          <div class="form-group">
            <label class="col-sm-3 control-label" for= "id_installation_difficulties " style="text-align:justify;">If no, what were the difficulties you faced while installing the software </label>
            <div class="col-sm-9">
              {% render_field form.installation_difficulties class+="form-control installation_difficulties " tabindex="1" %}
              {{ form.installation_difficulties.errors }}
            </div>
          </div>
          
          <table style="width:100%; border:1px solid #000;" class="tablest"> 
            <tr>
              <th class="tabhead">Training Methodology</th>
              <th class="bgcolor">Strongly Agree</th>
              <th class="bgcolor">Agree</th>
              <th class="bgcolor">Neutral</th>
              <th class="bgcolor">Disagree</th>
              <th class="bgcolor">Strongly Disagree</th>
              <th class="bgcolor">Any Comment</th>
            </tr>
            
            <tr class="rowcolor">
              <td><label for="id_acquired_knowledge">I have acquired new knowledge about Drupal 8, by participating in the workshop.</label>{{ form.acquired_knowledge.errors }}</td>
                {% for choice in form.acquired_knowledge %}
                  {% if not forloop.counter == 1 %}
                    <td>{{ choice.tag }}</td>
                  {% endif %}
                {% endfor %}
            </tr>
            
            <tr class="rowcolor">
              <td><label for="id_suff_instruction">The organizer gave sufficient instructions at the beginning of the workshop.</label>{{ form.suff_instruction.errors }}</td>
                {% for choice in form.suff_instruction %}
                {% if not forloop.counter == 1 %}
                    <td>{{ choice.tag }}</td>
                  {% endif %}
                {% endfor %}
            </tr>
            
            <tr class="rowcolor">
              <td><label for="id_diff_instruction">I found it difficult to follow the instructions given during the workshop.</label>{{ form.diff_instruction.errors }}</td>
                {% for choice in form.diff_instruction %}
                {% if not forloop.counter == 1 %}
                    <td>{{ choice.tag }}</td>
                  {% endif %}
                {% endfor %}
            </tr>
            
            <tr class="rowcolor">
              <td><label for="id_method_easy">The method used for learning Drupal 8 was simple and easy to follow.</label>{{ form.method_easy.errors }}</td>
                {% for choice in form.method_easy %}
                {% if not forloop.counter == 1 %}
                    <td>{{ choice.tag }}</td>
                  {% endif %}
                {% endfor %}
            </tr>
            
            <tr class="rowcolor">
              <td><label for="id_time_sufficient">The time allotted for workshop was sufficient.</label>{{ form.time_sufficient.errors }}</td>
                {% for choice in form.time_sufficient %}
                  {% if not forloop.counter == 1 %}
                    <td>{{ choice.tag }}</td>
                  {% endif %}
                {% endfor %}
            </tr>
            
            <tr class="rowcolor">
              <td><label for="id_desired_objective">The workshop met its desired objectives.</label>{{ form.desired_objective.errors }}</td>
                {% for choice in form.desired_objective %}
                {% if not forloop.counter == 1 %}
                    <td>{{ choice.tag }}</td>
                  {% endif %}
                {% endfor %}
            </tr>
            
            <tr class="rowcolor">
              <td><label for="id_recommend">I will recommend this workshop to my peers and colleagues.</label>{{ form.recommend.errors }}</td>
                {% for choice in form.recommend %}
                {% if not forloop.counter == 1 %}
                    <td>{{ choice.tag }}</td>
                  {% endif %}
                {% endfor %}
            </tr>
            
            <tr class="rowcolor">
              <td><label for="id_like_to_part">I would like to take part in other spoken tutorial workshops too.</label>{{ form.like_to_part.errors }}</td>
                {% for choice in form.like_to_part %}
                {% if not forloop.counter == 1 %}
                    <td>{{ choice.tag }}</td>
                  {% endif %}
                {% endfor %}
            </tr>
          
          <tr class="rowcolor">
              <td><label for="id_side_by_side_effective">Side-by-side method used for this workshop was effective as it allowed me to see the video and practice Drupal 8 simultaneously. </label>{{ form.side_by_side_effective.errors }}</td>
                {% for choice in form.side_by_side_effective %}
                {% if not forloop.counter == 1 %}
                    <td>{{ choice.tag }}</td>
                  {% endif %}
                {% endfor %}
            </tr>
            
          </table>
          <br><br>
          
          <table style="width:100%; border:1px solid #000;" class="tablest"> 
            <tr>
              <th class="tabhead">Content Material</th>
              <th class="bgcolor">Strongly Agree</th>
              <th class="bgcolor">Agree</th>
              <th class="bgcolor">Neutral</th>
              <th class="bgcolor">Disagree</th>
              <th class="bgcolor">Strongly Disagree</th>
              <th class="bgcolor">Any Comment</th>
            </tr>
            
            <tr class="rowcolor">
              <td><label for="id_not_self_explanatory">The video tutorials were not self-explanatory. </label>{{ form.not_self_explanatory.errors }}</td>
                {% for choice in form.not_self_explanatory %}
                  {% if not forloop.counter == 1 %}
                    <td>{{ choice.tag }}</td>
                  {% endif %}
                {% endfor %}
            </tr>
            
            <tr class="rowcolor">
              <td><label for="id_logical_sequence">The content in the tutorials was presented in a logical sequence. </label>{{ form.logical_sequence.errors }}</td>
                {% for choice in form.logical_sequence %}
                {% if not forloop.counter == 1 %}
                    <td>{{ choice.tag }}</td>
                  {% endif %}
                {% endfor %}
            </tr>
            
            <tr class="rowcolor">
              <td><label for="id_examples_help">The examples in tutorials helped me in better understanding of Drupal 8. </label>{{ form.examples_help.errors }}</td>
                {% for choice in form.examples_help %}
                {% if not forloop.counter == 1 %}
                    <td>{{ choice.tag }}</td>
                  {% endif %}
                {% endfor %}
            </tr>
            
            <tr class="rowcolor">
              <td><label for="id_other_language">These tutorials should be translated in other Indian languages to help others. </label>{{ form.other_language.errors }}</td>
                {% for choice in form.other_language %}
                {% if not forloop.counter == 1 %}
                    <td>{{ choice.tag }}</td>
                  {% endif %}
                {% endfor %}
            </tr>
          
          <tr class="rowcolor">
              <td><label for="id_instructions_easy_to_follow">The instructions on the instruction sheet were easy to follow. </label>{{ form.instructions_easy_to_follow.errors }}</td>
                {% for choice in form.instructions_easy_to_follow %}
                {% if not forloop.counter == 1 %}
                    <td>{{ choice.tag }}</td>
                  {% endif %}
                {% endfor %}
            </tr>
          </table><br><br>
          
          <table style="width:100%; border:1px solid #000;" class="tablest"> 
            <tr>
              <th class="tabhead">Learning Experience</th>
              <th class="bgcolor">Strongly Agree</th>
              <th class="bgcolor">Agree</th>
              <th class="bgcolor">Neutral</th>
              <th class="bgcolor">Disagree</th>
              <th class="bgcolor">Strongly Disagree</th>
              <th class="bgcolor">Any Comment</th>
            </tr>
            
            <tr class="rowcolor">
              <td><label for="id_useful_learning">The workshop was useful in learning Drupal 8.</label>{{ form.useful_learning.errors }}</td>
                {% for choice in form.useful_learning %}
                  {% if not forloop.counter == 1 %}
                    <td>{{ choice.tag }}</td>
                  {% endif %}
                {% endfor %}
            </tr>
            
            <tr class="rowcolor">
              <td><label for="id_help_improve_performance">The self-learning experience will help improve my performance and grades.</label>{{ form.help_improve_performance.errors }}</td>
                {% for choice in form.help_improve_performance %}
                {% if not forloop.counter == 1 %}
                    <td>{{ choice.tag }}</td>
                  {% endif %}
                {% endfor %}
            </tr>
            
            <tr class="rowcolor">
              <td><label for="id_plan_to_use_future">I plan to use Drupal 8 in future after taking part in this workshop.</label>{{ form.plan_to_use_future.errors }}</td>
                {% for choice in form.plan_to_use_future %}
                {% if not forloop.counter == 1 %}
                    <td>{{ choice.tag }}</td>
                  {% endif %}
                {% endfor %}
            </tr>
            
            <tr class="rowcolor">
              <td><label for="id_confident">I am confident that I will be able to apply the knowledge of Drupal 8 after this workshop.</label>{{ form.confident.errors }}</td>
                {% for choice in form.confident %}
                {% if not forloop.counter == 1 %}
                    <td>{{ choice.tag }}</td>
                  {% endif %}
                {% endfor %}
            </tr>
          
          <tr class="rowcolor">
              <td><label for="id_difficult_simultaneously">It was difficult to watch the video tutorial and practice the steps simultaneously. </label>{{ form.difficult_simultaneously.errors }}</td>
                {% for choice in form.difficult_simultaneously %}
                {% if not forloop.counter == 1 %}
                    <td>{{ choice.tag }}</td>
                  {% endif %}
                {% endfor %}
            </tr>
            
            <tr class="rowcolor">
              <td><label for="id_interface_comfortable">I found the user interface of Spoken Tutorial comfortable to interact.</label>{{ form.interface_comfortable.errors }}</td>
                {% for choice in form.interface_comfortable %}
                {% if not forloop.counter == 1 %}
                    <td>{{ choice.tag }}</td>
                  {% endif %}
                {% endfor %}
            </tr>
            
            <tr class="rowcolor">
              <td><label for="id_satisfied">I am satisfied with the self-learning experience using spoken tutorials.</label>{{ form.satisfied.errors }}</td>
                {% for choice in form.satisfied %}
                {% if not forloop.counter == 1 %}
                    <td>{{ choice.tag }}</td>
                  {% endif %}
                {% endfor %}
            </tr>
            
            <tr class="rowcolor">
              <td><label for="id_self_learning_intrest">The self learning methodology was able to hold my interest for learning Drupal 8 during the entire workshop.</label>{{ form.self_learning_intrest.errors }}</td>
                {% for choice in form.self_learning_intrest %}
                {% if not forloop.counter == 1 %}
                    <td>{{ choice.tag }}</td>
                  {% endif %}
                {% endfor %}
            </tr>
          </table><br><br>
          
          <table style="width:100%;border:1px solid #000;" class="tablest"> 
            <tr>
              <th class="tabhead">Kindly Rate the following </th>
              <th class="bgcolor">Excellent</th>
              <th class="bgcolor">Good</th>
              <th class="bgcolor">Fair</th>
              <th class="bgcolor">Bad</th>
              <th class="bgcolor">Extremely bad</th>
            </tr>
            
            <tr class="rowcolor">
              <td><label for="id_ws_quality">Workshop Quality</label>{{ form.ws_quality.errors }}</td>
                {% for choice in form.ws_quality %}
                {% if not forloop.counter == 1 %}
                    <td>{{ choice.tag }}</td>
                  {% endif %}
                {% endfor %}
            </tr>
            
            <tr class="rowcolor">
              <td><label for="id_overall_content_quality">Overall Content Quality of tutorials</label>{{ form.overall_content_quality.errors }}</td>
                {% for choice in form.overall_content_quality %}
                {% if not forloop.counter == 1 %}
                    <td>{{ choice.tag }}</td>
                  {% endif %}
                {% endfor %}
            </tr>
            
            <tr class="rowcolor">
              <td><label for="id_clarity_of_explanation">Clarity of explanation in tutorials</label>{{ form.clarity_of_explanation.errors }}</td>
                {% for choice in form.clarity_of_explanation %}
                {% if not forloop.counter == 1 %}
                    <td>{{ choice.tag }}</td>
                  {% endif %}
                {% endfor %}
            </tr>
            
            <tr class="rowcolor">
              <td><label for="id_flow">Information flow of the content in tutorials</label>{{ form.flow.errors }}</td>
                {% for choice in form.flow %}
                {% if not forloop.counter == 1 %}
                    <td>{{ choice.tag }}</td>
                  {% endif %}
                {% endfor %}
            </tr>
            
            <tr class="rowcolor">
              <td><label for="id_relevance">Relevance of the end-of-tutorial assignment in the tutorials</label>{{ form.relevance.errors }}</td>
                {% for choice in form.relevance %}
                {% if not forloop.counter == 1 %}
                    <td>{{ choice.tag }}</td>
                  {% endif %}
                {% endfor %}
            </tr>
            
            <tr class="rowcolor">
              <td><label for="id_guidelines">Guidelines on the instruction sheet </label>{{ form.guidelines.errors }}</td>
                {% for choice in form.guidelines %}
                {% if not forloop.counter == 1 %}
                    <td>{{ choice.tag }}</td>
                  {% endif %}
                {% endfor %}
            </tr>
            
            <tr class="rowcolor">
              <td><label for="id_overall_video_quality">Overall Video Quality of the tutorial</label>{{ form.overall_video_quality.errors }}</td>
                {% for choice in form.overall_video_quality %}
                {% if not forloop.counter == 1 %}
                    <td>{{ choice.tag }}</td>
                  {% endif %}
                {% endfor %}
            </tr>
            
            <tr class="rowcolor">
              <td><label for="id_text_readability">Text readability </label>{{ form.text_readability.errors }}</td>
                {% for choice in form.text_readability %}
                {% if not forloop.counter == 1 %}
                    <td>{{ choice.tag }}</td>
                  {% endif %}
                {% endfor %}
            </tr>
            
            <tr class="rowcolor">
              <td><label for="id_clarity_of_speech">Clarity of Speech</label>{{ form.clarity_of_speech.errors }}</td>
                {% for choice in form.clarity_of_speech %}
                {% if not forloop.counter == 1 %}
                    <td>{{ choice.tag }}</td>
                  {% endif %}
                {% endfor %}
            </tr>
            
            <tr class="rowcolor">
              <td><label for="id_visual_presentation">Visual Presentation of content</label>{{ form.visual_presentation.errors }}</td>
                {% for choice in form.visual_presentation %}
                {% if not forloop.counter == 1 %}
                    <td>{{ choice.tag }}</td>
                  {% endif %}
                {% endfor %}
            </tr>
            
            <tr class="rowcolor">
              <td><label for="id_pace_of_tutorial">Pace of the tutorial</label>{{ form.pace_of_tutorial.errors }}</td>
                {% for choice in form.pace_of_tutorial %}
                {% if not forloop.counter == 1 %}
                    <td>{{ choice.tag }}</td>
                  {% endif %}
                {% endfor %}
            </tr>
            
            <tr class="rowcolor">
              <td><label for="id_arrangement">Arrangement </label>{{ form.arrangement.errors }}</td>
                {% for choice in form.arrangement %}
                {% if not forloop.counter == 1 %}
                    <td>{{ choice.tag }}</td>
                  {% endif %}
                {% endfor %}
            </tr>
            
            <tr class="rowcolor">
              <td><label for="id_network">Network Connectivity</label>{{ form.network.errors }}</td>
                {% for choice in form.network %}
                {% if not forloop.counter == 1 %}
                    <td>{{ choice.tag }}</td>
                  {% endif %}
                {% endfor %}
            </tr>
            
            <tr class="rowcolor">
              <td><label for="id_installation_help">Installation help</label>{{ form.installation_help.errors }}</td>
                {% for choice in form.installation_help %}
                {% if not forloop.counter == 1 %}
                    <td>{{ choice.tag }}</td>
                  {% endif %}
                {% endfor %}
            </tr>
            
            <tr class="rowcolor">
              <td><label for="id_time_management">Time Management </label>{{ form.time_management.errors }}</td>
                {% for choice in form.time_management %}
                {% if not forloop.counter == 1 %}
                    <td>{{ choice.tag }}</td>
                  {% endif %}
                {% endfor %}
            </tr>
            
            <tr class="rowcolor">
              <td><label for="id_experience_of_learning">Experience of learning Drupal 8 using side-by-side method</label>{{ form.experience_of_learning.errors }}</td>
                {% for choice in form.experience_of_learning %}
                {% if not forloop.counter == 1 %}
                    <td>{{ choice.tag }}</td>
                  {% endif %}
                {% endfor %}
            </tr>
            
            <tr class="rowcolor">
              <td><label for="id_overall_arrangement">Overall Workshop Arrangement</label>{{ form.overall_arrangement.errors }}</td>
                {% for choice in form.overall_arrangement %}
                {% if not forloop.counter == 1 %}
                    <td>{{ choice.tag }}</td>
                  {% endif %}
                {% endfor %}
            </tr>
            
            <tr class="rowcolor">
              <td><label for="id_interaction_using_forum">Interaction using Forum</label>{{ form.interaction_using_forum.errors }}</td>
                {% for choice in form.interaction_using_forum %}
                {% if not forloop.counter == 1 %}
                    <td>{{ choice.tag }}</td>
                  {% endif %}
                {% endfor %}
            </tr>
          </table><br><br>
          
          <div class="form-group">
            <label class="col-sm-9 control-label" for= "id_like_abt_ws " style="text-align:justify;">What did you like about the workshop?</label>
            <div class="col-sm-9">
              {% render_field form.like_abt_ws class+="form-control like_abt_ws " tabindex="1" %}
              {{ form.like_abt_ws.errors }}
            </div>
          </div><br>
          
          <div class="form-group">
            <label class="col-sm-9 control-label" for= "id_how_make_better " style="text-align:justify;">How can we  make the workshop better?</label>
            <div class="col-sm-9">
              {% render_field form.how_make_better class+="form-control how_make_better " tabindex="1" %}
              {{ form.how_make_better.errors }}
            </div>
          </div><br>
          
          <div class="form-group">
            <label class="col-sm-9 control-label" for= "id_experience " style="text-align:justify;">Experiences that you will take with you:</label>
            <div class="col-sm-9">
              {% render_field form.experience class+="form-control experience " tabindex="1" %}
              {{ form.experience.errors }}
            </div>
          </div><br>
          
          <div class="form-group">
            <label class="col-sm-9 control-label" for= "id_suggestions " style="text-align:justify;">Any other feedback/suggestions </label>
            <div class="col-sm-9">
              {% render_field form.suggestions class+="form-control suggestions " tabindex="1" %}
              {{ form.suggestions.errors }}
            </div>
          </div><br>
          
          <div class="form-group">
            <div class="col-sm-offset-5 col-sm-9">
              <input class="btn btn-primary" style="background-color:#e74c3c; width:200px;" type="submit" id="submit_button" value="Submit" />
            </div>
          </div>



        </div>
      </div>
      {% endwith %}
    </form>
  </div><!--main div 2 close -->
</div><!--main div 1 close -->
{% endblock %}
{% block compressinlinejsblock %}
  <script>
  $( document ).ready(function() {
    document.getElementById('fossname').innerHTML = 'Drupal 8';
  });
  </script>
{% endblock %}
