<!--This page gives interface to download the certificates-->
{% extends 'base.html' %}
{% load attendance %}
{% load widget_tweaks %}
{% load static %}
{% block title %}Participant List{% endblock %}
{% block heading %}<i class="home-page-title-i">Participant List</i>{% endblock %}
{% block search %}{% endblock %}
{% block content %}
<form action="{{ action }}" id="form-id" method="post">
<div><a class="btn btn-success" href="{% url 'events:training_planner' %}">Go Back to Training Planner</a><br><br></div>
{% if object_list %}
  <table class="table table-striped table-hover table-bordered">
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Gender</th>
      {% if training.is_training_certificate_allowed %}
        <th>Certificate</th>
      {% endif %}
    </tr>
    {% for record in object_list %}
      {% if not record.moved %}
        {% with training_attendance=training|get_attendance:record.student %}
              <tr id="{{record.student.id}}">
                 {% if not can_mark_attendance and training_attendance and training_attendance.id %}
                  <td>{{ record.student.student_fullname }}</td>
                  <td>{{ record.student.user.email }}</td>
                  <td>{{ record.student.gender }}</td>
                  {% if training.is_training_certificate_allowed %}
                    <td><a href="{% url 'events:organiser_training_certificate' training_attendance.id %}">Download Certificate</a></td>
                  {% endif %}
                {% endif %}
              </tr>
        {% endwith %}
      {% endif %}
    {% endfor %}
  </table>
  {% endif %}
</form>
{% endblock %}
