<!-- this page gives inteface to mark the attendance of participants who all will attend the training -->
{% extends 'base.html' %}
{% load attendance %}
{% load widget_tweaks %}
{% load static %}
{% block title %}Participant List{% endblock %}
{% block heading %}<i class="home-page-title-i">Participant List</i>{{department}} {{training.id}}{% endblock %}
{% block cssblock %}
  <style>
    .invalid {
      color: red;
    }
  </style>
{% endblock %}
{% block search %}{% endblock %}
{% block content %}
<form action="{{ action }}" id="form-id" method="post">
<!--modal starting -->
<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style=" color:#0052A3; font-size:15px;">
          <div class="modal-dialog " >
            <div class="modal-content" >
              <div class="modal-body" >
                Are you sure <b>Department,Year, Student count and Course</b> are mentioned correctly? Once the Participant List is selected no changes can be made.
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="modal-no" onclick="confirmation();">NO</button>
                <a type ="submit" class="btn btn-primary" onclick="document.forms['form-id'].submit();" %}">Yes</a>
              </div>
            </div>
          </div>
        </div>

        <div class="modal fade" id="alertModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="color:#0052A3; font-size:15px;">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-body">
                 Make necessary corrections in <b>MB</b> or <b>STP</b>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" id="modal-no">OK</button>
              </div>
            </div>
          </div>
        </div>
          {% csrf_token %}
<!--modal ending -->

  <div><a class="btn btn-success" href="{% url 'events:training_planner' %}">Go Back to Training Planner</a><br><br></div>
  {% if object_list %}
    {% with can_mark_attendance=training.can_mark_attendance %}
      {% if can_mark_attendance %}
        <div style="height:70px;">
            <div style="width:200px;float:left;text-align:center;">
              <p id="button-select">To select all participants</p> <input type=button class="btn btn-success"  value="Check All" onClick="this.value=check()">
            </div>
            <div style="width:250px; text-align:center; float:right;">
              <p>To select language for all participants</p>
              <select name="selectall" id="selectall" style="height:30px;">
              {% for lang in languages %}
                {% if lang_id %}
                <option {% if lang_id == lang.id %}selected="selected"{% endif %} value="{{lang.id}}">{{ lang.name}}</option>
                {% else %}
                <option {% if lang.name == 'English' %}selected="selected"{% endif %} value="{{lang.id}}">{{ lang.name}}</option>
                {% endif %}
              {% endfor %}
              </select>
            </div>
        </div>
      {% endif %}

<!--table of participants who can mark attendance -->
  <table class="table table-striped table-hover table-bordered">
    <tr>
      <th>#</th>
{% if can_mark_attendance %}
      <th>Check</th>
{% endif %}
      <th>Name</th>
      <th>Email</th>
      <th>Gender</th>
{% if can_mark_attendance %}
      <th>Preffered Language
{% endif %}
      </th>
    </tr>
    {% for record in object_list %}
      {% if not record.moved %}
        {% with training_attendance=training|get_attendance:record.student %}
          {% if can_mark_attendance or training_attendance %}
            {% with attendance_allowed=training|is_attendance_allowed:record.student %}
              <tr id="{{record.student.id}}" {% if not attendance_allowed and not training_attendance %}class="invalid"{% endif %}>
                {% if can_mark_attendance and attendance_allowed %}
                <td>{{ forloop.counter }}</td>
                <td>
                  {% if training|is_attendance_marked:record.student %}
                    <input type='checkbox' name="user" value="{{record.student.id}}" checked="checked">
                  {% else %}
                    <input type='checkbox' name="user" value="{{record.student.id}}">
                  {% endif %}
                </td>
                {% endif %}
                {% if can_mark_attendance and attendance_allowed %}
                <td>{{ record.student.student_fullname }}</td>
                <td>{{ record.student.user.email }}</td>
                <td>{{ record.student.gender }}</td>
                {% endif %}

                {% if can_mark_attendance and attendance_allowed %}
                <td>
                  {% with lang_id=training|get_langid:record.student %}
                    <select name="{{record.student.id}}" class="selectall">
                      {% for lang in languages %}
                        {% if lang_id %}
                          <option {% if lang_id == lang.id %}selected="selected"{% endif %} value="{{lang.id}}">{{ lang.name}}</option>
                        {% else %}
                          <option {% if lang.name == 'English' %}selected="selected"{% endif %} value="{{lang.id}}">{{ lang.name}}</option>
                        {% endif %}
                      {% endfor %}
                    </select>
                  {% endwith %}
                </td>
                {% endif %}
              </tr>
            {% endwith %}
          {% endif %}
        {% endwith %}
      {% endif %}
    {% endfor %}
  </table>
<!--table end -->
<!--table of participants who can not mark attendance -->
<i class="home-page-title-i">Below Participants Already Attended the Foss : </i>
<table class="table table-striped table-hover table-bordered">
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Email</th>
      <th>Gender</th>
    </tr>
    {% for record in object_list %}
      {% if not record.moved %}
        {% with training_attendance=training|get_attendance:record.student %}
            {% with attendance_allowed=training|is_attendance_allowed:record.student %}
            {% if not attendance_allowed %}
              <tr id="{{record.student.id}}" {% if not attendance_allowed and not training_attendance %}class="invalid"{% endif %}>
                <td>{{ forloop.counter }}</td>
                <td>{{ record.student.student_fullname }}</td>
                <td>{{ record.student.user.email }}</td>
                <td>{{ record.student.gender }}</td>
              </tr>
              {% endif %}
            {% endwith %}
        {% endwith %}
      {% endif %}
    {% endfor %}
  </table>

      {% if can_mark_attendance %}

         Step 1: <input class="btn btn-primary" type="button" id="attendance_submit" value="Submit" />
        </form><br>
      {% endif %}

      {% if training.department.id == 24  and training.is_training_certificate_allowed  %}
         Step 2:  <a class="btn btn-primary" href="{% url 'events:mark_as_complete' training.id %}"> Request to Mark Complete</a>
      {% endif %}






    {% endwith %}
  {% endif %}
{% endblock %}
{% block jsblock %}
  <script type="text/javascript">
  var checkflag = "false";
  function check() {
  var field=document.getElementsByName('user');
    if (checkflag == "false") {
      for (i = 0; i < field.length; i++) {
        field[i].checked = true;
      }
      checkflag = "true";
      $("#button-select").text("To deselect all participants");
      return "Uncheck All";
    } else {
      for (i = 0; i < field.length; i++) {
        field[i].checked = false;
      }
      checkflag = "false";
      return "Check All";
    }
  }
  function confirmation()
  {
    $('#alertModal').modal('show');
  }
  $("#selectall").click(function () {
    var option=document.getElementsByClassName('selectall');
    for (i = 0; i < option.length; i++) {
     option[i].value = this.value;
    }
  });
  $("#attendance_submit").click(function () {
    $('#confirmModal').modal('show');
  });
  </script>
{% endblock %}
