<html>
    <head>
        <title>State Workshop Information</title>
    </head>
    <body style="overflow: hidden;">
        <div>
            <table border="0" width="100%" height="100%" style="padding:10px;">
                <caption align="center"><h3 style="margin: 0px; padding: 2px;">{{ state.name }}</h3></caption>
                <tr>
                  <td><b><a href="/news/official-letters-and-links/?state={{ state.id }}" target="_blank"> Official Letters and Links</a></b></td>
                </tr>
                <tr>
                    <td><b><a href="/statistics/training/?training_planner__academic__state={{ state.id }}" target="_blank">Workshops/Trainings:</a></b></td>
                    <td>{{ workshops }}</td>
                </tr>
                <tr>
                    <td><b>Participants:</b></td>
                    <td>{{ participants }}</td>
                </tr>
                <tr>
                    <td><b><a href="/statistics/academic-center/?state={{ state.id }}" target="_blank">Institutions:</a></b></td>
                    <td>{{ academic_centers }}</td>
                </tr>
                <tr>
                    {% if from_date %}
                    <td><b>From:</b></td>
                    <td>{{ from_date }}</td>
                    {% endif %}
                </tr>
            </table>
        </div>
    </body>
</html>
