{% extends 'spoken/templates/base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block title %}India Map{% endblock %}
{% block heading %}India Map{% endblock %}
{% block search %}{% endblock %}
{% block cssblock %}
    <link rel="stylesheet" href="{% static 'spoken/css/jquery.fancybox.css' %}" type="text/css" media="screen" charset="utf-8" />
    <link rel="stylesheet" href="{% static 'spoken/css/flip-scroll.css' %}" type="text/css" media="screen" charset="utf-8" />
    <style type="text/css">
        .map-stats {
            margin-bottom: 30px;
            margin-top: 20px;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="col-lg-12 col-md-12 clo-sm-12 col-xs-12 col-center map-stats">
        <img src="{% static 'statistics/images/map-of-india.gif' %}" alt="" usemap="#states-and-territories-map-of-india" style="border-style:none" />
        <map id="states-and-territories-map-of-india" name="states-and-territories-map-of-india">
            {% for state in states %}
                {{ state.img_map_area|safe }} href="/statistics/get-state-info/{{ state.code }}/" class="fancybox fancybox.iframe" title="{{ state.name }}" />
            {% endfor %}
        </map>
    </div>
{% endblock %}
{% block jsblock %}
    <script src="{% static 'spoken/js/jquery.fancybox.pack.js' %}"></script>
    <script src="{% static 'spoken/js/jquery.mousewheel-3.0.6.pack.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $(".fancybox").fancybox({
                maxWidth    : 300,
                maxHeight    : 210,
                fitToView    : true,
                autoSize    : false,
                closeClick    : false,
                openEffect    : "none",
                closeEffect    : "none",
                modal        : true,
            });
        });
    </script>
{% endblock %}
