{% extends 'spoken/templates/base.html' %}
{% load widget_tweaks %}
{% load static %}
{% load announcements %}
{% block title %}India Map{% endblock %}
{% block heading %}{% endblock %}
{% block announcement %}
    <div id="slideshow">
            {% get_notifications as notifications %}
            {% if notifications %}
                {% for notification in notifications %}
                    <div class="announcement alert" style="background:#{% if notification.bg_color %}{{ notification.bg_color }}{% else %}1B83BC{% endif %};">
                        <div class="inner">
                            <div class="text-container">
                                {{ notification.body|safe }}
                                <!--<button type="button" class="close" data-dismiss="alert">&times;</button>-->
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
    </div>
{% endblock %}
{% block search %}{% endblock %}

{% block cssblock %}
    <link rel="stylesheet" href="{% static 'spoken/css/jquery.fancybox.css' %}" type="text/css" media="screen" charset="utf-8" />
    <link rel="stylesheet" href="{% static 'spoken/css/flip-scroll.css' %}" type="text/css" media="screen" charset="utf-8" />
    <style type="text/css">
        .map-stats, .col-lg-shadow {
            background: white;
        }
        .map-stats {
            width: 800px;
            background: white;
        }
        #content-wrapper {
            background: lightgray;
        }
        #content-wrapper #content-block, #content-wrapper #content-inner {
            padding: 0px;
        }
        #page-wrapper #content-wrapper {
            margin-bottom: 0px;
        }
        #content-wrapper #content-inner {
            max-width: 800px;
        }
        .total-summary {
            padding: 10px;
        }
    </style>
{% endblock %}

{% block content_head %}
    <div id="content" class="col-lg-12 col-md-12 col-sm-12">
{% endblock %}
{% block actual_data %}
    <div class="actual-data col-lg-shadow">
{% endblock %}
{% block content %}
    <div class="map-stats">
        <div id="popup_box" style="display:none;font-size:16px;color:#000000; padding-top:30px;">
            <table class="table table-bordered table-hover">
                <tr>
                    <th>Total no. of Training/Workshop</th>
                    <td>{{ training_count }}</td>
                </tr>
                <tr>
                    <th>Total no. of Participants</th>
                    <td>{{ participant_count }}</td>
                </tr>
                <tr>
                    <th>Total no. of Institutions</th>
                    <td>{{ institution_count }}</td>
                </tr>
            </table>
            <p class="col-center">Click on any state to get statistics.</p>
        </div>
        <p class="col-right total-summary"><a href="#" class="total-summary-link"><i class="fa fa-link fa-2"></i> <b>Total Summary</b></a></p>
        <img src="{% static 'statistics/images/map-of-india.gif' %}" alt="" usemap="#states-and-territories-map-of-india" style="border-style:none" />
        <map id="states-and-territories-map-of-india" name="states-and-territories-map-of-india">
            {% for state in states %}
            {% if state.img_map_area %}
                {{ state.img_map_area|safe }} href="/statistics/get-state-info/{{ state.code }}/" class="fancybox fancybox.iframe" title="{{ state.name }}" />
            
            {% endif %}
            {% endfor %}
        </map>
    </div>
{% endblock %}

{% block jsblock %}
    <script src="{% static 'spoken/js/jquery.fancybox.pack.js' %}"></script>
    <script src="{% static 'spoken/js/jquery.mousewheel-3.0.6.pack.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $(".fancybox").fancybox({
                maxWidth    : 400,
                maxHeight    : 210,
                fitToView    : true,
                autoSize    : false,
                /*closeClick    : false,*/
                openEffect    : "none",
                closeEffect    : "none",
                modal        : true,
            });
            $.fancybox.open('#popup_box');
            $('.total-summary-link').click(function(){
                $.fancybox.open('#popup_box');
            });
        });
    </script>

    <script>
        /* Slideshow */
        var stop = 1
        $('#slideshow').hover(function(){
            stop = 0
        }, function(){
            stop = 1
        });
        if($(".announcement").length > 1){
            $("#slideshow > div:gt(0)").hide();
            setInterval(function() {
              if(stop){
                  $('#slideshow > div:first')
                    .fadeOut(0)
                    .next()
                    .fadeIn(0)
                    .end()
                    .appendTo('#slideshow');
                 }
            },  5000);
        }
        $('.close').click(function(){
            $(".navbar-fixed-top").css({'top' : '0px', 'position' : 'fixed'});
            $("#header-wrapper").css({'height' : '0px'});
        });
    </script>
{% endblock %}

