{% extends 'spoken/templates/base.html' %}
{% load widget_tweaks %}
{% load static %}
{% load eventsdata %}
{% block title %} {{ model_label.title }} Participants{% endblock %}
{% block cssblock %}<link rel="stylesheet" href="{% static 'spoken/css/chosen.min.css' %}" type="text/css" media="screen" charset="utf-8" />{% endblock %}
{% block heading %}
        <i class="fa fa-list-ul"></i> {{ model_label.title }} Participants
{% endblock %}
{% block search %}{% endblock %}
{% block content %}
    <div class="bs-callout bs-callout-info">
        <dl class='dl-horizontal'>
            <dt>Institution Name</dt>
            <dd>{{ model.academic }}, {{ model.academic.state }}</dd>
            <dt>Foss</dt>
            <dd>{{ model.foss.foss }}</dd>
            <dt>Language</dt>
            <dd>{{ model.language }}</dd>
            <dt>Date</dt>
            <dd>{{ model.tdate }}</dd>
            <dt>Participants Count</dt>
            <dd>{{ model.participant_count }}</dd>
            <dt>Organiser</dt>
            <dd>{{ model.organiser.user.first_name }} {{ model.organiser.user.last_name }}</dd>
        </dl>
    </div>
	<div class="" id="pending">
		{% if collection %}
		<table class="table table-bordered table-hover table-striped">
			<tr>
			    <th>#</th>
				<th>First Name</th>
				<th>Last Name</th>
			</tr>
			{% for record in collection %}
				<tr>
				    <td>{{ forloop.counter }}
					<td>{{ record.firstname|lower|title }}</td>
					<td>{{ record.lastname|lower|title }}</td>
				</tr>
			{% endfor %}
		</table>
		{% else %}
			<p class="no-record">No student found!</p>
		{% endif %}
	</div>
{% endblock %}
