{% extends 'spoken/templates/base.html' %}
{% load widget_tweaks %}
{% load static %}
{% load eventsdata %}
{% load cmsdata %}
{% load creationdata %}
{% block title %} {{ model }} Statistics {% endblock %}
{% block compresscssblock %}
    <link rel="stylesheet" href="{% static 'spoken/css/jquery.fancybox.css' %}" type="text/css" media="screen" charset="utf-8" />
    <link rel="stylesheet" href="{% static 'spoken/css/jquery.datetimepicker.css' %}" type="text/css" media="screen" charset="utf-8" />
{% endblock %}
{% block heading %} <i class="fa fa-list-ul"></i> {{ model }} Statistics {% endblock %}
{% block search %}{% endblock %}
{% block content %}
    <div class= 'filters row' >
      {%csrf_token%}
        <form action=""  method="get" class='form-horizontal'>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="form-group">
                    <label for="id_state" class="col-sm-4 control-label">State</label>
                    <div class="col-sm-8">
                      <select class="form-control state" id="state" onchange="get_instituition_details()">
                        <option id="0">---------</option>
                        {%for a_state in state%}
                        <option id="{{a_state.id}}" >{{a_state.name}}</option>
                        {% endfor %}
                    </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="id_city" class="col-sm-4 control-label">City/Town</label>
                    <div class="col-sm-8">
                        <select class="form-control city" id="city" onchange="get_instituition_details()">
                        <option id="0">---------</option>
                    </select>
                    </div>
                </div>
                
              <div class="form-group">
                    <label for="id_resource_center" class="col-sm-4 control-label">Institution</label>
                    <div class="col-sm-8">
                    <select class="form-control institue" id="institue">
                        <option id="0">---------</option>
                        {%for a_city in city%}
                        <option id="{{a_city.id}}" >{{a_city.name}}</option>
                        {% endfor %}

                    </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="id_academic_institution_type" class="col-sm-4 control-label">Institution Type</label>
                    <div class="col-sm-8">
                    <label for="id_academic_institution_type" class="col-sm-4 control-label">{{"institue_type"}}</label>
                    </div>
              </div>

            <div class="col-lg-4 col-md-4 col-sm-4">

                <div class="form-group">
                  <div class="col-sm-offset-4 col-sm-8">
                     <input class="btn btn-success" type="submit" value="Filter" />
                     <a class="btn btn-success" href="{{request.path}}?{{ request.GET|reset_get_values}}">Reset Filter</a>
                  </div>
            </div>

        </form>
    </div>
  </div>
  
{% endblock %}
{% block compressjsblock %}
    <script src="{% static 'spoken/js/events.js' %}"></script>
    <script type="text/javascript">
        function get_instituition_details(){
          var state = $("#state").val();
          alert(state);
          var city = $("#city").val();


            if(state != ''){
              alert("Okay");
                  $.ajax({
                        url: "/statistics/payment/ajax-city/",
                        type: "POST",
                        dataType : "json",
                        data: {
                            "state": state,
                            "city" : city,
                        },
                        success: function(data) {
                            if(data['city']){
                              alert("data :"+data['city']);
                                $('.city').html(data['city']);
                                $('.city').attr('disabled');
                            }
                            if(data['academic_center']){
                              alert("data :"+data['academic_center']);
                              $('.institue').html(data['academic_center']);
                            }
                        }
                    })
                }

};
        </script>
{% endblock %}
{% block uncompressjsblock %}
    
    <script type="text/javascript">
    </script>
{% endblock %}
