
  <div class="has-margin-top-50">
    <div class="card">
      <header class="card-header">
        <p class="card-header-title">
          {{tutorial.tutorial}}
        </p>
        <a href="#" class="card-header-icon" aria-label="more options">
          <span class="icon">
            <i class="fas fa-angle-down" aria-hidden="true"></i>
          </span>
        </a>
      </header>
    
      <footer class="card-footer">
        <a routerLink="/create/{{tutorial.id}}" class="card-footer-item">Create Script</a>
        <a routerLink="/edit/{{tutorial.id}}" class="card-footer-item">Edit</a>
        <a routerLink="#" class="card-footer-item">Delete</a>
      </footer>
    </div>
  </div>

