<div class='result-record row'>

  <div class="info col-lg-8 col-md-8 col-sm-8 col-xs-8">
    <div class='title'>
      <h4>{{ tutorial.tutorial }}</h4>
    </div>
    <div class='desc'>
      <p><b>Outline: </b>Installation of Android Studio System prerequisites for installation
        Demonstration on how to install Android Studio on Ubuntu Linux OS Download from
        https://developer.android.co..</p>
    </div>
  </div>

  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
    <div class="Basic pull-right">
      <div *ngIf="!tutorial.script_status" class="column card-header-title is-pulled-right">
        <a class="button is-info" routerLink="/create/{{ tutorial.id }}/{{ tutorial.tutorial }}">
          <i class="fa fa-plus" aria-hidden="true"></i>&nbsp;create
        </a>
      </div>
      <div *ngIf="tutorial.script_status" class="column card-header-title is-pulled-right">
        <a class="button is-info" routerLink="/view/{{ tutorial.id }}/{{ tutorial.tutorial }}">
          <i class="fa fa-eye"></i>&nbsp;view
        </a>
        &nbsp;&nbsp;
        <a class="button is-info" routerLink="/edit/{{ tutorial.id }}/{{ tutorial.tutorial }}">
          <i class="fa fa-edit"></i>&nbsp;edit
        </a>
      </div>
    </div>
  </div>

</div>