{% extends 'spoken/templates/base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block title %}New Institution{% endblock %}
{% block heading %}
    <i class="fa fa-list-ul"></i> New Institution
{% endblock %}
{% block content %}
    <div class="row well">
        <div class='col-sm-8'>
            <form action="{{ action }}" method="post" class='form-horizontal'>{% csrf_token %}
                {% with WIDGET_ERROR_CLASS='field-error' WIDGET_REQUIRED_CLASS='field-required' %}
                    {% if form.non_field_errors %}
                    <ul>
                      {% for error in form.non_field_errors %}
                        <li>{{ error }}</li>
                      {% endfor %}
                    </ul>
                    {% endif %}
                    {{ form.errors }}
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for= "id_state">State</label>
                        <div class="col-sm-9">
                            {% render_field form.state class+="form-control  state" tabindex="1" data-placeholder="Choose state" %}
                            {{ form.state.errors }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for= "id_university">University / Affiliated Board <span class='ajax-refresh ajax-refresh-university'><i class="fa fa-2 fa-refresh fa-spin"></i></span></label>
                        <div class="col-sm-9">
                            {% render_field form.university class+="form-control  university" tabindex="1" data-placeholder="Choose university" %}
                            {{ form.university.errors }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for= "id_institution_name">Institution Name</label>
                        <div class="col-sm-9">
                            {% render_field form.institution_name class+="form-control institution_name" tabindex="1" data-placeholder="Enter institution name" %}
                            {{ form.institution_name.errors }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for= "id_institution_type">Institute Type</label>
                        <div class="col-sm-9">
                            {% render_field form.institution_type class+="form-control  institution_type" tabindex="1" data-placeholder="Choose Institution Type" %}
                            {{ form.institution_type.errors }}
                        </div>
                    </div>
                    <!--
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for= "id_institution_type">Govt / Govt-Aided/Private</label>
                        <div class="col-sm-9">
                            {% render_field form.institute_category class+="form-control  institute_category" tabindex="1" data-placeholder="Choose Institute Category" %}
                            {{ form.institute_category.errors }}
                        </div>
                    </div>
                -->
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for= "id_district">District <span class='ajax-refresh ajax-refresh-district'><i class="fa fa-2 fa-refresh fa-spin"></i></span></label>
                        <div class="col-sm-9">
                            {% render_field form.district class+="form-control  district" tabindex="1" data-placeholder="Choose district" %}
                            {{ form.district.errors }}
                        </div>
                    </div>
                    <!-- <div class="form-group">
                        <label class="col-sm-3 control-label" for= "id_location">Location <span class='ajax-refresh ajax-refresh-location'><i class="fa fa-2 fa-refresh fa-spin"></i></span></label>
                        <div class="col-sm-9">
                            {% render_field form.location class+="form-control  location" tabindex="1" data-placeholder="Choose location" %}
                            {{ form.location.errors }}
                        </div>
                    </div> -->
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for= "id_state">City <span class='ajax-refresh ajax-refresh-city'><i class="fa fa-2 fa-refresh fa-spin"></i></span></label>
                        <div class="col-sm-9">
                            {% render_field form.city class+="form-control  city" tabindex="1" data-placeholder="Choose city" %}
                            {{ form.city.errors }}
                        </div>
                    </div>
                    <!--<div class="form-group">
                        <label class="col-sm-3 control-label" for= "id_street">Street</label>
                        <div class="col-sm-9">
                            {% render_field form.street class+="form-control street" tabindex="1" data-placeholder="Enter street" %}
                            {{ form.street.errors }}
                        </div>
                    </div> -->
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for= "id_street">Address</label>
                        <div class="col-sm-9">
                            <small style="color:#25981E;"><b>Please enter the complete postal address including pincode.</b></small>
                            {% render_field form.address class+="form-control street" tabindex="1" data-placeholder="Enter street" %}
                            {{ form.address.errors }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for= "id_pincode">Pincode</label>
                        <div class="col-sm-9">
                            {% render_field form.pincode class+="form-control pincode" tabindex="1" data-placeholder="Enter pincode" %}
                            {{ form.pincode.errors }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for= "id_resource_center">Resource Center</label>
                        <div class="col-sm-9">
                            {% render_field form.resource_center class+="form-control resource_center" tabindex="1" %}
                            {{ form.resource_center.errors }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for= "id_rating">Ratings</label>
                        <div class="col-sm-9">
                            {% render_field form.rating class+="form-control rating" tabindex="1" %}
                            {{ form.rating.errors }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for= "id_contact_person">Contact Person</label>
                        <div class="col-sm-9">
                            {% render_field form.contact_person class+="form-control contact_person" tabindex="1" data-placeholder="Contact details" %}
                            {{ form.contact_person.errors }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for= "id_remarks">Remarks</label>
                        <div class="col-sm-9">
                            {% render_field form.remarks class+="form-control remarks" tabindex="1" %}
                            {{ form.remarks.errors }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for= "id_status">Status</label>
                        <div class="col-sm-9">
                            {% render_field form.status class+="form-control status" tabindex="1" data-placeholder="Contact details" %}
                            {{ form.status.errors }}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-9">
                            <input class="btn btn-primary" type="submit" value="Submit" />
                        </div>
                    </div>
                {% endwith %}
            </form>
        </div>
    </div>


{% endblock %}
{% block compressjsblock %}
    <script src="{% static 'spoken/js/events.js' %}"></script>
{% endblock %}
{% block compressinlinejsblock %}
    <script>
        $("#id_state").change(function(){
            ajaxStrateFillDatas('district', 'city', 'university');
        });
        $('.district').change(function(){
            ajaxDistrictFillDatas('location', '', $(this).val());
        });
    </script>
{% endblock %}
