{% extends 'spoken/templates/base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block title %}Upload Tutorial{% endblock %}
{% block cssblock %}<link rel="stylesheet" href="{% static 'spoken/css/chosen.min.css' %}" type="text/css" media="screen" charset="utf-8" />{% endblock %}
{% if alert_success or alert_danger %}
	{% block alert %}
		{% if alert_success %}
			<div class="alert alert-success alert-dismissable">
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
				{{ alert_success }}
			</div>
		{% endif %}
		{% if alert_danger %}
			<div class="alert alert-danger alert-dismissable">
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
				{{ alert_danger }}
			</div>
		{% endif %}
	{% endblock %}
{% endif %}
{% block content %}
	<a class="btn btn-primary" href="{% url 'events:new_ac' %}">Add</a>
	<table class="table table-striped table-hover">
		<tr>
			<th>State</th>
			<th>University</th>
			<th>Institute Name</th>
			<th>Institute Type</th>
			<th>District</th>
			<th>Location</th>
			<th>City</th>
			<th>Street</th>
			<th>Pincode</th>
			<th>Update</th>
			<th>Action</th>
		</tr>
{% for record in collection %}
        <tr class="{% cycle 'odd' 'even' %}">
            <td>{{ record.state }}</td>
            <td>{{ record.university }}</td>
            <td>{{ record.institution_name }}</td>
            <td>{{ record.institution_type }}</td>
            <td>{{ record.district }}</td>
            <td>{{ record.location }}</td>
            <td>{{ record.city }}</td>
            <td>{{ record.street }}</td>
            <td>{{ record.pincode }}</td>
            <td>{{ record.updated|date:"D d M Y" }}</td>
            <td><a href="{% url 'events:edit_ac' record.id %}">Edit</a></td>
        </tr>
{% endfor %}
</table>
{% endblock %}
