{% extends 'base.html' %}

{% block header%}
    <h1> Drupal Mumbai Camp 2015 </h1>
{% endblock %}
{% block content %}
    <div style="width:50%; margin: 0 auto" >
<form  action="{% url 'certificate:drupal_feedback' %}" method="post">

    <h1> Feedback </h1>
    <p>Your feedback will help us improve our services. Thank you for your time.</p>

        {{ detail }}
        {% csrf_token %}
            <table class="table">
                {{ form }}
            </table>
                {% for question in questions %}
                <label style="float:left">{{ forloop.counter }}. {{ question.question }} </label><br>
                    <textarea cols="80" class="form-control" id="{{ question.id }}" name="{{ question.id }}"></textarea><br>
                    {% endfor %}
              <button style="float:left" class="btn btn-primary" type="submit">Submit</button>
                <a style="float:right" href="{% url 'certificate:drupal_download' %}" >Skip feedback and download</a>
     </form>
    </div>
{% endblock %}
