{% extends 'base.html' %}
{% block header%}
    <h1> Drupal Camp Mumbai 2015 </h1>
{% endblock %}
{% block content %}
          <div class="modal fade" id="invalidModal" tabindex="-1" role="dialog" aria-labelledby="invalidModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="invalidModalLabel">Invalid User/Email</h4>
                  </div>
                  <div class="modal-body">
                      {% if notregistered == 1 %}
                        Please enter a proper email address.
                      {% else %}
                        You have not attended the Drupal Camp Mumbai 2015.
                      {% endif %}
                  </div>
                </div>
              </div>
          </div>
          <form class="col-lg-12" action="{% url 'certificate:drupal_download' %}" method="post">
            {% csrf_token %}
            {{ message }}
            <hr>
            <div class="input-group" style="width:340px;text-align:center;margin:0 auto;">
            <input style="width:450;" class="form-control input-lg" placeholder="Enter the email address you used for registration" type="text" id="email" name=email>
              <span class="input-group-btn"><button class="btn btn-lg btn-primary" type="submit">Download Certificate</button></span>
            </div>
          </form>
          <center><h4>Problem in downloading the certificate? Write to us at <a href="mailto:certificates@fossee.in">certificates[at]fossee[dot]in</a></h4>
              
          <div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="invalidModalLabel">Problem in downloading</h4>
                  </div>
                  <div class="modal-body">
                        Sorry could not process your certificate. Kindly contact the FOSSEE team.
                  </div>
                </div>
              </div>
          </div>
{% endblock %}

{% block javascript %}
<script>
    $(document).ready(function(){
        error = "{{ error }}"
        if(error == "True"){
            console.log("edfed")
            $("#errorModal").modal();
        }
        notreg = "{{ notregistered }}";
        if(notreg == "1"){
            $("#invalidModal").modal();
        }
        if(notreg == "2"){
            $("#invalidModal").modal();
        }
   });
</script>
{% endblock %}
