{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}
{% load eventsdata %}
{% block title %}Certificates{% endblock %}
{% block compressinlinecssblock %}
  <style>
    .links {
      font-size:15px;
      text-align:center;
    }
  </style>
{% endblock %}

{% block content %}
  <div class= "container">
    <ul class="nav">
      <li class = "links">Thank you for attending workshop</li>

      <li class = "links"><a href="{% url 'certificate:itp_workshop_download' %}" >Download Certificate for <font color="red">Induction Training Programme 2017</font> here.</a></li>

      <li class = "links"><a href="{% url 'certificate:fa_workshop_download' %}" >Download Certificate for <font color="red">FrontAccounting Workshop 2017</font> here.</a></li>      

      <li class = "links"><a href="{% url 'certificate:koha_massive_workshop_download' %}" >Download Certificate for <font color="red">Koha Remote Workshop : 12 October 2018</font> here.</a></li>

      <li class = "links"><a href="{% url 'certificate:koha_rc_certificate_download' %}" >Download Certificate for <font color="red">Koha Remote Center : 12 October 2018 Koha Remote Workshop</font> here.</a></li>

      <li class = "links"><a href="{% url 'certificate:koha_coordinators_workshop_download' %}" >Download Certificate for <font color="red">Koha Coordinator Workshop : 8 February 2019</font> here.</a></li>

      <!--<li class = "links"><a href="{% url 'certificate:drupal_feedback' %}" >Drupal Camp Mumbai 2015</a></li>-->
    </ul>
  </div>
{% endblock %}

