{% extends 'spoken/templates/base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block title %}Workshop Request{% endblock %}
{% block cssblock %}
	<link rel="stylesheet" href="{% static 'spoken/css/chosen.min.css' %}" type="text/css" media="screen" charset="utf-8" />
	<link rel="stylesheet" href="{% static 'spoken/css/jquery.datetimepicker.css' %}" type="text/css" media="screen" charset="utf-8" />
{% endblock %}
{% block heading %}
        <i class="fa fa-list-ul"></i> Workshop
{% endblock %}
{% block content %}
    	<ul class="tabs nav nav-tabs">
	    {% if role == 'organiser' %}
		    <li {% if status == 'request' %}{{ 'class="active"'}}{% endif %}><a href="/software-training/workshop/{{ role }}/request/">New</a></li>
		    <li {% if status == 'pending' %}{{ 'class="active"'}}{% endif %}><a href="/software-training/workshop/{{role}}/pending/">Pending</a></li>
		{% endif %}
		{% if role == 'rp' %}
		    <li {% if status == 'pending' %}{{ 'class="active"'}}{% endif %}><a href="/software-training/workshop/{{role}}/pending/">New Requests</a></li>
		{% endif %}
        <li {% if status == 'ongoing' %}{{ 'class="active"'}}{% endif %}><a href="/software-training/workshop/{{role}}/ongoing/">Ongoing</a></li>
        <li {% if status == 'approved' %}{{ 'class="active"'}}{% endif %}><a href="/software-training/workshop/{{role}}/approved/">Approved</a></li>
        <li {% if status == 'completed' %}{{ 'class="active"'}}{% endif %}><a href="/software-training/workshop/{{role}}/completed/">Completed</a></li>
        <li {% if status == 'reschedule' %}{{ 'class="active"'}}{% endif %}><a href="/software-training/workshop/{{role}}/reschedule/">Reschedule</a></li>
        <li {% if status == 'rejected' %}{{ 'class="active"'}}{% endif %}><a href="/software-training/workshop/{{role}}/rejected/">Rejected</a></li>
	</ul>
	
	<div class='tab-content'>
	    <form action="{{ action }}" method="post">{% csrf_token %}
	        {% with WIDGET_ERROR_CLASS='field-error' WIDGET_REQUIRED_CLASS='field-required' %}
	        {% if form.non_field_errors %}
	        <ul>
	          {% for error in form.non_field_errors %}
		        <li>{{ error }}</li>
	          {% endfor %}
	        </ul>
	        {% endif %}

	        <!--
	        <div class="form-group">
		        <label for="id_state">State</label>
		        {% render_field form.state class+="form-control state" tabindex="1" data-placeholder="Enter state name" %}
		        {{ form.state.errors }}
	        </div>
	        <div class="form-group">
		        <label for="id_district">District</label>
		        {% render_field form.district class+="form-control district" tabindex="1" data-placeholder="Enter district name" %}
		        {{ form.district.errors }}
	        </div>
	        <div class="form-group">
		        <label for="id_academic">Academic name</label>
		        {% render_field form.academic class+="form-control academic" tabindex="1" data-placeholder="Enter academic name" %}
		        {{ form.name.errors }}
            </div> -->
	        <div class="form-group">
		        <label for="id_department">Department</label>
		        {% render_field form.department class+="form-control department" tabindex="1" data-placeholder="Enter department" %}
		        {{ form.department.errors }}
	        </div>

	        <div class="form-group">
		        <label for="id_wdate">Date</label>
		        {% render_field form.wdate class+="form-control date" tabindex="1" data-placeholder="Enter date" %}
		        {{ form.wdate.errors }}
	        </div>
	        <!--
	        <div class="form-group">
		        <label for="id_date">Time</label>
		        {% render_field form.time class+="form-control time" tabindex="1" data-placeholder="Enter time" %}
		        {{ form.time.errors }}
	        </div>
	        -->
	        <div class="form-group">
		        <label for="id_foss">Foss</label>
		        {% render_field form.foss class+="form-control foss" tabindex="1" data-placeholder="Enter foss" %}
		        {{ form.foss.errors }}
	        </div>
	        <div class="form-group">
		        <label for="id_language">language</label>
		        {% render_field form.language class+="form-control language" tabindex="1" data-placeholder="Enter language" %}
		        {{ form.language.errors }}
	        </div>
	        <div class="form-group">
		        <label for="id_skype">Skype</label>
		        <div class='radio'>
			        {% render_field form.skype class+="form-control skype" tabindex="1" %}
			        {{ form.skype.errors }}
		        </div>
	        </div>
	        <input class="btn btn-primary" type="submit" value="Submit" />
	        {% endwith %}
        </form>
    </div>
{% endblock %}
{% block jsblock %}
	<script src="{% static 'spoken/js/jquery.datetimepicker.js' %}"></script>
	<script>
		$('.date').datetimepicker({
			onGenerate:function( ct ){
				$(this).find('.xdsoft_day_of_week0')
					.addClass('xdsoft_disabled');
			},
			lang:'en',
			format:'Y-m-d H:i',
			formatDate:'Y/m/d',
			minDate:0, // yesterday is minimum date
			weekends:[],
			maxDate:'+1970/06/31', // tommorow date with in 6 month
			step:5,
			minTime:'08:00',
			maxTime:'18:00',
		});
		
		$college = $('#id_academic');
		$('#id_district').change(function() {
			var district = $(this).val();
			$.ajax({
				url: "/software-training/ajax-district-collage/",
				type: "POST",
				data: {
					district : district
				},
				success: function(data) {
					if(data){
						$college.html(data);
						$college.removeAttr("disabled");
					} else{
						$college.attr("disabled", "disabled");
						alert('No college found for this district!!');
					}
				}
			});
		});
	</script>
{% endblock %}
