{% extends 'spoken/templates/base.html' %}
{% load widget_tweaks %}
{% load static %}
{% load eventsdata %}
{% block title %}Upload Tutorial{% endblock %}
{% block cssblock %}<link rel="stylesheet" href="{% static 'spoken/css/chosen.min.css' %}" type="text/css" media="screen" charset="utf-8" />{% endblock %}
{% if alert_success or alert_danger %}
	{% block alert %}
		{% if alert_success %}
			<div class="alert alert-success alert-dismissable">
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
				{{ alert_success }}
			</div>
		{% endif %}
		{% if alert_danger %}
			<div class="alert alert-danger alert-dismissable">
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
				{{ alert_danger }}
			</div>
		{% endif %}
	{% endblock %}
{% endif %}
{% block content %}
	<div class="" id="pending">
		{% if wc.status == 2 %}
			{% if can_download_certificate %}<!--<p>If you want reupload the students list click <a href="{% url 'mdldjango:mdl_offline_workshop_details' wc.id %}">here</a>.</p>-->{% endif %}
		{% endif %}
		{% if collection %}
		<table class="table table-bordered table-hover table-striped">
			<tr>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Action</th>
			</tr>
			{% for record in collection %}
				<tr>
					<td>{{ record.firstname }}</td>
					<td>{{ record.lastname }}</td>
                    <td>
                        {% if can_download_certificate %}
                            {% if record.id|get_wstatus:wc.id %}                    
					            <a href="{% url 'events:workshop_participant_ceritificate' wc.id record.id %}">Certificate</a>
                            {% endif %} 
					    {% endif %}
					</td>
				</tr>
			{% endfor %}
		</table>
		{% else %}
			<p>No student found!</p>
		{% endif %}
	</div>
{% endblock %}
