{% extends 'spoken/templates/base.html' %}
{% load widget_tweaks %}
{% load static %}
{% load cmsdata %}
{% load creationdata %}

{% block title %} {{ news.title }} {% endblock %}

{% block compressinlinecssblock %}
    <style>
        .item{
            padding: 5px 0;
            border-bottom: 1px solid #DDD9D9;
        }
        #content {
            padding: 60px;
            padding-top: 20px;
            background: white;
            min-height: 400px;
        }
        #content-wrapper {
            background: lightgray;
        }
        .page-title {
            float: left;
        }
        .actual-data {
            /* margin-left: 30px; */
        }
        .news-container {
            clear: both;
            padding-top: 5px;
        }
        .news-container a {
            line-height: 1.5em;
        }
        #content-wrapper #content-block, #content-wrapper #content-inner {
            padding-left: 0px;
            padding-right: 0px
        }
        #page-wrapper #content-wrapper {
            margin-bottom: 0px;
        }
        .news-view h6 {
            margin-top: 0px;
            margin-bottom: 25px;
        }
        h4.page-title {
            margin-bottom: 4px;
            line-height: 1.5em;
        }
        .news-view .image-thumb {
            float: left;
            margin-bottom: 20px;
            margin-right: 20px;
        }
        .news-view .image-thumb:hover {

        }
        .news-view .image-thumb a {
            display: block;
            border: 1px solid #DAD9D9;
        }
        .news-view .image-thumb a:hover {
            display: block;
            border: 1px solid #2D63D8;
        }
        .news-view .image-thumb img {
            padding: 2px;
        }
        .news-view .description {
            text-align: justify;
            line-height: 1.6em;
        }
        .news-source {
            clear: both;
            color: lightseagreen;
            margin-top: 15px;
        }
        ..news-source a {
            display: block;
        }
    </style>
{% endblock %}

{% block heading %}
    {{ news.title }}
{% endblock %}

{% block content_head %}
    <div id="content" class="col-lg-9 col-lg-offset-1p5 col-md-12 col-sm-12 col-lg-shadow">
{% endblock %}
{% block search %}{% endblock %}
{% block content %}
    <div class="news-container news-view">
        <h6>{{ news.created }}</h6>
        {% if news.picture and image_or_doc == 1 %}
            <div class="image-thumb">
                <a href="/media/{{news.picture}}" target="_blank">
                    <img src="/media/{{news.picture}}" width="200" height="200" />
                </a>
            </div>
        {% endif %}
        <div class="description">
            {{ news.body|format_raw_data|safe }}
        </div>
        {% if news.picture and image_or_doc == 2 %}
            <p class="news-source">
                <b><i class="fa fa-file-text-o fa-2"></i></b> &nbsp;&nbsp;<a href="/media/{{news.picture}}" target="_blank">Click here to <b>download</b> (or) <b>view</b> the attachment</a>
            </p>
        {% endif %}
        {% if news.url %}
            <p class="news-source">
                <b><i class="fa fa-link fa-2"></i></b> &nbsp;&nbsp;
                <a target="_blank" href="{{news.url}}" title="{{ news.url_title}}">
                    {% if news.url_title %}
                        {{news.url_title}}
                    {% else %}
                        {{news.url}}
                    {% endif %}
                </a>
            </p>
        {% endif %}
    </div>
{% endblock %}
