{% extends 'spoken/templates/base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block title %}Password Rest{% endblock %}
{% block cssblock %}
    <link rel="stylesheet" href="{% static 'spoken/css/chosen.min.css' %}" type="text/css" media="screen" charset="utf-8" />
{% endblock %}
{% block content %}
	<form action="{{ action }}" method="post">{% csrf_token %}
	{% with WIDGET_ERROR_CLASS='field-error' WIDGET_REQUIRED_CLASS='field-required' %}
	{% if form.non_field_errors %}
	<ul>
	  {% for error in form.non_field_errors %}
		<li>{{ error }}</li>
	  {% endfor %}
	</ul>
	{% endif %}
	<input type="hidden" name="userid" value="{{request.user.id}}" />
	<input type="hidden" name="code" value="{{request.user.profile_set.get.confirmation_code}}" />
    <div class="form-group">
		<label for="id_old_password">Old Password</label>
		{% render_field form.old_password class+="form-control old_password" tabindex="1" %}
		{{ form.old_password.errors }}
	</div>
	<div class="form-group">
	    <label for="id_new_password">New Password</label>
	    {% render_field form.new_password class+="form-control new_password" tabindex="1" %}
	    {{ form.new_password.errors }}
    </div>
    <div class="form-group">
	    <label for="id_confirm_new_password">Confirm New Password</label>
	    {% render_field form.confirm_new_password class+="form-control confirm_new_password" tabindex="1" %}
	    {{ form.confirm_new_password.errors }}
    </div>
	<input class="btn btn-primary" type="submit" value="Submit" />
	{% endwith %}
</form>
{% endblock %}
