{% extends 'spoken/templates/base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block title %}Sign In{% endblock %}
{% block cssblock %}<link rel="stylesheet" href="{% static 'spoken/css/chosen.min.css' %}" type="text/css" media="screen" charset="utf-8" />{% endblock %}
{% block search %}
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3 well">
            <h4 style="text-align:center;"class='page-title'>Sign In</h4>
            <form class="form-signin form-horizontal" role="form" id="login_form" method="post">{% csrf_token %}
	            {{ form.non_field_errors }}
	            <div class="form-group">
		            <label class="col-sm-3 control-label" for= "id_username">Username</label>
		            <div class="col-sm-9">
		                <input name="username" id="id_username" type="text" class="form-control" placeholder="Username" required autofocus>
		            </div>
	            </div>
	            <div class="form-group">
		            <label class="col-sm-3 control-label" for= "id_password">Password</label>
		            <div class="col-sm-9">
		                <input name="password" id="id_username" type="password" class="form-control" placeholder="Password" required>
		            </div>
	            </div>
	            <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-9">
	                    <input class="btn btn-primary" type="submit" value="Sign In" />
	                    <a href="/accounts/forget-password/">Forgot Password</a>
	                </div>
	            </div>
            </form>
        </div>
    </div>
{% endblock %}
{% block jsblock %}
	<script>
	$(function() {
	// Add refresh button after field (this can be done in the template as well)

		// Click-handler for the refresh-link
		$('.captcha-refresh').click(function(){
			var $form = $(this).parents('form');
			var url = location.protocol + "//" + window.location.hostname + ":"+ location.port + "/captcha/refresh/";

			// Make the AJAX-call
			$.getJSON(url, {}, function(json) {
				$form.find('input[name="captcha_0"]').val(json.key);
				$form.find('img.captcha').attr('src', json.image_url);
			});

			return false;
		});
	});
	</script>
{% endblock %}
