{% extends 'spoken/templates/base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block title %}Upload Tutorial{% endblock %}
{% block cssblock %}<link rel="stylesheet" href="{% static 'spoken/css/chosen.min.css' %}" type="text/css" media="screen" charset="utf-8" />{% endblock %}
{% block content %}
	<form class="form-signin" role="form" id="login_form" method="post">{% csrf_token %}
		<div class="form-group">
			<label for="id_first_name">First Name</label>
			{% render_field form.first_name class+="form-control chosen first_name" tabindex="1" data-placeholder="Choose first_name" %}
			{{ form.first_name.errors }}
		</div>
		<div class="form-group">
			<label for="id_last_name">Last Name</label>
			{% render_field form.last_name class+="form-control chosen last_name" tabindex="1" data-placeholder="Choose last_name" %}
			{{ form.last_name.errors }}
		</div>
		<div class="form-group">
			<label for="id_street">Street</label>
			{% render_field form.street class+="form-control chosen street" tabindex="1" data-placeholder="Choose street" %}
			{{ form.street.errors }}
		</div>
		<div class="form-group">
			<label for="id_location">Location</label>
			{% render_field form.location class+="form-control chosen location" tabindex="1" data-placeholder="Enter location" %}
			{{ form.location.errors }}
		</div>
		<div class="form-group">
			<label for="id_district">District</label>
			{% render_field form.district class+="form-control chosen district" tabindex="1" data-placeholder="Enter district" %}
			{{ form.district.errors }}
		</div>
		<div class="form-group">
			<label for="id_city">City</label>
			{% render_field form.city class+="form-control chosen city" tabindex="1" data-placeholder="Choose city" %}
			{{ form.city.errors }}
		</div>
		<div class="form-group">
			<label for="id_state">State</label>
			{% render_field form.state class+="form-control chosen state" tabindex="1" data-placeholder="Choose state" %}
			{{ form.state.errors }}
		</div>
		<div class="form-group">
			<label for="id_country">Country</label>
			{% render_field form.country class+="form-control chosen country" tabindex="1" data-placeholder="Choose country" %}
			{{ form.country.errors }}
		</div>
		<div class="form-group">
			<label for="id_pincode">Pincode</label>
			{% render_field form.pincode class+="form-control chosen pincode" tabindex="1" data-placeholder="Choose pincode" %}
			{{ form.pincode.errors }}
		</div>
		<div class="form-group">
			<label for="id_phone">Phone</label>
			{% render_field form.phone class+="form-control chosen phone" tabindex="1" data-placeholder="Choose phone" %}
			{{ form.phone.errors }}
		</div>
		<input class="btn btn-primary" type="submit" value="Submit" />
	</form>
{% endblock %}
