{% extends 'spoken/templates/base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block title %}Register{% endblock %}
{% block cssblock %}
    <link rel="stylesheet" href="{% static 'spoken/css/login.css' %}" type="text/css" media="screen" charset="utf-8" />
{% endblock %}
{% block search %}
{% endblock %}
{% block content %}
    <div id="loggit" class="img-rounded">
          <h1><i class="fa fa-pencil"></i> Register Yourself</h1>
          <center><small>(as General User)</small></center>
          <br>
        <form id="logForm" method="post" class="form-horizontal">{% csrf_token %}
            <div class="form-group">
                <div class="col-xs-12">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
                        {% render_field form.username class+="form-control username" placeholder="Desired Username" %}
                    </div>
                    {{ form.username.errors }}
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-12">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
                        {% render_field form.first_name class+="form-control first_name" placeholder="First Name" %}
                    </div>
                    {{ form.first_name.errors }}
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-12">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
                        {% render_field form.last_name class+="form-control last_name" placeholder="Last Name" %}
                    </div>
                    {{ form.last_name.errors }}
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-12">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-envelope fa-fw"></i></span>
                        {% render_field form.email class+="form-control email" placeholder="Your Email" %}
                    </div>
                    {{ form.email.errors }}
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-12">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-phone-square fa-fw"></i></span>
                        {% render_field form.phone class+="form-control phone" placeholder="Your Phone Number" %}
                    </div>
                    {{ form.phone.errors }}
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-12">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
                        {% render_field form.password class+="form-control password" placeholder="Enter Password" %}
                    </div>
                    {{ form.password.errors }}
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-12">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
                        {% render_field form.password_confirm class+="form-control password_confirm" placeholder="Retype Password" %}
                    </div>
                    {{ form.password_confirm.errors }}
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-12">
                    <div class="g-recaptcha" data-sitekey="{{SITE_KEY}}"></div>
                </div>
            </div>
            <div class="form-group formSubmit">
                <div class="col-sm-7">
                    <p class="text-center">Already Registered? <span><a href="/accounts/login/">Login here</span></a></p>
                </div>
                <div class="col-sm-5 submitWrap">
                    <button type="submit" class="btn btn-primary btn-lg" >Register Me</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
{% block uncompressjsblock %}
    <script src='https://www.google.com/recaptcha/api.js'></script>
{% endblock %}
