{% extends 'base.html' %}
{% block search %}{% endblock %}
{% block content %}

<form class="col-lg-12" method="post">
  <h4 class="page-title">
    Verify Email Id :
  </h4>
  {% csrf_token %}
    {% for message in messages %}
        {% if 'success' in message.tags %}
            <div class="alert alert-success alert-dismissable">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
              {{ message|safe }}
            </div>
        {% else %}
            <div class="alert alert-danger alert-dismissable">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
              {{ message|safe }}
            </div>
        {% endif %}
    {% endfor %}
  <hr>
  <div class="input-group">
    <input style="" class="form-control input-lg" placeholder="Enter the email address you used for registration" type="text" id="email" name=email required>
    <span class="input-group-btn"><button class="btn btn-lg btn-primary" type="submit">Verify</button></span>
  </div>
</form>
{% endblock %}
